@using ForaTeknoloji.Entities.ComplexType
@model ForaTeknoloji.PresentationLayer.Models.PersonelListViewModel
@{
    ViewBag.Title = "Personel Listesi Raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.PersonelListesi, rowsPerPage: 20);
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 mt-2 shadow-lg animated fadeIn">
    <div class="card-header-tabs mt-1">
        <h3 class="text-center text-muted">Personel Listesi</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "PersonelListReport", FormMethod.Get))
        {

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-denger" })
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="SirketSirketNo">Şirket Seçimi</label>
                        @Html.DropDownListFor(model => model.Sirket, Model.Sirket, "Şirket Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label for="DepartmanNo">Departman Seçimi</label>
                        @Html.DropDownListFor(model => model.Departman, Model.Departman, "Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label for="Alt_Departman_No">Alt Departman Seçimi</label>
                        @Html.DropDownListFor(model => model.Alt_Departman_No, Model.Alt_Departman_No, "Alt Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label for="Bolum_No">Bölüm Seçimi</label>
                        @Html.DropDownListFor(model => model.Bolum_No, Model.Bolum_No, "Bölüm Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>



                </div>
                <div class="col-md-4">
                    @*<div class="form-group">
                        <label for="Birim_No">Birim Seçimi</label>
                        @Html.DropDownListFor(model => model.Birim_No, Model.Birim_No, "Birim Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>*@
                    <div class="form-group">
                        <label for="BlokNo">Blok Seçimi</label>
                        @Html.DropDownListFor(model => model.Blok, Model.Blok, "Blok Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label for="Unvan_No">Ünvan</label>
                        @Html.DropDownListFor(model => model.Unvan_No, Model.Unvan_No, "Ünvan Seçimi...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect5">Geçiş Grubu Seçimi</label>
                        @Html.DropDownListFor(model => model.Gecis_Grubu, Model.Gecis_Grubu, "Geçiş Grubu Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>



                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label for="GlobalBolgeNo">Global Kapı Bölge Seçimi</label>
                        @Html.DropDownListFor(model => model.Global_Kapi_Bolgesi, Model.Global_Kapi_Bolgesi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group mb-2">
                        <label for="Plaka">Plaka Seçimi</label>
                        <input type="text" placeholder="Plaka" class="form-control form-control-sm" id="Plaka" name="Plaka" value="" />
                    </div>
                    <div class="form-group mb-2">
                        <label for="Daire">Daire Seçimi</label>
                        <input type="number" class="form-control form-control-sm" id="Daire" placeholder="Daire" name="Daire" value="" min="0" max="1000" step="1" />
                    </div>
                    <br />
                    <h4 class="text-info text-right">@Model.ListCount Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("PersonelListesi", "PersonelListReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                </div>
            </div>

        }

        <div class="row">
            <div class="col-md-12">
                <div id="print_div" class="card-body">
                    @if (Model.PersonelListesi.Count > 0)
                    {
                        @webGrid.GetHtml(
                                  htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
                                  footerStyle: "table-pager",
                                  columns: webGrid.Columns(
                                      webGrid.Column("ID", "ID"),
                                      webGrid.Column("Kart_ID", "Kart ID"),
                                      webGrid.Column("UnvanAdi", "Ünvan"),
                                      webGrid.Column("Adi", "Adı"),
                                      webGrid.Column("Soyadi", "Soyadı"),
                                      webGrid.Column("TCKimlik", "TC Kimlik"),
                                      webGrid.Column("SirketAdi", "Şirket"),
                                      webGrid.Column("DepartmanAdi", "Departman"),
                                      webGrid.Column("AltDepartmanAdi", "Alt Departman"),
                                      webGrid.Column("BolumAdi", "Bölüm"),
                                      //webGrid.Column("Birim_Adi", "Birim"),
                                      webGrid.Column("Grup_Adi", "Grup")))

                    }
                    else
                    {
                        <div class="alert alert-info alert-message ">
                            <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                        </div>
                    }

                </div>
            </div>
        </div>




    </div>
</div>

<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#Departman").chosen().change(function () {
            var departmanNo = $(this).val();
            if (departmanNo == 0 || departmanNo == null) {
                $("#Alt_Departman_No").empty();
                $("#Bolum_No").empty();
                $("#Birim_No").empty();
                $("#Alt_Departman_No").append('<option > Alt Departman Seçiniz... </option>');
                $("#Bolum_No").append('<option > Bölüm Seçiniz... </option>');
                $("#Birim_No").append('<option > Birim Seçiniz... </option>');
            } else {
                $.ajax({
                    url: '/PersonelListReport/AltDepartmanListesi?Departman=' + departmanNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Alt_Departman_No").empty();
                    $("#Alt_Departman_No").append('<option > Alt Departman Seçiniz... </option>');
                    $.each(data, function (index, row) {
                        $("#Alt_Departman_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });
                    var altdepartmanNo = $("#Alt_Departman_No").val();
                    $.ajax({
                        url: '/PersonelListReport/BolumListesi?AltDepartman=' + altdepartmanNo,
                        type: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $("#Bolum_No").empty();
                        $.each(data, function (index, row) {
                            $("#Bolum_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                        });
                        var bolumNo = $("#Bolum_No").val();
                        $.ajax({
                            url: '/PersonelListReport/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                            type: 'GET',
                            dataType: 'json'
                        }).done(function (data) {
                            $("#Birim_No").empty();
                            $.each(data, function (index, row) {
                                $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                            });
                        });
                    });

                });
            }
        });
        $("#Alt_Departman_No").chosen().change(function () {
            var altdepartmanNo = $(this).val();
            $.ajax({
                url: '/PersonelListReport/BolumListesi?AltDepartman=' + altdepartmanNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Bolum_No").empty();
                $.each(data, function (index, row) {
                    $("#Bolum_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
                var bolumNo = $("#Bolum_No").val();
                $.ajax({
                    url: '/PersonelListReport/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Birim_No").empty();
                    $.each(data, function (index, row) {
                        $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });
                });




            });
        })

        $("#Bolum_No").chosen().change(function () {
            var bolumNo = $(this).val();
            var altdepartmanNo = $("#Alt_Departman_No").val();
            $.ajax({
                url: '/PersonelListReport/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Birim_No").empty();
                $.each(data, function (index, row) {
                    $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
            });
        })







    });
    $(function () {
        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html>');
            frameDoc.document.write('<head>');
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            frameDoc.document.write('<style>');
            frameDoc.document.write('table{ border-collapse: collapse; width: 100%;}')
            frameDoc.document.write('table th, td { text-align: center; padding: 8px;} body{padding:10px;}');
            frameDoc.document.write('tr:nth-child(even) {background-color: #f2f2f2;}');
            frameDoc.document.write('table tr > *:nth-child(7){ display: none; }');
            frameDoc.document.write('table tr > *:nth-child(13){ display: none; }');
            frameDoc.document.write('table tfoot > *:nth-child(2){ display: none; }');
            frameDoc.document.write('table, th, td {  border: 1px solid black; text-align:center; border-collapse: collapse;}');
            frameDoc.document.write('thead tr th a { color: black; text-decoration: none; }thead tr th a:hover { color: black; }thead tr th a:visited { color: black; }thead tr th a:active { color: black; }');
            frameDoc.document.write('</style>');
            frameDoc.document.write('</head>');
            frameDoc.document.write('<body>');
            frameDoc.document.write('<h5>Personel Listesi (' + new Date().toLocaleDateString() + ')</h5><hr/>');
            frameDoc.document.write(contents);
            frameDoc.document.write('</body>');
            frameDoc.document.write('</html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
    });

</script>



