@model ForaTeknoloji.PresentationLayer.Models.ReportPersonelViewModel
@using GridMvc.Html;
@using ForaTeknoloji.Entities.ComplexType
@{
    /**/

    ViewBag.Title = "Personel Raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.ReportPersonel, rowsPerPage: 20, canPage: true, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    webGrid.Pager(WebGridPagerModes.NextPrevious);
    string img = "#";
    string canlimg = "#";
    if (webGrid.HasSelection)
    {
        var sonuc = (ForaTeknoloji.Entities.ComplexType.ReportPersonelList)webGrid.Rows[webGrid.SelectedIndex].Value;
        img = "/Images/" + sonuc.Resim;
        canlimg = "/Canli_Images/" + sonuc.Canli_Resim;

    }
}

<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 mt-1 shadow-lg">
    <div class="card-header py-1">
        <h3 class="card-title"><i class="fas fa-bookmark"></i> Aktif Kullanıcı Raporları</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "ReportPersonel", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="3" class="custom-control-input" id="tumYon" checked name="Kapi_Yon">
                            <label class="custom-control-label" for="tumYon">Tüm Yönler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="0" class="custom-control-input" id="giris" name="Kapi_Yon">
                            <label class="custom-control-label" for="giris">Giriş</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="1" class="custom-control-input" id="cikis" name="Kapi_Yon">
                            <label class="custom-control-label" for="cikis">Çıkış</label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="3" class="custom-control-input" id="tümKayit" checked name="Gecis_Tipi">
                            <label class="custom-control-label" for="tümKayit">Tüm Kayıtlar</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="1" class="custom-control-input" id="OnaylananGecisler" name="Gecis_Tipi">
                            <label class="custom-control-label text-success" for="OnaylananGecisler">Onaylanan Geçişler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="2" class="custom-control-input" id="Antipassback" name="Gecis_Tipi">
                            <label class="custom-control-label text-danger" for="Antipassback">Antipassback İhlalleri</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="0" class="custom-control-input" id="Engellenen" name="Gecis_Tipi">
                            <label class="custom-control-label text-warning" for="Engellenen">Engellenen İstekler</label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="Tümü" class="custom-control-input" id="TumKapi" />
                            <label class="custom-control-label" for="TumKapi">Tüm Kapılar</label>
                        </div>
                        <div id="KapiListesi"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="Tum_Tarih" class="custom-control-input" id="TümTarih" />
                            <label class="custom-control-label" for="TümTarih">Tüm Tarihler</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="ikiTarih" class="custom-control-input" id="ikiTarih" />
                            <label class="custom-control-label" for="ikiTarih">İki Tarih Arası</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Başlangıç</label>
                            <input class="form-control form-control-sm" name="Baslangic_Tarihi" type="date" value="2019-08-13" id="Tarih1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Bitiş</label>
                            <input class="form-control form-control-sm" name="Bitis_Tarihi" disabled type="date" value="" id="Tarih2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="ikiSaat" class="custom-control-input" id="ikiSaat" />
                            <label class="custom-control-label" for="ikiSaat">İki Saat Arası</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-sm" name="Baslangic_Saati" type="time" disabled value="@DateTime.Now.ToShortTimeString()" id="Saat1">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-sm" name="Bitis_Saati" type="time" disabled value="@DateTime.Now.ToShortTimeString()" id="Saat2">
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="Gunluk_Saat_Dilimi" class="custom-control-input" id="Günlük" />
                            <label class="custom-control-label" for="Günlük">Günlük Saat Dilimi Bazında</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Şirketler</label>
                        @Html.DropDownListFor(model => model.Sirket, Model.Sirket, "Şirket Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label>Departmanlar</label>
                        @Html.DropDownListFor(model => model.Departman, Model.Departman, "Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label>Alt Departmanlar</label>
                        @Html.DropDownListFor(model => model.AltDepartman, Model.AltDepartman, "Alt Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label>Bölümler</label>
                        @Html.DropDownListFor(model => model.Bolum, Model.Bolum, "Bölüm Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    @*<div class="form-group">
                            <label>Birimler</label>
                            @Html.DropDownListFor(model => model.Birim_No, Model.Birim_No, "Birim Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        </div>*@

                    <div class="form-group">
                        @*<div class="custom-control custom-checkbox">
                                <input type="checkbox" value="true" name="Tum_Kullanici" class="custom-control-input" id="TümKullanici" />
                                <label class="custom-control-label mb-2" for="TümKullanici">Tüm Aktif Kullanıcılar</label>
                            </div>*@
                        <label for="Ziyaretci">Kullanıcılar</label>
                        <div class="form-group">
                            <input type="text" id="Ziyaretci" class="form-control form-control-sm" name="Users" />
                            <input type="text" id="UserKayitNo" hidden name="User" value="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Paneller</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Panel, Model.Panel, "Panel Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label>Ünvan</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Unvan, Model.Unvan, "Ünvan Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Geçiş Grupları</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Gecis_Grubu, Model.Gecis_Grubu, "Geçiş Grubu Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Bloklar</label>
                        @Html.DropDownListFor(model => model.Blok, Model.Blok, "Blok Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })

                    </div>
                    <div class="form-group">
                        <label>Global Kapı Bölgesi</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Global_Kapi_Bolgesi, Model.Global_Kapi_Bolgesi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Plaka">Plaka Seçimi</label>
                        <input type="text" placeholder="Plaka" class="form-control form-control-sm" id="Plaka" name="Plaka" value="" />
                    </div>

                </div>
                <div class="col-md-4">
                    <img id="change-image" src="@img" style="height:300px; width:300px;" alt="Kayıtlı Fotoğraf" />
                    <hr />
                    <img id="change-image-canli" src="@canlimg" style="height:300px; width:300px;" alt="Canlı Fotoğraf" />
                    <br /><br /><br />
                    <h4 class="text-info text-right">@Model.ReportPersonel.Count Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("AktifPersonelRaporları", "ReportPersonel")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>


                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12">
                <div id="print_div">
                    @if (Model.ReportPersonel.Count > 0)
                    {
                        @webGrid.GetHtml(
        htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
        selectedRowStyle: "selectRow",
        footerStyle: "table-pager",
        columns: webGrid.Columns(
        webGrid.Column("Kart_ID", "Canlı/Kayıtlı", format: (item) => item.GetSelectLink("Resim")),
        webGrid.Column("ID", "ID"),
        webGrid.Column("Kart_ID", "Kart ID"),
        webGrid.Column("UnvanAdi", "Ünvan"),
        webGrid.Column("Adi", "Adı"),
        webGrid.Column("Soyadi", "Soyadı"),
        webGrid.Column("TCKimlik", "TC Kimlik"),
        webGrid.Column("Telefon", "Telefon"),
        webGrid.Column("SirketAdi", "Şirket"),
        webGrid.Column("DepartmanAdi", "Departman"),
        webGrid.Column("AltDepartmanAdi", "Alt Departman"),
        webGrid.Column("BolumAdi", "Bölüm"),
       // webGrid.Column("BirimAdi", "Birim"),
        webGrid.Column("Grup_Adi", "Grup"),
        webGrid.Column("Panel_ID", "Panel"),
        webGrid.Column("Kapi", "Kapı"),
        webGrid.Column("Gecis_Tipi", "Geçiş", format: item => item.Gecis_Tipi == 0 ? "Giriş" : "Çıkış"),
        webGrid.Column("Tarih", "Tarih")))

                    }
                    else
                    {
                        <div class="alert alert-info alert-message">
                            <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Aktif -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-muted">Kullanıcı Arama</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <table id="myTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                    <thead>
                        <tr>
                            <td>Kayıt No</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>TC Kimlik</td>
                            <td>Departman</td>
                            <td>Alt Departman</td>
                            <td>Bölüm</td>
                            <td>Geçiş Grubu</td>

                        </tr>
                    </thead>
                    <tbody id="zyrt">
                        @foreach (var item in Model.Kullanıcı)
                        {
                            <tr>
                                <td data-kayitno="@item.Kayit_No" data-visitor="@(item.Adi+" "+item.Soyadi )">@item.Kayit_No</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.TCKimlik</td>
                                <td>@item.DepartmanAdi</td>
                                <td>@item.AltDepartmanAdi</td>
                                <td>@item.BolumAdi</td>
                                <td>@item.Grup_Adi</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="temizle" class="btn btn-success"><i class="fas fa-trash-alt"></i> Seçimi İptal Et</button>
                <button type="button" id="close" class="btn btn-secondary " data-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                }
            });
        });
    </script>


}
<script>
    $(document).ready(function () {
        var panelNo = $("#Panel").val();
        $.ajax({
            url: '/ReportPersonel/PanelKapiListesi?PanelNo=' + panelNo,
            type: 'GET',
            dataType: 'json'
        }).done(function (data) {
            $("#KapiListesi").html('');
            $.each(data, function (index, row) {
                $("#KapiListesi").append('<div class="custom-control custom-checkbox"><input type = "checkbox" value = "' + row.Value + '" name = "Kapi" class= "custom-control-input" id = "' + ('Kapi' + row.Value) + '" /><label class="custom-control-label" for="' + ('Kapi' + row.Value) + '">' + row.Text + '</label></div >');
            });
        });

        $("#Panel").chosen().change(function () {
            var panelNo = $(this).val();
            $.ajax({
                url: '/ReportPersonel/PanelKapiListesi?PanelNo=' + panelNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#KapiListesi").html('');
                $.each(data, function (index, row) {
                    $("#KapiListesi").append('<div class="custom-control custom-checkbox"><input type = "checkbox" value = "' + row.Value + '" name = "Kapi" class= "custom-control-input" id = "' + ('Kapi' + row.Value) + '" /><label class="custom-control-label" for="' + ('Kapi' + row.Value) + '">' + row.Text + '</label></div >');
                });
            });

        })




    });
</script>


<script>

    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#Departman").chosen().change(function () {
            var departmanNo = $(this).val();
            if (departmanNo == 0 || departmanNo == null) {
                $("#AltDepartman").empty();
                $("#Bolum").empty();
                $("#Birim_No").empty();
                $("#AltDepartman").append('<option > Alt Departman Seçiniz... </option>');
                $("#Bolum").append('<option > Bölüm Seçiniz... </option>');
                $("#Birim_No").append('<option > Birim Seçiniz... </option>');
            } else {
                $.ajax({
                    url: '/ReportPersonel/AltDepartmanListesi?Departman=' + departmanNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#AltDepartman").empty();
                    $("#AltDepartman").append('<option > Alt Departman Seçiniz... </option>');
                    $.each(data, function (index, row) {
                        $("#AltDepartman").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });
                    var altdepartmanNo = $("#AltDepartman").val();
                    $.ajax({
                        url: '/ReportPersonel/BolumListesi?AltDepartman=' + altdepartmanNo,
                        type: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $("#Bolum").empty();
                        $.each(data, function (index, row) {
                            $("#Bolum").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                        });
                        var bolumNo = $("#Bolum").val();
                        $.ajax({
                            url: '/ReportPersonel/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                            type: 'GET',
                            dataType: 'json'
                        }).done(function (data) {
                            $("#Birim_No").empty();
                            $.each(data, function (index, row) {
                                $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                            });
                        });
                    });

                });
            }
        });
        $("#AltDepartman").chosen().change(function () {
            var altdepartmanNo = $(this).val();
            $.ajax({
                url: '/ReportPersonel/BolumListesi?AltDepartman=' + altdepartmanNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Bolum").empty();
                $.each(data, function (index, row) {
                    $("#Bolum").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
                var bolumNo = $("#Bolum").val();
                $.ajax({
                    url: '/ReportPersonel/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Birim_No").empty();
                    $.each(data, function (index, row) {
                        $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });
                });




            });
        })

        $("#Bolum").chosen().change(function () {
            var bolumNo = $(this).val();
            var altdepartmanNo = $("#AltDepartman").val();
            $.ajax({
                url: '/ReportPersonel/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Birim_No").empty();
                $.each(data, function (index, row) {
                    $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
            });
        })







        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');


        $("#myTable tbody tr").click(function () {
            var kayitNo = $(this).children("td").data("kayitno");
            var name = $(this).children("td").data("visitor");
            $("#Ziyaretci").attr('value', name);
            $("#UserKayitNo").attr('value', kayitNo);
            var selected = $(this).hasClass("table-success");
            $("#myTable tbody tr").removeClass("table-success");
            if (!selected)
                $(this).addClass("table-success");
        });
    });
</script>


<script>
    var today = new Date();
    $('#Tarih1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
    $('#Tarih2').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));


    $("#ikiTarih").change(function () {
        if ($(this).prop("checked") == true) {
            $("#Tarih2").attr("disabled", false);
        } else {
            $("#Tarih2").attr("disabled", true);
        }

    });
    $("#TumKapi").change(function () {
        if ($(this).prop("checked") == true) {
            $("#Kapi1").attr("disabled", true);
            $("#Kapi1").prop("checked", false);
            $("#Kapi2").attr("disabled", true);
            $("#Kapi2").prop("checked", false);
            $("#Kapi3").attr("disabled", true);
            $("#Kapi3").prop("checked", false);
            $("#Kapi4").attr("disabled", true);
            $("#Kapi4").prop("checked", false);
            $("#Kapi5").attr("disabled", true);
            $("#Kapi5").prop("checked", false);
            $("#Kapi6").attr("disabled", true);
            $("#Kapi6").prop("checked", false);
            $("#Kapi7").attr("disabled", true);
            $("#Kapi7").prop("checked", false);
            $("#Kapi8").attr("disabled", true);
            $("#Kapi8").prop("checked", false);
        } else {
            $("#Kapi1").attr("disabled", false);
            $("#Kapi2").attr("disabled", false);
            $("#Kapi3").attr("disabled", false);
            $("#Kapi4").attr("disabled", false);
            $("#Kapi5").attr("disabled", false);
            $("#Kapi6").attr("disabled", false);
            $("#Kapi7").attr("disabled", false);
            $("#Kapi8").attr("disabled", false);
        }

    });
    $("#TümKullanici").change(function () {
        if ($(this).prop("checked") == true) {
            $("#Ziyaretci").attr("disabled", true);
            $("#UserKayitNo").attr("value", null);
            $("#Ziyaretci").attr("value", null);
        } else {
            $("#Ziyaretci").attr("disabled", false);
        }
    });
    $("#temizle").click(function () {
        $("#UserKayitNo").attr("value", null);
        $("#Ziyaretci").attr("value", null);
        $("#alert").text("");
    });
    $("#TümTarih").change(function () {
        if ($(this).prop("checked") == true) {
            $("#ikiTarih").attr("disabled", true);
            $("#ikiSaat").attr("disabled", true);
            $("#Tarih1").attr("disabled", true);
            $("#Tarih2").attr("disabled", true);
            $("#Saat1").attr("disabled", true);
            $("#Saat2").attr("disabled", true);
        } else {
            $("#ikiTarih").attr("disabled", false);
            $("#ikiSaat").attr("disabled", false);
            $("#Tarih1").attr("disabled", false);
        }

    });
    $("#ikiSaat").change(function () {
        if ($(this).prop("checked") == true) {
            $("#Saat1").attr("disabled", false);
            $("#Saat2").attr("disabled", false);
        } else {
            $("#Saat1").attr("disabled", true);
            $("#Saat2").attr("disabled", true);
        }

    });
    $("#Ziyaretci").focus(function () {
        $("#exampleModal").modal("show");
        $("#myTable tbody tr").click(function () {
            var kayitNo = $(this).children("td").data("kayitno");
            var name = $(this).children("td").data("visitor");
            $("#Ziyaretci").attr('value', name);
            $("#UserKayitNo").attr('value', kayitNo);
        });
    });


    $("#btnPrint").click(function () {
        var contents = $("#print_div").html();
        var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute" });
        $("body").append(frame1);
        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        frameDoc.document.open();
        //Create a new HTML document.
        frameDoc.document.write('<html>');
        frameDoc.document.write('<head>');
        frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
        frameDoc.document.write('<style>');
        frameDoc.document.write('table{ border-collapse: collapse; width: 100%;}')
        frameDoc.document.write('table th, td { text-align: center; padding: 8px;} body{padding:10px;}');
        frameDoc.document.write('tr:nth-child(even) {background-color: #f2f2f2;}');
        frameDoc.document.write('table tr > *:nth-child(1){ display: none; }');
        frameDoc.document.write('table tr > *:nth-child(8){ display: none; }');
        frameDoc.document.write('table tr > *:nth-child(9){ display: none; }');
        frameDoc.document.write('table tr > *:nth-child(15){ display: none; }');
        frameDoc.document.write('table tfoot > *:nth-child(2){ display: none; }');
        frameDoc.document.write('table, th, td {  border: 1px solid black; text-align:center; border-collapse: collapse;}');
        frameDoc.document.write('thead tr th a { color: black; text-decoration: none; }thead tr th a:hover { color: black; }thead tr th a:visited { color: black; }thead tr th a:active { color: black; }');
        frameDoc.document.write('</style>');
        frameDoc.document.write('</head>');
        frameDoc.document.write('<body>');
        frameDoc.document.write('<h5>Tarih (' + new Date().toLocaleDateString() + ')</h5><hr/>');
        frameDoc.document.write('<h5>Aktif Personel Listesi ' + '@TempData["DateAndTimeView"]' + '</h5><hr/>');
        frameDoc.document.write(contents);
        frameDoc.document.write('</body>');
        frameDoc.document.write('</html>');
        frameDoc.document.close();
        setTimeout(function () {

            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);

    });
</script>
