@model ForaTeknoloji.PresentationLayer.Models.ReportPersonelViewModel
@using GridMvc.Html;
@using ForaTeknoloji.Entities.ComplexType
@{
    /**/

    ViewBag.Title = "Personel Raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.ReportPersonel, rowsPerPage: 20, canPage: true, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    webGrid.Pager(WebGridPagerModes.NextPrevious);
    string img = "#";
    string canlimg = "#";
    if (webGrid.HasSelection)
    {
        var sonuc = (ForaTeknoloji.Entities.ComplexType.ReportPersonelList)webGrid.Rows[webGrid.SelectedIndex].Value;
        img = "/Images/" + sonuc.Resim;
        canlimg = "/Canli_Images/" + sonuc.Kart_ID + ".jpg";

    }
}

<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 mt-1 shadow-lg animated slideInLeft faster">
    <div class="card-header-tabs mt-1">
        <h3 class="text-center text-muted">Aktif Kullanıcı Raporları</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "ReportPersonel", FormMethod.Get))
        {

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="3" class="custom-control-input" id="tumYon" checked name="Kapi_Yon">
                            <label class="custom-control-label" for="tumYon">Tüm Yönler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="0" class="custom-control-input" id="giris" name="Kapi_Yon">
                            <label class="custom-control-label" for="giris">Giriş</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="1" class="custom-control-input" id="cikis" name="Kapi_Yon">
                            <label class="custom-control-label" for="cikis">Çıkış</label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="3" class="custom-control-input" id="tümKayit" checked name="Gecis_Tipi">
                            <label class="custom-control-label" for="tümKayit">Tüm Kayıtlar</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="1" class="custom-control-input" id="OnaylananGecisler" name="Gecis_Tipi">
                            <label class="custom-control-label text-success" for="OnaylananGecisler">Onaylanan Geçişler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="2" class="custom-control-input" id="Antipassback" name="Gecis_Tipi">
                            <label class="custom-control-label text-danger" for="Antipassback">Antipassback İhlalleri</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="0" class="custom-control-input" id="Engellenen" name="Gecis_Tipi">
                            <label class="custom-control-label text-warning" for="Engellenen">Engellenen İstekler</label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="Tümü" class="custom-control-input" id="TumKapi" />
                            <label class="custom-control-label" for="TumKapi">Tüm Kapılar</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <div id="Kapilar"></div>
                            <input type="checkbox" value="1" name="Kapilar" class="custom-control-input" id="Kapi1" />
                            <label class="custom-control-label" for="Kapi1">Kapı 1</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="2" name="Kapilar" class="custom-control-input" id="Kapi2" />
                            <label class="custom-control-label" for="Kapi2">Kapı 2</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="3" name="Kapilar" class="custom-control-input" id="Kapi3" />
                            <label class="custom-control-label" for="Kapi3">Kapı 3</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="4" name="Kapilar" class="custom-control-input" id="Kapi4" />
                            <label class="custom-control-label" for="Kapi4">Kapı 4</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="5" name="Kapilar" class="custom-control-input" id="Kapi5" />
                            <label class="custom-control-label" for="Kapi5">Kapı 5</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="6" name="Kapilar" class="custom-control-input" id="Kapi6" />
                            <label class="custom-control-label" for="Kapi6">Kapı 6</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="7" name="Kapilar" class="custom-control-input" id="Kapi7" />
                            <label class="custom-control-label" for="Kapi7">Kapı 7</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="8" name="Kapilar" class="custom-control-input" id="Kapi8" />
                            <label class="custom-control-label" for="Kapi8">Kapı 8</label>
                        </div>
                    </div>



                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="Tum_Tarih" class="custom-control-input" id="TümTarih" />
                            <label class="custom-control-label" for="TümTarih">Tüm Tarihler</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="ikiTarih" class="custom-control-input" id="ikiTarih" />
                            <label class="custom-control-label" for="ikiTarih">İki Tarih Arası</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Başlangıç</label>
                            <input class="form-control" name="Baslangic_Tarihi" type="date" value="2019-08-13" id="Tarih1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Bitiş</label>
                            <input class="form-control" name="Bitis_Tarihi" disabled type="date" value="" id="Tarih2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="ikiSaat" class="custom-control-input" id="ikiSaat" />
                            <label class="custom-control-label" for="ikiSaat">İki Saat Arası</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="Baslangic_Saati" type="time" disabled value="@DateTime.Now.ToLongTimeString()" id="Saat1">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="Bitis_Saati" type="time" disabled value="@DateTime.Now.ToLongTimeString()" id="Saat2">
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="Gunluk_Saat_Dilimi" class="custom-control-input" id="Günlük" />
                            <label class="custom-control-label" for="Günlük">Günlük Saat Dilimi Bazında</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Departmanlar</label>
                        @Html.DropDownListFor(model => model.Departman, Model.Departman, "Departman Seçiniz..", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Şirketler</label>
                        @Html.DropDownListFor(model => model.Sirket, Model.Sirket, "Şirket Seçiniz..", new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        <label>Global Kapı Bölgesi</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Global_Kapi_Bolgesi, Model.Global_Kapi_Bolgesi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control" })


                        </div>
                    </div>
                    <div class="form-group">
                        <label>Bloklar</label>
                        @Html.DropDownListFor(model => model.Blok, Model.Blok, "Blok Seçiniz..", new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        <label>Paneller</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Panel, Model.Panel, "Panel Seçimi", new { @class = "form-control" })

                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="Tum_Kullanici" class="custom-control-input" id="TümKullanici" />
                            <label class="custom-control-label" for="TümKullanici">Tüm Aktif Kullanıcılar</label>
                        </div>
                        <div class="form-group">
                            <input type="text" id="Ziyaretci" class="form-control" name="Users" />
                            <input type="text" id="UserKayitNo" hidden name="User" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Geçiş Grupları</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Gecis_Grubu, Model.Gecis_Grubu, "Geçiş Grubu Seçimi", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Plaka">Plaka Seçimi</label>
                        <input type="text" placeholder="Plaka" class="form-control" id="Plaka" name="Plaka" value="" />
                    </div>
                    <div class="form-group">
                        <label for="Daire">Daire Seçimi</label>
                        <input type="number" class="form-control" id="Daire" placeholder="Daire" name="Daire" value="" min="0" max="3" step="1" />
                    </div>

                </div>
                <div class="col-md-4">
                    <img id="change-image" src="@img" style="height:300px; width:300px;" alt="Kayıtlı Fotoğraf" />
                    <hr />
                    <img id="change-image-canli" src="@canlimg" alt="Canlı Fotoğraf" />
                    <br /><br /><br />
                    <h4 class="text-info text-right">@Model.ReportPersonel.Count Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("PersonelRaporları", "ReportPersonel")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>


                </div>
            </div>
        }
    </div>
</div>


<!-- Table -->
<div class="card border-left-info h-100 mt-1 shadow-lg animated slideInRight faster">
    <div class="card-body">
        <div id="print_div">
            @if (Model.ReportPersonel.Count > 0)
            {
                @webGrid.GetHtml(
htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
selectedRowStyle: "selectRow",
footerStyle: "table-pager",
columns: webGrid.Columns(
webGrid.Column("Kart_ID", "Canlı/Kayıtlı", format: (item) => item.GetSelectLink("Resim")),
webGrid.Column("ID", "ID"),
webGrid.Column("Kart_ID", "Kart ID"),
webGrid.Column("Adi", "Adı"),
webGrid.Column("Soyadi", "Soyadı"),
webGrid.Column("TCKimlik", "TC Kimlik"),
webGrid.Column("Telefon", "Telefon"),
webGrid.Column("SirketAdi", "Şirket"),
webGrid.Column("DepartmanAdi", "Departman"),
webGrid.Column("Plaka", "Plaka"),
webGrid.Column("BlokAdi", "Blok"),
webGrid.Column("Daire", "Daire"),
webGrid.Column("Grup_Adi", "Grup"),
webGrid.Column("Panel_ID", "Panel"),
webGrid.Column("Kapi", "Kapı"),
webGrid.Column("Gecis_Tipi", "Geçiş", format: item => item.Gecis_Tipi == 0 ? "Giriş" : "Çıkış"),
webGrid.Column("Tarih", "Tarih")))

            }
            else
            {
                <div class="alert alert-info alert-message">
                    <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                </div>

            }

        </div>
    </div>
</div>
<!-- Modal Aktif -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-muted">Kullanıcı Arama</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <!-- Search form -->
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" id="Search" aria-label="Search">
                    <button class="btn btn-sm btn-success" id="SearchBtn">Ara</button>
                </div>
                <hr />
                <table id="myTable" class="table table-hover text-center table-striped">
                    <thead class="table-info">
                        <tr>
                            <td>Kayıt No</td>
                            <td>ID</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Şirket</td>
                            <td>Departman</td>
                            <td>Blok</td>
                            <td>Plaka</td>
                            <td>Geçiş Grubu</td>
                            <td>Ziyaretçi Grubu</td>
                        </tr>
                    </thead>
                    <tbody id="zyrt">
                        @foreach (var item in Model.Kullanıcı)
                        {
                            <tr>
                                <td data-kayitno="@item.Kayit_No" data-visitor="@(item.Adi+" "+item.Soyadi )">@item.Kayit_No</td>
                                <td>@item.ID</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.Sirket</td>
                                <td>@item.Departman</td>
                                <td>@item.Blok</td>
                                <td>@item.Plaka</td>
                                <td>@item.Gecis_Grubu</td>
                                <td>@item.Ziyaretci_Grubu</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="yenile"><i class="fas fa-refresh"></i> Listeyi Yenile</button>
                <button type="button" id="temizle" class="btn btn-success"><i class="fas fa-trash-alt"></i> Seçimi İptal Et</button>
                <button type="button" id="close" class="btn btn-secondary " data-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Eski -->
@*
    <div class="modal fade" id="exampleModalEski" tabindex="-1" role="dialog" aria-labelledby="exampleModalEskiLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-muted">Eski Kullanıcı Arama</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body ">
                    <div hidden id="alertMainEski" class="alert-success alert">
                        <h2 id="alertEski" class="text-center text-muted"></h2>
                    </div>
                    <!-- Search form -->
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" id="SearchEski" aria-label="Search">
                        <button class="btn btn-sm btn-success" id="SearchBtnEski">Ara</button>
                    </div>
                    <hr />
                    <table id="myTableEski" class="table table-hover text-center table-striped">
                        <thead class="table-info">
                            <tr>
                                <td>Kayıt No</td>
                                <td>ID</td>
                                <td>Kart ID</td>
                                <td>Adı</td>
                                <td>Soyadı</td>
                                <td>Şirket</td>
                                <td>Departman</td>
                                <td>Blok</td>
                                <td>Plaka</td>
                                <td>Geçiş Grubu</td>
                                <td>Ziyaretçi Grubu</td>
                            </tr>
                        </thead>
                        <tbody id="zyrt">
                            @foreach (var item in Model.EskiKullanicilar)
                            {
                                <tr>
                                    <td data-kayitno="@item.Kayit_No" data-visitor="@(item.Adi+" "+item.Soyadi )">@item.Kayit_No</td>
                                    <td>@item.ID</td>
                                    <td>@item.Kart_ID</td>
                                    <td>@item.Adi</td>
                                    <td>@item.Soyadi</td>
                                    <td>@item.Sirket</td>
                                    <td>@item.Departman</td>
                                    <td>@item.Blok</td>
                                    <td>@item.Plaka</td>
                                    <td>@item.Gecis_Grubu</td>
                                    <td>@item.Ziyaretci_Grubu</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="yenileEski"><i class="fas fa-refresh"></i> Listeyi Yenile</button>
                    <button type="button" id="temizleEski" class="btn btn-success"><i class="fas fa-trash-alt"></i> Seçimi İptal Et</button>
                    <button type="button" id="closeEski" class="btn btn-secondary " data-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
                </div>
            </div>
        </div>
    </div>*@
<script>

    $(document).ready(function () {
        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');


        $("#myTable tbody tr").click(function () {
            var kayitNo = $(this).children("td").data("kayitno");
            var name = $(this).children("td").data("visitor");
            $("#Ziyaretci").attr('value', name);
            $("#UserKayitNo").attr('value', kayitNo);
            var selected = $(this).hasClass("table-success");
            $("#myTable tbody tr").removeClass("table-success");
            if (!selected)
                $(this).addClass("table-success");
        });

        $("#SearchBtn").click(function () {
            var arama = $("#Search").val();
            $("#Search").val("");
            $("#zyrt").html("");
            $.ajax({
                url: '/ReportPersonel/AktifZiyaretciler',
                type: 'GET',
                dataType: 'json',
                data: { Search: arama }
            }).done(function (data) {
                for (var i in data) {
                    $("#zyrt").append("<tr><td data-kayitno=" +
                        data[i].Kayit_No +
                        " data-visitor=" +
                        data[i].Adi + '-' + data[i].Soyadi + ">" +
                        data[i].Kayit_No +
                        "</td><td>" + data[i].ID +
                        "</td><td>" + data[i].Kart_ID +
                        "</td><td>" + data[i].Adi +
                        "</td><td>" + data[i].Soyadi +
                        "</td><td>" + data[i].Sirket +
                        "</td><td>" + data[i].Departman +
                        "</td><td>" + data[i].Blok +
                        "</td><td>" + data[i].Plaka +
                        "</td><td>" + data[i].Gecis_Grubu +
                        "</td><td>" + data[i].Ziyaretci_Grubu +
                        "</td></tr>");
                }
            }).always(function () {
                $("#myTable tbody tr").click(function () {
                    var kayitNo = $(this).children("td").data("kayitno");
                    var name = $(this).children("td").data("visitor");
                    $("#Ziyaretci").attr('value', name);
                    $("#UserKayitNo").attr('value', kayitNo);
                });

            });

        });

        $("#yenile").click(function () {
            $("#zyrt").html("");
            $.ajax({
                url: '/ReportPersonel/AktifZiyaretciler',
                type: 'GET',
                dataType: 'json',
                data: { Search: null }
            }).done(function (data) {
                for (var i in data) {
                    $("#zyrt").append("<tr><td data-kayitno=" +
                        data[i].Kayit_No +
                        " data-visitor=" +
                        data[i].Adi + '-' + data[i].Soyadi + ">" +
                        data[i].Kayit_No +
                        "</td><td>" + data[i].ID +
                        "</td><td>" + data[i].Kart_ID +
                        "</td><td>" + data[i].Adi +
                        "</td><td>" + data[i].Soyadi +
                        "</td><td>" + data[i].Sirket +
                        "</td><td>" + data[i].Departman +
                        "</td><td>" + data[i].Blok +
                        "</td><td>" + data[i].Plaka +
                        "</td><td>" + data[i].Gecis_Grubu +
                        "</td><td>" + data[i].Ziyaretci_Grubu +
                        "</td></tr>");
                }
            }).always(function () {
                $("#myTable tbody tr").click(function () {
                    var kayitNo = $(this).children("td").data("kayitno");
                    var name = $(this).children("td").data("visitor");
                    $("#Ziyaretci").attr('value', name);
                    $("#UserKayitNo").attr('value', kayitNo);
                });
            });
        });
    });
</script>


<script>
    var today = new Date();
    $('#Tarih1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
    $('#Tarih2').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));


    $("#ikiTarih").change(function () {
        if ($(this).prop("checked") == true) {
            $("#Tarih2").attr("disabled", false);
        } else {
            $("#Tarih2").attr("disabled", true);
        }

    });
    $("#TumKapi").change(function () {
        if ($(this).prop("checked") == true) {
            $("#Kapi1").attr("disabled", true);
            $("#Kapi1").prop("checked", false);
            $("#Kapi2").attr("disabled", true);
            $("#Kapi2").prop("checked", false);
            $("#Kapi3").attr("disabled", true);
            $("#Kapi3").prop("checked", false);
            $("#Kapi4").attr("disabled", true);
            $("#Kapi4").prop("checked", false);
            $("#Kapi5").attr("disabled", true);
            $("#Kapi5").prop("checked", false);
            $("#Kapi6").attr("disabled", true);
            $("#Kapi6").prop("checked", false);
            $("#Kapi7").attr("disabled", true);
            $("#Kapi7").prop("checked", false);
            $("#Kapi8").attr("disabled", true);
            $("#Kapi8").prop("checked", false);
        } else {
            $("#Kapi1").attr("disabled", false);
            $("#Kapi2").attr("disabled", false);
            $("#Kapi3").attr("disabled", false);
            $("#Kapi4").attr("disabled", false);
            $("#Kapi5").attr("disabled", false);
            $("#Kapi6").attr("disabled", false);
            $("#Kapi7").attr("disabled", false);
            $("#Kapi8").attr("disabled", false);
        }

    });
    $("#TümKullanici").change(function () {
        if ($(this).prop("checked") == true) {
            $("#Ziyaretci").attr("disabled", true);
            $("#UserKayitNo").attr("value", null);
            $("#Ziyaretci").attr("value", null);
        } else {
            $("#Ziyaretci").attr("disabled", false);
        }
    });
    $("#temizle").click(function () {
        $("#UserKayitNo").attr("value", null);
        $("#Ziyaretci").attr("value", null);
        $("#alert").text("");
    });
    $("#TümTarih").change(function () {
        if ($(this).prop("checked") == true) {
            $("#ikiTarih").attr("disabled", true);
            $("#ikiSaat").attr("disabled", true);
            $("#Tarih1").attr("disabled", true);
            $("#Tarih2").attr("disabled", true);
            $("#Saat1").attr("disabled", true);
            $("#Saat2").attr("disabled", true);
        } else {
            $("#ikiTarih").attr("disabled", false);
            $("#ikiSaat").attr("disabled", false);
            $("#Tarih1").attr("disabled", false);
        }

    });
    $("#ikiSaat").change(function () {
        if ($(this).prop("checked") == true) {
            $("#Saat1").attr("disabled", false);
            $("#Saat2").attr("disabled", false);
        } else {
            $("#Saat1").attr("disabled", true);
            $("#Saat2").attr("disabled", true);
        }

    });
    $("#Ziyaretci").focus(function () {
        $("#exampleModal").modal("show");
        $("#myTable tbody tr").click(function () {
            var kayitNo = $(this).children("td").data("kayitno");
            var name = $(this).children("td").data("visitor");
            $("#Ziyaretci").attr('value', name);
            $("#UserKayitNo").attr('value', kayitNo);
        });
    });


    $("#btnPrint").click(function () {
        var contents = $("#print_div").html();
        var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute" });
        $("body").append(frame1);
        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        frameDoc.document.open();
        //Create a new HTML document.
        frameDoc.document.write('<html><head><title>Personel Raporları</title>');
        frameDoc.document.write('</head><body><hr />');
        //Append the external CSS file.
        frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
        //Append the DIV contents.
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {

            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);

    });




    //$("input[type='number']").inputSpinner()
</script>




@*<script src="./src/bootstrap-input-spinner.js"></script>*@
@*Personel Raporları*@

