@model ForaTeknoloji.PresentationLayer.Models.MonitorWatchViewModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link runat="server" rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/Content/Images/favicon.ico" type="image/ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Templete/TempleteDosyalari/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Templete/TempleteDosyalari/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Animate.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/fh-3.1.4/datatables.min.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>
    <!---Alerttfy js--->
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/bootstrap.min.css" />

    <!--
        RTL version
    -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.rtl.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/default.rtl.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/semantic.rtl.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/bootstrap.rtl.min.css" />
    <!---Alertfy JS-->
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    <title>Monitor</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-lg mt-1">
                    <div class="card-header text-right">
                        <h3 class="text-center text-muted">Spot Monitor</h3>
                        <div class="text-right">
                            <a href="@Url.Action("Index","Home")"><i class="fas fa-home fa-2x text-secondary"></i></a>
                            @*<a data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-cogs fa-2x text-secondary"></i></a>*@
                        </div>
                    </div>
                    <div class="card-body shadow-lg">
                        <div class="table-responsive-md">
                            @*<table id="table" class="table-borderless table table-hover text-center table-striped  small">*@
                            <table class="table table-bordered table-hover text-center table-striped small " id="table" width="100%" cellspacing="0">
                                <thead class="bg-gray-600 text-white table-sm">
                                    <tr>
                                        <td>Kart ID</td>
                                        <td>Adı</td>
                                        <td>Soyadı</td>
                                        <td>TCKimlik</td>
                                        <td>Departman</td>
                                        <td>Alt Departman</td>
                                        <td>Bölüm</td>
                                        <td>Grup Adı</td>
                                        <td>Panel</td>
                                        <td>Kapı</td>
                                        <td>Geçiş</td>
                                        <td>Tarih</td>
                                        <td>Operasyon</td>
                                        <td>Operator</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.MonitorListesi)
                                    {
                                        if (item.Kod == 0)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="engellenenSatir" class="table-danger">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                        else if (item.Kod == 1)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="normalSatir" class="table-success">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                        else if (item.Kod == 2)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="antipassbackSatir" class="table-danger">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                        else if (item.Kod == 3)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="cokluGecisSatir" class="table-info">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                        else if (item.Kod == 4)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="tanimsizSatir" class="table-primary">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator <a title="Yeni Kullanıcı Olarak Ekle" onclick="return confirm('Yeni Kullanıcı Olarak Eklemek İstiyormusunuz?')" href="@Url.Action("Create","Users",new {Kart_ID=item.Kart_ID })"><i class="fas fa-user-plus text-info ml-2"></i></a></td>
                                            </tr>
                                        }
                                        else if (item.Kod == 5 || item.Kod == 6 || item.Kod == 7 || item.Kod == 13)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="manuelSatir" class="table-warning">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                        else if (item.Kod == 8 || item.Kod == 25 || item.Kod == 14)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="butonSatir" class="table-warning">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                        else if (item.Kod == 9 || item.Kod == 10 || item.Kod == 14)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="programliSatir" class="table-success">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                        else if (item.Kod == 20 || item.Kod == 21)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="alarmYanginSatir" class="text-muted">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                        else if (item.Kod == 22 || item.Kod == 23 || item.Kod == 24)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="kapiAlarmSatir" class="table-info">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                        else if (item.Kod > 24 && item.Kod < 48)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="digerSatir" class="table-dark">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                        else if (item.Kod >= 100)
                                        {
                                            <tr data-kayitno="@item.Kayit_No" id="operatorSatir" class="table-hover">
                                                <td>@item.Kart_ID</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.TCKimlik</td>
                                                <td>@item.Departman_Adi</td>
                                                <td>@item.Alt_Departman_Adi</td>
                                                <td>@item.Bolum_Adi</td>
                                                <td>@item.Grup_Adi</td>
                                                <td>@item.Panel_Name</td>
                                                <td>@item.Kapi_Adi</td>
                                                @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                                {
                                                    <td>Giriş</td>
                                                }
                                                else
                                                {
                                                    <td>Çıkış</td>
                                                }
                                                <td>@item.Tarih</td>
                                                <td class="small">@item.Operasyon</td>
                                                <td class="small">@item.Operator</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    @*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    @using (Html.BeginForm("WatchSettings", "SpotMonitor"))
                    {
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">İzlenecek Kapı</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Panel Listesi</label>
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => model.Panel_ID, Model.Panel_ID, "Panel Seçimi", new { @class = "form-control form-control-sm" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Kapı Listesi</label>
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => model.Kapi_ID, new SelectList(""), "Kapı Seçimi", new { @class = "form-control form-control-sm" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="@Url.Action("Index","Home")" class="btn btn-outline-info btn-sm"><i class="fas fa-home"></i> Anasayfa</a>
                            <button type="submit" class="btn btn-outline-success btn-sm"><i class="fas fa-save"></i> Kaydet</button>
                        </div>
                    }
                </div>
            </div>
        </div>*@


    <script src="~/Templete/TempleteDosyalari/vendor/jquery/jquery.min.js"></script>
    <script src="~/Templete/TempleteDosyalari/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Templete/TempleteDosyalari/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Templete/TempleteDosyalari/js/sb-admin-2.min.js"></script>


    <script>
        $(document).ready(function () {

            $("#Panel_ID").change(function () {
                var panelID = $(this).val();
                if (panelID == 0) {
                    $("#Kapi_ID").empty();
                } else {
                    $.ajax({
                        url: '/SpotMonitor/KapiListesi?PanelID=' + panelID,
                        type: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $("#Kapi_ID").empty();
                        $.each(data, function (index, row) {
                            $("#Kapi_ID").append('<option value=' + row.Value + '>' + row.Text + '</option>');
                        });
                    });
                }
            });

            var count = 0;
            $.ajax({
                url: '/SpotMonitor/Count',
                type: 'GET',
                dataType: 'json',
            }).done(function (data) {
                count = data;
            });



            setInterval(function () {
                $.ajax({
                    url: '/SpotMonitor/Count',
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    if (data != count) {
                        window.location.assign("/SpotMonitor/Index");
                    }
                });
            }, 1000);






        });
    </script>



</body>
</html>
