@model IEnumerable<ForaTeknoloji.Entities.Entities.Departmanlar>
@{
    ViewBag.Title = "Departman Tanımları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated slideInDown faster">
    <div class="col-md-6 offset-md-3 mt-xl-5 my-xl-5">
        <div class=" card border-left-info h-100 shadow-lg mt-2">
            <div class="card-header py-1">
                <h3 id="Title" class="m-0 font-weight-bold text-secondary text-center">Departman Tanımları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "Department"))
                {
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="departmanAdi" name="Adi" placeholder="Departman Tanımlama">
                            <input type="text" name="Departman No" hidden value="" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit" id="newDepartment"><i class="fas fa-plus mr-2"></i>Yeni Departman</button>
                            </div>
                        </div>
                    </div>

                }
                <hr />
                @if (Model.Count() == 0)
                {
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading text-center">Kayıt Bulunamadı!</h4>
                        <p class="text-center">Geçerli departman kaydı bulunamadı.</p>
                        <hr>
                        <p class="mb-0 text-center">Dilerseniz yukarıdaki "Departman Tanımlama" kısmına departman adı girip "Yeni Departman" butonuna basarak departman ekleyebilirsiniz.</p>

                    </div>
                }
                else
                {
                    <input type="text" hidden id="DepartmanCount" name="name" value="@Model.Count()" />
                    <table id="DepartmanList" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                        <thead>
                            <tr>
                                <td>Departman No</td>
                                <td>Departman Adı</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Departman_No</td>
                                    <td>@item.Adi</td>
                                    <td>
                                        <a title="Edit" id="edit" href="@Url.Action("Edit","Department",new { id=item.Departman_No})"><i class="fas fa-edit text-info mr-5"></i></a>
                                        <a title="Delete" href="@Url.Action("Delete",new {id=item.Departman_No })" onclick="return confirm('Seçilen Departmanı Silmek İstediğinize Emin Misiniz?')"><i class="fas fa-trash-alt text-danger"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#DepartmanList").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                }
            });
        });
    </script>


}

<script>
    $(document).ready(function () {
        var count = $("#DepartmanCount").val();
        if (count == 0) {
            $("#DepartmanList").prop("hidden", true);
            $("#Title").prop("hidden", true);
        } else {
            $("#DepartmanList").prop("hidden", false);
            $("#Title").prop("hidden", false);
        }
    });
</script>
