@model ForaTeknoloji.PresentationLayer.Models.GecisGrupListViewModel
@{
    ViewBag.Title = "Grup Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Klone", "AccessGroup", FormMethod.Post))
{

    <div class="row animated slideInDown fast">
        <div class="col-md-4 offset-4">
            <div class="card border-left-info h-100 shadow-lg mx-xl-5 my-lg-5">
                <div class="card-header-tabs">
                    <h3 id="Title" class="text-center text-muted">Geçiş Grupları</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="@Url.Action("Create","AccessGroup")" class="btn btn-sm btn-outline-success mb-2" title="Yeni Geçiş Grubu"><i class="fas fa-plus"></i> Yeni Geçiş Grubu</a>
                        </div>
                    </div>
                    <hr />
                    @if (Model.Gruplar.Count == 0)
                    {
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading text-center">Kayıt Bulunamadı!</h4>
                            <p class="text-center">Geçerli Geçiş Grup kaydı bulunamadı.</p>
                            <hr>
                            <p class="mb-0 text-center">Dilerseniz yukarıdaki "Yeni Geçiş Gurbu"  butonuna basarak geçiş grupları ekleyebilirsiniz.</p>

                        </div>
                    }
                    <input type="text" hidden id="GrupCount" name="name" value="@Model.Gruplar.Count" />
                    <table id="GroupTable" class="table-borderless table table-hover text-center table-striped table-sm">
                        <thead class="table-info">
                            <tr>
                                <td>
                                    <button id="ButtonClone" type="submit" data-toggle="tooltip" data-placement="top" title="Kopyalanan Grubu Seçili Gruplara Aktar" class="text-primary btn btn-sm"><i class="fas fa-copy"></i></button>
                                </td>
                                <td>Grup No</td>
                                <td>Grup Adı</td>
                                <td title="Panel Durum Tablosu" class="text-right"><a href="@Url.Action("TaskTable","Task")" class="text-secondary"><i class="fas fa-tasks"></i> </a></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Gruplar)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="Groups" id="@item.Grup_No" value="@item.Grup_No">


                                            <label class="custom-control-label" for="@item.Grup_No"></label>
                                        </div>
                                    </td>
                                    <td>@item.Grup_No</td>
                                    <td>@item.Grup_Adi</td>
                                    <td>
                                        <a title="Grup Ayarları" href="@Url.Action("GroupSettings","AccessGroup",new {id=item.Grup_No })" class="text-info mr-2"><i class="fas fa-edit"></i></a>
                                        <a title="Grup Kapı Ayarları" href="@Url.Action("GroupReaders","AccessGroup",new {id=item.Grup_No })" class="text-secondary mr-2"><i class="fas fa-door-open"></i></a>
                                        <a title="Veritabanından sil" onclick="Delete(@item.Grup_No)" class="text-danger mr-2"><i class="fas fa-trash-alt"></i></a>
                                        <a title="Seçili Grubu Panele Gönder" data-toggle="modal" data-target="#panelList" onclick="ekle(@item.Grup_No)" class="text-success"><i class="fas fa-share"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}

<!--Panel List Modal -->
<div class="modal fade" id="panelList" tabindex="-1" role="dialog" aria-labelledby="panelListTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Send", "AccessGroup", FormMethod.Post))
            {
                <div class="modal-body">
                    <div hidden id="message">
                        <h4 class="text-center text-info animated slideInDown">Panel İşlemi Sıraya Alındı!</h4>
                        <hr />
                    </div>
                    <input id="gecisGrupNo" type="text" hidden name="GecisGrupNo" value="" />
                    <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm">
                        <thead class="table-info">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                        <label class="custom-control-label" for="AllPanel"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelList" id="@item.Panel_ID" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnTask" type="submit" class="btn btn-outline-success"><i class="fas fa-send"></i> Seçilen Panellere Gönder</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#btnTask").click(function () {
            $("#message").prop("hidden", false);
            setTimeout(function () {
                $("#message").prop("hidden", true);
            }, 1000);
        });
        $("#ButtonClone").click(function () {
            alertify.set('notifier', 'delay', 10);
            var delay = alertify.get('notifier', 'delay');
            alertify.set('notifier', 'position', 'top-right');
            alertify.success('Kopylama İşlem, Gerçekleştirildi!');
            alertify.set('notifier', 'delay', delay);
            //alertify.success('Kopylama İşlem, Gerçekleştirildi');
        });

        var count = $("#GrupCount").val();
        if (count == 0) {
            $("#GroupTable").prop("hidden", true);
            $("#Title").prop("hidden", true);
        } else {
            $("#GroupTable").prop("hidden", false);
            $("#Title").prop("hidden", false);
        }


    });
    function ekle(grupNo) {
        $("#gecisGrupNo").prop("value", grupNo);
    }

    
    function Delete(id) {

        swal({
            title: "Silmek İstediğinize Emin Misiniz?",
            text: "Seçilen geçiş grubu veritabanından silinecek!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                      $.ajax({
                            type: "POST",
                            url: '@Url.Action("Delete","AccessGroup")',
                            data: JSON.stringify({ id: id }),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                          success: function (data) {
                              if (data) {
                                  swal("Başarılı! Geçiş Grubu silme işlemi başarılı şekilde gerçekleştirildi!", {
                                      icon: "success",
                                  });
                              } else {
                                  //swal("Silme işleminden vazgeçildi!");
                              }
                              setTimeout(function () {
                                  window.location.href = "/AccessGroup/Groups";
                              }, 2500);
                            },
                            error: function () {
                                alert("Error while deleting data");
                            }
                        });
                }
            });
    }


</script>
