@model ForaTeknoloji.PresentationLayer.Models.CreateReaderModel
@{
    ViewBag.Title = "Kapı ve Geçiş Ayarları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("GroupReaders", "AccessGroup", FormMethod.Post))
{
    <div class="row ">
        <div id="PanelList" class="col-md-3  mx-lg-4 my-lg-4 ">
            @Html.Partial("_PartialPanelList", Model.PanelList)
        </div>
        <div class="col-md-8 ">
            <div class="card border-left-info h-100 shadow-lg mx-lg-4 my-lg-4">
                <div class="card-header py-1 mt-1">
                    <h3 class="m-0 font-weight-bold text-secondary text-center">Geçiş Grup Kapı Ayarları - <span class="text-primary"><i>@Model.Groups.FirstOrDefault().Grup_Adi</i></span></h3>
                </div>
                <div class="card-body">
                    @Html.HiddenFor(model => model.Panel_ID)
                    @Html.HiddenFor(model => model.Groups.FirstOrDefault().Grup_No)
                    @Html.HiddenFor(model => model.Groups.FirstOrDefault().Grup_Adi)
                    <div class="row">

                        <div class="col-md-4">
                            <label class="text-muted">Kapı Geçiş Onayı</label>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_1", Model.Groups[0].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_1">@Model.Groups[0].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="Kapi_Zaman_Grup_No">Kapı Zaman Bölgesi</label>
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[0]", Model.Kapi_Zaman_Grup_No[0], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="Kapi_Zaman_Grup_No">Kapı Asansör Grubu</label>
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[0]", Model.Kapi_Asansor_Bolge_No[0], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_2", Model.Groups[1].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_2">@Model.Groups[1].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[1]", Model.Kapi_Zaman_Grup_No[1], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[1]", Model.Kapi_Asansor_Bolge_No[1], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>





                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_3", Model.Groups[2].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_3">@Model.Groups[2].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[2]", Model.Kapi_Zaman_Grup_No[2], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[2]", Model.Kapi_Asansor_Bolge_No[2], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>





                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_4", Model.Groups[3].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_4">@Model.Groups[3].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[3]", Model.Kapi_Zaman_Grup_No[3], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[3]", Model.Kapi_Asansor_Bolge_No[3], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>






                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_5", Model.Groups[4].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_5">@Model.Groups[4].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[4]", Model.Kapi_Zaman_Grup_No[4], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[4]", Model.Kapi_Asansor_Bolge_No[4], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>






                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_6", Model.Groups[5].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_6">@Model.Groups[5].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[5]", Model.Kapi_Zaman_Grup_No[5], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[5]", Model.Kapi_Asansor_Bolge_No[5], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>






                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_7", Model.Groups[6].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_7">@Model.Groups[6].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[6]", Model.Kapi_Zaman_Grup_No[6], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[6]", Model.Kapi_Asansor_Bolge_No[6], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>






                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_8", Model.Groups[7].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_8">@Model.Groups[7].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[7]", Model.Kapi_Zaman_Grup_No[7], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[7]", Model.Kapi_Asansor_Bolge_No[7], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>





                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_9", Model.Groups[8].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_9">@Model.Groups[8].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[8]", Model.Kapi_Zaman_Grup_No[8], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[8]", Model.Kapi_Asansor_Bolge_No[8], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>





                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_10", Model.Groups[9].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_10">@Model.Groups[9].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[9]", Model.Kapi_Zaman_Grup_No[9], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[9]", Model.Kapi_Asansor_Bolge_No[9], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>





                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_11", Model.Groups[10].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_11">@Model.Groups[10].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[10]", Model.Kapi_Zaman_Grup_No[10], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[10]", Model.Kapi_Asansor_Bolge_No[10], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>




                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_12", Model.Groups[11].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_12">@Model.Groups[11].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[11]", Model.Kapi_Zaman_Grup_No[11], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[11]", Model.Kapi_Asansor_Bolge_No[11], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>




                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_13", Model.Groups[12].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_13">@Model.Groups[12].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[12]", Model.Kapi_Zaman_Grup_No[12], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[12]", Model.Kapi_Asansor_Bolge_No[12], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>





                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_14", Model.Groups[13].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_14">@Model.Groups[13].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[13]", Model.Kapi_Zaman_Grup_No[13], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[13]", Model.Kapi_Asansor_Bolge_No[13], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>





                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_15", Model.Groups[14].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_15">@Model.Groups[14].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[14]", Model.Kapi_Zaman_Grup_No[14], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[14]", Model.Kapi_Asansor_Bolge_No[14], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>





                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kapi_16", Model.Groups[15].Kapi_Aktif ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kapi_16">@Model.Groups[15].Kapi_Adi</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Zaman_Grup_No[15]", Model.Kapi_Zaman_Grup_No[15], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("Kapi_Asansor_Bolge_No[15]", Model.Kapi_Asansor_Bolge_No[15], new { @class = "form-control form-control-sm" })
                            </div>
                        </div>



                        <div class="col-md-12 text-right">
                            <hr />
                            <a href="@Url.Action("Groups","AccessGroup")" class="btn btn-sm btn-outline-info"><i class="fas fa-hand-o-left"></i> Grup Listesi</a>
                            <a href="@Url.Action("GroupClone","AccessGroup",new {GrupNo=Model.Groups.FirstOrDefault().Grup_No,PanelID=Model.Panel_ID })" class="btn btn-sm btn-outline-dark"><i class="fas fa-copy"></i> Grubu Klonla</a>
                            <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-edit"></i> Geçiş Grupları Güncelle</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
}
<script>
    $(document).ready(function () {
        for (var i = 0; i < 16; i++) {
            var value = "#Kapi_" + (i + 1);
            var label = "label[for=Kapi_" + (i + 1) + "]"
            var kapiZaman = "#Kapi_Zaman_Grup_No_" + i + "_";
            var kapiAsansor = "#Kapi_Asansor_Bolge_No_" + i + "_";
            if ($(value).prop("checked")) {
                $(kapiAsansor).addClass("text-success");
                $(kapiAsansor).removeClass("text-danger");
                $(kapiZaman).addClass("text-success");
                $(kapiZaman).removeClass("text-danger");
                $(label).addClass("text-success");
                $(label).removeClass("text-danger");
            } else {
                $(kapiAsansor).removeClass("text-success");
                $(kapiAsansor).addClass("text-danger");
                $(kapiZaman).removeClass("text-success");
                $(kapiZaman).addClass("text-danger");
                $(label).removeClass("text-success");
                $(label).addClass("text-danger");
            }

        }

        var currentPanel = $("#Panel_ID").val();
        $("#" + currentPanel).toggleClass("active");



    });
</script>