@model ForaTeknoloji.PresentationLayer.Models.GecisGrupListViewModel
@{
    ViewBag.Title = "Grup Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Klone", "AccessGroup", FormMethod.Post))
{

    <div class="row animated slideInDown faster">
        <div class="col-md-6 offset-3">
            <div class="card border-left-info h-100 shadow-lg mx-xl-5 my-lg-5">
                <div class="card-header py-1">
                    <h3 id="Title" class="m-0 font-weight-bold text-secondary text-center">Geçiş Grupları</h3>
                </div>
                <div class="card-body">
                    @if (Model.Gruplar.Count == 0)
                    {
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading text-center">Kayıt Bulunamadı!</h4>
                            <p class="text-center">Geçerli Geçiş Grup kaydı bulunamadı.</p>
                            <hr>
                            <p class="mb-0 text-center">Dilerseniz yukarıdaki "Yeni Geçiş Gurbu"  butonuna basarak geçiş grupları ekleyebilirsiniz.</p>

                        </div>
                    }
                    else
                    {
                        <input type="text" hidden id="GrupCount" name="name" value="@Model.Gruplar.Count" />
                        <table id="GroupTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                            <thead class="table-sm">
                                <tr>
                                    <td>
                                        <button id="ButtonClone" type="submit" data-toggle="tooltip" data-placement="top" title="Kopyalanan Grubu Seçili Gruplara Aktar" class="text-primary btn btn-sm"><i class="fas fa-copy"></i></button>
                                    </td>
                                    <td>Grup No</td>
                                    <td>Grup Adı</td>
                                    <td title="Panel Durum Tablosu" class="text-right"><a href="@Url.Action("TaskTable","Task")" class="text-secondary"><i class="fas fa-tasks"></i> </a></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Gruplar)
                                {
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="Groups" id="@item.Grup_No" value="@item.Grup_No">


                                                <label class="custom-control-label" for="@item.Grup_No"></label>
                                            </div>
                                        </td>
                                        <td>@item.Grup_No</td>
                                        <td>@(item.Grup_Adi + "(" + Model.GroupUserCount.FirstOrDefault(x => x.Key == item.Grup_No).Value + ")")</td>
                                        <td>
                                            <a title="Grup Ayarları" href="@Url.Action("GroupSettings","AccessGroup",new {id=item.Grup_No })" class="text-info mr-2"><i class="fas fa-edit"></i></a>
                                            <a title="Grup Kapı Ayarları" href="@Url.Action("GroupReaders","AccessGroup",new {id=item.Grup_No })" class="text-secondary mr-2"><i class="fas fa-door-open"></i></a>
                                            <a title="Veritabanından sil" href="@Url.Action("Delete",new {id=item.Grup_No })" onclick="return confirm('Seçilen Geçiş Grubunu Silmek İstediğinize Emin Misiniz?')" class="text-danger mr-2"><i class="fas fa-trash-alt"></i></a>
                                            <a title="Seçili Grubu Panele Gönder" data-toggle="modal" data-target="#panelList" onclick="ekle(@item.Grup_No)" class="text-success"><i class="fas fa-share"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="card-footer text-right">
                    <a href="@Url.Action("Create","AccessGroup")" class="btn btn-sm btn-outline-success" title="Yeni Geçiş Grubu"><i class="fas fa-plus"></i> Yeni Geçiş Grubu</a>
                    <a data-toggle="modal" data-target="#panelListAll" title="Send To Panel" id="sendAll" class="btn btn-sm btn-outline-success text-success"><i class="fas fa-share mr-2"></i>Tüm Geçiş Gruplarını Gönder</a>
                </div>
            </div>
        </div>
    </div>

}

<!--Panel List Modal -->
<div class="modal fade" id="panelList" tabindex="-1" role="dialog" aria-labelledby="panelListTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Send", "AccessGroup", FormMethod.Post))
            {
                <div class="modal-body">
                    <div hidden id="message">
                        <h4 class="text-center text-info animated slideInDown">Panel İşlemi Sıraya Alındı!</h4>
                        <hr />
                    </div>
                    <input id="gecisGrupNo" type="text" hidden name="GecisGrupNo" value="" />
                    <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                        <thead class="table-sm">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                        <label class="custom-control-label" for="AllPanel"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelList" id="@item.Panel_ID" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnTask" type="submit" class="btn btn-outline-success"><i class="fas fa-send"></i> Seçilen Panellere Gönder</button>
                </div>
            }
        </div>
    </div>
</div>

<!--Panel List Modal All-->
<div class="modal fade" id="panelListAll" tabindex="-1" role="dialog" aria-labelledby="panelListAllTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("SendAll", "AccessGroup", FormMethod.Post))
            {
                <div class="modal-body">
                    <div hidden id="messageAll">
                        <h4 class="text-center text-info animated slideInDown">Panel İşlemi Sıraya Alındı!</h4>
                        <hr />
                    </div>
                    <table id="PanelTableAll" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                        <thead class="table-sm">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="PanelAll" />
                                        <label class="custom-control-label" for="PanelAll"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelListAll" id="@("All_"+item.Panel_ID)" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@("All_"+item.Panel_ID)"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnTaskAll" type="submit" class="btn btn-outline-success"><i class="fas fa-send"></i> Seçilen Panellere Gönder</button>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {

            $("#GroupTable").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 0 },
                    { "orderable": false, "targets": 3 }
                ]
            });


            $("#PanelTable").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ]
            });
            $("#PanelTableAll").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ]
            });
        });
    </script>
}





<script>
    $(document).ready(function () {
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#PanelAll").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTableAll tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTableAll tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#btnTaskAll").click(function () {
            $("#messageAll").prop("hidden", false);
            setTimeout(function () {
                $("#messageAll").prop("hidden", true);
            }, 1000);
        });
        $("#btnTask").click(function () {
            $("#message").prop("hidden", false);
            setTimeout(function () {
                $("#message").prop("hidden", true);
            }, 1000);
        });
        $("#ButtonClone").click(function () {
            alertify.set('notifier', 'delay', 10);
            var delay = alertify.get('notifier', 'delay');
            alertify.set('notifier', 'position', 'top-right');
            alertify.success('Kopylama İşlem, Gerçekleştirildi!');
            alertify.set('notifier', 'delay', delay);
            //alertify.success('Kopylama İşlem, Gerçekleştirildi');
        });

        var count = $("#GrupCount").val();
        if (count == 0) {
            $("#GroupTable").prop("hidden", true);
            $("#Title").prop("hidden", true);
        } else {
            $("#GroupTable").prop("hidden", false);
            $("#Title").prop("hidden", false);
        }


    });
    function ekle(grupNo) {
        $("#gecisGrupNo").prop("value", grupNo);
    }



</script>
