@model IEnumerable<ForaTeknoloji.Entities.Entities.Bloklar>
@{
    ViewBag.Title = "Blok Tanımları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated slideInDown">
    <div class="col-md-6 offset-md-3 mt-xl-5 my-xl-5">
        <div class=" card border-info shadow-lg mt-2">
            <div class="card-header-tabs">
                <h3 id="Title" class="text-muted text-center">Blok Tanımları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "Block"))
                {
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="blokAdi" name="Adi" placeholder="Blok Tanımlama" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <input type="text" name="Blok No" hidden value="" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit" id="newBlock"><i class="fas fa-plus mr-2"></i>Yeni Blok</button>
                            </div>
                        </div>
                    </div>

                }
                <hr />
                @if (Model.Count() == 0)
                {
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading text-center">Kayıt Bulunamadı!</h4>
                        <p class="text-center">Geçerli blok kaydı bulunamadı.</p>
                        <hr>
                        <p class="mb-0 text-center">Dilerseniz yukarıdaki "Blok Tanımlama" kısmına blok adı girip "Yeni Blok" butonuna basarak blok ekleyebilirsiniz.</p>

                    </div>
                }
                <input type="text" hidden id="BlockCount" name="name" value="@Model.Count()" />
                <table id="BlockList" class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Blok No</td>
                            <td>Blok Adı</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Blok_No</td>
                                <td>@item.Adi</td>
                                <td>
                                    <a title="Edit" id="edit" href="@Url.Action("Edit","Block",new { id=item.Blok_No})"><i class="fas fa-edit text-info mr-5"></i></a>
                                    <a title="Delete" onclick="Delete(@item.Blok_No)"><i class="fas fa-trash-alt text-danger"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var count = $("#BlockCount").val();
        if (count == 0) {
            $("#BlockList").prop("hidden", true);
            $("#Title").prop("hidden", true);
        } else {
            $("#BlockList").prop("hidden", false);
            $("#Title").prop("hidden", false);
        }
    });
</script>

<script>
    function Delete(id) {

        swal({
            title: "Silmek İstediğinize Emin Misiniz?",
            text: "Seçilen blok veritabanından silinecek!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                      $.ajax({
                            type: "POST",
                            url: '@Url.Action("Delete","Block")',
                            data: JSON.stringify({ id: id }),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                          success: function (data) {
                              if (data) {
                                  swal("Başarılı! Blok silme işlemi başarılı şekilde gerçekleştirildi!", {
                                      icon: "success",
                                  });
                              } else {
                                  //swal("Silme işleminden vazgeçildi!");
                              }
                              setTimeout(function () {
                                  window.location.href = "/Block/Index";
                              }, 2500);
                            },
                            error: function () {
                                alert("Error while deleting data");
                            }
                        });
                }
            });
    }

</script>