@model IEnumerable<ForaTeknoloji.Entities.Entities.ReaderSettingsNew>
@{
    ViewBag.Title = "Kapı Operasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-3 mt-xl-5 mb-xl-5">
        @Html.Action("PartialDoorPanelList", "Door")
    </div>
    <div class="col-md-6">
        <div class="card border-left-info h-100 shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 class="m-0 font-weight-bold text-secondary text-center">Kapı İşlemleri</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Door", FormMethod.Post))
                {
                    <input type="text" id="Panel_ID" name="Panel_ID" hidden value="@Model.FirstOrDefault().Panel_ID" />
                    <div class="row">
                        <div class="col-md-4">
                            @foreach (var item in Model)
                            {

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="@("Kapi_"+item.WKapi_ID)" name="@("Kapi_"+item.WKapi_ID)" value="true" class="custom-control-input" />
                                    <label class="custom-control-label" for="@("Kapi_"+item.WKapi_ID)">@item.WKapi_Adi.Trim()</label>
                                </div>

                            }
                            <hr />
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="Alarm" name="Alarm" value="true" class="custom-control-input" />
                                <label class="custom-control-label" for="Alarm">Alarm Rolesi</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="2770" class="custom-control-input" id="Tetikle" name="OprKod">
                                        <label class="custom-control-label text-info" for="Tetikle">Tetikle</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="2771" class="custom-control-input" id="Ac" name="OprKod">
                                        <label class="custom-control-label text-success" for="Ac">Aç</label>
                                    </div>
                                    <div class="custom-control custom-radio ">
                                        <input type="radio" value="2772" class="custom-control-input" id="Kapat" name="OprKod">
                                        <label class="custom-control-label text-danger" for="Kapat">Kapat</label>
                                    </div>
                                    <div class="custom-control custom-radio ">
                                        <input type="radio" value="2772" class="custom-control-input" id="Serbest" name="OprKod">
                                        <label class="custom-control-label text-secondary" for="Serbest">Serbest Bırak</label>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="TumPanel" name="Tum_Panel" value="true" class="custom-control-input" />
                                        <label class="custom-control-label" for="TumPanel">Tüm Panellere Uygula</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <hr />
                                    <a href="@Url.Action("TaskTable","Task")" class="btn btn-sm btn-outline-secondary"><i class="fas fa-list"></i> Panel Durum Tablosu</a>
                                    <button type="submit" class="btn btn-sm btn-outline-success my-lg-4 mr-3"><i class="fa fa-check"></i> Kapı İşlemlerini Uygula</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var currentPanel = $("#Panel_ID").val();
        $("#" + currentPanel).toggleClass("active");
    });
</script>