@model ForaTeknoloji.PresentationLayer.Models.ProgRelayListViewModel
@{
    ViewBag.Title = "ProgRelay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
}
<div class="row">
    <div class="col-md-10 offset-1 ">
        <div class="card shadow-lg border-left-info h-100 mx-lg-5 my-lg-5 animated fadeIn">
            <div class="card-header py-1 mt-1">
                <h3 class="card-title"><i class="fas fa-bookmark"></i> Programlı Açma/Kapama İşlemleri</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("ProgRelay", "Door", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Panel_No">Panel Seçimi</label>
                                @Html.DropDownList("ListPanel_No", Model.Panel_No, new { @class = "form-control chosen-select", tabindex = "2" , header = "Panel Listesi" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Haftanin_Gunu">Haftanın Günü</label>
                                @Html.DropDownList("ListHaftanin_Gunu", Model.Haftanin_Gunu, new { @class = "form-control chosen-select", tabindex = "2" })
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button id="SubmitBtn" hidden type="submit"></button>
                            <hr />
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <table id="relayTable" class="table-borderless table table-hover text-center table-striped table-sm">
                            <thead>
                                <tr>
                                    <td>Panel No</td>
                                    <td>Zaman Dilimi</td>
                                    <td>Aktif</td>
                                    <td>Saat 1</td>
                                    <td>Saat 2</td>
                                    <td>Role 1</td>
                                    <td>Durum 1</td>
                                    <td>Role 2</td>
                                    <td>Durum 2</td>
                                    <td>Role 3</td>
                                    <td>Durum 3</td>
                                    <td>Role 4</td>
                                    <td>Durum 4</td>
                                    <td>Role 5</td>
                                    <td>Durum 5</td>
                                    <td>Role 6</td>
                                    <td>Durum 6</td>
                                    <td>Role 7</td>
                                    <td>Durum 7</td>
                                    <td>Role 8</td>
                                    <td>Durum 8</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Liste)
                                {
                                    <tr>
                                        <td data-panelid="@item.Panel_No" data-zamandilimi="@item.Zaman_Dilimi" data-hafta="@item.Haftanin_Gunu">@item.Panel_No</td>
                                        <td>@item.Zaman_Dilimi</td>
                                        @if (item.Aktif == true)
                                        {
                                            <td class="text-success">@(item.Aktif == false ? "Hayır" : "Evet")</td>
                                        }
                                        else
                                        {
                                            <td class="text-danger">@(item.Aktif == false ? "Hayır" : "Evet")</td>
                                        }
                                        <td>@item.Saat_1.Value.ToLongTimeString()</td>
                                        <td>@item.Saat_2.Value.ToShortTimeString()</td>
                                        <td>@(item.Role_1 == false ? "Pasif" : "Aktif")</td>
                                        <td>@(item.Durum_1 == false ? "Kapat" : "Aç")</td>
                                        <td>@(item.Role_2 == false ? "Pasif" : "Aktif")</td>
                                        <td>@(item.Durum_2 == false ? "Kapat" : "Aç")</td>
                                        <td>@(item.Role_3 == false ? "Pasif" : "Aktif")</td>
                                        <td>@(item.Durum_3 == false ? "Kapat" : "Aç")</td>
                                        <td>@(item.Role_4 == false ? "Pasif" : "Aktif")</td>
                                        <td>@(item.Durum_4 == false ? "Kapat" : "Aç")</td>
                                        <td>@(item.Role_5 == false ? "Pasif" : "Aktif")</td>
                                        <td>@(item.Durum_5 == false ? "Kapat" : "Aç")</td>
                                        <td>@(item.Role_6 == false ? "Pasif" : "Aktif")</td>
                                        <td>@(item.Durum_6 == false ? "Kapat" : "Aç")</td>
                                        <td>@(item.Role_7 == false ? "Pasif" : "Aktif")</td>
                                        <td>@(item.Durum_7 == false ? "Kapat" : "Aç")</td>
                                        <td>@(item.Role_8 == false ? "Pasif" : "Aktif")</td>
                                        <td>@(item.Durum_8 == false ? "Kapat" : "Aç")</td>
                                        <td>
                                            <a href="@Url.Action("ProgRelayEdit","Door",new {Panel_No=item.Panel_No,Haftanin_Gunu=item.Haftanin_Gunu,Zaman_Dilimi=item.Zaman_Dilimi })" id="@item.Zaman_Dilimi" class="text-info"><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 text-right">
                        @using (Html.BeginForm("Send", "Door", FormMethod.Post))
                        {
                            <input type="text" name="Panel_No" id="Panel" hidden value="" />
                            <input type="text" name="Hafta" id="Hafta" hidden value="" />
                            <input type="text" name="ZamanDilimi" id="ZamanDilimi" hidden value="" />
                            <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-share"></i> Seçili Panele Gönder</button>
                        }

                        @using (Html.BeginForm("Receive", "Door", FormMethod.Post))
                        {
                            <input type="text" name="Panel_No" id="PanelRcv" hidden value="" />
                            <input type="text" name="Hafta" id="HaftaRcv" hidden value="" />
                            <input type="text" name="ZamanDilimi" id="ZamanDilimiRcv" hidden value="" />
                            <button type="submit" class="btn btn-sm btn-outline-success mt-3"><i class="fas fa-reply"></i> Seçili Panelden Al</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#ListPanel_No").change(function () {
            $("#SubmitBtn").click();
        });
        $("#ListHaftanin_Gunu").change(function () {
            $("#SubmitBtn").click();
        });

        $("#relayTable tbody tr").click(function () {
            var HaftaninGunu = $(this).children("td").data("hafta");
            var Panel = $(this).children("td").data("panelid");
            var ZamanDilimi = $(this).children("td").data("zamandilimi");
            $("#HaftaRcv").attr('value', HaftaninGunu);
            $("#PanelRcv").attr('value', Panel);
            $("#ZamanDilimiRcv").attr('value', ZamanDilimi);
            $("#Hafta").attr('value', HaftaninGunu);
            $("#Panel").attr('value', Panel);
            $("#ZamanDilimi").attr('value', ZamanDilimi);
            $("#relayTable tbody tr").removeClass("table-success");
            $(this).addClass("table-success");
        });







    });
</script>