@model ForaTeknoloji.PresentationLayer.Models.TimeGroupsListViewModel
@{
    ViewBag.Title = "Zaman Bölgeleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated flipInX">
    <div class="col-md-8 offset-md-2">
        <div class="card shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-muted text-center">Zaman Bölgesi Ayarları</h3>
                @if (Model.StatusControl != -1)
                {
                    if (Model.StatusControl == 2)
                    {
                        <h3 id="Status" class="text-success text-center">İşlem Başarılı</h3>
                    }
                    else if (Model.StatusControl == 1)
                    {
                        <h3 id="Status" class="text-warning text-center">İşlem Sıraya Alındı</h3>
                    }
                    else
                    {
                        <h3 id="Status" class="text-danger text-center">İşlem Başarısız</h3>
                    }
                }
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "TimeGroups", FormMethod.Get))
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Zaman Bölgesi Ara..." name="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> Ara</button>
                        </div>
                    </div>
                }
                <hr />
                <table class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Zaman Grup No</td>
                            <td>Zaman Grup Adı</td>
                            <td>Adı</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TimeGroups)
                        {
                            <tr>
                                <td>@item.Zaman_Grup_No</td>
                                <td>@item.Zaman_Grup_Adi</td>
                                <td>@item.Adi</td>
                                <td>
                                    <a title="Edit" id="edit" href="@Url.Action("Edit","TimeGroups",new { id=item.Zaman_Grup_No})"><i class="fas fa-edit text-info mr-2"></i></a>
                                    <a title="Delete" onclick="return confirm('Zaman Bölgesini Veritabanından Silmek İstediğinize Emin Misiniz?')" href="@Url.Action("Delete","TimeGroups",new { id=item.Zaman_Grup_No})"><i class="fas fa-trash-alt text-danger mr-2"></i></a>
                                    <a title="Send To Panel" onclick="return confirm('Zaman Bölgesini Panele Göndermek İstediğinize Emin Misiniz?')" id="send" href="@Url.Action("Send","TimeGroups",new { ZamanGrupNo=item.Zaman_Grup_No})"><i class="fas fa-share text-success mr-2"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br /><br />
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($("#Status").prop("hidden") == false) {
            setTimeout(function () {
                $("#Status").prop("hidden", true);
            }, 1000);
        }


    });
</script>
