@model ForaTeknoloji.PresentationLayer.Models.IcerdeDısardaZiyaretciListViewModel
@{
    ViewBag.Title = "İçerdekiler-Dışardakiler Ziyaretçi Raporu ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.ZiyaretciListesi, rowsPerPage: 20);
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>

<div class="card border-left-info h-100 mt-2 shadow-lg">
    <div class="card-header py-1">
        <h3 class="card-title"><i class="fas fa-bookmark"></i> İçerdekiler-Dışardakiler Ziyaretçi</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("InOutVisitor", "InsideOutReport", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Lokal" class="custom-control-input" id="lokal" checked name="Bolge">
                            <label class="custom-control-label" for="lokal">Lokal Bölge</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Global" class="custom-control-input" id="global" name="Bolge">
                            <label class="custom-control-label" for="global">Global Bölge</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="0" class="custom-control-input" id="In" checked name="Gecis">
                            <label class="custom-control-label" for="In">İçerdekiler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="1" class="custom-control-input" id="Out" name="Gecis">
                            <label class="custom-control-label" for="Out">Dışardakiler</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Panel Listesi</label>
                        @Html.DropDownListFor(model => model.Panel, Model.Panel, "Panel Seçimi", new { @class = "form-control chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label for="Reader">Okuyucular</label>
                        <select class="form-control" name="Kapi" id="Reader"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Global Kapı Bölgesi</label>
                        @Html.DropDownListFor(model => model.Global_Kapi_Bolgesi, Model.Global_Kapi_Bolgesi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control chosen-select", tabindex = "2" })
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h5 id="mesaj" hidden class="text-success text-right"></h5>
                    <input type="text" hidden name="LBN" id="LBN" value="" />
                    <h4 class="text-info text-right">@Model.ZiyaretciListesi.Count Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("IcerdeDısardaZiyaretci","InsideOutReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                </div>
            </div>
        }


    </div>
</div>

<div class="card border-left-info h-100 mt-2 shadow-l animated fadeIn">
    <div class="card-body">
        <div class="card-body">
            @using (Html.BeginForm("ManuelCikisPersonel", "InsideOutReport", FormMethod.Post))
            {
                <input type="text" name="PanelID" id="PanelID" hidden value="" />
                <input type="text" name="KapiID" id="KapiID" hidden value="" />
                <div id="print_div">
                    @if (Model.ZiyaretciListesi.Count > 0)
                    {
                        @webGrid.GetHtml(
        htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
        footerStyle: "table-pager",
        columns: webGrid.Columns(
        webGrid.Column(header: "Seç", format:@<text><input type="checkbox" name="Kayit_No" value="@item.Kayit_No" /></text>),
                         webGrid.Column("Kayit_No", "Kayıt No"),
                         webGrid.Column("Kart_ID", "Kart ID"),
                         webGrid.Column("Adi", "Adı"),
                         webGrid.Column("Soyadi", "Soyadı"),
                         webGrid.Column("Tarih", "Tarih"),
                         webGrid.Column("Gecis_Tipi", "Geçiş Tipi", format: item => item.Gecis_Tipi == 0 ? "Giriş" : "Çıkış")))
                    }
                    else
                    {
                        <div class="alert alert-info alert-message">
                            <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2 text-right">
                        <div class="form-group">
                            <select class="form-control" name="OutReader" id="OutReader"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <input type="submit" id="CikisVer" value="Manuel Çıkış" class="btn btn-sm btn-secondary pull-right" onclick="return confirm('Seçilen Kayıtlar Çıkış Yapacak');" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            frameDoc.document.write('<html>');
            frameDoc.document.write('<head>');
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            frameDoc.document.write('<style>');
            frameDoc.document.write('table{ border-collapse: collapse; width: 100%;}')
            frameDoc.document.write('table th, td { text-align: center; padding: 8px;} body{padding:10px;}');
            frameDoc.document.write('tr:nth-child(even) {background-color: #f2f2f2;}');
            frameDoc.document.write('table tr > *:nth-child(1){ display: none; }');
            frameDoc.document.write('table tr > *:nth-child(2){ display: none; }');
            frameDoc.document.write('table tr > *:nth-child(3){ display: none; }');
            frameDoc.document.write('table tr > *:nth-child(7){ display: none; }');
            frameDoc.document.write('table tfoot > *:nth-child(2){ display: none; }');
            frameDoc.document.write('table, th, td {  border: 1px solid black; text-align:center; border-collapse: collapse;}');
            frameDoc.document.write('thead tr th a { color: black; text-decoration: none; }thead tr th a:hover { color: black; }thead tr th a:visited { color: black; }thead tr th a:active { color: black; }');
            frameDoc.document.write('</style>');
            frameDoc.document.write('</head>');
            frameDoc.document.write('<body>');
            frameDoc.document.write('<h5>İçerde-Dışarda Ziyaretçi Raporu (' + new Date().toLocaleDateString() + ')</h5><hr/>');
            frameDoc.document.write(contents);
            frameDoc.document.write('</body>');
            frameDoc.document.write('</html>');
            frameDoc.document.close();
            setTimeout(function () {

                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
        $("#Global_Kapi_Bolgesi").attr("disabled", true);
        $("#lokal").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Global_Kapi_Bolgesi").prop("disabled", true);
                $("#Panel").prop("disabled", false);
                $("#Reader").prop("disabled ", false);
            }
        })

        $("#global").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Panel").prop("disabled", true);
                $("#Reader").prop("disabled ", true);
                $("#Global_Kapi_Bolgesi").prop("disabled", false);
            }
        });

        $("#In").change(function () {
            if ($(this).prop("checked") == true) {
                $("#OutReader").prop("disabled", false);
            }

        });

        $("#Panel").change(function () {
            var panelID = $(this).val();
            if (panelID == 0) {
                $("#Reader").html("");
            } else {
                $.ajax({
                    url: '/InsideOutReport/Reader?Paneller=' + panelID,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Reader").html("");
                    $("#OutReader").html("");
                    $('#Reader').append("<option value=''>Okuyucu Seç</option>");
                    $('#OutReader').append("<option value=''>Çıkış Okuyucusu Seç</option>");
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].WKapi_Lokal_Bolge != 0) {
                            $('#Reader').append('<option value=' + data[i].WKapi_Lokal_Bolge + '>' + data[i].WKapi_Adi + '</option>')
                        }
                        if (data[i].WKapi_Kapi_Tipi == 2) {
                            $('#OutReader').append('<option value=' + data[i].WKapi_ID + '>' + data[i].WKapi_Adi + '</option>')
                        }
                    }
                });
            }
        })

        $("#Reader").change(function () {
            var lokalBolgeNo = $(this).val();
            $("#mesaj").html("");
            $("#mesaj").text("Seçilen Lokal Bölge " + lokalBolgeNo);
            $("#mesaj").removeAttr("hidden")
            $("#LBN").attr("value", lokalBolgeNo);
        });

        $("#OutReader").change(function () {
            var kapiID = $(this).val();
            $("#KapiID").prop("value", kapiID);
        });

        $("#Panel").change(function () {
            var panel = $(this).val();
            $("#PanelID").prop("value", panel);
        });
    });
</script>
