@model ForaTeknoloji.PresentationLayer.Models.IcerdeDısardaPersonelListViewModel
@{
    ViewBag.Title = "İçerdekiler-Dışardakiler Personel Raporu ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-2 shadow-lg">
    <div class="card-header-tabs mt-1">
        <h3 class="text-center text-muted">İçerdekiler-Dışardakiler Personel</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Personel", "InsideOutReport"))
        {

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Lokal" class="custom-control-input" id="lokal" checked name="Bolge">
                            <label class="custom-control-label" for="lokal">Lokal Bölge</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Global" class="custom-control-input" id="global" name="Bolge">
                            <label class="custom-control-label" for="global">Global Bölge</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="0" class="custom-control-input" id="In" checked name="Gecis">
                            <label class="custom-control-label" for="In">İçerdekiler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="1" class="custom-control-input" id="Out" name="Gecis">
                            <label class="custom-control-label" for="Out">Dışardakiler</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Panel Listesi</label>
                        @Html.DropDownListFor(model => model.Paneller, Model.Paneller, "Panel Seçimi", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Global Kapı Bölgesi</label>
                        @Html.DropDownListFor(model => model.Global_Bolge_Adi, Model.Global_Bolge_Adi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Panel Çıkış Kapı No</label>
                        <select class="form-control" name="Kapi" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h4 class="text-info text-right">@Model.IcerdeDısardaPersonel.Count Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("PersonelExcell","InsideOutReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                </div>
            </div>
        }
    </div>
</div>
<div class="card mt-2 shadow-lg">
    <div id="print_div" class="card-body">
        @using (Html.BeginForm("ManuelCikis", "InsideOutReport", FormMethod.Post))
        {

            <table class="table table-hover text-center table-sm table-striped">
                <thead class="table-info">
                    <tr>
                        <td></td>
                        <td>Kayıt No</td>
                        <td>ID</td>
                        <td>Kart ID</td>
                        <td>Adı</td>
                        <td>Soyadı</td>
                        <td>Şirket Adı</td>
                        <td>Departman Adı</td>
                        <td>Tarih</td>
                        <td>Geçiş Tipi</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.IcerdeDısardaPersonel)
                    {
                        <tr>
                            <td><input type="checkbox" value="@item.Kayit_No" name="Kayit_No" class="custom-control-input" id="Kayit_No" /></td>
                            <td>@item.Kayit_No</td>
                            <td>@item.ID</td>
                            <td>@item.Kart_ID</td>
                            <td>@item.Adi</td>
                            <td>@item.Soyadi</td>
                            <td>@item.Sirket</td>
                            <td>@item.Departman</td>
                            <td>@item.Tarih</td>
                            <td>@item.Gecis_Tipi</td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <button class="btn btn-secondary btn-sm" type="submit"><i class="fas fa-sign-out-alt"></i> Manuel Çıkış Ver</button>
                </tfoot>

            </table>
        }
    </div>
</div>

<script>
    $(function () {
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>Personel Raporları</title>');
            frameDoc.document.write('</head><body>');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {

                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });


    });
</script>