@model ForaTeknoloji.PresentationLayer.Models.IcerdeDısardaTumuListViewModel
@{
    ViewBag.Title = "Tümü";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.TumuListesi, rowsPerPage: 20);
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>

<div class="card border-left-info h-100 mt-2 shadow-lg animated slideInLeft faster">
    <div class="card-header-tabs mt-1">
        <h3 class="text-center text-muted">İçerdekiler-Dışardakiler Tümü</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Tumu", "InsideOutReport", FormMethod.Get))
        {

            <div class="row">
                <div class="col-md-4 ">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Lokal" class="custom-control-input" id="lokal" checked name="Bolge">
                            <label class="custom-control-label" for="lokal">Lokal Bölge</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Global" class="custom-control-input" id="global" name="Bolge">
                            <label class="custom-control-label" for="global">Global Bölge</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="0" class="custom-control-input" id="In" checked name="Gecis">
                            <label class="custom-control-label" for="In">İçerdekiler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="1" class="custom-control-input" id="Out" name="Gecis">
                            <label class="custom-control-label" for="Out">Dışardakiler</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Paneller">Paneller</label>
                        @Html.DropDownListFor(model => model.Panel, Model.Panel, "Panel Seçimi", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Okuyucular</label>
                        <select class="form-control" id="reader"></select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Global_Bolge_Adi">Global Bölge Adı</label>
                        @Html.DropDownListFor(model => model.Global_Kapi_Bolgesi, Model.Global_Kapi_Bolgesi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="readerCikis">Panel Çıkış Kapı No</label>
                        <select class="form-control" id="readerCikis">
                            <option>Panel Çıkış Kapı No</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 text-right">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h5 id="mesaj" hidden class="text-success text-right"></h5>
                    <h4 class="text-info text-right">@Model.TumuListesi.Count Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("IcerdeDısardaTumu","InsideOutReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                </div>
            </div>
        }
    </div>
</div>
<div class="card border-left-info h-100 mt-2 shadow-lg animated slideInRight faster">
    @using (Html.BeginForm("ManuelCikisTumu", "InsideOutReport", FormMethod.Post))
    {
        <div id="print_div" class="card-body">
            @if (Model.TumuListesi.Count > 0)
            {
                @webGrid.GetHtml(
              htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
              footerStyle:"table-pager",
              columns: webGrid.Columns(
                  webGrid.Column(header: "Seç", format:@<text><input type="checkbox" name="Kayit_No" value="@item.Kayit_No" /></text>),
                                              webGrid.Column("ID", "ID"),
                                              webGrid.Column("Kart_ID", "Kart ID"),
                                              webGrid.Column("Adi", "Adı"),
                                              webGrid.Column("Soyadi", "Soyadı"),
                                              webGrid.Column("Ziyaretci_Adi", "Ziyaretçi Adı"),
                                              webGrid.Column("Ziyaretci_Soyadi", "Ziyaretçi Soyadi"),
                                              webGrid.Column("Sirket", "Şirket"),
                                              webGrid.Column("Departman", "Departman"),
                                              webGrid.Column("Tarih", "Tarih"),
                                              webGrid.Column("Ziyaret_Tarihi", "Tarihi")))
            }
            else
            {
                <div class="alert alert-info alert-message">
                    <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                </div>
            }


        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" id="CikisVer" value="Manuel Çıkış" class="btn btn-sm btn-secondary pull-right" onclick="return confirm('Seçilen Kayıtlar Çıkış Yapacak');" />
            </div>
        </div>
    }

</div>

<script>
    $(function () {
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>İçerde Dışarda-Personel Raporları</title>');
            frameDoc.document.write('</head><body><hr />');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {

                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
        $("#Global_Bolge_Adi").attr("disabled", true);
        $("#Panel").change(function () {
            var panelid = $(this).val();
            if (panelid == 0 || panelid < 0 || panelid=="") {
                $("#reader").html("");
            }
            $.ajax({
                url: '@Url.Action("Reader", "InsideOutReport")',
                type: "POST",
                dataType: "json",
                data: { Paneller: panelid },
                success: function (data) {
                    $("#reader").html("");
                    $("#readerCikis").html("");
                    $('#reader').append("<option value=''>Okuyucu Seç</option>");
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].WKapi_Lokal_Bolge != 0) {
                            $('#reader').append('<option value=' + data[i].WKapi_Lokal_Bolge + '>' + data[i].WKapi_Adi + '</option>')
                        }
                        if (data[i].WKapi_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + data[i].Kayit_No + '>' + data[i].WKapi_Adi + '</option>')
                        }
                    }
                }
            });
        });

        $("#reader").change(function () {
            var lokal = $(this).val();
            $("#mesaj").html("");
            $("#mesaj").text("Seçilen Lokal Bölge " + lokal);
            $("#mesaj").removeAttr("hidden")
        });
        $("#lokal").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Paneller").attr("disabled", false);
                $("#reader").attr("disabled", false);
                $("#Global_Bolge_Adi").attr("disabled", true);
            } else {

                $("#Paneller").attr("disabled", true);
                $("#reader").attr("disabled", true);
                $("#Global_Bolge_Adi").attr("disabled", false);
            }

        });
        $("#global").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Global_Bolge_Adi").attr("disabled", false);
                $("#Paneller").attr("disabled", true);
                $("#reader").attr("disabled", true);
                $("#mesaj").html("");
                $("#mesaj").attr("hidden", true)
            } else {
                $("#Paneller").attr("disabled", false);
                $("#reader").attr("disabled", false);
                $("#Global_Bolge_Adi").attr("disabled", true);
            }

        });
        $("#In").change(function () {
            if ($(this).prop("checked") == true) {
                $("#CikisVer").attr("disabled", false);
                $("#readerCikis").attr("disabled", false);
            }
        });
        $("#Out").change(function () {
            if ($(this).prop("checked") == true) {
                $("#CikisVer").attr("disabled", true);
                $("#readerCikis").attr("disabled", true);
            }
        });

        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');
    });
</script>