@model ForaTeknoloji.PresentationLayer.Models.IcerdeDısardaZiyaretciListViewModel
@{
    ViewBag.Title = "Ziyaretci";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.ZiyaretciListesi, rowsPerPage: 20);
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 mt-2 shadow-lg animated slideInLeft faster">
    <div class="card-header-tabs mt-1">
        <h3 class="text-center text-muted">İçerdekiler-Dışardakiler Ziyaretçi</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Ziyaretci", "InsideOutReport", FormMethod.Get))
        {

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Lokal" class="custom-control-input" id="lokal" checked name="Bolge">
                            <label class="custom-control-label" for="lokal">Lokal Bölge</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Global" class="custom-control-input" id="global" name="Bolge">
                            <label class="custom-control-label" for="global">Global Bölge</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="0" class="custom-control-input" id="In" checked name="Gecis">
                            <label class="custom-control-label" for="In">İçerdekiler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="1" class="custom-control-input" id="Out" name="Gecis">
                            <label class="custom-control-label" for="Out">Dışardakiler</label>
                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Panel Listesi</label>
                        @Html.DropDownListFor(model => model.Panel, Model.Panel, "Panel Seçimi", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Okuyucular</label>
                        <select class="form-control" id="reader"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Global Kapı Bölgesi</label>
                        @Html.DropDownListFor(model => model.Global_Kapi_Bolgesi, Model.Global_Kapi_Bolgesi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="readerCikis">Panel Çıkış Kapı No</label>
                        <select class="form-control" id="readerCikis">
                            <option>Panel Çıkış Kapı No</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-12 text-right">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h5 id="mesaj" hidden class="text-success text-right"></h5>
                    <h4 class="text-info text-right">@Model.ZiyaretciListesi.Count Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("IcerdeDısardaZiyaretci","InsideOutReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                </div>
            </div>
        }
    </div>
</div>
<div class="card border-left-info h-100 mt-2 shadow-lg animated slideInRight faster">

    @using (Html.BeginForm("ManuelCikisZiyaretci", "InsideOutReport", FormMethod.Post))
    {
        <div id="print_div" class="card-body">

            @if (Model.ZiyaretciListesi.Count > 0)
            {
                @webGrid.GetHtml(
                htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
                footerStyle:"table-pager",
                columns: webGrid.Columns(
                    webGrid.Column(header: "Seç", format:@<text><input type="checkbox" name="Kayit_No" value="@item.Kayit_No" /></text>),
                                                      webGrid.Column("Kart_ID", "Kart ID"),
                                                      webGrid.Column("Adi", "Adı"),
                                                      webGrid.Column("Soyadi", "Soyadı"),
                                                      webGrid.Column("Ziyaret_Sebebi", "Ziyaret Sebebi"),
                                                      webGrid.Column("Tarih", "Tarih")))

            }
            else
            {
                <div class="alert alert-info alert-message">
                    <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                </div>
            }


        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" id="CikisVer" value="Manuel Çıkış" class="btn btn-sm btn-secondary pull-right" onclick="return confirm('Seçilen Kayıtlar Çıkış Yapacak');" />
            </div>
        </div>
    }

</div>

<script>
    $(function () {
        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>İçerde Dışarda-Ziyaretçi Raporları</title>');
            frameDoc.document.write('</head><body><hr />');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {

                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
        $("#Global_Bolge_Adi").attr("disabled", true);
             $("#Paneller").change(function () {
                 var panelid = $(this).val();
                 if (panelid == 0 || panelid < 0 || panelid == "") {
                     $("#reader").html("");
                 }
            $.ajax({
                url: '@Url.Action("Reader", "InsideOutReport")',
                type: "POST",
                dataType: "json",
                data: { Paneller: panelid },
                success: function (data) {
                    console.log(data);
                    $("#reader").html("");
                    $("#readerCikis").html("");
                    $('#reader').append("<option value=''>Okuyucu Seç</option>");
                    $.each(data, function (index, value) {
                        //Okuyucuların dropdownlist'i için
                        if (value.WKapi1_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi1_Lokal_Bolge + '>' + value.WKapi1_Adi + '</option>')
                        }
                        if (value.WKapi2_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi2_Lokal_Bolge + '>' + value.WKapi2_Adi + '</option>')
                        }
                        if (value.WKapi3_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi3_Lokal_Bolge + '>' + value.WKapi3_Adi + '</option>')
                        }
                        if (value.WKapi4_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi4_Lokal_Bolge + '>' + value.WKapi4_Adi + '</option>')
                        }
                        if (value.WKapi5_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi5_Lokal_Bolge + '>' + value.WKapi5_Adi + '</option>')
                        }
                        if (value.WKapi6_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi6_Lokal_Bolge + '>' + value.WKapi6_Adi + '</option>')
                        }
                        if (value.WKapi7_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi7_Lokal_Bolge + '>' + value.WKapi7_Adi + '</option>')
                        }
                        if (value.WKapi8_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi8_Lokal_Bolge + '>' + value.WKapi8_Adi + '</option>')
                        }
                        if (value.WKapi9_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi9_Lokal_Bolge + '>' + value.WKapi9_Adi + '</option>')
                        }
                        if (value.WKapi10_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi10_Lokal_Bolge + '>' + value.WKapi10_Adi + '</option>')
                        }
                        if (value.WKapi11_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi11_Lokal_Bolge + '>' + value.WKapi11_Adi + '</option>')
                        }
                        if (value.WKapi12_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi12_Lokal_Bolge + '>' + value.WKapi12_Adi + '</option>')
                        }
                        if (value.WKapi13_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi13_Lokal_Bolge + '>' + value.WKapi13_Adi + '</option>')
                        }
                        if (value.WKapi14_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi14_Lokal_Bolge + '>' + value.WKapi14_Adi + '</option>')
                        }
                        if (value.WKapi15_Lokal_Bolge != 0) {

                            $('#reader').append('<option value=' + value.WKapi15_Lokal_Bolge + '>' + value.WKapi15_Adi + '</option>')
                        }
                        if (value.WKapi16_Lokal_Bolge!=0) {
                            $('#reader').append('<option value=' + value.WKapi16_Lokal_Bolge + '>' + value.WKapi16_Adi + '</option>')
                        }


                        //Manuel Çıkış dropdown list İçin
                        if (value.WKapi1_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi1_Adi + '</option>')
                        }
                        if (value.WKapi2_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi2_Adi + '</option>')
                        }
                        if (value.WKapi3_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi3_Adi + '</option>')
                        }
                        if (value.WKapi4_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi4_Adi + '</option>')
                        }
                        if (value.WKapi5_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi5_Adi + '</option>')
                        }
                        if (value.WKapi6_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi6_Adi + '</option>')
                        }
                        if (value.WKapi7_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi7_Adi + '</option>')
                        }
                        if (value.WKapi8_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi8_Adi + '</option>')
                        }
                        if (value.WKapi9_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi9_Adi + '</option>')
                        }
                        if (value.WKapi10_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi10_Adi + '</option>')
                        }
                        if (value.WKapi11_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi11_Adi + '</option>')
                        }
                        if (value.WKapi12_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi12_Adi + '</option>')
                        }
                        if (value.WKapi13_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi13_Adi + '</option>')
                        }
                        if (value.WKapi14_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi14_Adi + '</option>')
                        }
                        if (value.WKapi15_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi15_Adi + '</option>')
                        }
                        if (value.WKapi16_Kapi_Tipi == 2) {
                            $("#readerCikis").append('<option value=' + value.Kayit_No + '>' + value.WKapi16_Adi + '</option>')
                        }


                    })
                }
            });

        });
        $("#reader").change(function () {
            var lokal = $(this).val();
            $("#mesaj").html("");
            $("#mesaj").text("Seçilen Lokal Bölge " + lokal);
            $("#mesaj").removeAttr("hidden")
        });
        $("#lokal").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Paneller").attr("disabled", false);
                $("#reader").attr("disabled", false);
                $("#Global_Bolge_Adi").attr("disabled", true);
            } else {

                $("#Paneller").attr("disabled", true);
                $("#reader").attr("disabled", true);
                $("#Global_Bolge_Adi").attr("disabled", false);
            }

        });
        $("#global").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Global_Bolge_Adi").attr("disabled", false);
                $("#Paneller").attr("disabled", true);
                $("#reader").attr("disabled", true);
                $("#mesaj").html("");
                $("#mesaj").attr("hidden", true)
            } else {
                $("#Paneller").attr("disabled", false);
                $("#reader").attr("disabled", false);
                $("#Global_Bolge_Adi").attr("disabled", true);
            }

        });
        $("#In").change(function () {
            if ($(this).prop("checked") == true) {
                $("#CikisVer").attr("disabled", false);
                $("#readerCikis").attr("disabled", false);
            }
        });
        $("#Out").change(function () {
            if ($(this).prop("checked") == true) {
                $("#CikisVer").attr("disabled", true);
                $("#readerCikis").attr("disabled", true);
            }
        });

    });
</script>