@model ForaTeknoloji.PresentationLayer.Models.TaskTableListViewModel
@{
    /**/

    ViewBag.Title = "Görev Tablosu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.Liste, rowsPerPage: 10);
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>





<div class="row animated slideInLeft faster">
    <div class="col-md-8 offset-2">
        <div class="card shadow-lg mt-3 mb-3 border-left-info h-100">
            <div class="card-header py-1">
                <h3 class="m-0 font-weight-bold text-secondary text-center">Görev Durum Tablosu</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("TaskTable", "Task", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Panel_ID">Panel Listesi</label>
                                @Html.DropDownListFor(model => model.Panel, null, "Panel Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Gorev_Kodu">Görev Adı</label>
                                @Html.DropDownListFor(model => model.Gorev, null, "Görev Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Durum_Kodu">Durum</label>
                                @Html.DropDownListFor(model => model.Durum, null, "Durum Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="custom-control">
                                    <label for="Tarih">Tarih</label>
                                    <input class="form-control form-control-sm" name="Tarih" type="date" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" id="Tarih">
                                </div>
                            </div>
                        </div>
                        @if (Model.Liste.Count > 0)
                        {
                            <div class="col-md-12 text-right mt-4">
                                <h4 class="text-info text-right">@Model.Liste.Count Adet Kayıt Listelendi</h4>
                            </div>
                        }
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        @if (Model.Liste.Count > 0)
                        {
                            @webGrid.GetHtml(
                            htmlAttributes: new {@id="table",@class= "table-borderless table table-hover text-center table-striped small" },
                            headerStyle:"table-info table-sm",
                            footerStyle: "table-pager",
                             columns:webGrid.Columns(
                                 webGrid.Column("Gorev_Adi",header:"Görev Adı"),
                                 webGrid.Column("Panel_Adi",header:"Panel Adı"),
                                 webGrid.Column("Durum_Adi",header:"Durum",format:@<text>@(SetStatus(item.Durum_Adi))</text>),
webGrid.Column("Tarih", "Tarih"),
webGrid.Column("Adi", "Adı"),
webGrid.Column("Soyadi", "Soyadı")))
                        }
                        else
                        {
                            <div class="alert alert-info alert-message ">
                                <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <hr />
                                <span class="fas fa-info-circle">&nbsp;</span>
                                <span><i>Bu kullanıcıya ait görev listesinde sadece son <b>100</b> kayıt gösterilmektedir.</i></span><br />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@helper SetStatus(string value)
{
    if (value == "Beklemede")
    {
        <span class="text-warning"><b>Beklemede</b></span>
    }
    else if (value == "Tamamlandı")
    {
        <span class="text-success"><b>Tamamlandı</b></span>
    }
    else if (value == "Hata")
    {
        <span class="text-danger"><b>Hata</b></span>
    }
    else if (value == "Zaman Aşımı")
    {
        <span class="text-secondary"><b>Zaman Aşımı</b></span>
    }
}

<script>
    $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
    // buton aktif durum css
    $("tfoot td")
        .contents()
        .filter(function () {
            if (this.nodeType === 3 && this.length > 1) {
                return this.nodeType
            }
        })
        .wrap('<span class=" btn btn-primary" />');
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>