@model IEnumerable<ForaTeknoloji.Entities.ComplexType.TaskStatusWatch>
@{
    ViewBag.Title = "Göre Tablosu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mx-lg-5 my-lg-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-center text-muted">Görev Listesi</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Görev Adı</td>
                            <td>Panel Adı</td>
                            <td>Durumu</td>
                            <td>Tarih</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Durum_Kodu == 1)
                            {
                                <tr class="table-warning">
                                    <td>@item.Gorev_Adi</td>
                                    <td>@item.Panel_Adi</td>
                                    <td>@item.Durum_Adi</td>
                                    <td>@item.Tarih</td>
                                    <td>@item.Adi</td>
                                    <td>@item.Soyadi</td>
                                </tr>
                            }
                            else if (item.Durum_Kodu == 2)
                            {
                                <tr class="table-success">
                                    <td>@item.Gorev_Adi</td>
                                    <td>@item.Panel_Adi</td>
                                    <td>@item.Durum_Adi</td>
                                    <td>@item.Tarih</td>
                                    <td>@item.Adi</td>
                                    <td>@item.Soyadi</td>
                                </tr>
                            }
                            else if (item.Durum_Kodu == 3)
                            {
                                <tr class="table-danger">
                                    <td>@item.Gorev_Adi</td>
                                    <td>@item.Panel_Adi</td>
                                    <td>@item.Durum_Adi</td>
                                    <td>@item.Tarih</td>
                                    <td>@item.Adi</td>
                                    <td>@item.Soyadi</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="table-secondary">
                                    <td>@item.Gorev_Adi</td>
                                    <td>@item.Panel_Adi</td>
                                    <td>@item.Durum_Adi</td>
                                    <td>@item.Tarih</td>
                                    <td>@item.Adi</td>
                                    <td>@item.Soyadi</td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
