@model ForaTeknoloji.PresentationLayer.Models.OfflineAccessReceiveListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-md-2 animated fadeIn faster">
        <div class="card border-left-info h-100 shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 class="card-title"><i class="fas fa-bookmark"></i> Geçiş Olay Verileri</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "AccessReceive", FormMethod.Post))
                {
                    @Html.Hidden("Kayit_No", Model.ProgEntity.Kayit_No)
                    @Html.Hidden("BackupPeriode", Model.ProgEntity.BackupPeriode)
                    @Html.Hidden("BackupDay", Model.ProgEntity.BackupDay)
                    @Html.Hidden("LastBackupDate", Model.ProgEntity.LastBackupDate)
                    @Html.Hidden("EndlessReportTime", Model.ProgEntity.EndlessReportTime)
                    @Html.Hidden("ReportByHour", Model.ProgEntity.ReportByHour)
                    @Html.Hidden("LiveAPBInvalid", Model.ProgEntity.LiveAPBInvalid)
                    @Html.Hidden("LiveDeniedInvalid", Model.ProgEntity.LiveDeniedInvalid)
                    @Html.Hidden("LiveUnknownInvalid", Model.ProgEntity.LiveUnknownInvalid)
                    @Html.Hidden("LiveButtonInvalid", Model.ProgEntity.LiveButtonInvalid)
                    @Html.Hidden("LiveManuelInvalid", Model.ProgEntity.LiveManuelInvalid)
                    @Html.Hidden("LiveProgrammedInvalid", Model.ProgEntity.LiveProgrammedInvalid)
                    @Html.Hidden("UpdateAccessFile", Model.ProgEntity.UpdateAccessFile)
                    @Html.Hidden("NoOpLogUser", Model.ProgEntity.NoOpLogUser)
                    @Html.Hidden("NoOpLogTimeZone", Model.ProgEntity.NoOpLogTimeZone)
                    @Html.Hidden("NoOpLogGroup", Model.ProgEntity.NoOpLogGroup)
                    @Html.Hidden("NoOpLogPanelLogs", Model.ProgEntity.NoOpLogPanelLogs)
                    @Html.Hidden("NoOpLogVisitor", Model.ProgEntity.NoOpLogVisitor)
                    @Html.Hidden("NoOpLogUserAlarm", Model.ProgEntity.NoOpLogUserAlarm)
                    @Html.Hidden("NoOpLogCamera", Model.ProgEntity.NoOpLogCamera)
                    @Html.Hidden("NoOpLogLift", Model.ProgEntity.NoOpLogLift)
                    @Html.Hidden("NoOpLogProgrammedRelay", Model.ProgEntity.NoOpLogProgrammedRelay)
                    @Html.Hidden("NoOpLogCompany", Model.ProgEntity.NoOpLogCompany)
                    @Html.Hidden("NoOpLogDepartment", Model.ProgEntity.NoOpLogDepartment)
                    @Html.Hidden("NoOpLogBlock", Model.ProgEntity.NoOpLogBlock)
                    @Html.Hidden("NoOpLogImport", Model.ProgEntity.NoOpLogImport)
                    @Html.Hidden("NoOpLogEmailSMS", Model.ProgEntity.NoOpLogEmailSMS)
                    @Html.Hidden("NoOpLogUserGlobalInterlock", Model.ProgEntity.NoOpLogUserGlobalInterlock)
                    @Html.Hidden("NoOpLogGroupCalendar", Model.ProgEntity.NoOpLogGroupCalendar)
                    @Html.Hidden("NoOpLogReports", Model.ProgEntity.NoOpLogReports)
                    @Html.Hidden("NoOpLogDatabase", Model.ProgEntity.NoOpLogDatabase)
                    @Html.Hidden("NoOpPanelSettings", Model.ProgEntity.NoOpPanelSettings)
                    @Html.Hidden("NoOpOther", Model.ProgEntity.NoOpOther)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("AllPanelPeriodicAccessReceive", Model.ProgEntity.AllPanelPeriodicAccessReceive ?? false, new { @class = "custom-control-input" })
                                <label for="AllPanelPeriodicAccessReceive" class="custom-control-label">Geçiş Kayıtlarını Tüm Panellerden Günlük Al</label>
                            </div>
                            <hr />
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("DeleteAfterReceiving", Model.ProgEntity.DeleteAfterReceiving ?? false, new { @class = "custom-control-input" })
                                <label for="DeleteAfterReceiving" class="custom-control-label">Aldıktan Sonra Sil</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-7 col-form-label" for="Alma_Saati">Periyodik Olay Verisi Alma Saati</label>
                                <div class="col-sm-5"> <input type="time" id="Alma_Saati" name="PeriodicAccessDataTime" class="form-control form-control-sm" value="@Model.ProgEntity.PeriodicAccessDataTime.Value.ToShortTimeString()" /></div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <hr />
                            <a data-toggle="modal" data-target="#panelListClearPanel" onclick="return confirm('Panel Hafızasını Silmek İstediğinize Emin Misiniz?')" class="btn btn-sm btn-outline-danger text-danger"><i class="fas fa-trash-alt"></i> Tüm Geçiş/Olay Verilerini Sil</a>
                            <a data-toggle="modal" data-target="#panelList" onclick="return confirm('Panel Hafızasından Geçiş Verileri Alınsın Mı?')" title="Send To Panel" class="btn btn-sm btn-outline-info text-info"><i class="fas fa-save"></i> Tüm Geçiş/Olay Verilerini Al</a>
                            <button class="btn btn-sm btn-outline-success"><i class="fas fa-edit"></i> Değişikliği Güncelle</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!--Send OfflineAccess PanelSelect Modal -->
<div class="modal fade" id="panelList" tabindex="-1" role="dialog" aria-labelledby="panelListTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Receive", "AccessReceive", FormMethod.Post))
            {
                <div class="modal-body">
                    <div hidden id="messageSnd">
                        <h4 class="text-center text-info animated slideInDown">Panel İşlemi Sıraya Alındı!</h4>
                        <hr />
                    </div>
                    <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm">
                        <thead class="table-info">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                        <label class="custom-control-label" for="AllPanel"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelList" id="@item.Panel_ID" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnTaskSend" type="submit" class="btn btn-outline-success"><i class="fas fa-save"></i> Seçilen Panellerden Geçiş Kayıtlarını Al</button>
                </div>
            }
        </div>
    </div>
</div>



<!--Send OfflinePanelMemoryClear PanelSelect Modal -->
<div class="modal fade" id="panelListClearPanel" tabindex="-1" role="dialog" aria-labelledby="panelListTitleClear" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("ClearPanelMemory", "AccessReceive", FormMethod.Post))
            {
                <div class="modal-body">
                    <table id="PanelTableClear" class="table-borderless table table-hover text-center table-striped table-sm">
                        <thead class="table-info">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="AllPanelClear" />
                                        <label class="custom-control-label" for="AllPanelClear"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelListClear" id="@("Clear_"+item.Panel_ID)" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@("Clear_"+item.Panel_ID)"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnTaskSend" type="submit" class="btn btn-outline-success"><i class="fas fa-trash"></i> Seçilen Panellerden Geçiş Kayıtlarını Sil</button>
                </div>
            }
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#AllPanelClear").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTableClear tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTableClear tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
    });
</script>