@model ForaTeknoloji.PresentationLayer.Models.GelenGelmeyen_GelenlerListViewModel
@{
    ViewBag.Title = "Gelen Kişi Raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.Gelenler, rowsPerPage: 20);
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 shadow-lg mt-2">
    <div class="card-header py-1">
        <h3 class="card-title"><i class="fas fa-bookmark"></i> Gelen Kişi Raporları</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Gelenler", "GelenGelmeyenReport", FormMethod.Get))
        {

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Ünvan</label>
                        @Html.DropDownListFor(model => model.Unvan, Model.Unvan, "Ünvan Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        @Html.ValidationMessageFor(model => model.Unvan, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="Ziyaretci">Kullanıcılar</label>
                        <div class="form-group">
                            <input type="text" id="Ziyaretci" class="form-control form-control-sm" name="Users" />
                            <input type="text" id="UserKayitNo" hidden name="User" value="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Şirketler</label>
                        @Html.DropDownListFor(model => model.Sirket, Model.Sirket, "Şirket Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        @Html.ValidationMessageFor(model => model.Sirket, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Departmanlar</label>
                        @Html.DropDownListFor(model => model.Departman, Model.Departman, "Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        @Html.ValidationMessageFor(model => model.Departman, "", new { @class = "text-danger" })
                    </div>


                </div>
                <div class="col-md-2">

                    <div class="form-group">
                        <label>Alt Departmanlar</label>
                        @Html.DropDownListFor(model => model.AltDepartman, Model.AltDepartman, "Alt Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label>Bölümler</label>
                        @Html.DropDownListFor(model => model.Bolum, Model.Bolum, "Bölüm Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Birimler</label>
                        @Html.DropDownListFor(model => model.Birim_No, Model.Birim_No, "Birim Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label>Geçiş Grupları</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Gecis_Grubu, Model.Gecis_Grubu, "Geçiş Grubu Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="custom-control">
                            <label for="Tarih">Başlangıç Tarihi</label>
                            <input class="form-control form-control-sm col-md-12" name="Baslangic_Tarihi" type="date" value="2019-08-13" id="Tarih1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control">
                            <label for="Tarih2">Bitiş Tarihi</label>
                            <input class="form-control form-control-sm col-md-12" name="Bitis_Tarihi" type="date" value="2019-08-13" id="Tarih2">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" value="true" name="ikiSaat" class="custom-control-input" id="ikiSaat" />
                        <label class="custom-control-label mb-2" for="ikiSaat">İki Saat Arası</label>
                    </div>
                    <div class="form-group">
                        <input type="time" class="form-control form-control-sm" disabled name="Baslangic_Saati" id="Saat1" value="@DateTime.Now.ToShortTimeString()" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2">Bitiş Saati</label>
                        <input type="time" class="form-control form-control-sm" name="Bitis_Saati" disabled id="Saat2" value="@DateTime.Now.ToShortTimeString()" />
                    </div>
                </div>
                <div class="col-md-12 text-right float-right">
                    <h4 class="text-info text-right">@Model.Gelenler.Count Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("GelenlerExcell","GelenGelmeyenReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                </div>

                <div class="col-md-12">

                    <div id="print_div" class="mt-4">
                        @if (Model.Gelenler.Count > 0)
                        {
                            @webGrid.GetHtml(
                     htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
                      footerStyle: "table-pager",
                     columns: webGrid.Columns(
                         webGrid.Column("ID", "ID"),
                         webGrid.Column("Kart_ID", "Kart ID"),
                         webGrid.Column("Adi", "Adı"),
                         webGrid.Column("Soyadi", "Soyadı"),
                         webGrid.Column("TCKimlik", "TC Kimlik"),
                         webGrid.Column("SirketAdi", "Şirket"),
                         webGrid.Column("DepartmanAdi", "Departman"),
                         webGrid.Column("AltDepartmanAdi", "Alt Departman"),
                         webGrid.Column("BolumAdi", "Bölüm"),
                         webGrid.Column("BirimAdi", "Birim"),
                         webGrid.Column("Plaka", "Plaka"),
                         webGrid.Column("BlokAdi", "Blok"),
                         webGrid.Column("Daire", "Daire"),
                         webGrid.Column("Grup_Adi", "Geçiş Grubu")))

                        }
                        else
                        {
                            <div class="alert alert-info alert-message">
                                <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                            </div>
                        }

                    </div>




                </div>
            </div>
        }
    </div>
</div>
@*Aktif Kullanıcı Listesi*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-muted">Kullanıcı Arama</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <table id="myTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                    <thead>
                        <tr>
                            <td>Kayıt No</td>
                            <td>ID</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Şirket</td>
                            <td>Departman</td>
                            <td>Blok</td>
                            <td>Plaka</td>
                            <td>Geçiş Grubu</td>
                            <td>Ziyaretçi Grubu</td>
                        </tr>
                    </thead>
                    <tbody id="zyrt">
                        @foreach (var item in Model.Kullanıcı)
                        {
                            <tr>
                                <td data-kayitno="@item.Kayit_No" data-visitor="@(item.Adi+" "+item.Soyadi )">@item.Kayit_No</td>
                                <td>@item.ID</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.Sirket</td>
                                <td>@item.Departman</td>
                                <td>@item.Blok</td>
                                <td>@item.Plaka</td>
                                <td>@item.Gecis_Grubu</td>
                                <td>@item.Ziyaretci_Grubu</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="temizle" class="btn btn-success"><i class="fas fa-trash-alt"></i> Seçimi İptal Et</button>
                <button type="button" id="close" class="btn btn-secondary " data-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#Departman").chosen().change(function () {
            var departmanNo = $(this).val();
            if (departmanNo == 0 || departmanNo == null) {
                $("#AltDepartman").empty();
                $("#Bolum").empty();
                $("#Birim_No").empty();
                $("#AltDepartman").append('<option > Alt Departman Seçiniz... </option>');
                $("#Bolum").append('<option > Bölüm Seçiniz... </option>');
                $("#Birim_No").append('<option > Birim Seçiniz... </option>');
            } else {
                $.ajax({
                    url: '/GelenGelmeyenReport/AltDepartmanListesi?Departman=' + departmanNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#AltDepartman").empty();
                    $("#AltDepartman").append('<option > Alt Departman Seçiniz... </option>');
                    $.each(data, function (index, row) {
                        $("#AltDepartman").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });
                    var altdepartmanNo = $("#AltDepartman").val();
                    $.ajax({
                        url: '/GelenGelmeyenReport/BolumListesi?AltDepartman=' + altdepartmanNo,
                        type: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $("#Bolum").empty();
                        $.each(data, function (index, row) {
                            $("#Bolum").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                        });
                        var bolumNo = $("#Bolum").val();
                        $.ajax({
                            url: '/GelenGelmeyenReport/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                            type: 'GET',
                            dataType: 'json'
                        }).done(function (data) {
                            $("#Birim_No").empty();
                            $.each(data, function (index, row) {
                                $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                            });
                        });
                    });

                });
            }
        });
        $("#AltDepartman").chosen().change(function () {
            var altdepartmanNo = $(this).val();
            $.ajax({
                url: '/GelenGelmeyenReport/BolumListesi?AltDepartman=' + altdepartmanNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Bolum").empty();
                $.each(data, function (index, row) {
                    $("#Bolum").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
                var bolumNo = $("#Bolum").val();
                $.ajax({
                    url: '/GelenGelmeyenReport/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Birim_No").empty();
                    $.each(data, function (index, row) {
                        $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });
                });




            });
        })
        $("#Bolum").chosen().change(function () {
            var bolumNo = $(this).val();
            var altdepartmanNo = $("#AltDepartman").val();
            $.ajax({
                url: '/GelenGelmeyenReport/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Birim_No").empty();
                $.each(data, function (index, row) {
                    $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
            });
        })
    });

    $(function () {
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            frameDoc.document.write('<html>');
            frameDoc.document.write('<head>');
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            frameDoc.document.write('<style>');
            frameDoc.document.write('table{ border-collapse: collapse; width: 100%;}')
            frameDoc.document.write('table th, td { text-align: center; padding: 8px;} body{padding:10px;}');
            frameDoc.document.write('tr:nth-child(even) {background-color: #f2f2f2;}');
            frameDoc.document.write('table tr > *:nth-child(1){ display: none; }');
            frameDoc.document.write('table tr > *:nth-child(6){ display: none; }');
            frameDoc.document.write('table tr > *:nth-child(12){ display: none; }');
            // frameDoc.document.write('table tr > *:nth-child(15){ display: none; }');
            frameDoc.document.write('table tfoot > *:nth-child(2){ display: none; }');
            frameDoc.document.write('table, th, td {  border: 1px solid black; text-align:center; border-collapse: collapse;}');
            frameDoc.document.write('thead tr th a { color: black; text-decoration: none; }thead tr th a:hover { color: black; }thead tr th a:visited { color: black; }thead tr th a:active { color: black; }');
            frameDoc.document.write('</style>');
            frameDoc.document.write('</head>');
            frameDoc.document.write('<body>');
            frameDoc.document.write('<h5>Tarih ' + new Date().toLocaleDateString() + '</h5>');
            frameDoc.document.write('<h5>Gelen Kişi Raporu (' + '@TempData["DateAndTimeView"]' + ')</h5>');
            frameDoc.document.write(contents);
            frameDoc.document.write('</body>');
            frameDoc.document.write('</html>');
            frameDoc.document.close();
            setTimeout(function () {

                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
        $("#TümDepartman").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Departmanlar").attr("disabled", true);
            } else {
                $("#Departmanlar").attr("disabled", false);
            }
        });
        $("#TümSirket").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Sirketler").attr("disabled", true);
            } else {
                $("#Sirketler").attr("disabled", false);
            }
        });
        $("#TümGlobal").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Global_Bolge_Adi").attr("disabled", true);
            } else {
                $("#Global_Bolge_Adi").attr("disabled", false);
            }
        });
        $("#TümGecis").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Groupsdetail").attr("disabled", true);
            } else {
                $("#Groupsdetail").attr("disabled", false);
            }
        });
        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');
    });
</script>
@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                }
            });
        });
    </script>


}
<script>
    $(document).ready(function () {
        $("#myTable tbody tr").click(function () {
            var kayitNo = $(this).children("td").data("kayitno");
            var name = $(this).children("td").data("visitor");
            $("#Ziyaretci").attr('value', name);
            $("#UserKayitNo").attr('value', kayitNo);
            var selected = $(this).hasClass("table-success");
            $("#myTable tbody tr").removeClass("table-success");
            if (!selected)
                $(this).addClass("table-success");
        });

        $("#TümKullanici").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Ziyaretci").attr("disabled", true);
                $("#UserKayitNo").attr("value", null);
                $("#Ziyaretci").attr("value", null);
            } else {
                $("#Ziyaretci").attr("disabled", false);
            }
        });
        $("#temizle").click(function () {
            $("#UserKayitNo").attr("value", null);
            $("#Ziyaretci").attr("value", null);
            $("#alert").text("");
        });
        $("#Ziyaretci").focus(function () {
            $("#exampleModal").modal("show");
            $("#myTable tbody tr").click(function () {
                var kayitNo = $(this).children("td").data("kayitno");
                var name = $(this).children("td").data("visitor");
                $("#Ziyaretci").attr('value', name);
                $("#UserKayitNo").attr('value', kayitNo);
            });
        });

        var today = new Date();
        $('#Tarih1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
        $('#Tarih2').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
        $("#ikiTarih").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Tarih2").attr("disabled", false);
            } else {
                $("#Tarih2").attr("disabled", true);
            }

        });
        $("#ikiSaat").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Saat1").attr("disabled", false);
                $("#Saat2").attr("disabled", false);
            } else {
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            }
        });



    });
</script>