@model ForaTeknoloji.PresentationLayer.Models.GelenGelmeyen_GelmeyenlerListViewModel
@{
    ViewBag.Title = "Gelmeyen Kişi Raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.Gelmeyenler, rowsPerPage: 20);
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 shadow-lg mt-2 animated fadeIn">
    <div class="card-header py-1">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-muted text-center">Gelmeyen Kişi Raporları</h3>
            </div>
            <div class="col-md-12 text-right">
                <a data-toggle="modal" data-target="#GelmeyenReportTime"><i class="fas fa-cogs fa-2x text-secondary"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Gelmeyenler", "GelenGelmeyenReport", FormMethod.Get))
        {

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Ünvan</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Unvan, Model.Unvan, "Ünvan Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control">
                            <label for="exampleFormControlInput1">Tarih</label>
                            <input class="form-control form-control-sm" name="Baslangic_Tarihi" type="date" value="2019-08-13" id="Tarih">
                        </div>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Global Kapı Bölgeleri</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Global_Kapi_Bolgesi, Model.Global_Kapi_Bolgesi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label>Geçiş Grupları</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Gecis_Grubu, Model.Gecis_Grubu, "Geçiş Grubu Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        </div>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Departmanlar</label>
                        @Html.DropDownListFor(model => model.Departman, Model.Departman, "Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        @Html.ValidationMessageFor(model => model.Departman, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Alt Departmanlar</label>
                        @Html.DropDownListFor(model => model.AltDepartman, new SelectList(""), "Alt Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Şirketler</label>
                        @Html.DropDownListFor(model => model.Sirket, Model.Sirket, "Şirket Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        @Html.ValidationMessageFor(model => model.Sirket, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Bölümler</label>
                        @Html.DropDownListFor(model => model.Bolum, new SelectList(""), "Bölüm Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                </div>
                <div class="col-md-12 text-right float-right">
                    <h4 class="text-info text-right">@Model.Gelmeyenler.Count Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("GelmeyenlerExcell","GelenGelmeyenReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                </div>

                <div class="col-md-12">

                    <div id="print_div" class="mt-4">

                        @if (Model.Gelmeyenler.Count > 0)
                        {
                            @webGrid.GetHtml(
                   htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
                   footerStyle: "table-pager",
                   columns: webGrid.Columns(
                       webGrid.Column("ID", "ID"),
                       webGrid.Column("Kart_ID", "Kart ID"),
                       webGrid.Column("Adi", "Adı"),
                       webGrid.Column("Soyadi", "Soyadı"),
                       webGrid.Column("TCKimlik", "TC Kimlik"),
                       webGrid.Column("SirketAdi", "Şirket"),
                       webGrid.Column("DepartmanAdi", "Departman"),
                       webGrid.Column("AltDepartmanAdi", "Alt Departman"),
                       webGrid.Column("BolumAdi", "Bölüm"),
                       webGrid.Column("Plaka", "Plaka"),
                       webGrid.Column("BlokAdi", "Blok"),
                       webGrid.Column("Daire", "Daire"),
                       webGrid.Column("Grup_Adi", "Geçiş Grubu")))
                        }
                        else
                        {
                            <div class="alert alert-info alert-message">
                                <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                            </div>

                        }


                    </div>




                </div>
            </div>
        }
    </div>
</div>
<!--Gelmeyen Saat Ayarları Modal -->
<div class="modal fade" id="GelmeyenReportTime" tabindex="-1" role="dialog" aria-labelledby="GelmeyenlerReportTime" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            @using (Html.BeginForm("ReportTime", "GelenGelmeyenReport", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Gelmeyenler Rapor Saati</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ReportTime">Gelmeyenler Rapor Saati</label>
                                <input class="form-control form-control-sm" name="Report_Time" type="time" value="@Model.Saat.Value.ToLongTimeString()" id="ReportTime">
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("ReportByHour", Model.ReportByHour ?? false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="ReportByHour">Saate Göre Raporla</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary btn-sm">Değişikliği Kaydet</button>
                </div>
            }
        </div>

    </div>
</div>







<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#Departman").chosen().change(function () {
            var departmanNo = $(this).val();
            if (departmanNo == 0 || departmanNo == null) {
                $("#AltDepartman").empty();
                $("#Bolum").empty();
                $("#AltDepartman").append('<option  > Alt Departman Seçiniz... </option>');
                $("#Bolum").append('<option  > Bölüm Seçiniz... </option>');
            } else {
                $.ajax({
                    url: '/GelenGelmeyenReport/AltDepartmanListesi?Departman=' + departmanNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#AltDepartman").empty();
                    $("#AltDepartman").append('<option  > Alt Departman Seçiniz... </option>');
                    $.each(data, function (index, row) {
                        $("#AltDepartman").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });

                    var altdepartmanNo = $("#AltDepartman").val();
                    $.ajax({
                        url: '/GelenGelmeyenReport/BolumListesi?AltDepartman=' + altdepartmanNo,
                        type: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $("#Bolum").empty();
                        $.each(data, function (index, row) {
                            $("#Bolum").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                        });
                    });

                });
            }


        });
        $("#AltDepartman").chosen().change(function () {
            var altdepartmanNo = $(this).val();
            $.ajax({
                url: '/GelenGelmeyenReport/BolumListesi?AltDepartman=' + altdepartmanNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Bolum").empty();
                $.each(data, function (index, row) {
                    $("#Bolum").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
            });

        })

    });
    $(function () {
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>Gelmeyen Kişi Raporları</title>');
            frameDoc.document.write('</head><body><hr />');
            frameDoc.document.write('<h3>Gelmeyen Kişi Raporları</h3><hr />');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {

                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
        $("#TümDepartman").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Departmanlar").attr("disabled", true);
            } else {
                $("#Departmanlar").attr("disabled", false);
            }
        });
        $("#TümSirket").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Sirketler").attr("disabled", true);
            } else {
                $("#Sirketler").attr("disabled", false);
            }
        });
        $("#TümGlobal").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Global_Bolge_Adi").attr("disabled", true);
            } else {
                $("#Global_Bolge_Adi").attr("disabled", false);
            }
        });
        $("#TümGecis").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Groupsdetail").attr("disabled", true);
            } else {
                $("#Groupsdetail").attr("disabled", false);
            }
        });
        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');
    });
    var today = new Date();
    $('#Tarih').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
</script>