@using ForaTeknoloji.Entities.ComplexType
@model ForaTeknoloji.PresentationLayer.Models.OperatorLogListViewModel
@{
    ViewBag.Title = "Operator Log Raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.OperatorLogList, rowsPerPage: 20);
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 mt-2 shadow-lg animated fadeIn">
    <div class="card-header py-1">
        <h3 class="card-title"><i class="fas fa-bookmark"></i> Operator Log Listesi</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "OperatorLogReport", FormMethod.Get))
        {
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-denger" })
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Kullanici_Adi">Kullanıcı Seçimi</label>
                        @Html.DropDownListFor(model => model.Kullanici_Adi, Model.Kullanici_Adi, "Kullanıcı Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        @Html.ValidationMessageFor(model => model.Kullanici_Adi, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="Code_Operation">Operasyon Seçimi</label>
                        @Html.DropDownListFor(model => model.Code_Operation, Model.Code_Operation, "Operasyon Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        @Html.ValidationMessageFor(model => model.Code_Operation, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="Tum_Tarih" class="custom-control-input" id="TümTarih" />
                            <label class="custom-control-label" for="TümTarih">Tüm Tarihler</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="ikiTarih" class="custom-control-input" id="ikiTarih" />
                            <label class="custom-control-label" for="ikiTarih">İki Tarih Arası</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Başlangıç</label>
                            <input class="form-control form-control-sm" name="Baslangic_Tarihi" type="date" value="2019-08-13" id="Tarih1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Bitiş</label>
                            <input class="form-control form-control-sm" name="Bitis_Tarihi" disabled type="date" value="" id="Tarih2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="ikiSaat" class="custom-control-input" id="ikiSaat" />
                            <label class="custom-control-label" for="ikiSaat">İki Saat Arası</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-sm" name="Baslangic_Saati" type="time" disabled value="@DateTime.Now.ToShortTimeString()" id="Saat1">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-sm" name="Bitis_Saati" type="time" disabled value="@DateTime.Now.ToShortTimeString()" id="Saat2">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h4 class="text-info text-right">@Model.OperatorLogList.Count Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("OperatorLogListesi", "OperatorLogReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12">
                <hr />
                @*<div id="print_div">
                    @if (Model.OperatorLogList.Count > 0)
                    {
                        @webGrid.GetHtml(
                                  htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
                                  footerStyle: "table-pager",
                                  columns: webGrid.Columns(
                                      webGrid.Column("Kayit_No", "Kayit No"),
                                      webGrid.Column("Panel_ID", "Panel ID"),
                                      webGrid.Column("Kapi_Adi", "Kapı Adı"),
                                      webGrid.Column("Gecis_Tipi", "Geçiş Tipi"),
                                      webGrid.Column("Operasyon", "Operasyon"),
                                      webGrid.Column("Tarih", "Tarih"),
                                      webGrid.Column("Kullanici_Adi", "Kullanıcı Adı"),
                                      webGrid.Column("Islem_Verisi_1", "İşlem Verisi 1"),
                                      webGrid.Column("Islem_Verisi_2", "İşlem Verisi 2")))

                    }
                    else
                    {
                        <div class="alert alert-info alert-message ">
                            <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                        </div>
                    }

                </div>*@

                <div id="print_div">
                    <table id="mainTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                        <thead>
                            <tr>
                                <td>Kayit No</td>
                                <td>Panel ID</td>
                                <td>Kapı Adı</td>
                                <td>Geçiş Tipi</td>
                                <td>Operasyon</td>
                                <td>Tarih</td>
                                <td>Kullanıcı Adı</td>
                                <td>İşlem Verisi 1</td>
                                <td>İşlem Verisi 2</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OperatorLogList)
                            {
                                <tr>
                                    <td>@item.Kayit_No</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Kapi_Adi</td>
                                    <td>@item.Gecis_Tipi</td>
                                    <td>@item.Operasyon</td>
                                    <td>@item.Tarih</td>
                                    <td>@item.Kullanici_Adi</td>
                                    <td>@item.Islem_Verisi_1</td>
                                    <td>@item.Islem_Verisi_2</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        var today = new Date();
        $('#Tarih1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
        $('#Tarih2').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));


        $("#TümTarih").change(function () {
            if ($(this).prop("checked") == true) {
                $("#ikiTarih").attr("disabled", true);
                $("#ikiSaat").attr("disabled", true);
                $("#Tarih1").attr("disabled", true);
                $("#Tarih2").attr("disabled", true);
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            } else {
                $("#ikiTarih").attr("disabled", false);
                $("#ikiSaat").attr("disabled", false);
                $("#Tarih1").attr("disabled", false);
            }

        });

        $("#ikiTarih").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Tarih2").attr("disabled", false);
            } else {
                $("#Tarih2").attr("disabled", true);
            }

        });

        $("#ikiSaat").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Saat1").attr("disabled", false);
                $("#Saat2").attr("disabled", false);
            } else {
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            }

        });
    });
    $(function () {
        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            frameDoc.document.write('<html>');
            frameDoc.document.write('<head>');
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            frameDoc.document.write('<style>');
            frameDoc.document.write('table{ border-collapse: collapse; width: 100%;}')
            frameDoc.document.write('table th, td { text-align: center; padding: 8px;} body{padding:10px;}');
            frameDoc.document.write('tr:nth-child(even) {background-color: #f2f2f2;}');
            frameDoc.document.write('table tr > *:nth-child(1){ display: none; }');
            //frameDoc.document.write('table tr > *:nth-child(6){ display: none; }');
            //frameDoc.document.write('table tr > *:nth-child(12){ display: none; }');
            //frameDoc.document.write('table tr > *:nth-child(14){ display: none; }');
            frameDoc.document.write('table tfoot > *:nth-child(2){ display: none; }');
            frameDoc.document.write('table, th, td {  border: 1px solid black; text-align:center; border-collapse: collapse;}');
            frameDoc.document.write('thead tr th a { color: black; text-decoration: none; }thead tr th a:hover { color: black; }thead tr th a:visited { color: black; }thead tr th a:active { color: black; }');
            frameDoc.document.write('</style>');
            frameDoc.document.write('</head>');
            frameDoc.document.write('<body>');
            frameDoc.document.write('<h5>Tarih ' + new Date().toLocaleDateString() + '</h5>');
            frameDoc.document.write('<h5>Operatör Log Raporları (' + '@TempData["DateAndTimeView"]' + ')</h5><hr/>');
            frameDoc.document.write(contents);
            frameDoc.document.getElementById('mainTable_filter').style.display = "none";
            frameDoc.document.getElementById('mainTable_length').style.display = "none";
            frameDoc.document.getElementById('mainTable_paginate').style.display = "none";
            frameDoc.document.write('</body>');
            frameDoc.document.write('</html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
    });

</script>
@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#mainTable").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                },
                "bPaginate": true,
                "bInfo": false,
                "bFilter": true,
                "lengthMenu": [
                    [10, 25, 50, 100, -1],
                    ['10', '25', '50', '100', 'Hepsi']
                ],
            });

        });
    </script>
}