@using ForaTeknoloji.Common
@model ForaTeknoloji.PresentationLayer.Models.ReaderEditViewModel
@{
    ViewBag.Title = "Okuyucular";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
}

<div class="row">
    @Html.HiddenFor(model => model.Panel_ID)
    <div class="col-md-4 mx-lg-4 my-lg-4 animated fadeIn faster">
        @Html.Partial("_PartialPanelSettingsList", Model.Paneller)
    </div>

    <div class="col-md-6 offset-1  mx-lg-4 my-lg-4 animated fadeIn faster">
        <div class="card border-bottom-info h-100 shadow-lg ml-5">
            <div class="card-header py-1">
                <h3 class="card-title"><i class="fas fa-bookmark"></i> Kapı Listesi</h3>
            </div>
            <div class="card-body">
                <table class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Aktif</td>
                            <td>Adı</td>
                            <td>Kapı Ayarları</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.PanelModel == (int)PanelModel.Panel_1010)
                        {
                            for (int i = 0; i < 1; i++)
                            {
                                <tr>
                                    <td>@Model.Okuyucular[i].WKapi_ID</td>
                                    @if (Model.Okuyucular[i].WKapi_Aktif == true)
                                    {
                                        <td><b><i class="text-success">Evet</i></b></td>
                                        <td><b><i class="text-success">@Model.Okuyucular[i].WKapi_Adi.Trim()</i></b></td>
                                        <td>
                                            <a title="Edit" id="edit" href="@Url.Action("ReaderEditMS","Panel",new { Wid=Model.Okuyucular[i].WKapi_ID,MSPanelID=Model.Panel_ID})"><i class="fas fa-edit text-info mr-2"></i></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-danger"><span class="text-danger">Hayır</span></td>
                                        <td class="text-danger"><span class="text-danger">@Model.Okuyucular[i].WKapi_Adi.Trim()</span></td>
                                        <td>
                                            <a title="Edit" id="edit" href="@Url.Action("ReaderEditMS","Panel",new { Wid=Model.Okuyucular[i].WKapi_ID,MSPanelID=Model.Panel_ID})"><i class="fas fa-edit text-info mr-2"></i></a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {

                            foreach (var item in Model.Okuyucular)
                            {

                                <tr>
                                    <td>@item.WKapi_ID</td>
                                    @if (item.WKapi_Aktif == true)
                                    {
                                        <td><b><i class="text-success">Evet</i></b></td>
                                        <td><b><i class="text-success">@item.WKapi_Adi.Trim()</i></b></td>
                                        <td>
                                            <a title="Edit" id="edit" href="@Url.Action("ReaderEdit","Panel",new { id=item.WKapi_ID,PanelID=Model.Panel_ID})"><i class="fas fa-edit text-info mr-2"></i></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-danger"><span class="text-danger">Hayır</span> </td>
                                        <td class="text-danger"><span class="text-danger">@item.WKapi_Adi.Trim()</span></td>
                                        <td>
                                            <a title="Edit" id="edit" href="@Url.Action("ReaderEdit","Panel",new { id=item.WKapi_ID,PanelID=Model.Panel_ID})"><i class="fas fa-edit text-info mr-2"></i></a>
                                        </td>
                                    }
                                </tr>

                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right">
                                <hr />
                                <a title="Panel Durum Tablosu" href="@Url.Action("TaskTable","Task")" class=" btn btn-sm btn-outline-secondary"><i class="fas fa-tasks"></i> Panel Durum Tablosu</a>
                                <a title="Tüm Kapıları Aktifleştir" href="@Url.Action("AllReaderActive","Panel",new {PanelID=Model.Panel_ID })" class=" btn btn-sm btn-outline-warning"><i class="fas fa-check"></i> Tümünü Aktifleştir</a>
                                <a title="Değişiklikleri Panele Gönder" href="@Url.Action("SendToPanel","Panel",new {Panel=Model.Panel_ID })" class="btn btn-sm btn-outline-info"><i class="fas fa-paper-plane"></i> Ayarları Gönder</a>
                                <a title="Panelden Ayarları Al" href="@Url.Action("ReceiveFromPanel","Panel",new {PanelID=Model.Panel_ID })" class="btn btn-sm btn-outline-info"><i class="fas fa-recycle"></i> Ayarları Al</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var currentPanel = $("#Panel_ID").val();
        $("#" + currentPanel).toggleClass("active");
    });
</script>