@*@model ForaTeknoloji.Entities.Entities.ReaderSettingsNewMS*@
@model ForaTeknoloji.PresentationLayer.Models.ReaderEditMS1010ViewModel
@{
    ViewBag.Title = "ReaderEditMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card border-left-info h-100 shadow-lg mx-lg-5 my-lg-5">
            <div class="card-header py-1 mt-1">
                <h3 class="m-0 font-weight-bold text-secondary text-center">Seçilen Kapı Ayarları(MS-1010)</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("ReaderEditMS", "Panel", FormMethod.Post))
                {
                    @Html.Hidden("Kayit_No", Model.ReaderSettingsNewMSEntity.Kayit_No)
                    @Html.Hidden("Seri_No", Model.ReaderSettingsNewMSEntity.Seri_No)
                    @Html.Hidden("Sira_No", Model.ReaderSettingsNewMSEntity.Sira_No)
                    @Html.Hidden("Panel_ID", Model.ReaderSettingsNewMSEntity.Panel_ID)
                    @Html.Hidden("Panel_Name", Model.ReaderSettingsNewMSEntity.Panel_Name)
                    @Html.Hidden("WKapi_ID", Model.ReaderSettingsNewMSEntity.WKapi_ID)
                    <div class="row">

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Yeni Cihaz No</label>
                                        @Html.TextBox("New_Device_ID", Model.ReaderSettingsNewMSEntity.New_Device_ID, new { @class = "form-control form-control-sm col-md-4" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Cihaz Kapı Adı</label>
                                        @Html.TextBox("WKapi_Adi", Model.ReaderSettingsEntity.WKapi_Adi, new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                            </div>






                            <div class="row">
                                <div class="col-md-6">
                                    <br />
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBox("WKapi_Keypad_Status", Model.ReaderSettingsNewMSEntity.WKapi_Keypad_Status ?? false, new { @class = "custom-control-input" })
                                        <label class="custom-control-label" for="WKapi_Keypad_Status">Tuş Takımı İle Ayar</label>
                                    </div>
                                    <br />
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBox("WKapi_Aktif", Model.ReaderSettingsEntity.WKapi_Aktif ?? false, new { @class = "custom-control-input" })
                                        <label class="custom-control-label" for="WKapi_Aktif">Kapı Aktif</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Menü Şifresi</label>
                                        @Html.TextBoxFor(model => model.ReaderSettingsNewMSEntity.WKapi_Keypad_Menu_Password, new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                            </div>


                            <br />
                            <div class="row ml-1">
                                @if (Model.ReaderSettingsNewMSEntity.WKapi_Kapi_Tipi == 1)
                                {
                                    <label>Kapı Geçiş Tipi:&nbsp;</label>
                                    <div class="form-group col-md-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="WKapi_Kapi_Tipi_Giris" name="WKapi_Kapi_Tipi" value="1" checked />
                                            <label class="custom-control-label" for="WKapi_Kapi_Tipi_Giris">Giriş</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="WKapi_Kapi_Tipi_Cikis" name="WKapi_Kapi_Tipi" value="2" />
                                            <label class="custom-control-label" for="WKapi_Kapi_Tipi_Cikis">Çıkış</label>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <label>Kapı Geçiş Tipi:&nbsp;</label>
                                    <div class="form-group col-md-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="WKapi_Kapi_Tipi_Giris" name="WKapi_Kapi_Tipi" value="1" />
                                            <label class="custom-control-label" for="WKapi_Kapi_Tipi_Giris">Giriş</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="WKapi_Kapi_Tipi_Cikis" name="WKapi_Kapi_Tipi" value="2" checked />
                                            <label class="custom-control-label" for="WKapi_Kapi_Tipi_Cikis">Çıkış</label>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="row ml-1">
                                @if (Model.ReaderSettingsNewMSEntity.WKapi_Kapi_Kontrol_Modu == 0)
                                {
                                    <label>Kullanıcı Modu:&nbsp;</label>
                                    <div class="form-group col-md-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" value="0" class="custom-control-input" id="WKapi_Kapi_Kontrol_Modu_Tanimli" checked name="WKapi_Kapi_Kontrol_Modu">
                                            <label class="custom-control-label" for="WKapi_Kapi_Kontrol_Modu_Tanimli">Tanımlı Kartlar</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" value="1" class="custom-control-input" id="WKapi_Kapi_Kontrol_Modu_Tum" name="WKapi_Kapi_Kontrol_Modu">
                                            <label class="custom-control-label" for="WKapi_Kapi_Kontrol_Modu_Tum">Tüm Kartlar</label>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <label>Kullanıcı Modu:&nbsp;</label>
                                    <div class="form-group col-md-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" value="0" class="custom-control-input" id="WKapi_Kapi_Kontrol_Modu_Tanimli" name="WKapi_Kapi_Kontrol_Modu">
                                            <label class="custom-control-label" for="WKapi_Kapi_Kontrol_Modu_Tanimli">Tanımlı Kartlar</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" value="1" class="custom-control-input" id="WKapi_Kapi_Kontrol_Modu_Tum" checked name="WKapi_Kapi_Kontrol_Modu">
                                            <label class="custom-control-label" for="WKapi_Kapi_Kontrol_Modu_Tum">Tüm Kartlar</label>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row ml-1">

                                @if (Model.ReaderSettingsNewMSEntity.WKapi_Kapi_Gecis_Modu == 0)
                                {
                                    <label>Geçiş Modu:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="form-group col-md-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" value="0" class="custom-control-input" id="WKapi_Kapi_Gecis_Modu_Kart_Sifre" checked name="WKapi_Kapi_Gecis_Modu">
                                            <label class="custom-control-label" for="WKapi_Kapi_Gecis_Modu_Kart_Sifre">Kart ve Şifre</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" value="1" class="custom-control-input" id="WKapi_Kapi_Gecis_Modu_KartveyaSifre" name="WKapi_Kapi_Gecis_Modu">
                                            <label class="custom-control-label" for="WKapi_Kapi_Gecis_Modu_KartveyaSifre">Kart veya Şifre</label>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <label>Geçiş Modu:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="form-group col-md-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" value="0" class="custom-control-input" id="WKapi_Kapi_Gecis_Modu_Kart_Sifre" name="WKapi_Kapi_Gecis_Modu">
                                            <label class="custom-control-label" for="WKapi_Kapi_Gecis_Modu_Kart_Sifre">Kart ve Şifre</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" value="1" class="custom-control-input" id="WKapi_Kapi_Gecis_Modu_KartveyaSifre" checked name="WKapi_Kapi_Gecis_Modu">
                                            <label class="custom-control-label" for="WKapi_Kapi_Gecis_Modu_KartveyaSifre">Kart veya Şifre</label>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-4">


                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Access_Counter_Kontrol", Model.ReaderSettingsNewMSEntity.Access_Counter_Kontrol ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Access_Counter_Kontrol">Geçiş Sayısı Kontrolü İptal</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("UDP_Haberlesme", Model.ReaderSettingsNewMSEntity.UDP_Haberlesme ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="UDP_Haberlesme">UDP Global Güncelleme</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Pass_Counter_Auto_Delete_Cancel", Model.ReaderSettingsNewMSEntity.Pass_Counter_Auto_Delete_Cancel ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Pass_Counter_Auto_Delete_Cancel">Geçiş Sayaç Sıfırlama İptal</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Multiple_Clock_Mode_Counter_Usage", Model.ReaderSettingsNewMSEntity.Multiple_Clock_Mode_Counter_Usage ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Multiple_Clock_Mode_Counter_Usage">Tek Geçiş Sayacı Kullan</label>
                            </div>


                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Kart_ID_32_Bit_Clear", Model.ReaderSettingsNewMSEntity.Kart_ID_32_Bit_Clear ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Kart_ID_32_Bit_Clear">Kart ID 32.Bit Sıfırla</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Turnstile_Arm_Tracking", Model.ReaderSettingsNewMSEntity.Turnstile_Arm_Tracking ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Turnstile_Arm_Tracking">Turnike Kolu İzleme</label>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBox("RS485_Reader_Status", Model.ReaderSettingsNewMSEntity.RS485_Reader_Status ?? false, new { @class = "custom-control-input" })
                                        <label class="custom-control-label" for="RS485_Reader_Status">İkinci Okuyucu(RS485)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @if (Model.ReaderSettingsNewMSEntity.RS485_Reader_Type == 0)
                                    {
                                        <label>İkinci Okuyucu Tipi(RS485) Tipi&nbsp;</label>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="0" class="custom-control-input" id="RS485_Reader_Type_MW310" checked name="RS485_Reader_Type">
                                                <label class="custom-control-label" for="RS485_Reader_Type_MW310">MW-310/340</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="1" class="custom-control-input" id="RS485_Reader_Type_MW157" name="RS485_Reader_Type">
                                                <label class="custom-control-label" for="RS485_Reader_Type_MW157">MW-157</label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <label>İkinci Okuyucu Tipi(RS485) Tipi&nbsp;</label>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="0" class="custom-control-input" id="RS485_Reader_Type_MW310" name="RS485_Reader_Type">
                                                <label class="custom-control-label" for="RS485_Reader_Type_MW310">MW-310/340</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="1" class="custom-control-input" id="RS485_Reader_Type_MW157" checked name="RS485_Reader_Type">
                                                <label class="custom-control-label" for="RS485_Reader_Type_MW157">MW-157</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBox("Wiegand_Reader_Status", Model.ReaderSettingsNewMSEntity.Wiegand_Reader_Status ?? false, new { @class = "custom-control-input" })
                                        <label class="custom-control-label" for="Wiegand_Reader_Status">İkinci Okuyucu(Wiegand)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @if (Model.ReaderSettingsNewMSEntity.Wiegand_Reader_Type == 0)
                                    {
                                        <label>İkinci Okuyucu Tipi(Wiegand)&nbsp;</label>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="0" class="custom-control-input" id="Wiegand_Reader_Type_26" checked name="Wiegand_Reader_Type">
                                                <label class="custom-control-label" for="Wiegand_Reader_Type_26">26-Bit</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="1" class="custom-control-input" id="Wiegand_Reader_Type_34" name="Wiegand_Reader_Type">
                                                <label class="custom-control-label" for="Wiegand_Reader_Type_34">34-Bit</label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <label>İkinci Okuyucu Tipi(Wiegand)&nbsp;</label>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="0" class="custom-control-input" id="Wiegand_Reader_Type_26" name="Wiegand_Reader_Type">
                                                <label class="custom-control-label" for="Wiegand_Reader_Type_26">26-Bit</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="1" class="custom-control-input" id="Wiegand_Reader_Type_34" checked name="Wiegand_Reader_Type">
                                                <label class="custom-control-label" for="Wiegand_Reader_Type_34">34-Bit</label>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBox("Mifare_Reader_Status", Model.ReaderSettingsNewMSEntity.Mifare_Reader_Status ?? false, new { @class = "custom-control-input" })
                                        <label class="custom-control-label" for="Mifare_Reader_Status">Dahili Mifare Okuyucu</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @if (Model.ReaderSettingsNewMSEntity.Mifare_Kart_Data_Type == 0)
                                    {
                                        <label>Dahili Mifare Okuyucu Tipi&nbsp;</label>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="0" class="custom-control-input" id="Mifare_Kart_Data_Type_S4" name="Mifare_Kart_Data_Type" checked>
                                                <label class="custom-control-label" for="Mifare_Kart_Data_Type_S4">Standart 4 Byte UID</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="1" class="custom-control-input" id="Mifare_Kart_Data_Type_I4" name="Mifare_Kart_Data_Type">
                                                <label class="custom-control-label" for="Mifare_Kart_Data_Type_I4">Inverted 4 Byte UID</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="2" class="custom-control-input" id="Mifare_Kart_Data_Type_S7" name="Mifare_Kart_Data_Type">
                                                <label class="custom-control-label" for="Mifare_Kart_Data_Type_S7">Standart 7 Byte UID</label>
                                            </div>
                                        </div>
                                    }
                                    else if (Model.ReaderSettingsNewMSEntity.Mifare_Kart_Data_Type == 1)
                                    {
                                        <label>Dahili Mifare Okuyucu Tipi&nbsp;</label>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="0" class="custom-control-input" id="Mifare_Kart_Data_Type_S4" name="Mifare_Kart_Data_Type">
                                                <label class="custom-control-label" for="Mifare_Kart_Data_Type_S4">Standart 4 Byte UID</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="1" class="custom-control-input" id="Mifare_Kart_Data_Type_I4" checked name="Mifare_Kart_Data_Type">
                                                <label class="custom-control-label" for="Mifare_Kart_Data_Type_I4">Inverted 4 Byte UID</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="2" class="custom-control-input" id="Mifare_Kart_Data_Type_S7" name="Mifare_Kart_Data_Type">
                                                <label class="custom-control-label" for="Mifare_Kart_Data_Type_S7">Standart 7 Byte UID</label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <label>Dahili Mifare Okuyucu Tipi&nbsp;</label>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="0" class="custom-control-input" id="Mifare_Kart_Data_Type_S4" name="Mifare_Kart_Data_Type">
                                                <label class="custom-control-label" for="Mifare_Kart_Data_Type_S4">Standart 4 Byte UID</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="1" class="custom-control-input" id="Mifare_Kart_Data_Type_I4" name="Mifare_Kart_Data_Type">
                                                <label class="custom-control-label" for="Mifare_Kart_Data_Type_I4">Inverted 4 Byte UID</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="2" class="custom-control-input" id="Mifare_Kart_Data_Type_S7" checked name="Mifare_Kart_Data_Type">
                                                <label class="custom-control-label" for="Mifare_Kart_Data_Type_S7">Standart 7 Byte UID</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12"><hr /></div>
                        <div class="col-md-12 text-right">
                            <a href="@Url.Action("ReaderList","Panel",new {@PanelID=Model.ReaderSettingsNewMSEntity.Panel_ID })" class="btn btn-sm btn-outline-info"><i class="fas fa-hand-point-left"></i> Listeye Dön</a>
                            <button class="btn btn-sm btn-outline-success"><i class="fas fa-save"></i> Değişikliği Kaydet</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>



