@model ForaTeknoloji.Entities.Entities.DBUsers
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="changePasswordModalCenter" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ChangePassword", "SecuritySettings", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Adi);
                @Html.HiddenFor(x => x.Soyadi);
                @Html.HiddenFor(x => x.Alarm_Islemleri);
                @Html.HiddenFor(x => x.Canli_Izleme);
                @Html.HiddenFor(x => x.Gecis_Verileri_Rapor_Islemleri);
                @Html.HiddenFor(x => x.Grup_Islemleri);
                @Html.HiddenFor(x => x.Kullanici_Islemleri);
                @Html.HiddenFor(x => x.OtherDeviceReports);
                @Html.HiddenFor(x => x.Programli_Kapi_Islemleri);
                @Html.HiddenFor(x => x.SysAdmin);
                @Html.HiddenFor(x => x.Ziyaretci_Islemleri);
                @Html.HiddenFor(x => x.Kullanici_Adi);


                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        <input type="text" name="UserName" disabled value="@Model.Kullanici_Adi" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Eski Şifre</label>
                        <input type="text" name="OldPassword" value="@Model.Sifre" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Yeni Şifre</label>
                        <input type="password" name="Sifre" value="" class="form-control" />
                    </div>
                    <div class="col-md-12 text-right">
                        <hr />
                        <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-edit"></i> Güncelle</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#changePasswordModalCenter").modal('show')
    });

</script>