@model ForaTeknoloji.PresentationLayer.Models.SecurityCreateViewModel
@{
    ViewBag.Title = "Yeni Kullanıcı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row animated slideInLeft faster">
    <div class="col-md-12">
        <div class="card border-left-info h-100 shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 class="m-0 font-weight-bold text-secondary text-center">Güvenlik Ayarları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "SecuritySettings", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="Adi" class="col-sm-4 col-form-label">Adı</label>
                                <div class="col-sm-6">
                                    <input type="text" name="Adi" class="form-control form-control-sm" id="Adi" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Soyadi" class="col-sm-4 col-form-label">Soyadı</label>
                                <div class="col-sm-6">
                                    <input type="text" name="Soyadi" class="form-control form-control-sm" id="Soyadi" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Adi" class="col-sm-4 col-form-label">Kullanıcı Adı</label>
                                <div class="col-sm-6">
                                    <input type="text" name="Kullanici_Adi" class="form-control form-control-sm" id="Kullanici_Adi" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Sifre" class="col-sm-4 col-form-label">Şifre</label>
                                <div class="col-sm-6">
                                    <input type="text" name="Sifre" class="form-control form-control-sm" id="Sifre" value="">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Kullanıcı İşlemleri</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Kullanici_Islemleri", Model.Roller, "Yetki Tipi Seçiniz...", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Roller, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Geçiş Grup İşlemleri</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Grup_Islemleri", Model.Roller, "Yetki Tipi Seçiniz...", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Roller, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Kapı İşlemleri</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Programli_Kapi_Islemleri", Model.Roller, "Yetki Tipi Seçiniz...", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Roller, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Geçiş Verileri-Raporlar</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Gecis_Verileri_Rapor_Islemleri", Model.Roller, "Yetki Tipi Seçiniz...", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Roller, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Ziyaretçi İşlemleri</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Ziyaretci_Islemleri", Model.Roller, "Yetki Tipi Seçiniz...", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Roller, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Canlı İzleme</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Canli_Izleme", Model.Roller, "Yetki Tipi Seçiniz...", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Roller, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Alarm İşlemleri</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Alarm_Islemleri", Model.Roller, "Yetki Tipi Seçiniz...", new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.Roller, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("OtherDeviceReports", new { @class = "custom-control-input" })
                                    <label class="custom-control-label ml-2 mr-4" for="OtherDeviceReports">Diğer Cihaz Raporları</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("SysAdmin", new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="SysAdmin">Sistem Yöneticisi</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-user-plus"></i> Kullanıcıyı Ekle</button>
                        </div>
                        <div class="col-md-12"><hr /></div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5 mt-3 mb-4">
                                    <div class="card border-left-success shadow-lg h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Paneller</div>
                                                    <div id="Inside" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                                </div>
                                                <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm">
                                                    <thead class="table-success">
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                                                    <label class="custom-control-label" for="AllPanel"></label>
                                                                </div>
                                                            </td>
                                                            <td>Panel ID</td>
                                                            <td>Panel Adı</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Paneller)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" name="Paneller" id="@item.Panel_ID" value="@item.Panel_ID">
                                                                        <label class="custom-control-label" for="@item.Panel_ID"></label>
                                                                    </div>
                                                                </td>
                                                                <td>@item.Panel_ID</td>
                                                                <td>@item.Panel_Name</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-1 col-md-5 mt-3 mb-4">
                                    <div class="card border-left-danger shadow-lg h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Şirketler</div>
                                                </div>
                                                <table id="SirketTable" class="table-borderless table table-hover text-center table-striped table-sm">
                                                    <thead class="table-danger">
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="AllSirket" />
                                                                    <label class="custom-control-label" for="AllSirket"></label>
                                                                </div>
                                                            </td>
                                                            <td>Şirket No</td>
                                                            <td>Adı</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Sirketler)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" name="Sirketler" id="@("Sirket_"+item.Sirket_No)" value="@item.Sirket_No">
                                                                        <label class="custom-control-label" for="@("Sirket_"+item.Sirket_No)"></label>
                                                                    </div>
                                                                </td>
                                                                <td>@item.Sirket_No</td>
                                                                <td>@item.Adi</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 mt-3 mb-4">
                                    <div class="card border-left-warning shadow-lg h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Departmanlar</div>
                                                </div>
                                                <table id="DepartmanTable" class="table-borderless table table-hover text-center table-striped table-sm">
                                                    <thead class="table-warning">
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="AllDepartman" />
                                                                    <label class="custom-control-label" for="AllDepartman"></label>
                                                                </div>
                                                            </td>
                                                            <td>Departman No</td>
                                                            <td>Adı</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Departmanlar)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" name="Departmanlar" id="@("Departman_"+item.Departman_No)" value="@item.Departman_No">
                                                                        <label class="custom-control-label" for="@("Departman_"+item.Departman_No)"></label>
                                                                    </div>
                                                                </td>
                                                                <td>@item.Departman_No</td>
                                                                <td>@item.Adi</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-1 col-md-5 mt-3 mb-4">
                                    <div class="card border-left-secondary shadow-lg h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Bölümler</div>
                                                </div>
                                                <table id="BolumTable" class="table-borderless table table-hover text-center table-striped table-sm">
                                                    <thead class="table-secondary">
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="AllBolum" />
                                                                    <label class="custom-control-label" for="AllBolum"></label>
                                                                </div>
                                                            </td>
                                                            <td>Bölüm No</td>
                                                            <td>Adı</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Bolumler)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" name="Bolumler" id="@("Bolum_"+item.Bolum_No)" value="@item.Bolum_No">
                                                                        <label class="custom-control-label" for="@("Bolum_"+item.Bolum_No)"></label>
                                                                    </div>
                                                                </td>
                                                                <td>@item.Bolum_No</td>
                                                                <td>@item.Adi</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 mt-3 mb-4">
                                    <div class="card border-left-info shadow-lg h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Görevler</div>
                                                </div>
                                                <table id="GorevTable" class="table-borderless table table-hover text-center table-striped table-sm">
                                                    <thead class="table-info">
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="AllGorev" />
                                                                    <label class="custom-control-label" for="AllGorev"></label>
                                                                </div>
                                                            </td>
                                                            <td>Görev No</td>
                                                            <td>Adı</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Gorevler)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" name="Gorevler" id="@("Gorev_"+item.Gorev_No)" value="@item.Gorev_No">
                                                                        <label class="custom-control-label" for="@("Gorev_"+item.Gorev_No)"></label>
                                                                    </div>
                                                                </td>
                                                                <td>@item.Gorev_No</td>
                                                                <td>@item.Adi</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#AllSirket").click(function () {
            if ($(this).prop("checked") == true) {
                $("#SirketTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#SirketTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#AllDepartman").click(function () {
            if ($(this).prop("checked") == true) {
                $("#DepartmanTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#DepartmanTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#AllBolum").click(function () {
            if ($(this).prop("checked") == true) {
                $("#BolumTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#BolumTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#AllGorev").click(function () {
            if ($(this).prop("checked") == true) {
                $("#GorevTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#GorevTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
    });
</script>


