@model ForaTeknoloji.PresentationLayer.Models.EditSecurityListViewModel
@{
    ViewBag.Title = "Kullanıcı Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
}
<div class="row animated fadeIn faster">
    <div class="col-md-12">
        <div class="card border-left-info h-100 shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 class="card-title"><i class="fas fa-bookmark"></i> Güvenlik Ayarları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "SecuritySettings", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="Adi" class="col-sm-4 col-form-label">Adı</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.Kullanicilar.Adi, null, "Adi", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Adi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Soyadi" class="col-sm-4 col-form-label">Soyadı</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.Kullanicilar.Soyadi, null, "Soyadi", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Soyadi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Adi" class="col-sm-4 col-form-label">Kullanıcı Adı</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.Kullanicilar.Kullanici_Adi, null, "Kullanici_Adi", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Kullanici_Adi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Sifre" class="col-sm-4 col-form-label">Şifre</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.Kullanicilar.Sifre, null, "Sifre", new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Sifre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Email" class="col-sm-4 col-form-label">EMail</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.Kullanicilar.EMail, null, "EMail", new { htmlAttributes = new { @class = "form-control form-control-sm", type = "email" } })
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.EMail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Kullanıcı İşlemleri</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Kullanici_Islemleri", null, "Yetki Tipi Seçiniz...", new { @class = "form-control bg-translated text-light chosen-select", tabindex = "2" })@*bg-translated text-light*@
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Kullanici_Islemleri, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Geçiş Grup İşlemleri</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Grup_Islemleri", null, "Yetki Tipi Seçiniz...", new { @class = "form-control bg-translated text-light chosen-select", tabindex = "2" })@*bg-translated text-light*@
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Grup_Islemleri, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Kapı İşlemleri</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Programli_Kapi_Islemleri", null, "Yetki Tipi Seçiniz...", new { @class = "form-control bg-translated text-light chosen-select", tabindex = "2" }) @*bg-translated text-light*@
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Programli_Kapi_Islemleri, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Geçiş Verileri-Raporlar</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Gecis_Verileri_Rapor_Islemleri", null, "Yetki Tipi Seçiniz...", new { @class = "form-control bg-translated text-light chosen-select", tabindex = "2" })@*bg-translated text-light*@
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Gecis_Verileri_Rapor_Islemleri, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Ziyaretçi İşlemleri</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Ziyaretci_Islemleri", null, "Yetki Tipi Seçiniz...", new { @class = "form-control bg-translated text-light chosen-select", tabindex = "2" })@*bg-translated text-light*@
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Ziyaretci_Islemleri, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Canlı İzleme</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Canli_Izleme", null, "Yetki Tipi Seçiniz...", new { @class = "form-control bg-translated text-light chosen-select", tabindex = "2" })@*bg-translated text-light*@
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Canli_Izleme, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Kullanici_Islemleri" class="col-sm-6 col-form-label">Alarm İşlemleri</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("Alarm_Islemleri", null, "Yetki Tipi Seçiniz...", new { @class = "form-control bg-translated text-light chosen-select", tabindex = "2" })@*bg-translated text-light*@
                                    @Html.ValidationMessageFor(model => model.Kullanicilar.Alarm_Islemleri, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("OtherDeviceReports", Model.Kullanicilar.OtherDeviceReports ?? false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label ml-2 mr-4" for="OtherDeviceReports">Diğer Cihaz Raporları</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("SysAdmin", Model.Kullanicilar.SysAdmin ?? false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="SysAdmin">Sistem Yöneticisi</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-sm btn-outline-success "><i class="fas fa-id-card"></i> Kullanıcıyı Güncelle</button>
                        </div>
                        <div class="col-md-12"><hr /></div>
                        <div class="col-md-12">
                            <div class="row">

                                <div class="offset-1 col-md-5 mt-3 mb-4">
                                    <div class="card border-left-danger shadow-lg h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Şirketler</div>
                                                </div>
                                                <table id="SirketTable" class="table-borderless table table-hover text-center table-striped table-sm">
                                                    <thead class="table-danger">
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="AllSirket" />
                                                                    <label class="custom-control-label" for="AllSirket"></label>
                                                                </div>
                                                            </td>
                                                            <td>Şirket No</td>
                                                            <td>Adı</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.SirketList)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @if (Model.UserSirketList.Any(x => x.Sirket_No == item.Sirket_No))
                                                                    {
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" checked name="Sirketler" id="@("Sirket_"+item.Sirket_No)" value="@item.Sirket_No">
                                                                            <label class="custom-control-label" for="@("Sirket_"+item.Sirket_No)"></label>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" name="Sirketler" id="@("Sirket_"+item.Sirket_No)" value="@item.Sirket_No">
                                                                            <label class="custom-control-label" for="@("Sirket_"+item.Sirket_No)"></label>
                                                                        </div>
                                                                    }

                                                                </td>
                                                                <td>@item.Sirket_No</td>
                                                                <td>@item.Adi</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 mt-3 mb-4">
                                    <div class="card border-left-warning shadow-lg h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Departmanlar</div>
                                                </div>
                                                <table id="DepartmanTable" class="table-borderless table table-hover text-center table-striped table-sm">
                                                    <thead class="table-warning">
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="AllDepartman" />
                                                                    <label class="custom-control-label" for="AllDepartman"></label>
                                                                </div>
                                                            </td>
                                                            <td>Departman No</td>
                                                            <td>Adı</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.AltDepartmanListesi)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @if (Model.DBUserAltDepartman.Any(x => x.Alt_Departman_No == item.Alt_Departman_No))
                                                                    {
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" checked name="Departmanlar" id="@("Departman_"+item.Alt_Departman_No)" value="@item.Alt_Departman_No">
                                                                            <label class="custom-control-label" for="@("Departman_"+item.Alt_Departman_No)"></label>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" name="Departmanlar" id="@("Departman_"+item.Alt_Departman_No)" value="@item.Alt_Departman_No">
                                                                            <label class="custom-control-label" for="@("Departman_"+item.Alt_Departman_No)"></label>
                                                                        </div>
                                                                    }

                                                                </td>
                                                                <td>@item.Alt_Departman_No</td>
                                                                <td>@item.Adi</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-1 col-md-10 mt-3 mb-4">
                                    <div class="card border-left-success shadow-lg h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Paneller</div>
                                                </div>
                                                <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm">
                                                    <thead class="table-success">
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                                                    <label class="custom-control-label" for="AllPanel"></label>
                                                                </div>
                                                            </td>
                                                            <td>Panel ID</td>
                                                            <td>Panel Adı</td>
                                                            <td>Panel IP Adres</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.PanelList)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @if (Model.UserPanelList.Any(x => x.Panel_No == item.Panel_ID))
                                                                    {
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" checked name="Paneller" id="@item.Panel_ID" value="@item.Panel_ID">
                                                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" name="Paneller" id="@item.Panel_ID" value="@item.Panel_ID">
                                                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                                                        </div>
                                                                    }
                                                                </td>
                                                                <td>@item.Panel_ID</td>
                                                                <td>@item.Panel_Name</td>
                                                                <td>@(item.Panel_IP1 + "." + item.Panel_IP2 + "." + item.Panel_IP3 + "." + item.Panel_IP4)</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#AllSirket").click(function () {
            if ($(this).prop("checked") == true) {
                $("#SirketTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#SirketTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#AllDepartman").click(function () {
            if ($(this).prop("checked") == true) {
                $("#DepartmanTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#DepartmanTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#AllBolum").click(function () {
            if ($(this).prop("checked") == true) {
                $("#BolumTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#BolumTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#AllGorev").click(function () {
            if ($(this).prop("checked") == true) {
                $("#GorevTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#GorevTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
    });
</script>


