@model ForaTeknoloji.PresentationLayer.Models.DigerGecisRaporListViewModel
@{
    ViewBag.Title = "Diğer Geçiş Raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.DigerGecisListesi, rowsPerPage: 20);
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>

<div class="card border-left-info h-100 shadow-lg mt-1 animated fadeIn">
    <div class="card-header-tabs">
        <h3 class="text-center text-muted">Diğer Geçiş Raporları</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "OutherReport", FormMethod.Get))
        {
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="100" class="custom-control-input" id="Tümü" checked name="Kod">
                            <label class="custom-control-label" for="Tümü">Tümü</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="5" class="custom-control-input" id="OTetikleme" name="Kod">
                            <label class="custom-control-label" for="OTetikleme">Operatör Tetiklemeleri</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="6" class="custom-control-input" id="OAcma" name="Kod">
                            <label class="custom-control-label" for="OAcma">Operatör Açma</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="7" class="custom-control-input" id="OKapatma" name="Kod">
                            <label class="custom-control-label" for="OKapatma">Operatör Kapatma</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="13" class="custom-control-input" id="OSerbest" name="Kod">
                            <label class="custom-control-label" for="OSerbest">Operatör Serbest Bırakma</label>
                        </div>
                        <hr />
                        <div class="custom-control custom-radio">
                            <input type="radio" value="8" class="custom-control-input" id="BTetikleme" name="Kod">
                            <label class="custom-control-label" for="BTetikleme">Buton Tetikleme</label>
                        </div>
                        <hr />
                        <div class="custom-control custom-radio">
                            <input type="radio" value="9" class="custom-control-input" id="PAcma" name="Kod">
                            <label class="custom-control-label" for="PAcma">Programlı Açma</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="10" class="custom-control-input" id="PKapatma" name="Kod">
                            <label class="custom-control-label" for="PKapatma">Programlı Kapatma</label>
                        </div>
                        <hr />
                        <div class="custom-control custom-radio">
                            <input type="radio" value="14" class="custom-control-input" id="PSerbest" name="Kod">
                            <label class="custom-control-label" for="PSerbest">Programlı Serbest Bırakma</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="20" class="custom-control-input" id="Alarm" name="Kod">
                            <label class="custom-control-label" for="Alarm">Alarm(Hırsız) Kayıtları</label>
                        </div>
                        <hr />
                        <div class="custom-control custom-radio">
                            <input type="radio" value="21" class="custom-control-input" id="Yangin" name="Kod">
                            <label class="custom-control-label" for="Yangin">Yangın Kayıtları</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="22" class="custom-control-input" id="KAlarm" name="Kod">
                            <label class="custom-control-label" for="KAlarm">Kapı Alarmları</label>
                        </div>
                        @*<div class="custom-control custom-radio">
                            <input type="radio" value="26" class="custom-control-input" id="KulAlarm" name="Kod">
                            <label class="custom-control-label" for="KulAlarm">Kullanıcı Alarmları</label>
                        </div>*@
                        <hr />
                        <div class="custom-control custom-radio">
                            <input type="radio" value="40" class="custom-control-input" id="MaviKod" name="Kod">
                            <label class="custom-control-label text-info" for="MaviKod">Mavi Kod</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="42" class="custom-control-input" id="BeyazKod" name="Kod">
                            <label class="custom-control-label text-muted" for="BeyazKod">Beyaz Kod</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="44" class="custom-control-input" id="PembeKod" name="Kod">
                            <label style="color:pink" class="custom-control-label " for="PembeKod">Pembe Kod</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="46" class="custom-control-input" id="KirmiziKod" name="Kod">
                            <label class="custom-control-label text-danger" for="KirmiziKod">Kırmızı Kod</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="48" class="custom-control-input" id="YesilKod" name="Kod">
                            <label class="custom-control-label text-success" for="YesilKod">Yeşil Kod</label>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="3" class="custom-control-input" id="tumYon" checked name="Kapi_Yon">
                            <label class="custom-control-label" for="tumYon">Tüm Yönler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="0" class="custom-control-input" id="giris" name="Kapi_Yon">
                            <label class="custom-control-label" for="giris">Giriş</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="1" class="custom-control-input" id="cikis" name="Kapi_Yon">
                            <label class="custom-control-label" for="cikis">Çıkış</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="Tum_Tarih" class="custom-control-input" id="TümTarih" />
                            <label class="custom-control-label" for="TümTarih">Tüm Tarihler</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="ikiTarih" class="custom-control-input" id="ikiTarih" />
                            <label class="custom-control-label" for="ikiTarih">İki Tarih Arası</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Başlangıç</label>
                            <input class="form-control" name="Baslangic_Tarihi" type="date" value="2019-08-13" id="Tarih1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Bitiş</label>
                            <input class="form-control" name="Bitis_Tarihi" disabled type="date" value="2019-08-13" id="Tarih2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="ikiSaat" class="custom-control-input" id="ikiSaat" />
                            <label class="custom-control-label" for="ikiSaat">İki Saat Arası</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="Baslangic_Saati" type="time" disabled value="@DateTime.Now.ToLongTimeString()" id="Saat1">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="Bitis_Saati" type="time" disabled value="@DateTime.Now.ToLongTimeString()" id="Saat2">
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Panel Seçimi</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Panel, Model.Panel, "Panel Seçimi", new { @class = "form-control chosen-select", tabindex = "2" })

                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="true" name="Tümü" class="custom-control-input" id="TumKapi" />
                                <label class="custom-control-label" for="TumKapi">Tüm Kapılar</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <div id="Kapilar"></div>
                                <input type="checkbox" value="1" name="Kapi" class="custom-control-input" id="Kapi1" />
                                <label class="custom-control-label" for="Kapi1">Kapı 1</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="2" name="Kapi" class="custom-control-input" id="Kapi2" />
                                <label class="custom-control-label" for="Kapi2">Kapı 2</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="3" name="Kapi" class="custom-control-input" id="Kapi3" />
                                <label class="custom-control-label" for="Kapi3">Kapı 3</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="4" name="Kapi" class="custom-control-input" id="Kapi4" />
                                <label class="custom-control-label" for="Kapi4">Kapı 4</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="5" name="Kapi" class="custom-control-input" id="Kapi5" />
                                <label class="custom-control-label" for="Kapi5">Kapı 5</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="6" name="Kapi" class="custom-control-input" id="Kapi6" />
                                <label class="custom-control-label" for="Kapi6">Kapı 6</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="7" name="Kapi" class="custom-control-input" id="Kapi7" />
                                <label class="custom-control-label" for="Kapi7">Kapı 7</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="8" name="Kapi" class="custom-control-input" id="Kapi8" />
                                <label class="custom-control-label" for="Kapi8">Kapı 8</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <br />
                                <h4 class="text-info text-right">@Model.DigerGecisListesi.Count Adet Kayıt Listelendi</h4>
                                <hr />
                                <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                                <a class="btn btn-sm btn-success" href="@Url.Action("DigerGecisListesi","OutherReport")"><i class="fa fa-file-export"></i> Excel'e Aktar</a>
                                <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        }
    </div>
</div>
<div class="card border-left-info h-100 shadow-lg mt-1 animated fadeIn">
    <div id="print_div" class="card-body">
        @if (Model.DigerGecisListesi.Count > 0)
        {

            @webGrid.GetHtml(
             htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm " },
            footerStyle:"table-pager",
             columns: webGrid.Columns(
                 webGrid.Column("Panel_ID", "Panel"),
                 webGrid.Column("Kapi", "Kapı"),
                 webGrid.Column("Gecis_Tipi", "Geçiş",format:item=>item.Gecis_Tipi==0 ? "Giriş":"Çıkış"),
                 webGrid.Column("Operasyon", "Operasyon"),
                 webGrid.Column("Tarih", "Tarih")))
        }
        else
        {
            <div class="alert alert-info alert-message">
                <h4 class="text-center text-muted">
                    Kriterlere Uygun Kayıt Yok!
                </h4>
            </div>
        }

    </div>
</div>


<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        //Yazıcı Çıktısı Alan Kod Table'ı kaplayan div'in => id'sine print_div yaz birde id si btnPrint olan bir buton yaz
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>Diğer Geçiş Raporları</title>');
            frameDoc.document.write('</head><body><hr />');
            frameDoc.document.write('<h3>Diğer Geçiş Raporları</h3><hr />');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
        $("#TümTarih").change(function () {
            if ($(this).prop("checked") == true) {

                $("#ikiTarih").attr("disabled", true);
                $("#ikiSaat").attr("disabled", true);
                $("#Tarih1").attr("disabled", true);
                $("#Tarih2").attr("disabled", true);
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            } else {
                $("#ikiTarih").attr("disabled", false);
                $("#ikiSaat").attr("disabled", false);
                $("#Tarih1").attr("disabled", false);

            }

        });
        $("#ikiSaat").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Saat1").attr("disabled", false);
                $("#Saat2").attr("disabled", false);
            } else {
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            }

        });
        $("#ikiTarih").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Tarih2").attr("disabled", false);
            } else {
                $("#Tarih2").attr("disabled", true);
            }

        });
        $("#TümPanel").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Paneller").attr("disabled", true);
            } else {
                $("#Paneller").attr("disabled", false);
            }
        });
        $("#TumKapi").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Kapi1").attr("disabled", true);
                $("#Kapi1").prop("checked", false);
                $("#Kapi2").attr("disabled", true);
                $("#Kapi2").prop("checked", false);
                $("#Kapi3").attr("disabled", true);
                $("#Kapi3").prop("checked", false);
                $("#Kapi4").attr("disabled", true);
                $("#Kapi4").prop("checked", false);
                $("#Kapi5").attr("disabled", true);
                $("#Kapi5").prop("checked", false);
                $("#Kapi6").attr("disabled", true);
                $("#Kapi6").prop("checked", false);
                $("#Kapi7").attr("disabled", true);
                $("#Kapi7").prop("checked", false);
                $("#Kapi8").attr("disabled", true);
                $("#Kapi8").prop("checked", false);
            } else {
                $("#Kapi1").attr("disabled", false);
                $("#Kapi2").attr("disabled", false);
                $("#Kapi3").attr("disabled", false);
                $("#Kapi4").attr("disabled", false);
                $("#Kapi5").attr("disabled", false);
                $("#Kapi6").attr("disabled", false);
                $("#Kapi7").attr("disabled", false);
                $("#Kapi8").attr("disabled", false);
            }

        });
        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');
        var today = new Date();
        $('#Tarih1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
        $('#Tarih2').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
    });


</script>
