@model ForaTeknoloji.PresentationLayer.Models.WatchIndexViewModel
@{
    ViewBag.Title = "Canlı İzle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mx-lg-5 my-lg-5">
            <div class="card-header text-right">
                <a href="@Url.Action("WatchSettings","Watch")"><i class="fas fa-cogs fa-2x text-secondary"></i></a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="Tumu" class="custom-control-input" id="Tumu" />
                            <label class="custom-control-label" for="Tumu">Tümü</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="0" name="Normal" class="custom-control-input" id="Normal" />
                            <label class="custom-control-label text-success" for="Normal">Normal</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="3" name="Coklu" class="custom-control-input" id="Coklu" />
                            <label class="custom-control-label text-info" for="Coklu">Çoklu Geçiş</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="Antipassback" class="custom-control-input" id="Antipassback" />
                            <label class="custom-control-label text-danger" for="Antipassback">Antipassback</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="Manuel" class="custom-control-input" id="Manuel" />
                            <label class="custom-control-label text-warning" for="Manuel">Manuel İşlem</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="AlarmYangin" class="custom-control-input" id="AlarmYangin" />
                            <label class="custom-control-label text-secondary" for="AlarmYangin">Alarm Yangın</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="Tanimsiz" class="custom-control-input" id="Tanimsiz" />
                            <label class="custom-control-label text-primary" for="Tanimsiz">Tanımsız</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="Programli" class="custom-control-input" id="Programli" />
                            <label class="custom-control-label text-success" for="Programli">Programlı İşlem</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="KapiAlarm" class="custom-control-input" id="KapiAlarm" />
                            <label class="custom-control-label text-info" for="KapiAlarm">Kapı Alarmları</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="Engellenen" class="custom-control-input" id="Engellenen" />
                            <label class="custom-control-label text-danger" for="Engellenen">Engellenen</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="Button" class="custom-control-input" id="Button" />
                            <label class="custom-control-label text-warning" for="Button">Buton İşlemi</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="DigerAlarm" class="custom-control-input" id="DigerAlarm" />
                            <label class="custom-control-label text-secondary" for="DigerAlarm">Diğer Alarmlar</label>
                        </div>
                        <div class="custom-control-inline custom-checkbox ml-2">
                            <input type="checkbox" checked value="" name="Operator" class="custom-control-input" id="Operator" />
                            <label class="custom-control-label text-dark" for="Operator">Operatör Logları</label>
                        </div>
                        <hr />
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.HiddenFor(model => model.LastRecordWatch.Kayit_No)
                                <div class="form-group">
                                    <label>Kart ID</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Kart_ID, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Adı</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Adi, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Şirket</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Sirket_Adi, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Plaka</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Plaka, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Daire</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Daire, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Panel</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Panel_ID, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Geçiş Tipi</label>
                                    @if (Model.LastRecordWatch == null)
                                    {
                                        <input type="text" id="LastRecordWatch_Gecis_Tipi" name="LastRecordWatch.Gecis_Tipi" value="GİRİŞ" class="form-control form-control-sm bg-success text-white text-center" />
                                    }
                                    else
                                    {

                                        if (Model.LastRecordWatch.Gecis_Tipi == 0)
                                        {
                                            @Html.TextBoxFor(model => model.LastRecordWatch.Gecis_Tipi, Model.LastRecordWatch.Gecis_Tipi == 0 ? "GİRİŞ" : "ÇIKIŞ", new { @class = "form-control form-control-sm bg-success text-white text-center" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.LastRecordWatch.Gecis_Tipi, Model.LastRecordWatch.Gecis_Tipi == 0 ? "GİRİŞ" : "ÇIKIŞ", new { @class = "form-control form-control-sm bg-danger text-white text-center" })
                                        }
                                    }
                                </div>

                            </div>






                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>TC Kimlik</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.TCKimlik, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Soyadı</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Soyadi, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Bölüm</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Departman_Adi, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Blok</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Blok_Adi, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Tarih</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Tarih, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Kapı</label>
                                    @Html.TextBoxFor(model => model.LastRecordWatch.Kapi_Adi, "", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="form-group">
                                    <label>Kayıt Tipi</label>
                                    @if (Model.LastRecordWatch == null || Model.LastRecordWatch.Operasyon == "" || Model.LastRecordWatch.Operasyon == null)
                                    {
                                        <input type="text" id="LastRecordWatch_Operasyon" name="LastRecordWatch.Operasyon" value="" class="form-control form-control-sm" />
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.LastRecordWatch.Operasyon, Model.LastRecordWatch.Operasyon, new { @class = "form-control form-control-sm text-center bg-info text-white" })
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-1">
                        @if (Model.LastRecordWatch == null || Model.LastRecordWatch.Resim == "" || Model.LastRecordWatch.Resim == null)
                        {
                            <img id="KayitliImage" class="img-profile card-img-bottom card-img" src="~/Images/BaseUser.jpg" alt="User Image" />
                        }
                        else
                        {
                            <img id="KayitliImage" class="img-profile card-img-bottom card-img" src="~/Images/@Model.LastRecordWatch.Resim" alt="User Image" />
                        }
                        <img id="CanliImage" src="~/Images/BaseUser.jpg" hidden class="img-profile card-img-bottom card-img" alt="Canlı Resim" />
                        <hr />
                        <div class="btn-group btn-group-toggle offset-2" data-toggle="buttons">
                            <label class="btn btn-outline-info active">
                                <input type="radio" name="Kayitli" id="Kayitli" autocomplete="off" checked> Kayıtlı Resim
                            </label>
                            <label class="btn btn-outline-info">
                                <input type="radio" name="Canli" id="Canli" autocomplete="off"> Canlı Resim
                            </label>
                            <label class="btn btn-outline-info">
                                <input type="radio" name="Yanyana" id="Yanyana" autocomplete="off"> Yanyana Göster
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12"><hr /></div>
                </div>
                <div class="col-md-12">
                    <table id="table" class="table-borderless table table-hover text-center table-striped table-sm">
                        <thead class="table-info">
                            <tr>
                                <td>ID</td>
                                <td>Kart ID</td>
                                <td>Adı</td>
                                <td>Soyadı</td>
                                <td>Şirket</td>
                                <td>Departman</td>
                                <td>TCKimlik</td>
                                <td>Plaka</td>
                                <td>Blok</td>
                                <td>Daire</td>
                                <td>Grup Adı</td>
                                <td>Panel</td>
                                <td>Kapı</td>
                                <td>Geçiş</td>
                                <td>Tarih</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ComplexAccessDatas)
                            {
                                if (item.Kod == 0)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="engellenenSatir" class="table-danger">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                                else if (item.Kod == 1)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="normalSatir" class="table-success">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                                else if (item.Kod == 2)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="antipassbackSatir" class="table-danger">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                                else if (item.Kod == 3)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="cokluGecisSatir" class="table-info">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                                else if (item.Kod == 4)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="tanimsizSatir" class="table-primary">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                                else if (item.Kod == 5 || item.Kod == 6 || item.Kod == 7 || item.Kod == 13)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="manuelSatir" class="table-warning">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                                else if (item.Kod == 8 || item.Kod == 25 || item.Kod == 14)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="butonSatir" class="table-warning">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                                else if (item.Kod == 9 || item.Kod == 10 || item.Kod == 14)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="programliSatir" class="table-success">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                                else if (item.Kod == 20 || item.Kod == 21)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="alarmYanginSatir" class="text-muted">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                                else if (item.Kod == 22 || item.Kod == 23 || item.Kod == 24)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="kapiAlarmSatir" class="table-info">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                                else if (item.Kod > 24)
                                {
                                    <tr data-kayitno="@item.Kayit_No" id="digerSatir" class="table-dark">
                                        <td>@item.ID</td>
                                        <td>@item.Kart_ID</td>
                                        <td>@item.Adi</td>
                                        <td>@item.Soyadi</td>
                                        <td>@item.Sirket_Adi</td>
                                        <td>@item.Departman_Adi</td>
                                        <td>@item.TCKimlik</td>
                                        <td>@item.Plaka</td>
                                        <td>@item.Blok_Adi</td>
                                        <td>@item.Daire</td>
                                        <td>@item.Grup_Adi</td>
                                        <td>@item.Panel_ID</td>
                                        <td>@item.Kapi_Adi</td>
                                        @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                        {
                                            <td>Giriş</td>
                                        }
                                        else
                                        {
                                            <td>Çıkış</td>
                                        }
                                        <td>@item.Tarih</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#Tumu").click(function () {
            if ($(this).prop("checked") == true) {
                $("#Normal").prop("checked", true);
                $("#Coklu").prop("checked", true);
                $("#Antipassback").prop("checked", true);
                $("#Manuel").prop("checked", true);
                $("#AlarmYangin").prop("checked", true);
                $("#Tanimsiz").prop("checked", true);
                $("#Programli").prop("checked", true);
                $("#KapiAlarm").prop("checked", true);
                $("#Engellenen").prop("checked", true);
                $("#Button").prop("checked", true);
                $("#DigerAlarm").prop("checked", true);
                $("#Operator").prop("checked", true);
                $("#table tbody tr#normalSatir").prop("hidden", false);
                $("#table tbody tr#cokluGecisSatir").prop("hidden", false);
                $("#table tbody tr#antipassbackSatir").prop("hidden", false);
                $("#table tbody tr#manuelSatir").prop("hidden", false);
                $("#table tbody tr#alarmYanginSatir").prop("hidden", false);
                $("#table tbody tr#tanimsizSatir").prop("hidden", false);
                $("#table tbody tr#programliSatir").prop("hidden", false);
                $("#table tbody tr#kapiAlarmSatir").prop("hidden", false);
                $("#table tbody tr#engellenenSatir").prop("hidden", false);
                $("#table tbody tr#butonSatir").prop("hidden", false);
                $("#table tbody tr#digerSatir").prop("hidden", false);



            } else {
                $("#Normal").prop("checked", false);
                $("#Coklu").prop("checked", false);
                $("#Antipassback").prop("checked", false);
                $("#Manuel").prop("checked", false);
                $("#AlarmYangin").prop("checked", false);
                $("#Tanimsiz").prop("checked", false);
                $("#Programli").prop("checked", false);
                $("#KapiAlarm").prop("checked", false);
                $("#Engellenen").prop("checked", false);
                $("#Button").prop("checked", false);
                $("#DigerAlarm").prop("checked", false);
                $("#Operator").prop("checked", false);
                $("#table tbody tr#normalSatir").prop("hidden", true);
                $("#table tbody tr#cokluGecisSatir").prop("hidden", true);
                $("#table tbody tr#antipassbackSatir").prop("hidden", true);
                $("#table tbody tr#manuelSatir").prop("hidden", true);
                $("#table tbody tr#alarmYanginSatir").prop("hidden", true);
                $("#table tbody tr#tanimsizSatir").prop("hidden", true);
                $("#table tbody tr#programliSatir").prop("hidden", true);
                $("#table tbody tr#kapiAlarmSatir").prop("hidden", true);
                $("#table tbody tr#engellenenSatir").prop("hidden", true);
                $("#table tbody tr#butonSatir").prop("hidden", true);
                $("#table tbody tr#digerSatir").prop("hidden", true);


            }
        });
        $("#Normal").click(function () {
            if ($(this).prop("checked") == true) {
                var normal = $("#Normal").val();

                $("#table tbody tr#normalSatir").prop("hidden", false);
                $.ajax({
                    url: '/Watch/WatcParameters',
                    type: 'GET',
                    dataType: 'json',
                    data: { Normal: normal, Coklu: coklu }

                });
            } else {
                $("#table tbody tr#normalSatir").prop("hidden", true);
            }

        });
        $("#Coklu").click(function () {
            if ($(this).prop("checked") == true) {
                $("#table tbody tr#cokluGecisSatir").prop("hidden", false);
            } else {
                $("#table tbody tr#cokluGecisSatir").prop("hidden", true);
            }
        });
        $("#Antipassback").click(function () {
            if ($(this).prop("checked") == true) {
                $("#table tbody tr#antipassbackSatir").prop("hidden", false);
            } else {
                $("#table tbody tr#antipassbackSatir").prop("hidden", true);
            }

        });
        $("#Manuel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#table tbody tr#manuelSatir").prop("hidden", false);
            } else {
                $("#table tbody tr#manuelSatir").prop("hidden", true);
            }
        });
        $("#AlarmYangin").click(function () {
            if ($(this).prop("checked") == true) {
                $("#table tbody tr#alarmYanginSatir").prop("hidden", false);
            } else {
                $("#table tbody tr#alarmYanginSatir").prop("hidden", true);
            }
        });
        $("#Tanimsiz").click(function () {
            if ($(this).prop("checked") == true) {
                $("#table tbody tr#tanimsizSatir").prop("hidden", false);
            } else {
                $("#table tbody tr#tanimsizSatir").prop("hidden", true);
            }

        });
        $("#Programli").click(function () {
            if ($(this).prop("checked") == true) {
                $("#table tbody tr#programliSatir").prop("hidden", false);
            } else {
                $("#table tbody tr#programliSatir").prop("hidden", true);
            }

        });
        $("#KapiAlarm").click(function () {
            if ($(this).prop("checked") == true) {
                $("#table tbody tr#kapiAlarmSatir").prop("hidden", false);
            } else {
                $("#table tbody tr#kapiAlarmSatir").prop("hidden", true);
            }
        });
        $("#Engellenen").click(function () {
            if ($(this).prop("checked") == true) {
                $("#table tbody tr#engellenenSatir").prop("hidden", false);
            } else {
                $("#table tbody tr#engellenenSatir").prop("hidden", true);
            }

        });
        $("#Button").click(function () {
            if ($(this).prop("checked") == true) {
                $("#table tbody tr#butonSatir").prop("hidden", false);
            } else {
                $("#table tbody tr#butonSatir").prop("hidden", true);
            }

        });
        $("#DigerAlarm").click(function () {
            if ($(this).prop("checked") == true) {
                $("#table tbody tr#digerSatir").prop("hidden", false);
            } else {
                $("#table tbody tr#digerSatir").prop("hidden", true);
            }

        });
        $("#Operator").click(function () {
            //if ($(this).prop("checked") == true) {
            //    $("#table tbody tr").prop("hidden", false);
            //} else {
            //    $("#table tbody tr").prop("hidden", true);
            //}

        });



        $("#table tbody tr").click(function () {
            var kayitNo = $(this).data("kayitno");
            $.ajax({
                url: '/Watch/SonKayit',
                type: 'GET',
                dataType: 'json',
                data: { KayitNo: kayitNo },
            }).done(function (data) {
                $("#LastRecordWatch_Kart_ID").prop("value", data.Kart_ID);
                $("#LastRecordWatch_TCKimlik").prop("value", data.TCKimlik);
                $("#LastRecordWatch_Adi").prop("value", data.Adi);
                $("#LastRecordWatch_Soyadi").prop("value", data.Soyadi);
                $("#LastRecordWatch_Sirket_Adi").prop("value", data.Sirket_Adi);
                $("#LastRecordWatch_Grup_Adi").prop("value", data.Grup_Adi);
                $("#LastRecordWatch_Plaka").prop("value", data.Plaka);
                $("#LastRecordWatch_Blok_Adi").prop("value", data.Blok_Adi);
                $("#LastRecordWatch_Daire").prop("value", data.Daire);
                $("#LastRecordWatch_Tarih").prop("value", dateFormat(new Date(parseInt((data.Tarih).match(/\d+/)[0]))));
                $("#LastRecordWatch_Panel_ID").prop("value", data.Panel_ID);
                $("#LastRecordWatch_Kapi_ID").prop("value", data.Kapi_ID);
                $("#LastRecordWatch_Operasyon").prop("value", data.Operasyon);
                if (data.Gecis_Tipi == 0) {
                    $("#LastRecordWatch_Gecis_Tipi").prop("value", "GİRİŞ");
                    $("#LastRecordWatch_Gecis_Tipi").removeClass("bg-danger text-white text-center");
                    $("#LastRecordWatch_Gecis_Tipi").addClass("bg-success text-white text-center");
                } else {
                    $("#LastRecordWatch_Gecis_Tipi").prop("value", "ÇIKIŞ");
                    $("#LastRecordWatch_Gecis_Tipi").removeClass("bg-success text-white text-center");
                    $("#LastRecordWatch_Gecis_Tipi").addClass("bg-danger text-white text-center");
                }
            });
        });

        function dateFormat(d) {
            return ((d.getMonth() + 1) + "").padStart(2, "0")
                + "/" + (d.getDate() + "").padStart(2, "0")
                + "/" + d.getFullYear();
        }
        var count = 0;
        $.ajax({
            url: '/Watch/Count',
            type: 'GET',
            dataType: 'json',
        }).done(function (data) {
            count = data;
        });



        setInterval(function () {
            $.ajax({
                url: '/Watch/Count',
                type: 'GET',
                dataType: 'json',
                data: { Kayit_No: kayit }
            }).done(function (data) {
                if (data != count) {
                    window.location.assign("/Watch/Index");
                    //2 saniye sonra yönlenecek
                }
            });
        }, 500);









    });
</script>