@model ForaTeknoloji.PresentationLayer.Models.WatchIndexViewModel
@{
    ViewBag.Title = "Canlı İzle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card border-left-info h-100 shadow-lg mx-lg-5 mt-1" style="height:inherit">
            <div class="card-header text-right">
                <a href="@Url.Action("WatchSettings","Watch")"><i class="fas fa-cogs fa-2x text-secondary"></i></a>
            </div>
            <div class="card-body">

                @using (Html.BeginForm("WatcParameters", "Watch", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="custom-control-inline custom-checkbox ml-5">
                                @Html.CheckBox("Tumu", Model.WatchParam.Tumu ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="Tumu">Tümü</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-5">
                                @Html.CheckBox("Normal", Model.WatchParam.Normal ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-success" for="Normal">Normal</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-5">
                                @Html.CheckBox("Coklu", Model.WatchParam.Coklu ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-info" for="Coklu">Çoklu Geçiş</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-5">
                                @Html.CheckBox("Antipassback", Model.WatchParam.Antipassback ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-danger" for="Antipassback">Antipassback</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-5">
                                @Html.CheckBox("Manuel", Model.WatchParam.Manuel ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-warning" for="Manuel">Manuel İşlem</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-5">
                                @Html.CheckBox("AlarmYangin", Model.WatchParam.AlarmYangin ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-secondary" for="AlarmYangin">Alarm Yangın</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-5">
                                @Html.CheckBox("Tanimsiz", Model.WatchParam.Tanimsiz ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-primary" for="Tanimsiz">Tanımsız</label>
                            </div>
                        </div>
                        <div class="col-md-12 text-center mt-1">

                            <div class="custom-control-inline custom-checkbox ml-4">
                                @Html.CheckBox("Programli", Model.WatchParam.Programli ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-success" for="Programli">Programlı İşlem</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-4">
                                @Html.CheckBox("KapiAlarm", Model.WatchParam.KapiAlarm ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-info" for="KapiAlarm">Kapı Alarmları</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-4">
                                @Html.CheckBox("Engellenen", Model.WatchParam.Engellenen ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-danger" for="Engellenen">Engellenen</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-4">
                                @Html.CheckBox("Button", Model.WatchParam.Button ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-warning" for="Button">Buton İşlemi</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-4">
                                @Html.CheckBox("DigerAlarm", Model.WatchParam.DigerAlarm ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-secondary" for="DigerAlarm">Diğer Alarmlar</label>
                            </div>
                            <div class="custom-control-inline custom-checkbox ml-4">
                                @Html.CheckBox("OperatorLog", Model.WatchParam.Operatorlog ?? false, new { @class = "custom-control-input" })
                                <label class="custom-control-label text-dark" for="OperatorLog">Operatör Logları</label>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <div class="form-group ml-2">
                                <button type="submit" class="btn btn-outline-success btn-sm"><i class="fas fa-filter"></i> Seçilenlere Göre Filtrele</button>
                            </div>
                            <hr />
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.HiddenFor(model => model.LastRecordWatch.Kayit_No)
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Kart ID</label>
                                    <div class="col-sm-9">@Html.TextBoxFor(model => model.LastRecordWatch.Kart_ID, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Adı</label>
                                    <div class="col-md-9">  @Html.TextBoxFor(model => model.LastRecordWatch.Adi, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Şirket</label>
                                    <div class="col-md-9"> @Html.TextBoxFor(model => model.LastRecordWatch.Sirket_Adi, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Plaka</label>
                                    <div class="col-md-9"> @Html.TextBoxFor(model => model.LastRecordWatch.Plaka, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Daire</label>
                                    <div class="col-md-9"> @Html.TextBoxFor(model => model.LastRecordWatch.Daire, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Panel</label>
                                    <div class="col-md-9"> @Html.TextBoxFor(model => model.LastRecordWatch.Panel_ID, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Geçiş Tipi</label>
                                    @if (Model.LastRecordWatch == null)
                                    {
                                        <div class="col-md-9"><input type="text" id="LastRecordWatch_Gecis_Tipi" name="LastRecordWatch.Gecis_Tipi" value="GİRİŞ" class="form-control form-control-sm bg-success text-white text-center" /></div>
                                    }
                                    else
                                    {

                                        if (Model.LastRecordWatch.Gecis_Tipi == 0)
                                        {
                                            <div class="col-md-9"> @Html.TextBoxFor(model => model.LastRecordWatch.Gecis_Tipi, Model.LastRecordWatch.Gecis_Tipi == 0 ? "GİRİŞ" : "ÇIKIŞ", new { @class = "form-control form-control-sm bg-success text-white text-center" })</div>
                                        }
                                        else
                                        {
                                            <div class="col-md-9">@Html.TextBoxFor(model => model.LastRecordWatch.Gecis_Tipi, Model.LastRecordWatch.Gecis_Tipi == 0 ? "GİRİŞ" : "ÇIKIŞ", new { @class = "form-control form-control-sm bg-danger text-white text-center" })</div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">TC Kimlik</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.LastRecordWatch.TCKimlik, "", new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Soyadı</label>
                                    <div class="col-md-9"> @Html.TextBoxFor(model => model.LastRecordWatch.Soyadi, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Bölüm</label>
                                    <div class="col-md-9"> @Html.TextBoxFor(model => model.LastRecordWatch.Departman_Adi, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Blok</label>
                                    <div class="col-md-9">   @Html.TextBoxFor(model => model.LastRecordWatch.Blok_Adi, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Tarih</label>
                                    <div class="col-md-9"> @Html.TextBoxFor(model => model.LastRecordWatch.Tarih, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Kapı</label>
                                    <div class="col-md-9"> @Html.TextBoxFor(model => model.LastRecordWatch.Kapi_Adi, "", new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Kayıt Tipi</label>
                                    @if (Model.LastRecordWatch == null || Model.LastRecordWatch.Operasyon == "" || Model.LastRecordWatch.Operasyon == null)
                                    {
                                        <div class="col-md-9"> <input type="text" id="LastRecordWatch_Operasyon" name="LastRecordWatch.Operasyon" value="" class="form-control form-control-sm" /></div>
                                    }
                                    else
                                    {
                                        <div class="col-md-9"> @Html.TextBoxFor(model => model.LastRecordWatch.Operasyon, Model.LastRecordWatch.Operasyon, new { @class = "form-control form-control-sm text-center bg-info text-white" })</div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-1">
                        @if (Model.LastRecordWatch == null || Model.LastRecordWatch.Resim == "" || Model.LastRecordWatch.Resim == null)
                        {
                            <img id="KayitliImage" style="height:350px;" class="img-profile card-img-bottom card-img " src="~/Images/BaseUser.jpg" alt="User Image" />
                        }
                        else
                        {
                            <img id="KayitliImage" style="height:350px;" class="img-profile card-img-bottom card-img" src="~/Images/@Model.LastRecordWatch.Resim" alt="User Image" />
                        }
                        <img id="CanliImage" style="height:350px;" src="~/Images/BaseUser.jpg" hidden class="img-profile card-img-bottom card-img" alt="User Image" />
                        <hr />
                        <div id="Resimler" class="btn-group btn-group-toggle offset-2" data-toggle="buttons">
                            <label class="btn btn-outline-info active btn-sm">
                                <input type="radio" autocomplete="off" checked value="Kayitli"> Kayıtlı Resim
                            </label>
                            <label class="btn btn-outline-info btn-sm">
                                <input type="radio" autocomplete="off" value="Canli"> Canlı Resim
                            </label>
                            <label class="btn btn-outline-info btn-sm">
                                <input type="radio" autocomplete="off" value="Yanyana"> Yanyana
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12"><hr /></div>
                </div>

                <div class="col-md-12">
                    <div class="table-responsive-md">
                        @*<table id="table" class="table-borderless table table-hover text-center table-striped  small">*@
                        <table class="table table-bordered table-hover text-center table-striped small " id="table" width="100%" cellspacing="0">
                            <thead class="bg-gray-600 text-white table-sm">
                                <tr>
                                    <td>ID</td>
                                    <td>Kart ID</td>
                                    <td>Adı</td>
                                    <td>Soyadı</td>
                                    <td>Şirket</td>
                                    <td>Departman</td>
                                    <td>TCKimlik</td>
                                    <td>Plaka</td>
                                    <td>Blok</td>
                                    <td>Daire</td>
                                    <td>Grup Adı</td>
                                    <td>Panel</td>
                                    <td>Kapı</td>
                                    <td>Geçiş</td>
                                    <td>Tarih</td>
                                    <td>Operasyon</td>
                                    <td>Operator</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ComplexAccessDatas)
                                {
                                    if (item.Kod == 0)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="engellenenSatir" class="table-danger">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                    else if (item.Kod == 1)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="normalSatir" class="table-success">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                    else if (item.Kod == 2)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="antipassbackSatir" class="table-danger">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                    else if (item.Kod == 3)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="cokluGecisSatir" class="table-info">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                    else if (item.Kod == 4)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="tanimsizSatir" class="table-primary">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator <a title="Yeni Kullanıcı Olarak Ekle" onclick="return confirm('Yeni Kullanıcı Olarak Eklemek İstiyormusunuz?')" href="@Url.Action("Create","Users",new {Kart_ID=item.Kart_ID })"><i class="fas fa-user-plus text-info ml-2"></i></a></td>
                                        </tr>
                                    }
                                    else if (item.Kod == 5 || item.Kod == 6 || item.Kod == 7 || item.Kod == 13)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="manuelSatir" class="table-warning">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                    else if (item.Kod == 8 || item.Kod == 25 || item.Kod == 14)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="butonSatir" class="table-warning">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                    else if (item.Kod == 9 || item.Kod == 10 || item.Kod == 14)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="programliSatir" class="table-success">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                    else if (item.Kod == 20 || item.Kod == 21)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="alarmYanginSatir" class="text-muted">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                    else if (item.Kod == 22 || item.Kod == 23 || item.Kod == 24)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="kapiAlarmSatir" class="table-info">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                    else if (item.Kod > 24 && item.Kod < 48)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="digerSatir" class="table-dark">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                    else if (item.Kod >= 100)
                                    {
                                        <tr data-kayitno="@item.Kayit_No" id="operatorSatir" class="table-hover">
                                            <td>@item.ID</td>
                                            <td>@item.Kart_ID</td>
                                            <td>@item.Adi</td>
                                            <td>@item.Soyadi</td>
                                            <td>@item.Sirket_Adi</td>
                                            <td>@item.Departman_Adi</td>
                                            <td>@item.TCKimlik</td>
                                            <td>@item.Plaka</td>
                                            <td>@item.Blok_Adi</td>
                                            <td>@item.Daire</td>
                                            <td>@item.Grup_Adi</td>
                                            <td>@item.Panel_ID</td>
                                            <td>@item.Kapi_Adi</td>
                                            @if (item.Gecis_Tipi == 0 && item.Gecis_Tipi != null)
                                            {
                                                <td>Giriş</td>
                                            }
                                            else
                                            {
                                                <td>Çıkış</td>
                                            }
                                            <td>@item.Tarih</td>
                                            <td class="small">@item.Operasyon</td>
                                            <td class="small">@item.Operator</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        if ($("#Tumu").prop("checked") == true) {
            $("#table tbody tr#normalSatir").prop("hidden", false);
            $("#table tbody tr#cokluSatir").prop("hidden", false);
            $("#table tbody tr#antipassbackSatir").prop("hidden", false);
            $("#table tbody tr#manuelSatir").prop("hidden", false);
            $("#table tbody tr#alarmyanginSatir").prop("hidden", false);
            $("#table tbody tr#tanimsizSatir").prop("hidden", false);
            $("#table tbody tr#programliSatir").prop("hidden", false);
            $("#table tbody tr#kapialarmSatir").prop("hidden", false);
            $("#table tbody tr#engellenenSatir").prop("hidden", false);
            $("#table tbody tr#buttonSatir").prop("hidden", false);
            $("#table tbody tr#digerSatir").prop("hidden", false);
            $("#table tbody tr#operatorSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#normalSatir").prop("hidden", true);
            $("#table tbody tr#cokluSatir").prop("hidden", true);
            $("#table tbody tr#antipassbackSatir").prop("hidden", true);
            $("#table tbody tr#manuelSatir").prop("hidden", true);
            $("#table tbody tr#alarmyanginSatir").prop("hidden", true);
            $("#table tbody tr#tanimsizSatir").prop("hidden", true);
            $("#table tbody tr#programliSatir").prop("hidden", true);
            $("#table tbody tr#kapialarmSatir").prop("hidden", true);
            $("#table tbody tr#engellenenSatir").prop("hidden", true);
            $("#table tbody tr#buttonSatir").prop("hidden", true);
            $("#table tbody tr#digerSatir").prop("hidden", true);
            $("#table tbody tr#operatorSatir").prop("hidden", true);
        }

        if ($("#Normal").prop("checked") == true) {
            $("#table tbody tr#normalSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#normalSatir").prop("hidden", true);
        }

        if ($("#Coklu").prop("checked") == true) {
            $("#table tbody tr#cokluSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#cokluSatir").prop("hidden", true);
        }

        if ($("#Antipassback").prop("checked") == true) {
            $("#table tbody tr#antipassbackSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#antipassbackSatir").prop("hidden", true);
        }

        if ($("#Manuel").prop("checked") == true) {
            $("#table tbody tr#manuelSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#manuelSatir").prop("hidden", true);
        }

        if ($("#AlarmYangin").prop("checked") == true) {
            $("#table tbody tr#alarmyanginSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#alarmyanginSatir").prop("hidden", true);
        }

        if ($("#Tanimsiz").prop("checked") == true) {
            $("#table tbody tr#tanimsizSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#tanimsizSatir").prop("hidden", true);
        }

        if ($("#Programli").prop("checked") == true) {
            $("#table tbody tr#programliSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#programliSatir").prop("hidden", true);
        }

        if ($("#KapiAlarm").prop("checked") == true) {
            $("#table tbody tr#kapialarmSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#kapialarmSatir").prop("hidden", true);
        }

        if ($("#Engellenen").prop("checked") == true) {
            $("#table tbody tr#engellenenSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#engellenenSatir").prop("hidden", true);
        }

        if ($("#Button").prop("checked") == true) {
            $("#table tbody tr#buttonSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#buttonSatir").prop("hidden", true);
        }

        if ($("#DigerAlarm").prop("checked") == true) {
            $("#table tbody tr#digerSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#digerSatir").prop("hidden", true);
        }

        if ($("#OperatorLog").prop("checked") == true) {
            $("#table tbody tr#operatorSatir").prop("hidden", false);
        } else {
            $("#table tbody tr#operatorSatir").prop("hidden", true);
        }


        $("#Tumu").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Normal").prop("value", true);
                $("#Normal").prop("checked", true);

                $("#Coklu").prop("value", true);
                $("#Coklu").prop("checked", true);

                $("#Antipassback").prop("value", true);
                $("#Antipassback").prop("checked", true);

                $("#Manuel").prop("value", true);
                $("#Manuel").prop("checked", true);

                $("#AlarmYangin").prop("value", true);
                $("#AlarmYangin").prop("checked", true);

                $("#Tanimsiz").prop("value", true);
                $("#Tanimsiz").prop("checked", true);

                $("#Programli").prop("value", true);
                $("#Programli").prop("checked", true);

                $("#KapiAlarm").prop("value", true);
                $("#KapiAlarm").prop("checked", true);

                $("#Engellenen").prop("value", true);
                $("#Engellenen").prop("checked", true);

                $("#Button").prop("value", true);
                $("#Button").prop("checked", true);

                $("#DigerAlarm").prop("value", true);
                $("#DigerAlarm").prop("checked", true);

                $("#OperatorLog").prop("value", true);
                $("#OperatorLog").prop("checked", true);
            } else {
                $("#Normal").prop("value", false);
                $("#Normal").prop("checked", false);

                $("#Coklu").prop("value", false);
                $("#Coklu").prop("checked", false);

                $("#Antipassback").prop("value", false);
                $("#Antipassback").prop("checked", false);


                $("#Manuel").prop("value", false);
                $("#Manuel").prop("checked", false);

                $("#AlarmYangin").prop("value", false);
                $("#AlarmYangin").prop("checked", false);

                $("#Tanimsiz").prop("value", false);
                $("#Tanimsiz").prop("checked", false);

                $("#Programli").prop("value", false);
                $("#Programli").prop("checked", false);

                $("#KapiAlarm").prop("value", false);
                $("#KapiAlarm").prop("checked", false);

                $("#Engellenen").prop("value", false);
                $("#Engellenen").prop("checked", false);

                $("#Button").prop("value", false);
                $("#Button").prop("checked", false);

                $("#DigerAlarm").prop("value", false);
                $("#DigerAlarm").prop("checked", false);

                $("#OperatorLog").prop("value", false);
                $("#OperatorLog").prop("checked", false);
            }

        });


        $("#table tbody tr").click(function () {
            var kayitNo = $(this).data("kayitno");
            $.ajax({
                url: '/Watch/SonKayit',
                type: 'GET',
                dataType: 'json',
                data: { KayitNo: kayitNo },
            }).done(function (data) {
                $("#LastRecordWatch_Kart_ID").prop("value", data.Kart_ID);
                $("#LastRecordWatch_TCKimlik").prop("value", data.TCKimlik);
                $("#LastRecordWatch_Adi").prop("value", data.Adi);
                $("#LastRecordWatch_Soyadi").prop("value", data.Soyadi);
                $("#LastRecordWatch_Sirket_Adi").prop("value", data.Sirket_Adi);
                $("#KayitliImage").prop("src", "/Images/" + data.Resim);
                $("#LastRecordWatch_Grup_Adi").prop("value", data.Grup_Adi);
                $("#LastRecordWatch_Plaka").prop("value", data.Plaka);
                $("#LastRecordWatch_Blok_Adi").prop("value", data.Blok_Adi);
                $("#LastRecordWatch_Daire").prop("value", data.Daire);
                $("#LastRecordWatch_Tarih").prop("value", dateFormat(new Date(parseInt((data.Tarih).match(/\d+/)[0]))));
                $("#LastRecordWatch_Panel_ID").prop("value", data.Panel_ID);
                $("#LastRecordWatch_Kapi_ID").prop("value", data.Kapi_ID);
                $("#LastRecordWatch_Operasyon").prop("value", data.Operasyon);
                if (data.Gecis_Tipi == 0) {
                    $("#LastRecordWatch_Gecis_Tipi").prop("value", "GİRİŞ");
                    $("#LastRecordWatch_Gecis_Tipi").removeClass("bg-danger text-white text-center");
                    $("#LastRecordWatch_Gecis_Tipi").addClass("bg-success text-white text-center");
                } else {
                    $("#LastRecordWatch_Gecis_Tipi").prop("value", "ÇIKIŞ");
                    $("#LastRecordWatch_Gecis_Tipi").removeClass("bg-success text-white text-center");
                    $("#LastRecordWatch_Gecis_Tipi").addClass("bg-danger text-white text-center");
                }
            });
        });

        //$("#Kayitli").change(function () {
        //    if ($(this).prop("checked") == true) {
        //        $("#KayitliImage").prop("hidden", false);
        //    } else {
        //        $("#KayitliImage").prop("hidden", true);
        //    }

        //});

        //$("#Canli").change(function () {
        //    if ($(this).prop("checked") == true) {
        //        $("#CanliImage").prop("hidden", false);
        //    } else {
        //        $("#CanliImage").prop("hidden", true);
        //    }
        //});

        //$("#Yanyana").change(function () {
        //    if ($(this).prop("checked") == true) {
        //        $("#KayitliImage").prop("hidden", false);
        //        $("#CanliImage").prop("hidden", false);
        //    } else {
        //        $("#KayitliImage").prop("hidden", true);
        //        $("#CanliImage").prop("hidden", true);
        //    }

        //});
        $('#Resimler .btn').on('click', function (event) {
            var result = $(this).find('input').val();
            if (result == "Kayitli") {
                $("#KayitliImage").prop("hidden", false);
                $("#CanliImage").prop("hidden", true);
            } else if (result == "Canli") {
                $("#KayitliImage").prop("hidden", true);
                $("#CanliImage").prop("hidden", false);
            } else if (result == "Yanyana") {
                $("#KayitliImage").prop("hidden", false);
                $("#CanliImage").prop("hidden", false);
            }
        });



        function dateFormat(d) {
            return ((d.getMonth() + 1) + "").padStart(2, "0")
                + "/" + (d.getDate() + "").padStart(2, "0")
                + "/" + d.getFullYear();
        }
        

        var count = 0;
        $.ajax({
            url: '/Watch/Count',
            type: 'GET',
            dataType: 'json',
        }).done(function (data) {
            count = data;
        });



        setInterval(function () {
            $.ajax({
                url: '/Watch/Count',
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                if (data != count) {
                    window.location.assign("/Watch/Index");
                }
            });
        }, 1000);
    });
</script>