@model ForaTeknoloji.PresentationLayer.Models.CreateVisitorViewModel
@using ForaTeknoloji.BusinessLayer.Abstract;
@{
    ViewBag.Title = "Yeni Ziyaretçi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated slideInLeft faster">
    <div class="col-md-8 offset-md-2">
        <div class="card border-left-info h-100 shadow-lg  mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 class="m-0 font-weight-bold text-secondary text-center">Ziyaretçi Ayarları</h3>
            </div>

            <div class="card-body">
                <hr />
                @using (Html.BeginForm("Create", "Visitor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-5">Ziyaretçi Kart ID</label>
                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <input type="text" id="Kart_ID" name="Kart_ID" hidden value="" />
                                        <input type="text" id="User_ID" name="User_ID" hidden value="" />
                                        <input type="text" class="form-control form-control-sm" disabled name="HiddenKart_ID" id="HiddenKart_ID" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button data-toggle="modal" data-target="#userCardModal" class="btn btn-outline-success btn-sm" type="button"><i class="fas fa-id-card"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">TC Kimlik No</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="TCKimlik" class="form-control form-control-sm" maxlength="11" value="" />

                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Adı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" name="Adi" value="" />

                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Soyadı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" name="Soyadi" value="" />

                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Plaka</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" name="Plaka" value="" />
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Telefon</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" name="Telefon" value="" />

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-5">Firma</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" name="Firma" value="" />

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-5">Ziyaret Tarihi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="date" class="form-control form-control-sm" name="Tarih" id="Tarih" />
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Ziyaret Sebebi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control form-control-sm" cols="3" rows="3" name="Ziyaret_Sebebi"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="~/Images/BaseUser.jpg" class="img-profile img-fluid img-thumbnail" alt="Alternate Text" />
                            <input type="file" name="ProfileImage" id="ProfileImage" class="form-control btn btn-sm btn-secondary" value="" /><br />
                            <span class="fas fa-info-circle">&nbsp;</span>
                            <span><i>Lütfen jpg,jpeg ya da png formatı kullanın</i></span><br />
                            <a href="/Camera/Index" class="btn btn-sm btn-outline-secondary mt-2"><i class="fas fa-camera"></i> Resim Çek&nbsp;&nbsp;&nbsp;</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-danger text-center">Ziyaret Edilecek Personel Seçimi</h5>
                            <hr />

                        </div>
                        <div class="col-md-10">

                            <div class="form-group">
                                <label class="control-label col-md-5">Personel ID</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" id="Personel_ID" name="ID" value="" />
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Personel Adı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" id="Personel_Adi" name="Personel_Adi" value="" />
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Personel Soyadı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" id="Personel_Soyadi" name="Personel_Soyadi" value="" />
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-4">Geçiş Grubu</label>
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <input type="text" id="Grup_No" name="Grup_No" hidden value="" />
                                        <input type="text" id="Grup_Adi" name="Grup_Adi" value="" class="form-control form-control-sm" />

                                        @*@Html.DropDownList("Grup_No", Model.Grup_No, "Grup No Seçiniz...", new { @class = "form-control" })*@
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-2 mt-md-4">
                            <a class="btn btn-sm btn-outline-info mt-2" data-toggle="modal" data-target="#exampleModal" href="#"><i class="fas fa-user-check text-success"></i> Personel Seç</a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <hr />
                            <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-address-card"></i> Ziyaretçi Ekle</button>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>



<!-- Modal Aktif -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 text-success">

                        <div hidden id="alertMain" class="text-success">
                            <h2 id="alert" class="text-center "></h2>
                        </div>
                        <div id="alertMain" class="text-muted">
                            <h2 class="text-center ">Kullanıcı Arama</h2>
                        </div>
                    </div>
                </div>


            </div>

            <div class="modal-body ">
                <table id="myTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Şirket</td>
                            <td>Departman</td>
                            <td>Blok</td>
                            <td>Kendi Geçiş Grubu</td>
                            <td>Ziyaretçi Geçiş Grubu</td>
                        </tr>
                    </thead>
                    <tbody id="zyrt">
                        @foreach (var item in Model.ComplexPersoneller)
                        {
                            <tr>
                                <td data-id="@item.ID" data-personeladi="@item.Adi" data-personelsoyadi="@item.Soyadi" data-groupno="@item.Grup_No" data-groupadi="@item.Gecis_Grubu">@item.ID</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.Sirket</td>
                                <td>@item.Departman</td>
                                <td>@item.Blok</td>
                                <td>@item.Gecis_Grubu</td>
                                <td>@item.String_Ziyaretci_Grubu</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="temizle" class="btn btn-success"><i class="fas fa-trash-alt"></i> Seçimi İptal Et</button>
                <button type="button" id="close" class="btn btn-secondary " data-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>




<!--Card List Modal -->
<div class="modal fade" id="userCardModal" tabindex="-1" role="dialog" aria-labelledby="userCardLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ziyaretçi Kartları</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="cardTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                    <thead class="table-info">
                        <tr>
                            <td>ID</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Grup No</td>
                            <td>Grup Adı</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.VisitorCardList)
                        {
                            <tr>
                                <td data-userid="@item.ID" data-cardid="@item.Kart_ID">@item.ID</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.Grup_No</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                }
            });

        });
    </script>

}



<script>
    $(document).ready(function () {
        var today = new Date();
        $('#Tarih').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));

        $("#myTable tbody tr").click(function () {
            $("#alertMain").prop("hidden", false);
            var ID = $(this).children("td").data("id");
            var Adi = $(this).children("td").data("personeladi");
            var Soyadi = $(this).children("td").data("personelsoyadi");
            var Grup = $(this).children("td").data("groupno");
            var GrupAdi = $(this).children("td").data("groupadi");
            $("#Personel_ID").attr('value', ID);
            $("#Personel_Adi").attr('value', Adi);
            $("#Personel_Soyadi").attr('value', Soyadi);
            $("#Grup_No").attr('value', Grup);
            $("#Grup_Adi").attr('value', GrupAdi);
            $("#alert").text(Adi + " " + Soyadi + " Seçildi!");
        });

        $("#cardTable tbody tr").click(function () {
            var cardID = $(this).children("td").data("cardid");
            var userID = $(this).children("td").data("userid");
            $("#Kart_ID").attr('value', cardID);
            $("#User_ID").attr('value', userID);
            $("#HiddenKart_ID").attr('value', cardID);
            $("#cardTable tbody tr").removeClass("table-success");
            $(this).toggleClass("table-success");
        });

    });
    $("#temizle").click(function () {
        $("#Personel_ID").attr("value", null);
        $("#Personel_Adi").attr("value", null);
        $("#Personel_Soyadi").attr("value", null);
        $("#alert").text("");
        $("#alertMain").prop("hidden", true);
    });

</script>

