@model ForaTeknoloji.PresentationLayer.Models.VisitorEditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-muted text-center">Ziyaretçi Ayarları</h3>
            </div>

            @using (Html.BeginForm())
            {
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Ziyaretci.ID)
                    <hr />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-5">Ziyaretçi Kart ID</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Ziyaretci.Kart_ID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ziyaretci.Kart_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">TC Kimlik No</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Ziyaretci.TCKimlik, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ziyaretci.TCKimlik, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Adı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Ziyaretci.Adi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ziyaretci.Adi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Soyadı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Ziyaretci.Soyadi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ziyaretci.Soyadi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Ziyaretci.Plaka, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Ziyaretci.Plaka, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ziyaretci.Plaka, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Telefon</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Ziyaretci.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ziyaretci.Telefon, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            @if (Model.Ziyaretci.Tarih == null)
                            {
                                <label class="control-label col-md-5">Ziyaret Tarihi</label>
                                <input type="date" class="form-control" name="Tarih" id="Tarih" />
                            }
                            else
                            {
                                <label class="control-label col-md-5">Ziyaret Tarihi</label>
                                @Html.TextBoxFor(model => model.Ziyaretci.Tarih, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            }


                            <div class="form-group">
                                <label class="control-label col-md-5">Ziyaret Sebebi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.Ziyaretci.Ziyaret_Sebebi, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Ziyaretci.Ziyaret_Sebebi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <img src="~/Images/6300990.jpg" class="img-profile img-fluid img-thumbnail" alt="Alternate Text" />
                            <button class="btn btn-outline-info btn-sm mt-2"><i class="fas fa-download"></i> Resim Yükle</button>
                            <a href="/Camera/Index" class="btn btn-sm btn-outline-secondary mt-2"><i class="fas fa-camera"></i> Resim Çek&nbsp;&nbsp;&nbsp;</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-danger text-center">Ziyaret Edilecek Personel Seçimi</h5>
                            <hr />

                        </div>
                        <div class="col-md-10">

                            <div class="form-group">
                                <label class="control-label col-md-5">Personel ID</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Personel.ID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Personel.ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Personel Adı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Personel.Adi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Personel.Adi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-5">Personel Soyadı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Personel.Soyadi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Personel.Soyadi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-4">Geçiş Grubu</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Grup_No", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Ziyaretci.Grup_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-2 mt-md-4">
                            <a class="btn btn-sm btn-outline-info mt-2" data-toggle="modal" data-target="#exampleModal" href="#"><i class="fas fa-user-check text-success"></i> Personel Seç</a>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-address-card"></i> Ziyaretçi Güncelle</button>
                        </div>

                    </div>
                </div>
            }
        </div>

    </div>
</div>



<!-- Modal Aktif -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 text-success">

                        <div hidden id="alertMain" class="text-success">
                            <h2 id="alert" class="text-center "></h2>
                        </div>
                        <div id="alertMain" class="text-muted">
                            <h2 class="text-center ">Kullanıcı Arama</h2>
                        </div>
                    </div>
                </div>


            </div>

            <div class="modal-body ">
                <!-- Search form -->
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" id="Search" aria-label="Search">
                    <button class="btn btn-sm btn-success" id="SearchBtn">Ara</button>
                </div>
                <hr />
                <table id="myTable" class="table table-hover text-center table-striped">
                    <thead class="table-info">
                        <tr>
                            <td>ID</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Şirket</td>
                            <td>Departman</td>
                            <td>Blok</td>
                            <td>Kendi Geçiş Grubu</td>
                            <td>Ziyaretçi Geçiş Grubu</td>
                        </tr>
                    </thead>
                    <tbody id="zyrt">
                        @foreach (var item in Model.Personeller)
                        {
                            <tr>
                                <td data-id="@item.ID" data-personeladi="@item.Adi" data-personelsoyadi="@item.Soyadi">@item.ID</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.Sirket</td>
                                <td>@item.Departman</td>
                                <td>@item.Blok</td>
                                <td>@item.Gecis_Grubu</td>
                                <td>@item.String_Ziyaretci_Grubu</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="yenile"><i class="fas fa-refresh"></i> Listeyi Yenile</button>
                <button type="button" id="temizle" class="btn btn-success"><i class="fas fa-trash-alt"></i> Seçimi İptal Et</button>
                <button type="button" id="close" class="btn btn-secondary " data-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#myTable tbody tr").click(function () {
            $("#alertMain").prop("hidden", false);
            var ID = $(this).children("td").data("id");
            var Adi = $(this).children("td").data("personeladi");
            var Soyadi = $(this).children("td").data("personelsoyadi");
            $("#Personel_ID").attr('value', ID);
            $("#Personel_Adi").attr('value', Adi);
            $("#Personel_Soyadi").attr('value', Soyadi);
            $("#alert").text(Adi + " " + Soyadi + " Seçildi!");
            var selected = $(this).hasClass("table-success");
            $("#myTable tbody tr").removeClass("table-success");
            if (!selected)
                $(this).addClass("table-success");
        });


        $("#SearchBtn").click(function () {
            var arama = $("#Search").val();
            $("#Search").val("");
            $("#zyrt").val("");
            $.ajax({
                url: '/Visitor/Personeller',
                type: 'GET',
                dataType: 'json',
                data: { Search: arama }
            }).done(function (data) {
                for (var i in data) {
                    $("#zyrt").append("<tr><td data-id=" + data[i].ID + " data-personeladi=" + data[i].Adi + " data-personelsoyadi=" + data[i].Soyadi + ">" +
                        data[i].ID +
                        "</td><td>" + data[i].Kart_ID +
                        "</td><td>" + data[i].Adi +
                        "</td><td>" + data[i].Soyadi +
                        "</td><td>" + data[i].Sirket +
                        "</td><td>" + data[i].Departman +
                        "</td><td>" + data[i].Blok +
                        "</td><td>" + data[i].Gecis_Grubu +
                        "</td><td>" + data[i].Ziyaretci_Grubu +
                        "</td></tr>");
                }
            }).always(function () {
                $("#myTable tbody tr").click(function () {
                    $("#alertMain").prop("hidden", false);
                    var ID = $(this).children("td").data("id");
                    var Adi = $(this).children("td").data("personeladi");
                    var Soyadi = $(this).children("td").data("personelsoyadi");
                    $("#Personel_ID").attr('value', ID);
                    $("#Personel_Adi").attr('value', Adi);
                    $("#Personel_Soyadi").attr('value', Soyadi);
                    $("#alert").text(Adi + " " + Soyadi + " Seçildi!");
                });

            });

        });


        $("#yenile").click(function () {
            $("#Search").html("");
            $("#zyrt").html("");
            $.ajax({
                url: '/Visitor/Personeller',
                type: 'GET',
                dataType: 'json',
                data: { Search: null }
            }).done(function (data) {
                for (var i in data) {
                    $("#zyrt").append("<tr><td data-id=" + data[i].ID + " data-personeladi=" + data[i].Adi + " data-personelsoyadi=" + data[i].Soyadi + ">" +
                        data[i].ID +
                        "</td><td>" + data[i].Kart_ID +
                        "</td><td>" + data[i].Adi +
                        "</td><td>" + data[i].Soyadi +
                        "</td><td>" + data[i].Sirket +
                        "</td><td>" + data[i].Departman +
                        "</td><td>" + data[i].Blok +
                        "</td><td>" + data[i].Gecis_Grubu +
                        "</td><td>" + data[i].Ziyaretci_Grubu +
                        "</td></tr>");
                }
            }).always(function () {
                $("#myTable tbody tr").click(function () {
                    $("#alertMain").prop("hidden", false);
                    var ID = $(this).children("td").data("id");
                    var Adi = $(this).children("td").data("personeladi");
                    var Soyadi = $(this).children("td").data("personelsoyadi");
                    $("#Personel_ID").attr('value', ID);
                    $("#Personel_Adi").attr('value', Adi);
                    $("#Personel_Soyadi").attr('value', Soyadi);
                    $("#alert").text(Adi + " " + Soyadi + " Seçildi!");
                });

            });
        });





    });
</script>


<script>
    $("#temizle").click(function () {
        $("#Personel_ID").attr("value", null);
        $("#Personel_Adi").attr("value", null);
        $("#Personel_Soyadi").attr("value", null);
        $("#alert").text("");
        $("#alertMain").prop("hidden", true);
    });


</script>