@model ForaTeknoloji.PresentationLayer.Models.VisitorListViewModel
@{
    ViewBag.Title = "Ziyaretçiler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-muted text-center">Ziyaretçi Ayarları</h3>
                @if (Model.StatusControl != -1)
                {
                    if (Model.StatusControl == 2)
                    {
                        <h3 id="Status" class="text-success text-center">İşlem Başarılı</h3>
                    }
                    else if (Model.StatusControl == 1)
                    {
                        <h3 id="Status" class="text-warning text-center">İşlem Sıraya Alındı</h3>
                    }
                    else
                    {
                        <h3 id="Status" class="text-danger text-center">İşlem Başarısız</h3>
                    }
                }
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Visitor", FormMethod.Get))
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Kullanıcı Ara..." name="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> Ara</button>
                        </div>
                    </div>
                }
                <hr />
                <table class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Kart ID</td>
                            <td>TC Kimlik</td>
                            <td>Telefon</td>
                            <td>Plaka</td>
                            <td>Tarih</td>
                            <td>Ziyaret Sebebi</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Visitor)
                        {
                            <tr>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.TCKimlik</td>
                                <td>@item.Telefon</td>
                                <td>@item.Plaka</td>
                                <td>@item.Tarih.Value.ToShortDateString()</td>
                                <td>@item.Ziyaret_Sebebi</td>
                                <td>
                                    <a title="Edit" id="edit" href="@Url.Action("Edit","Visitor",new { id=item.ID})"><i class="fas fa-edit text-info mr-2"></i></a>
                                    <a title="Delete" onclick="return confirm('Kullanıcıyı Veritabanından Silmek İstediğinize Emin Misiniz?')" href="@Url.Action("Delete","Visitor",new { id=item.ID})"><i class="fas fa-trash-alt text-danger mr-2"></i></a>
                                    <a data-toggle="modal" data-target="#panelList" title="Visitor Send To Panel" onclick="ekle(@item.ID)" id="send" href="#"><i class="fas fa-share text-success mr-2"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Panel List Modal -->
<div class="modal fade" id="panelList" tabindex="-1" role="dialog" aria-labelledby="panelListTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Send", "Visitor", FormMethod.Post))
            {
                <div class="modal-body">
                    <input id="visitorNo" type="text" hidden name="VisitorID" value="" />
                    <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm">
                        <thead class="table-info">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                        <label class="custom-control-label" for="AllPanel"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelList" id="@item.Panel_ID" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success"><i class="fas fa-send"></i> Seçilen Panellere Gönder</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        if ($("#Status").prop("hidden") == false) {
            setTimeout(function () {
                $("#Status").prop("hidden", true);
            }, 1000);
        }
    });
    function ekle(visitorNo) {
        $("#visitorNo").prop("value", visitorNo);
    }
</script>



