@model IEnumerable<ForaTeknoloji.Entities.Entities.Visitors>
@{
    ViewBag.Title = "Ziyaretçiler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-muted text-center">Ziyaretçi Ayarları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Visitor", FormMethod.Get))
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Kullanıcı Ara..." name="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> Ara</button>
                        </div>
                    </div>
                }
                    <hr />
                <table class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Kart ID</td>
                            <td>TC Kimlik</td>
                            <td>Telefon</td>
                            <td>Plaka</td>
                            <td>Tarih</td>
                            <td>Ziyaret Sebebi</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.TCKimlik</td>
                                <td>@item.Telefon</td>
                                <td>@item.Plaka</td>
                                <td>@item.Tarih</td>
                                <td>@item.Ziyaret_Sebebi</td>
                                <td>
                                    <a title="Edit" id="edit" href="@Url.Action("Edit","Visitor",new { id=item.ID})"><i class="fas fa-edit text-info mr-2"></i></a>
                                    <a title="Delete" onclick="return confirm('Kullanıcıyı Veritabanından Silmek İstediğinize Emin Misiniz?')" href="@Url.Action("Delete","Visitor",new { id=item.ID})"><i class="fas fa-trash-alt text-danger mr-2"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
