@model ForaTeknoloji.PresentationLayer.Models.VisitorsList
@{
    /**/

    ViewBag.Title = "Ziyaretçi Raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.ComplexVisitorsListesi, rowsPerPage: 20, canPage: true, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    webGrid.Pager(WebGridPagerModes.NextPrevious);
    string img = "#";
    string canlimg = "#";
    if (webGrid.HasSelection)
    {
        var sonuc = (ForaTeknoloji.Entities.ComplexType.ZiyaretciRaporList)webGrid.Rows[webGrid.SelectedIndex].Value;
        img = "/Images/" + sonuc.Ziyaretci_Resim;
        canlimg = "/Canli_Images/" + sonuc.Ziyaretci_Resim;

    }
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 mt-1 shadow-lg animated slideInLeft faster">
    <div class="card-header-tabs">
        <h3 class="text-muted text-center">Ziyaretçi Raporları</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "VisitorReport", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="tümYon" class="custom-control-input" id="tümYon" checked name="KapiYon">
                            <label class="custom-control-label" for="tümYon">Tüm Yönler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="giris" class="custom-control-input" id="giris" name="KapiYon">
                            <label class="custom-control-label" for="giris">Giriş</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="cikis" class="custom-control-input" id="cikis" name="KapiYon">
                            <label class="custom-control-label" for="cikis">Çıkış</label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="tümKayit" class="custom-control-input" id="tümKayit" checked name="Kayit">
                            <label class="custom-control-label" for="tümKayit">Tüm Kayıtlar</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="OnaylananGecisler" class="custom-control-input" id="OnaylananGecisler" name="Kayit">
                            <label class="custom-control-label text-success" for="OnaylananGecisler">Onaylanan Geçişler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Antipassback" class="custom-control-input" id="Antipassback" name="Kayit">
                            <label class="custom-control-label text-danger" for="Antipassback">Antipassback İhlalleri</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Engellenen" class="custom-control-input" id="Engellenen" name="Kayit">
                            <label class="custom-control-label text-warning" for="Engellenen">Engellenen İstekler</label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="Tümü" class="custom-control-input" id="TümKapi" />
                            <label class="custom-control-label" for="TümKapi">Tüm Kapılar</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <div id="Kapilar"></div>
                            <input type="checkbox" value="1" name="Kapi" class="custom-control-input" id="Kapi1" />
                            <label class="custom-control-label" for="Kapi1">Kapı 1</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="2" name="Kapi" class="custom-control-input" id="Kapi2" />
                            <label class="custom-control-label" for="Kapi2">Kapı 2</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="3" name="Kapi" class="custom-control-input" id="Kapi3" />
                            <label class="custom-control-label" for="Kapi3">Kapı 3</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="4" name="Kapi" class="custom-control-input" id="Kapi4" />
                            <label class="custom-control-label" for="Kapi4">Kapı 4</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="5" name="Kapi" class="custom-control-input" id="Kapi5" />
                            <label class="custom-control-label" for="Kapi5">Kapı 5</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="6" name="Kapi" class="custom-control-input" id="Kapi6" />
                            <label class="custom-control-label" for="Kapi6">Kapı 6</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="7" name="Kapi" class="custom-control-input" id="Kapi7" />
                            <label class="custom-control-label" for="Kapi7">Kapı 7</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="8" name="Kapi" class="custom-control-input" id="Kapi8" />
                            <label class="custom-control-label" for="Kapi8">Kapı 8</label>
                        </div>
                        @*<div id="Kapilar"></div>*@
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="TümPanel" class="custom-control-input" id="TümPanel" />
                            <label class="custom-control-label" for="TümPanel">Tüm Paneller</label>
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Paneller, Model.Paneller, "Panel Seçimi", new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="TümGlobal" class="custom-control-input" id="TümGlobal" />
                            <label class="custom-control-label" for="TümGlobal">Tüm Global Kapı Bölgeleri</label>
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Global_Bolge_Adi, Model.Global_Bolge_Adi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="TümGecis" class="custom-control-input" id="TümGecis" />
                            <label class="custom-control-label" for="TümGecis">Tüm Gruplar</label>
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Groupsdetail, Model.Groupsdetail, "Geçiş Grubu Seçimi", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="true" name="TümZiyaret" class="custom-control-input" id="TümZiyaret" />
                            <label class="custom-control-label" for="TümZiyaret">Tüm Ziyaretçiler</label>
                        </div>
                        <div class="form-group">
                            <input type="text" id="Ziyaretci" class="form-control" name="Ziyaret" />
                            <input type="text" id="Visitor" hidden name="Visitors" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="true" name="TümTarih" class="custom-control-input" id="TümTarih" />
                                <label class="custom-control-label" for="TümTarih">Tüm Tarihler</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="true" name="ikiTarih" class="custom-control-input" id="ikiTarih" />
                                <label class="custom-control-label" for="ikiTarih">İki Tarih Arası</label>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Başlangıç</label>
                                <input class="form-control" name="Tarih1" type="date" value="2019-08-13" id="Tarih1">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Bitiş</label>
                                <input class="form-control" name="Tarih2" disabled type="date" value="2019-08-13" id="Tarih2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control  custom-checkbox">
                                <input type="checkbox" value="true" name="ikiSaat" class="custom-control-input " id="ikiSaat" />
                                <label class="custom-control-label" for="ikiSaat">İki Saat Arası</label>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Saat1" type="time" disabled value="@DateTime.Now.ToLongTimeString()" id="Saat1">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Saat2" type="time" disabled value="@DateTime.Now.ToLongTimeString()" id="Saat2">
                            </div>
                        </div>
                        <br /> <br /><br /> <br /><br /><br />
                        <h4 class="text-info text-right">@Model.ComplexVisitorsListesi.Count Adet Kayıt Listelendi</h4>
                        <hr />
                        <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                        <a id="Excell" href="@Url.Action("ZiyaretciListesi","VisitorReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                        <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <p class="text-center text-muted">Kayıtlı Fotoğraf</p>
                    <hr />
                    <img id="change-image" src="@img" alt="Kayıtlı Fotoğraf" />

                    <p class="text-center text-muted">Canlı Fotoğraf</p>
                    <hr />
                    <img id="change-image-canli" src="@canlimg" alt="Canlı Fotoğraf" />

                </div>
            </div>
        }
    </div>
</div>
<div class="card border-left-info h-100 mt-1 shadow-lg animated slideInRight faster">
    <div class="card-body">
        <div id="print_div">
            @if (Model.ComplexVisitorsListesi.Count > 0)
            {
                @webGrid.GetHtml(
          htmlAttributes: new { @id = "tableNon", @class = "table-borderless table table-hover text-center table-striped table-sm" },
         footerStyle:"table-pager",
          selectedRowStyle: "selectRow",
          columns: webGrid.Columns(
    webGrid.Column("Kart_ID", "Canlı/Kayıtlı", format: (item) => item.GetSelectLink("Resim")),
    webGrid.Column("ID", "ID"),
    webGrid.Column("Kart_ID", "Kart ID"),
    webGrid.Column("Ziyaretci_Adi", "Ziyaretçi Adı"),
    webGrid.Column("Ziyaretci_Soyadi", "Ziyaretçi Soyadı"),
    webGrid.Column("Ziyaretci_TCKimlik", "Ziyaretçi TC Kimlik"),
    webGrid.Column("Ziyaretci_Telefon", "Ziyaretçi Telefon"),
    webGrid.Column("Ziyaretci_Plaka", "Ziyaretçi Plaka"),
    webGrid.Column("Ziyaret_Sebebi", "Ziyaret Sebebi"),
    webGrid.Column("Grup_Adi", "Grup"),
    webGrid.Column("Panel_ID", "Panel"),
    webGrid.Column("Kapi", "Kapı"),
    webGrid.Column("Gecis_Tipi", "Geçiş", format: item => item.Gecis_Tipi == 0 ? "Giriş" : "Çıkış"),
    webGrid.Column("Tarih", "Tarih"),
    webGrid.Column("Personel_Adi", "Personel Adı"),
    webGrid.Column("Personel_Soyadi", "Personel Soyadı")))
            }
            else
            {
                <div class="alert alert-info alert-message">
                    <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                </div>
            }
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-muted">Ziyaretçi Arama</h4>
            </div>
            <div class="modal-body ">
                <div hidden id="alertMain" class="alert-success">
                    <h2 id="alert" class="text-center text-muted"></h2>
                </div>
                <!-- Search form -->
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" id="Search" aria-label="Search">
                    <button class="btn btn-sm btn-success" id="SearchBtn">Ara</button>
                </div>
                <hr />
                <table id="myTable" class="table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Kayıt No</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>TC Kimlik No</td>
                            <td>Plaka</td>
                            <td>Tarih</td>
                            <td>Saat</td>
                            <td>Ziyaret Sebebi</td>
                            <td>Grup No</td>
                            <td>ID</td>
                            <td>User ID</td>
                            <td>UseUserGroup</td>
                            <td>Telefon</td>
                            <td>Resim</td>
                        </tr>
                    </thead>
                    <tbody id="SearchTable">
                        @foreach (var item in Model.Visitors)
                        {
                            <tr>
                                <td data-kayitno="@item.Kayit_No" data-visitor="@(item.Adi + ' ' + item.Soyadi)">@item.Kayit_No</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.TCKimlik</td>
                                <td>@item.Plaka</td>
                                @if (item.Tarih == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@item.Tarih.Value.ToShortDateString()</td>
                                }
                                @if (item.Saat == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@item.Saat.Value.ToLongTimeString()</td>
                                }
                                <td>@item.Ziyaret_Sebebi</td>
                                <td>@item.Grup_No</td>
                                <td>@item.ID</td>
                                <td>@item.User_ID</td>
                                <td>@item.UseUserGroup</td>
                                <td>@item.Telefon</td>
                                <td>@item.Resim</td>

                            </tr>

                        }
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="yenile"><i class="fas fa-refresh"></i> Listeyi Yenile</button>
                <button type="button" class="btn btn-success" id="temizle"><i class="fas fa-trash-alt"></i> Seçimi İptal Et</button>
                <button type="button" id="close" class="btn btn-secondary " data-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#TümKapi").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Kapi1").attr("disabled", true);
                $("#Kapi1").prop("checked", false);
                $("#Kapi2").attr("disabled", true);
                $("#Kapi2").prop("checked", false);
                $("#Kapi3").attr("disabled", true);
                $("#Kapi3").prop("checked", false);
                $("#Kapi4").attr("disabled", true);
                $("#Kapi4").prop("checked", false);
                $("#Kapi5").attr("disabled", true);
                $("#Kapi5").prop("checked", false);
                $("#Kapi6").attr("disabled", true);
                $("#Kapi6").prop("checked", false);
                $("#Kapi7").attr("disabled", true);
                $("#Kapi7").prop("checked", false);
                $("#Kapi8").attr("disabled", true);
                $("#Kapi8").prop("checked", false);
            } else {
                $("#Kapi1").attr("disabled", false);
                $("#Kapi2").attr("disabled", false);
                $("#Kapi3").attr("disabled", false);
                $("#Kapi4").attr("disabled", false);
                $("#Kapi5").attr("disabled", false);
                $("#Kapi6").attr("disabled", false);
                $("#Kapi7").attr("disabled", false);
                $("#Kapi8").attr("disabled", false);
            }

        });
        $("#TümPanel").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Paneller").attr("disabled", true);
            } else {
                $("#Paneller").attr("disabled", false);
            }
        });
        $("#TümGlobal").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Global_Bolge_Adi").attr("disabled", true);
            } else {
                $("#Global_Bolge_Adi").attr("disabled", false);
            }
        });
        $("#TümZiyaret").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Ziyaretci").attr("disabled", true);
                $("#Visitor").attr("value", null);
                $("#Ziyaretci").attr("value", null);
            } else {
                $("#Ziyaretci").attr("disabled", false);
            }
        });
        $("#TümGecis").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Groupsdetail").attr("disabled", true);
            } else {
                $("#Groupsdetail").attr("disabled", false);
            }
        });
        $("#TümTarih").change(function () {
            if ($(this).prop("checked") == true) {
                $("#ikiTarih").attr("disabled", true);
                $("#ikiSaat").attr("disabled", true);
                $("#Tarih1").attr("disabled", true);
                $("#Tarih2").attr("disabled", true);
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            } else {
                $("#ikiTarih").attr("disabled", false);
                $("#ikiSaat").attr("disabled", false);
                $("#Tarih1").attr("disabled", false);
            }

        });
        $("#ikiSaat").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Saat1").attr("disabled", false);
                $("#Saat2").attr("disabled", false);
            } else {
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            }

        });//İki Saati Seçme
        $("#ikiTarih").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Tarih2").attr("disabled", false);
            } else {
                $("#Tarih2").attr("disabled", true);
            }

        });//İki tarihi seçme
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>Ziyaretçi Raporları</title>');
            frameDoc.document.write('</head><body><hr />');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });//Çıktı Alma Kodu
        $("#Ziyaretci").focus(function () {
            $("#exampleModal").modal("show");
            $("#myTable tbody tr").click(function () {
                $("#alertMain").prop("hidden", false);
                var kayitNo = $(this).children("td").data("kayitno");
                var name = $(this).children("td").data("visitor");
                $("#Ziyaretci").attr('value', name);
                $("#Visitor").attr('value', kayitNo);
                $("#alert").text(name + " Seçildi!");

            });
        });//Açılan Popup'taki kullanıcıyı seçme ve text'te yazma
        $("#temizle").click(function () {
            $("#Visitor").attr("value", null);
            $("#Ziyaretci").attr("value", null);
            $("#alertMain").prop("hidden", true);
        });

        var today = new Date();
        $('#Tarih1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
        $('#Tarih2').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));

        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');

    });
</script>
<script>
    $(document).ready(function () {
        $("#SearchBtn").click(function () {
            var arama = $("#Search").val();
            $("#Search").val("");
            $.ajax({
                url: '/VisitorReport/ComplexVisitors',
                type: 'GET',
                data: { Search: arama },
                dataType: 'json',
            }).done(function (data) {
                function dateFormat(d) {
                    return ((d.getDate() + "").padStart(2, "0") + "/" + (d.getMonth() + 1) + "").padStart(2, "0") + "/" + d.getFullYear();
                };
                function timeFormat(dt) {
                    var d = new Date(dt);
                    return (d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds());
                }
                $("#SearchTable").html("");
                $("#Search").html("");
                for (var i in data) {
                    $("#SearchTable").append("<tr><td data-kayitno=" +
                        data[i].Kayit_No +
                        " data-visitor=" +
                        data[i].Adi + '-' + data[i].Soyadi + ">" +
                        data[i].Kayit_No +

                        "</td><td>" + data[i].Kart_ID +
                        "</td><td>" + data[i].Adi +
                        "</td><td>" + data[i].Soyadi +
                        "</td><td>" + data[i].TCKimlik +
                        "</td><td>" + data[i].Plaka +
                        "</td><td>" + dateFormat(new Date(parseInt((data[i].Tarih).match(/\d+/)[0]))) +
                        "</td><td>" + data[i].Saat +
                        "</td><td>" + data[i].Ziyaret_Sebebi +
                        "</td><td>" + data[i].Grup_No +
                        "</td><td>" + data[i].ID +
                        "</td><td>" + data[i].User_ID +
                        "</td><td>" + data[i].UseUserGroup +
                        "</td><td>" + data[i].Telefon +
                        "</td><td>" + data[i].Resim +
                        "</td></tr>");
                }
            }).always(function () {
                $("#myTable tbody tr").click(function () {
                    $("#alertMain").prop("hidden", false);
                    var kayitNo = $(this).children("td").data("kayitno");
                    var name = $(this).children("td").data("visitor");
                    $("#Ziyaretci").attr('value', name);
                    $("#Visitor").attr('value', kayitNo);
                    $("#alert").text(name + " Seçildi!");

                });



            })


        });
        $("#yenile").click(function () {
            $.ajax({
                url: '/VisitorReport/ComplexVisitors',
                type: 'GET',
                data: { Search: null },
                dataType: 'json',
            }).done(function (data) {
                function dateFormat(d) {
                    return ((d.getDate() + "").padStart(2, "0") + "." + (d.getMonth() + 1) + "").padStart(2, "0") + "." + d.getFullYear();
                };
                function timeFormat(d) {
                    return ((d.getUTCHours() + "").padStart(2, "0") + ":" + (d.getUTCMinutes() + 1) + "").padStart(2, "0") + ":" + d.getUTCSeconds();
                }
                $("#SearchTable").html("");
                $("#Search").html("");
                for (var i in data) {
                    $("#SearchTable").append("<tr><td data-kayitno=" +
                        data[i].Kayit_No +
                        " data-visitor=" +
                        data[i].Adi + '-' + data[i].Soyadi + ">" +
                        data[i].Kayit_No +
                        "</td><td>" + data[i].Kart_ID +
                        "</td><td>" + data[i].Adi +
                        "</td><td>" + data[i].Soyadi +
                        "</td><td>" + data[i].TCKimlik +
                        "</td><td>" + data[i].Plaka +
                        "</td><td>" + dateFormat(new Date(parseInt((data[i].Tarih).match(/\d+/)[0]))) +
                        "</td><td>" + timeFormat(new Date(parseInt((data[i].Saat).match(/\d+/)[0]))) +
                        "</td><td>" + data[i].Ziyaret_Sebebi +
                        "</td><td>" + data[i].Grup_No +
                        "</td><td>" + data[i].ID +
                        "</td><td>" + data[i].User_ID +
                        "</td><td>" + data[i].UseUserGroup +
                        "</td><td>" + data[i].Telefon +
                        "</td><td>" + data[i].Resim +
                        "</td></tr>");
                }
            }).always(function () {
                $("#myTable tbody tr").click(function () {
                    $("#alertMain").prop("hidden", false);
                    var kayitNo = $(this).children("td").data("kayitno");
                    var name = $(this).children("td").data("visitor");
                    $("#Ziyaretci").attr('value', name);
                    $("#Visitor").attr('value', kayitNo);
                    $("#alert").text(name + " Seçildi!");

                });



            })


        });

    });
</script>