@model ForaTeknoloji.PresentationLayer.Models.AlarmCreateViewModel
@{
    ViewBag.Title = "Yeni Alarm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
}
<div class="row animated fadeIn faster">
    <div class="col-md-8 offset-md-2">
        <div class="card border-left-info h-100 shadow-lg mx-lg-5 my-lg-5">
            <div class="card-header py-1 mt-1">
                <h3 class="card-title"><i class="fas fa-bookmark"></i> Yeni Alarm Ayarı</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "Alarm", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Alarm_No)
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Alarm No</label>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="Alarm_No_Value" class="form-control text-light" value="@Model.Alarm_No" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Alarm Adı</label>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="Alarm_Adi" class="form-control" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">Alarm Tipi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Alarm_Tipi", Model.AlarmTipleri, "Alarm Tipi Seçimi...", new { @class = "form-control bg-transparent text-light chosen-select", tabindex = "2" })  @*bg-transparent text-light*@
                                        @Html.ValidationMessageFor(model => model.AlarmTipleri, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Panel Seçimi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Panel_No", Model.Paneller, "Panel Seçimi...", new { @class = "form-control bg-transparent text-light chosen-select", tabindex = "2" })  @*bg-transparent text-light*@
                                        @Html.ValidationMessageFor(model => model.Paneller, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">Kapı Seçimi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Kapi_No", null, "Kapı Seçimi...", new { @class = "form-control bg-transparent text-light chosen-select", tabindex = "2" })  @*bg-transparent text-light*@
                                        @Html.ValidationMessageFor(model => model.Kapilar, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Harici Alarm Rolesi No</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Kapi_Role_No", null, "Harici Alarm Rolesi...", new { @class = "form-control bg-transparent text-light chosen-select", tabindex = "2" }) @*bg-transparent text-light*@
                                        @Html.ValidationMessageFor(model => model.AlarmRolesi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="text-center text-muted">Alarm Çıkış Ayarları</label>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="Alarm_Rolesi" id="Alarm_Rolesi" class="custom-control-input" value="true" />
                                    <label class="custom-control-label" for="Alarm_Rolesi">Alarm Rolesi Aktif</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="Kapi_Rolesi" id="Kapi_Rolesi" class="custom-control-input" value="true" />
                                    <label class="custom-control-label" for="Kapi_Rolesi">Harici Alarm Rolesi Aktif</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Kullanıcı ID</label>
                                        <input type="text" name="User_ID" id="User_ID" class="form-control" value="" />
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Adı</label>
                                        <input type="text" name="Adi" id="Adi" class="form-control" value="" />

                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Kart ID</label>
                                        <input type="text" name="Kart_ID" id="Kart_ID" class="form-control" value="" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Soyadı</label>
                                        <input type="text" name="Soyadi" id="Soyadi" class="form-control" value="" />
                                    </div>
                                </div>
                                <div class="col-md-2 mt-md-4">
                                    <div class="mt-2">
                                        <a class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#exampleModal" href="#"><i class="fas fa-user-check"></i> Kullanıcı Seç</a>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Grup No</label>
                                        <input type="text" name="Grup_No" id="Grup_No" class="form-control" value="" />
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <hr />
                                    <a href="@Url.Action("Index","Alarm")" class="btn btn-sm btn-outline-primary"><i class="fas fa-hand-point-left"></i> Listeye Geri Dön</a>
                                    <button type="submit" class="btn btn-outline-success btn-sm"><i class="fas fa-calendar-plus"></i> Alarm Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




<!-- Modal Aktif -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 text-success">
                        <div hidden id="alertMain" class="text-success">
                            <h2 id="alert" class="text-center "></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body ">
                <table id="myTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Şirket</td>
                            <td>Departman</td>
                            <td>Alt Departman</td>
                            <td>Bölüm</td>
                            <td>Blok</td>
                            <td>Kendi Geçiş Grubu</td>
                        </tr>
                    </thead>
                    <tbody id="zyrt">
                        @foreach (var item in Model.Kullanıcılar)
                        {
                            <tr>
                                <td data-id="@item.ID" data-personeladi="@item.Adi" data-gecisgrubu="@item.Grup_Adi" data-personelsoyadi="@item.Soyadi" data-kartid="@item.Kart_ID">@item.ID</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.SirketAdi</td>
                                <td>@item.DepartmanAdi</td>
                                <td>@item.AltDepartmanAdi</td>
                                <td>@item.BolumAdi</td>
                                <td>@item.BlokAdi</td>
                                <td>@item.Grup_Adi</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="yenile"><i class="fas fa-refresh"></i> Listeyi Yenile</button>
                <button type="button" id="temizle" class="btn btn-success"><i class="fas fa-trash-alt"></i> Seçimi İptal Et</button>
                <button type="button" id="close" class="btn btn-secondary " data-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                }
            });
        });
    </script>
}

<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#myTable tbody tr").click(function () {
            $("#alertMain").prop("hidden", false);
            var ID = $(this).children("td").data("id");
            var Adi = $(this).children("td").data("personeladi");
            var Soyadi = $(this).children("td").data("personelsoyadi");
            var KartID = $(this).children("td").data("kartid");
            var GecisGrubu = $(this).children("td").data("gecisgrubu");
            $("#User_ID").attr('value', ID);
            $("#Adi").attr('value', Adi);
            $("#Soyadi").attr('value', Soyadi);
            $("#Kart_ID").attr('value', KartID);
            $("#Grup_No").attr('value', GecisGrubu);
            $("#alert").text(Adi + " " + Soyadi + " Seçildi!");
            var selected = $(this).hasClass("table-success");
            $("#myTable tbody tr").removeClass("table-success");
            if (!selected)
                $(this).addClass("table-success");
        });


        $("#yenile").click(function () {
            $("#Search").html("");
            $("#zyrt").html("");
            $.ajax({
                url: '/Alarm/Personeller',
                type: 'GET',
                dataType: 'json',
                data: { Search: null }
            }).done(function (data) {
                for (var i in data) {
                    $("#zyrt").append("<tr><td data-id=" + data[i].ID + " data-personeladi=" + data[i].Adi + " data-personelsoyadi=" + data[i].Soyadi + ">" +
                        data[i].ID +
                        "</td><td>" + data[i].Kart_ID +
                        "</td><td>" + data[i].Adi +
                        "</td><td>" + data[i].Soyadi +
                        "</td><td>" + data[i].SirketAdi +
                        "</td><td>" + data[i].DepartmanAdi +
                        "</td><td>" + data[i].AltDepartmanAdi +
                        "</td><td>" + data[i].BolumAdi +
                        "</td><td>" + data[i].BlokAdi +
                        "</td><td>" + data[i].Grup_Adi +
                        "</td></tr>");
                }
            }).always(function () {
                $("#myTable tbody tr").click(function () {
                    $("#alertMain").prop("hidden", false);
                    var ID = $(this).children("td").data("id");
                    var Adi = $(this).children("td").data("personeladi");
                    var Soyadi = $(this).children("td").data("personelsoyadi");
                    var KartID = $(this).children("td").data("kartid");
                    var GecisGrubu = $(this).children("td").data("gecisgrubu");
                    $("#User_ID").attr('value', ID);
                    $("#Adi").attr('value', Adi);
                    $("#Soyadi").attr('value', Soyadi);
                    $("#Kart_ID").attr('value', KartID);
                    $("#Grup_No").attr('value', GecisGrubu);
                    $("#alert").text(Adi + " " + Soyadi + " Seçildi!");
                });

            });
        });
        $("#Panel_No").chosen().change(function () {
            var panelNo = $(this).val();
            if (panelNo == 0 || panelNo == null) {
                $("#Kapi_No").empty();
                $("#Kapi_No").append('<option > Kapı Seçiniz... </option>');
            } else {
                $.ajax({
                    url: '/Alarm/KapiListesi?Paneller=' + panelNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Kapi_No").empty();
                    $("#Kapi_No").append('<option > Kapı Seçiniz... </option>');
                    $.each(data, function (index, row) {
                        $("#Kapi_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    })
                });
            }

        });












    });
    $("#temizle").click(function () {
        $("#User_ID").attr("value", null);
        $("#Adi").attr("value", null);
        $("#Soyadi").attr("value", null);
        $("#Kart_ID").attr("value", null);
        $("#Grup_No").attr("value", null);
        $("#alert").text("");
        $("#alertMain").prop("hidden", true);
    });
</script>