@model ForaTeknoloji.PresentationLayer.Models.AlarmEditListViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated slideInLeft">
    <div class="col-md-8 offset-md-2">
        <div class="card shadow-lg mx-lg-5 my-lg-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-muted text-center">Alarm Ayarları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Alarm", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Alarm.Alarm_No)
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Alarm No</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextBox("Alarm_No", Model.Alarm.Alarm_No, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Alarm.Alarm_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Alarm Adı</label>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.TextBox("Alarm_Adi", Model.Alarm.Alarm_Adi, null, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Alarm.Alarm_Adi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">Alarm Tipi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Alarm_Tipi", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Alarm.Alarm_Tipi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Panel Seçimi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Panel_No", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Alarm.Panel_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">Kapı Seçimi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Kapi_No", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Alarm.Kapi_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Harici Alarm Rolesi No</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Kapi_Role_No", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Alarm.Kapi_Role_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="text-center text-muted">Alarm Çıkış Ayarları</label>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Alarm_Rolesi", Model.Alarm.Alarm_Rolesi ?? false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Alarm_Rolesi">Alarm Rolesi Aktif</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Kapi_Rolesi", Model.Alarm.Kapi_Rolesi ?? false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Kapi_Rolesi">Harici Alarm Rolesi Aktif</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Kullanıcı ID</label>
                                        @Html.TextBox("User_ID", Model.SeciliKullanici.ID, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SeciliKullanici.ID, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Adı</label>
                                        @Html.TextBoxFor(model => model.SeciliKullanici.Adi, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SeciliKullanici.Adi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Kart ID</label>
                                        @Html.TextBoxFor(model => model.SeciliKullanici.Kart_ID, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SeciliKullanici.Kart_ID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Soyadı</label>
                                        @Html.TextBoxFor(model => model.SeciliKullanici.Soyadi, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SeciliKullanici.Soyadi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2 mt-md-4">
                                    <div class="mt-2">
                                        <a class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#exampleModal" href="#"><i class="fas fa-user-check"></i> Kullanıcı Seç</a>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Grup No</label>
                                        @Html.TextBoxFor(model => model.SeciliKullanici.Grup_No, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SeciliKullanici.Grup_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <hr />
                                    <button type="submit" class="btn btn-outline-success btn-sm"><i class="fas fa-edit"></i> Alarm Güncelle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- Modal Aktif -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 text-success">

                        <div hidden id="alertMain" class="text-success">
                            <h2 id="alert" class="text-center "></h2>
                        </div>
                        <div id="alertMain" class="text-muted">
                            <h2 class="text-center ">Kullanıcı Arama</h2>
                        </div>
                    </div>
                </div>


            </div>

            <div class="modal-body ">
                <!-- Search form -->
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" id="Search" aria-label="Search">
                    <button class="btn btn-sm btn-success" id="SearchBtn">Ara</button>
                </div>
                <hr />
                <table id="myTable" class="table table-hover text-center table-striped">
                    <thead class="table-info">
                        <tr>
                            <td>ID</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Şirket</td>
                            <td>Departman</td>
                            <td>Blok</td>
                            <td>Kendi Geçiş Grubu</td>
                            <td>Ziyaretçi Geçiş Grubu</td>
                        </tr>
                    </thead>
                    <tbody id="zyrt">
                        @foreach (var item in Model.Kullanıcılar)
                        {
                            <tr>
                                <td data-id="@item.ID" data-personeladi="@item.Adi" data-gecisgrubu="@item.Gecis_Grubu" data-personelsoyadi="@item.Soyadi" data-kartid="@item.Kart_ID">@item.ID</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.Sirket</td>
                                <td>@item.Departman</td>
                                <td>@item.Blok</td>
                                <td>@item.Gecis_Grubu</td>
                                <td>@item.String_Ziyaretci_Grubu</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="yenile"><i class="fas fa-refresh"></i> Listeyi Yenile</button>
                <button type="button" id="temizle" class="btn btn-success"><i class="fas fa-trash-alt"></i> Seçimi İptal Et</button>
                <button type="button" id="close" class="btn btn-secondary " data-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myTable tbody tr").click(function () {
            $("#alertMain").prop("hidden", false);
            var ID = $(this).children("td").data("id");
            var Adi = $(this).children("td").data("personeladi");
            var Soyadi = $(this).children("td").data("personelsoyadi");
            var KartID = $(this).children("td").data("kartid");
            var GecisGrubu = $(this).children("td").data("gecisgrubu");
            $("#User_ID").attr('value', ID);
            $("#SeciliKullanici_Adi").attr('value', Adi);
            $("#SeciliKullanici_Soyadi").attr('value', Soyadi);
            $("#SeciliKullanici_Kart_ID").attr('value', KartID);
            $("#SeciliKullanici_Grup_No").attr('value', GecisGrubu);
            $("#alert").text(Adi + " " + Soyadi + " Seçildi!");
            var selected = $(this).hasClass("table-success");
            $("#myTable tbody tr").removeClass("table-success");
            if (!selected)
                $(this).addClass("table-success");
        });


        $("#SearchBtn").click(function () {
            var arama = $("#Search").val();
            $("#Search").val("");
            $("#zyrt").val("");
            $.ajax({
                url: '/Alarm/Personeller',
                type: 'GET',
                dataType: 'json',
                data: { Search: arama }
            }).done(function (data) {
                for (var i in data) {
                    $("#zyrt").append("<tr><td data-id=" + data[i].ID + " data-personeladi=" + data[i].Adi + " data-personelsoyadi=" + data[i].Soyadi + ">" +
                        data[i].ID +
                        "</td><td>" + data[i].Kart_ID +
                        "</td><td>" + data[i].Adi +
                        "</td><td>" + data[i].Soyadi +
                        "</td><td>" + data[i].Sirket +
                        "</td><td>" + data[i].Departman +
                        "</td><td>" + data[i].Blok +
                        "</td><td>" + data[i].Gecis_Grubu +
                        "</td><td>" + data[i].Ziyaretci_Grubu +
                        "</td></tr>");
                }
            }).always(function () {
                $("#myTable tbody tr").click(function () {
                    $("#alertMain").prop("hidden", false);
                    var ID = $(this).children("td").data("id");
                    var Adi = $(this).children("td").data("personeladi");
                    var Soyadi = $(this).children("td").data("personelsoyadi");
                    var KartID = $(this).children("td").data("kartid");
                    var GecisGrubu = $(this).children("td").data("gecisgrubu");
                    $("#User_ID").attr('value', ID);
                    $("#SeciliKullanici_Adi").attr('value', Adi);
                    $("#SeciliKullanici_Soyadi").attr('value', Soyadi);
                    $("#SeciliKullanici_Kart_ID").attr('value', KartID);
                    $("#SeciliKullanici_Grup_No").attr('value', GecisGrubu);
                    $("#alert").text(Adi + " " + Soyadi + " Seçildi!");
                });

            });

        });


        $("#yenile").click(function () {
            $("#Search").html("");
            $("#zyrt").html("");
            $.ajax({
                url: '/Alarm/Personeller',
                type: 'GET',
                dataType: 'json',
                data: { Search: null }
            }).done(function (data) {
                for (var i in data) {
                    $("#zyrt").append("<tr><td data-id=" + data[i].ID + " data-personeladi=" + data[i].Adi + " data-personelsoyadi=" + data[i].Soyadi + ">" +
                        data[i].ID +
                        "</td><td>" + data[i].Kart_ID +
                        "</td><td>" + data[i].Adi +
                        "</td><td>" + data[i].Soyadi +
                        "</td><td>" + data[i].Sirket +
                        "</td><td>" + data[i].Departman +
                        "</td><td>" + data[i].Blok +
                        "</td><td>" + data[i].Gecis_Grubu +
                        "</td><td>" + data[i].Ziyaretci_Grubu +
                        "</td></tr>");
                }
            }).always(function () {
                $("#myTable tbody tr").click(function () {
                    $("#alertMain").prop("hidden", false);
                    var ID = $(this).children("td").data("id");
                    var Adi = $(this).children("td").data("personeladi");
                    var Soyadi = $(this).children("td").data("personelsoyadi");
                    var KartID = $(this).children("td").data("kartid");
                    var GecisGrubu = $(this).children("td").data("gecisgrubu");
                    $("#User_ID").attr('value', ID);
                    $("#SeciliKullanici_Adi").attr('value', Adi);
                    $("#SeciliKullanici_Soyadi").attr('value', Soyadi);
                    $("#SeciliKullanici_Kart_ID").attr('value', KartID);
                    $("#SeciliKullanici_Grup_No").attr('value', GecisGrubu);
                    $("#alert").text(Adi + " " + Soyadi + " Seçildi!");
                });

            });
        });

    })
</script>
<script>
    $("#temizle").click(function () {
        $("#User_ID").attr("value", null);
        $("#SeciliKullanici_Adi").attr("value", null);
        $("#SeciliKullanici_Soyadi").attr("value", null);
        $("#SeciliKullanici_Kart_ID").attr("value", null);
        $("#SeciliKullanici_Grup_No").attr("value", null);
        $("#alert").text("");
        $("#alertMain").prop("hidden", true);
    });


</script>