@model ForaTeknoloji.PresentationLayer.Models.AlarmListViewModel
@{
    ViewBag.Title = "Alarmlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated flipInX">
    <div class="col-md-8 offset-2">
        <div class="card shadow-lg mt-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-muted text-center"><i>Kullanıcı Alarm Tanımları</i></h3>
                @if (Model.StatusControl != -1)
                {
                    if (Model.StatusControl == 2)
                    {
                        <h3 id="Status" class="text-success text-center">İşlem Başarılı</h3>
                    }
                    else if (Model.StatusControl == 1)
                    {
                        <h3 id="Status" class="text-warning text-center">İşlem Sıraya Alındı</h3>
                    }
                    else
                    {
                        <h3 id="Status" class="text-danger text-center">İşlem Başarısız</h3>
                    }
                }
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href="@Url.Action("Create","Alarm")" class="btn btn-sm btn-outline-success my-3"><i class="fas fa-calendar-plus mr-2"></i> Yeni Alarm</a>
                    </div>
                </div>
                <table class="table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Alarm No</td>
                            <td>Alarm Adi</td>
                            <td>Alarm Tipi Adi</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Alarmlar)
                        {
                            <tr>
                                <td>@item.Alarm_No</td>
                                <td>@item.Alarm_Adi</td>
                                <td>@item.Adi</td>
                                <td>
                                    <a title="Düzenle" href="@Url.Action("Edit","Alarm",new {id=item.Alarm_No })" class="text-info mr-2"><i class="fas fa-edit"></i></a>
                                    <a title="Panelden Sil" onclick="return confirm('Panelden Silmek İstediğinize Emin Misiniz?')" href="@Url.Action("PanelRemove","Alarm",new {id=item.Alarm_No })" class="text-danger mr-2"><i class="fas fa-dumpster-fire"></i></a>
                                    <a title="Veritabanından Sil" onclick="return confirm('Veritabanından Silmek İstediğinize Emin Misiniz?')" href="@Url.Action("DatabaseRemove","Alarm",new { id=item.Alarm_No})" class="text-warning mr-2"><i class="fas fa-trash"></i></a>
                                    <a title="Panele Gönder" onclick="return confirm('Panele Göndermek İstediğinize Emin Misiniz?')" class="text-success" href="@Url.Action("Send","Alarm",new {id=item.Alarm_No })"><i class="fas fa-share"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if ($("#Status").prop("hidden") == false) {
            setTimeout(function () {
                $("#Status").prop("hidden", true);
            }, 1500);
        }
    });
</script>