@model ForaTeknoloji.PresentationLayer.Models.AlarmListViewModel
@using ForaTeknoloji.Common
@{
    ViewBag.Title = "Alarmlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row animated slideInDown">
    <div class="col-md-8 offset-2">
        <div class="card border-info shadow-lg mt-5">
            <div class="card-header-tabs mt-1">
                <h3 id="Title" class="text-muted text-center"><i>Kullanıcı Alarm Tanımları</i></h3>
            </div>
            <div class="card-body">
                @if (Model.Alarmlar.Count == 0)
                {
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading text-center">Kayıt Bulunamadı!</h4>
                        <p class="text-center">Geçerli alarm kaydı bulunamadı.</p>
                        <hr>
                        <p class="mb-0 text-center">Dilerseniz aşağıdaki "Yeni Alarm Ekle" butonuna basarak alarm ekleyebilirsiniz.</p>

                    </div>
                }

                <div class="row">
                    <input type="text" id="AlarmCount" hidden name="name" value="@Model.Alarmlar.Count" />
                    <div class="col-md-12 text-right">
                        <a href="@Url.Action("Create", "Alarm")" class="btn btn-sm btn-outline-success my-3"><i class="fas fa-calendar-plus mr-2"></i> Yeni Alarm Ekle</a>
                    </div>
                </div>
                <table id="AlarmList" class="table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Alarm No</td>
                            <td>Alarm Adi</td>
                            <td>Alarm Tipi Adi</td>
                            <td title="Panel Durum Tablosu" class="text-right"><a href="@Url.Action("TaskTable","Task")" class="text-secondary"><i class="fas fa-tasks"></i> </a></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Alarmlar)
                        {
                            <tr>
                                <td>@item.Alarm_No</td>
                                <td>@item.Alarm_Adi</td>
                                <td>@item.Adi</td>
                                <td>
                                    <a title="Düzenle" href="@Url.Action("Edit", "Alarm", new { id = item.Alarm_No })" class="text-info mr-2"><i class="fas fa-edit"></i></a>
                                    <a data-toggle="modal" data-target="#panelList" title="Panelden Sil" onclick="ekle(@item.Alarm_No,2654)" class="text-danger mr-2"><i class="fas fa-dumpster-fire"></i></a>
                                    <a title="Veritabanından Sil" onclick="Delete(@item.Alarm_No)" class="text-warning mr-2"><i class="fas fa-trash"></i></a>
                                    <a data-toggle="modal" data-target="#panelList" title="Panele Gönder" onclick="ekle(@item.Alarm_No,2650)" class="text-success"><i class="fas fa-share"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Panel List Modal -->
<div class="modal fade" id="panelList" tabindex="-1" role="dialog" aria-labelledby="panelListTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("TaskSend", "Alarm", FormMethod.Post))
            {
                <div class="modal-body">
                    <div hidden id="message">
                        <h4 class="text-center text-info animated slideInDown">Panel İşlemi Sıraya Alındı!</h4>
                        <hr />
                    </div>
                    <input id="alarmNo" type="text" hidden name="AlarmID" value="" />
                    <input id="oprKod" type="number" hidden name="OprKod" value="" />
                    <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm">
                        <thead class="table-info">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                        <label class="custom-control-label" for="AllPanel"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelList" id="@item.Panel_ID" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnTask" type="submit" class="btn btn-outline-success"><i class="fas fa-send"></i> Seçilen Panellere Gönder</button>
                </div>
            }
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#btnTask").click(function () {
            $("#message").prop("hidden", false);
            setTimeout(function () {
                $("#message").prop("hidden", true);
            }, 1000);
        });

        var count = $("#AlarmCount").val();
        if (count == 0) {
            $("#AlarmList").prop("hidden", true);
            $("#Title").prop("hidden", true);
        } else {
            $("#AlarmList").prop("hidden", false);
            $("#Title").prop("hidden", false);
        }



    });
    function ekle(alarmNo, oprKod) {
        $("#alarmNo").prop("value", alarmNo);
        $("#oprKod").prop("value", oprKod);
    }
</script>

<script>
    function Delete(id) {

        swal({
            title: "Silmek İstediğinize Emin Misiniz?",
            text: "Seçilen alarm veritabanından silinecek!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                      $.ajax({
                            type: "POST",
                            url: '@Url.Action("DatabaseRemove", "Alarm")',
                            data: JSON.stringify({ id: id }),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                          success: function (data) {
                              if (data) {
                                  swal("Başarılı! Alarm silme işlemi başarılı şekilde gerçekleştirildi!", {
                                      icon: "success",
                                  });
                              } else {
                                  //swal("Silme işleminden vazgeçildi!");
                              }
                              setTimeout(function () {
                                  window.location.href = "/Alarm/Index";
                              }, 2500);
                            },
                            error: function () {
                                alert("Error while deleting data");
                            }
                        });
                }
            });
    }

</script>