@model ForaTeknoloji.PresentationLayer.Models.GenelPanelSettingsListViewModel
@{
    ViewBag.Title = "Genel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-center text-muted">Panel Ayarları-Genel</h3>
                @if (Model.Panel != null)
                {
                    <h1 class="text-success text-center">Seçili Panel:@Model.Panel.Panel_ID - @Model.Panel.Panel_Name</h1>
                }
                else
                {
                    <h1 class="text-center  text-danger">Seçili Panel Bulunmuyor!</h1>
                }
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Genel", "PanelSettings", FormMethod.Post))
                {
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Panel Seri No</label>
                                            @Html.TextBox("Seri_No", Convert.ToInt32(Model.GenelAyar.Seri_No).ToString("X4"), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Panel No</label>
                                            @Html.TextBox("Sira_No", Model.GenelAyar.Sira_No, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Panel Adı</label>
                                            @Html.TextBox("Panel_Name", Model.GenelAyar.Panel_Name, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="ButonTetiklemeSuresi">Buton Dedektör Tetikleme Süresi</label>
                                        @Html.TextBox("Panel_Button_Detector_Time", Model.GenelAyar.Panel_Button_Detector_Time, new { @class = "form-control", type = "number" })
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="text-muted">Panel Modeli</label>
                                @if (Model.GenelAyar.Panel_Model == 5)
                                {
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="5" class="custom-control-input" id="Kapi301" checked name="Panel_Model">
                                        <label class="custom-control-label" for="Kapi301">MW-301(8 Kapı)</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="6" class="custom-control-input" id="Kapi304" name="Panel_Model">
                                        <label class="custom-control-label" for="Kapi304">MW-304(4 Kapı)</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="7" class="custom-control-input" id="Kapi302" name="Panel_Model">
                                        <label class="custom-control-label" for="Kapi302">MW-302(2 Kapı)</label>
                                    </div>
                                }
                                else if (Model.GenelAyar.Panel_Model == 6)
                                {
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="5" class="custom-control-input" id="Kapi301" name="Panel_Model">
                                        <label class="custom-control-label" for="Kapi301">MW-301(8 Kapı)</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="6" class="custom-control-input" checked id="Kapi304" name="Panel_Model">
                                        <label class="custom-control-label" for="Kapi304">MW-304(4 Kapı)</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="7" class="custom-control-input" id="Kapi302" name="Panel_Model">
                                        <label class="custom-control-label" for="Kapi302">MW-302(2 Kapı)</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="5" class="custom-control-input" id="Kapi301" name="Panel_Model">
                                        <label class="custom-control-label" for="Kapi301">MW-301(8 Kapı)</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="6" class="custom-control-input" id="Kapi304" name="Panel_Model">
                                        <label class="custom-control-label" for="Kapi304">MW-304(4 Kapı)</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="7" class="custom-control-input" id="Kapi302" checked name="Panel_Model">
                                        <label class="custom-control-label" for="Kapi302">MW-302(2 Kapı)</label>
                                    </div>
                                }
                            </div>
                            <hr />
                            @if (Model.GenelAyar.Kontrol_Modu == 0)
                            {
                                <div class="form-group">
                                    <label class="text-muted">Panel Kontrol Modu</label>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="StandAlone" class="custom-control-input" id="StandAlone" checked name="Kontrol_Modu">
                                        <label class="custom-control-label" for="StandAlone">Stand-Alone</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="Online" class="custom-control-input" id="Online" name="Kontrol_Modu">
                                        <label class="custom-control-label" for="Online">Online</label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="text-muted">Panel Kontrol Modu</label>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="StandAlone" class="custom-control-input" id="StandAlone" name="Kontrol_Modu">
                                        <label class="custom-control-label" for="StandAlone">Stand-Alone</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="Online" class="custom-control-input" checked id="Online" name="Kontrol_Modu">
                                        <label class="custom-control-label" for="Online">Online</label>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="text-muted">Lokal Bölge Antipassback</label>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Lokal_APB1", Model.GenelAyar.Lokal_APB1 == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Lokal_APB1">Lokal Bölge 1</label>
                                </div>
                                <input type="checkbox" class="custom-control-input" name="Lokal_APB1" value="" />
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Lokal_APB2", Model.GenelAyar.Lokal_APB2 == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Lokal_APB2">Lokal Bölge 2</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Lokal_APB3", Model.GenelAyar.Lokal_APB3 == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Lokal_APB3">Lokal Bölge 3</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Lokal_APB4", Model.GenelAyar.Lokal_APB4 == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Lokal_APB4">Lokal Bölge 4</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Lokal_APB5", Model.GenelAyar.Lokal_APB5 == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Lokal_APB5">Lokal Bölge 5</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Lokal_APB6", Model.GenelAyar.Lokal_APB6 == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Lokal_APB6">Lokal Bölge 6</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Lokal_APB7", Model.GenelAyar.Lokal_APB7 == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Lokal_APB7">Lokal Bölge 7</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Lokal_APB8", Model.GenelAyar.Lokal_APB8 == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Lokal_APB8">Lokal Bölge 8</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="text-muted">Alarm/Yangın Giriş Kontrolü</label>
                                <div class="custom-control custom-checkbox">
                                    <div id="Kapilar"></div>
                                    @Html.CheckBox("Panel_Alarm_Mode_Role_Ok", Model.GenelAyar.Panel_Alarm_Mode_Role_Ok == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Panel_Alarm_Mode_Role_Ok">Hırsız Alarm Modu</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Panel_Fire_Mode_Role_Ok", Model.GenelAyar.Panel_Fire_Mode_Role_Ok == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Panel_Fire_Mode_Role_Ok">Yangın Modu</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Panel_Door_Alarm_Role_Ok", Model.GenelAyar.Panel_Door_Alarm_Role_Ok == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Panel_Door_Alarm_Role_Ok">Kapı Alarm Modu</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="1" name="Panel_Alarm_Broadcast_Ok" class="custom-control-input" id="AlarmYayin" />
                                    @Html.CheckBox("Panel_Alarm_Broadcast_Ok", Model.GenelAyar.Panel_Alarm_Broadcast_Ok == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Panel_Alarm_Broadcast_Ok">Alarm Yayın Modu</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Panel_Alarm_Mode", Model.GenelAyar.Panel_Alarm_Mode == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Panel_Alarm_Mode">Seçilen Kapıları Kilitle</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Panel_Fire_Mode", Model.GenelAyar.Panel_Fire_Mode == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Panel_Fire_Mode">Seçilen Kapıları Aç</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Panel_Fire_Broadcast_Ok", Model.GenelAyar.Panel_Fire_Broadcast_Ok == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Panel_Fire_Broadcast_Ok">Yangın Alarmı Yayın</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Panel_Door_Alarm_Broadcast_Ok", Model.GenelAyar.Panel_Door_Alarm_Broadcast_Ok == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Panel_Door_Alarm_Broadcast_Ok">Kapı Alarmı Yayın</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">Genel Kontrol</label>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <div id="Kapilar"></div>
                                    @Html.CheckBox("Global_APB", Model.GenelAyar.Global_APB == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Global_APB">Global Antipassback</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Same_Door_Multiple_Reader", Model.GenelAyar.Same_Door_Multiple_Reader == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Same_Door_Multiple_Reader">Tek Kapı Çok Okuyuculu Mod Aktif</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Interlock_Active", Model.GenelAyar.Interlock_Active == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Interlock_Active">Lokal Interlock</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Global_Zone_Interlock_Active", Model.GenelAyar.Global_Zone_Interlock_Active == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Global_Zone_Interlock_Active">Global Bölge Interlock</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Global_Access_Count_Control", Model.GenelAyar.Global_Access_Count_Control == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Global_Access_Count_Control">Global Giriş Sayısı Kontrol</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Global_MaxIn_Count_Control", Model.GenelAyar.Global_MaxIn_Count_Control == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Global_MaxIn_Count_Control">Global İçerdeki Kişi/Araç Sayısı Kontrol</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Global_Sequental_Access_Control", Model.GenelAyar.Global_Sequental_Access_Control == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Global_Sequental_Access_Control">Global Bölge Sıralı Geçiş Kontrol</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBox("Panel_Button_Detector", Model.GenelAyar.Panel_Button_Detector == 1 ? true : false, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Panel_Button_Detector">Buton Dedektör Mod Aktif</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">Mükerrer Geçiş Engelleme Süresi Ayarları</label>
                            <div class="form-group">
                                @Html.TextBox("Panel_Same_Tag_Block", Model.GenelAyar.Panel_Same_Tag_Block, new { @class = "form-control", type = "number" })
                            </div>
                            <div class="form-group">
                                @if (Model.GenelAyar.Panel_Same_Tag_Block_HourMinSec == 0)
                                {
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="saniye" class="custom-control-input" id="Saniye" checked name="Status_Data_Update_Type">
                                        <label class="custom-control-label" for="Saniye">Saniye</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="dakika" class="custom-control-input" id="Dakika" name="Status_Data_Update_Type">
                                        <label class="custom-control-label" for="Dakika">Dakika</label>
                                    </div>
                                    <div class="custom-control custom-radio ">
                                        <input type="radio" value="saat" class="custom-control-input" id="Saat" name="Status_Data_Update_Type">
                                        <label class="custom-control-label" for="Saat">Saat</label>
                                    </div>
                                }
                                else if (Model.GenelAyar.Panel_Same_Tag_Block_HourMinSec == 1)
                                {
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="saniye" class="custom-control-input" id="Saniye" name="Status_Data_Update_Type">
                                        <label class="custom-control-label" for="Saniye">Saniye</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="dakika" class="custom-control-input" id="Dakika" checked name="Status_Data_Update_Type">
                                        <label class="custom-control-label" for="Dakika">Dakika</label>
                                    </div>
                                    <div class="custom-control custom-radio ">
                                        <input type="radio" value="saat" class="custom-control-input" id="Saat" name="Status_Data_Update_Type">
                                        <label class="custom-control-label" for="Saat">Saat</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="saniye" class="custom-control-input" id="Saniye" name="Status_Data_Update_Type">
                                        <label class="custom-control-label" for="Saniye">Saniye</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="dakika" class="custom-control-input" id="Dakika" name="Status_Data_Update_Type">
                                        <label class="custom-control-label" for="Dakika">Dakika</label>
                                    </div>
                                    <div class="custom-control custom-radio ">
                                        <input type="radio" value="saat" class="custom-control-input" checked id="Saat" name="Status_Data_Update_Type">
                                        <label class="custom-control-label" for="Saat">Saat</label>
                                    </div>
                                }


                            </div>
                            @if (Model.GenelAyar.Panel_Same_Tag_Block_Type == 0)
                            {
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="saniye" class="custom-control-input" id="TumYon" checked name="Yon">
                                        <label class="custom-control-label" for="TumYon">Tüm Yönler İçin</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="dakika" class="custom-control-input" id="Cıkıs" name="Yon">
                                        <label class="custom-control-label" for="Cıkıs">Sadece Çıkıştan Sonra</label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="saniye" class="custom-control-input" id="TumYon" name="Yon">
                                        <label class="custom-control-label" for="TumYon">Tüm Yönler İçin</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" value="dakika" checked class="custom-control-input" id="Cıkıs" name="Yon">
                                        <label class="custom-control-label" for="Cıkıs">Sadece Çıkıştan Sonra</label>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-2 my-sm-4">
                            <h5 class="text-muted">Master Role Süreleri</h5>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="Role1">Role 1</label>
                                @Html.TextBox("Panel_M1_Role", Model.GenelAyar.Panel_M1_Role, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="Role2">Role 2</label>
                                @Html.TextBox("Panel_M2_Role", Model.GenelAyar.Panel_M2_Role, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="Role3">Role 3</label>
                                @Html.TextBox("Panel_M3_Role", Model.GenelAyar.Panel_M3_Role, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="Role4">Role 4</label>
                                @Html.TextBox("Panel_M4_Role", Model.GenelAyar.Panel_M4_Role, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="Role5">Role 5</label>
                                @Html.TextBox("Panel_M5_Role", Model.GenelAyar.Panel_M5_Role, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="Role6">Role 6</label>
                                @Html.TextBox("Panel_M6_Role", Model.GenelAyar.Panel_M6_Role, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="Role7">Role 7</label>
                                @Html.TextBox("Panel_M7_Role", Model.GenelAyar.Panel_M7_Role, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="Role8">Role 8</label>
                                @Html.TextBox("Panel_M8_Role", Model.GenelAyar.Panel_M8_Role, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="YAlarm">Yardımcı/Alarm Çıkışı</label>
                                @Html.TextBox("Panel_Alarm_Role", Model.GenelAyar.Panel_Alarm_Role, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn  btn-outline-primary"><i class="fas fa-save"></i> Kaydet</button>
                            <button type="submit" class="btn  btn-outline-danger"><i class="fas fa-minus-circle"></i> Paneli Kaldır</button>
                            <button type="submit" class="btn  btn-outline-success"><i class="fas fa-paper-plane"></i> Ayarları Gönder</button>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.GenelAyar.Panel_TCP_Port)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_GW1)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_GW2)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_GW3)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_GW4)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_Subnet1)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_Subnet2)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_Subnet3)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_Subnet4)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_IP1)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_IP2)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_IP3)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_IP4)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_Remote_IP1)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_Remote_IP2)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_Remote_IP3)
                    @Html.HiddenFor(model => model.GenelAyar.Panel_Remote_IP4)






                }
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {

        $("input[type='number']").inputSpinner();

    });
</script>