@model ForaTeknoloji.PresentationLayer.Models.HaberlesmeListViewModel
@{
    ViewBag.Title = "Haberleşme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-center text-muted">Panel Ayarları-Haberleşme</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Haberlesme", "PanelSettings", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>TCP Port</label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @*<input type="text" class="form-control form-control-sm" id="RIP1" name="Panel_TCP_Port" value="" />*@
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_TCP_Port, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Ağ Geçidi</label>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_GW1, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_GW2, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_GW3, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_GW4, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Alt Ağ Maskesi Geçidi</label>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_Subnet1, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_Subnet2, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_Subnet3, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_Subnet4, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Lokal IP Adres</label>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_IP1, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_IP2, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_IP3, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_IP4, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Remote IP Adres</label>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_Remote_IP1, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_Remote_IP2, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_Remote_IP3, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.HaberlesmeAyar.Panel_Remote_IP4, new { @class = "form-control form-control-sm" })
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" value="true" name="TümPanel" class="custom-control-input" id="Antipassback" />
                                            <label class="custom-control-label" for="Antipassback">Antipassback İhlal Mesajları</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" value="true" name="TümPanel" class="custom-control-input" id="Engelllenen" />
                                            <label class="custom-control-label" for="Engelllenen">Engellenen İstek Mesajları</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" value="true" name="TümPanel" class="custom-control-input" id="Tanimsiz" />
                                            <label class="custom-control-label" for="Tanimsiz">Tanımsız Geçiş Mesajları</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" value="true" name="TümPanel" class="custom-control-input" id="Manuel" />
                                            <label class="custom-control-label" for="Manuel">Manuel İşlemler "Tetikleme/Açma/Kapatma/Serbest Mesajları</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" value="true" name="TümPanel" class="custom-control-input" id="ButtonTetikleme" />
                                            <label class="custom-control-label" for="ButtonTetikleme">Buton Tetikleme Mesajları</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" value="true" name="TümPanel" class="custom-control-input" id="Programlı" />
                                            <label class="custom-control-label" for="Programlı">Programlı İşlemler "Açma/Kapatma" Mesajları</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" value="true" name="Gonder" class="custom-control-input" id="Gonder" />
                                                    <label class="custom-control-label" for="Gonder">Gönder</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" value="RemoteIP" class="custom-control-input" id="RemoteIP" checked name="Hedef">
                                                    <label class="custom-control-label" for="RemoteIP">Remote IP'ye</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" value="Yayin" class="custom-control-input" id="Yayin" name="Hedef">
                                                    <label class="custom-control-label" for="Yayin">Yayın</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" value="Degisimde" class="custom-control-input" id="Degisimde" checked name="Zaman">
                                                    <label class="custom-control-label" for="Degisimde">Değişimde</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" value="Hersaniye" class="custom-control-input" id="Hersaniye" name="Zaman">
                                                    <label class="custom-control-label" for="Hersaniye">Her Saniye</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn  btn-outline-primary"><i class="fas fa-save"></i> Kaydet</button>
                            <button type="button" class="btn  btn-outline-danger"><i class="fas fa-minus-circle"></i> Paneli Kaldır</button>
                            <button type="button" class="btn  btn-outline-success"><i class="fas fa-paper-plane"></i> Ayarları Gönder</button>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Seri_No)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Sira_No)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Name)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Model)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Kontrol_Modu)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Lokal_APB1)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Lokal_APB2)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Lokal_APB3)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Lokal_APB4)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Lokal_APB5)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Lokal_APB6)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Lokal_APB7)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Lokal_APB8)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Alarm_Mode_Role_Ok)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Fire_Mode_Role_Ok)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Door_Alarm_Role_Ok)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Door_Alarm_Broadcast_Ok)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Alarm_Mode)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Fire_Mode)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Fire_Broadcast_Ok)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Door_Alarm_Broadcast_Ok)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Global_APB)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Same_Door_Multiple_Reader)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Interlock_Active)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Global_Zone_Interlock_Active)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Global_Access_Count_Control)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Global_MaxIn_Count_Control)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Global_Sequental_Access_Control)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Button_Detector)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Status_Data_Update_Time)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Same_Tag_Block_HourMinSec)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_M1_Role)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_M2_Role)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_M3_Role)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_M4_Role)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_M5_Role)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_M6_Role)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_M7_Role)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_M8_Role)
                    @Html.HiddenFor(model => model.HaberlesmeAyar.Panel_Alarm_Role)

                }

            </div>
        </div>

    </div>
</div>
