@model IEnumerable<ForaTeknoloji.Entities.Entities.ReaderSettingsNew>
@{
    ViewBag.Title = "Okuyucu Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card shadow-lg mx-lg-5 my-lg-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-muted text-center">Kapı Ayarları(WIEGAND Cihazlar)</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tableReader" class="table-borderless table table-hover text-center table-striped table-sm">
                            <thead class="table-info">
                                <tr>
                                    <td>ID</td>
                                    <td>Aktif</td>
                                    <td>Adı</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.WKapi_ID</td>
                                        @if (item.WKapi_Aktif == true)
                                        {
                                            <td><b><i class="text-success">Evet</i></b></td>
                                            <td><b><i class="text-success">@item.WKapi_Adi</i></b></td>
                                            <td>
                                                <a title="Edit" id="edit" href="@Url.Action("ReaderEdit","PanelSettings",new { id=item.WKapi_ID})"><i class="fas fa-edit text-info mr-2"></i></a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-danger">Hayır</td>
                                            <td class="text-danger">@item.WKapi_Adi</td>
                                            <td>
                                                <a title="Edit" id="edit" href="@Url.Action("ReaderEdit","PanelSettings",new { id=item.WKapi_ID})"><i class="fas fa-edit text-info mr-2"></i></a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>