@model ForaTeknoloji.Entities.Entities.Bolum
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row animated slideInLeft faster">
    <div class="col-md-4 offset-md-4">
        <div class="card border-left-info h-100 shadow-lg  mt-xl-5 mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 class="m-0 font-weight-bold text-secondary text-center">Bölüm Düzenleme</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Bolum_No)
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Üst Departman</label>
                                <div class="form-group">
                                    @Html.DropDownList("Departman_No", null, "Ana Departman Seçiniz...", new { @class = "form-control chosen-select", tabindex = "2" })
                                    @Html.ValidationMessageFor(model => model.Departman_No, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Alt Departman</label>
                                <div class="form-group">
                                    @Html.DropDownList("Alt_Departman_No", null, "Alt Departman Seçiniz...", new { @class = "form-control chosen-select", tabindex = "2" })
                                    @Html.ValidationMessageFor(model => model.Alt_Departman_No, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Bölüm</label>
                                @Html.EditorFor(model => model.Adi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Adi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Güncelle</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
    });
</script>