@model ForaTeknoloji.PresentationLayer.Models.DoorGroupsListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card border-left-info h-100 shadow-lg mx-xl-5 my-lg-5">
    <div class="card-header py-1">
        <h3 id="Title" class="m-0 font-weight-bold text-secondary text-center">Kapı Grupları</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="@Url.Action("Create","DoorGroup")" class="btn btn-sm btn-outline-success mb-4"><i class="fas fa-save"></i> Yeni Kapı Grubu</a>
            </div>
        </div>
        @if (Model.Gruplar.Count == 0)
        {
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading text-center">Kayıt Bulunamadı!</h4>
                <p class="text-center">Geçerli Kapı Grup kaydı bulunamadı.</p>
                <hr>
                <p class="mb-0 text-center">Dilerseniz yukarıdaki "Yeni Kapı Gurbu"  butonuna basarak kapı grupları ekleyebilirsiniz.</p>
            </div>
        }
        else
        {
            <input type="text" hidden id="GrupCount" name="name" value="@Model.Gruplar.Count" />
            <table id="GroupTable" class="table-borderless table table-hover text-center table-striped table-sm">
                <thead class="table-info">
                    <tr>
                        <td>Grup No</td>
                        <td>Grup Adı</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Gruplar)
                    {
                        <tr>
                            <td>@item.Kapi_Grup_No</td>
                            <td>@item.Kapi_Grup_Adi</td>
                            <td>
                                <a title="Grup Ayarları" href="@Url.Action("Edit","DoorGroup",new {id=item.Kapi_Grup_No })" class="text-info mr-2"><i class="fas fa-edit"></i></a>
                                <a title="Grup Kapı Ayarları" href="@Url.Action("ReaderEdit","DoorGroup",new {DoorGroupID=item.Kapi_Grup_No })" class="text-secondary mr-2"><i class="fas fa-door-open"></i></a>
                                <a title="Veritabanından sil" href="@Url.Action("Delete",new {id=item.Kapi_Grup_No })" onclick="return confirm('Seçilen Kapı Grubunu Silmek İstediğinize Emin Misiniz?')" class="text-danger mr-2"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }

    </div>
</div>

