@model ForaTeknoloji.PresentationLayer.Models.DoorGroupReaderCreateViewModel
@{
    ViewBag.Title = "Reader Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row animated slideInLeft faster">
    <div class="col-md-8 offset-2">
        <div class="card shadow-lg border-left-info h-100 mx-lg-5 my-lg-5">
            <div class="card-header py-1">
                <h3 class="m-0 font-weight-bold text-secondary text-center">Geçiş Grup Ayarları</h3>
            </div>
            <div class="card-body">

                @using (Html.BeginForm("ReaderEdit", "DoorGroup", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Grup_No)
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Geçiş Grup No</label>
                                @Html.TextBoxFor(model => model.Grup_No, new { @class = "form-control", disabled = true })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Geçiş Grup Adı</label>
                                @Html.TextBoxFor(model => model.Kapi_Grup_Adi, new { @class = "form-control", disabled = true })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Paneller</label>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.Panel_ID, Model.Panel_ID, "Panel Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" id="ReaderList">

                        </div>



                        <div class="col-md-12 text-right">
                            <hr />
                            <a href="@Url.Action("Index","DoorGroup")" class="btn btn-outline-primary btn-sm"><i class="fas fa-hand-o-left"></i> Listeye Geri Dön</a>
                            <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-edit"></i> Grup Güncelle</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#Panel_ID").change(function () {
            var panelID = $(this).val();
            var grupNo = $("#Grup_No").val();
            if (panelID == null || panelID==0) {
                $("#ReaderList").empty();
            }
            $.ajax({
                url: '/DoorGroup/ReaderList?PanelID=' + panelID,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#ReaderList").empty();
                $.each(data, function (index, row) {
                    $("#ReaderList").append(' <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" name="ReaderList" id="Kapi_' + row.WKapi_ID + '" value="' + row.WKapi_ID + '"><label class="custom-control-label" for="Kapi_' + row.WKapi_ID + '">' + row.WKapi_Adi + '</label></div>');
                    });
                }).always(function () {
                    $.ajax({
                        url: '/DoorGroup/ReaderEditList?PanelID=' + panelID + '&GrupNo=' + grupNo,
                        type: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $.each(data, function (index, row) {
                            $("#Kapi_" + row).attr("checked", true);
                        });
                    });

                });
        

        });
    });
</script>


