@model ForaTeknoloji.PresentationLayer.Models.LiftGroupsListViewModel
@{
    ViewBag.Title = "Asansör Geçiş Grupları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row animated slideInDown">
    <div class="col-md-6 offset-md-3">
        <div class="card border-info shadow-lg mx-lg-5 my-lg-5">
            <div class="card-header-tabs">
                <h3 class="text-center text-muted"><i>Asansör Grupları</i></h3>
                @if (Model.StatusControl != -1)
                {
                    if (Model.StatusControl == 2)
                    {
                        <h3 id="Status" class="text-success text-center">İşlem Başarılı</h3>
                    }
                    else if (Model.StatusControl == 1)
                    {
                        <h3 id="Status" class="text-warning text-center">İşlem Sıraya Alındı</h3>
                    }
                    else
                    {
                        <h3 id="Status" class="text-danger text-center">İşlem Başarısız</h3>
                    }
                }
            </div>
            <div class="card-body">
                <table class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Asansör Grup No</td>
                            <td>Asansör Grup Adı</td>
                            <td title="Panel Durum Tablosu" class="text-right"><a href="@Url.Action("TaskTable","Task")" class="text-secondary"><i class="fas fa-tasks"></i> </a></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LiftGroup)
                        {
                            <tr>
                                <td>@item.Asansor_Grup_No</td>
                                <td>@item.Asansor_Grup_Adi</td>
                                <td>
                                    <a title="Düzenle" href="@Url.Action("Edit","Lift",new {Asansor_Grup_No=item.Asansor_Grup_No })" class="text-info mr-2"><i class="fas fa-edit"></i></a>
                                    <a data-toggle="modal" data-target="#panelList" title="Panelden Sil" onclick="ekle(@item.Asansor_Grup_No,2644)" class="text-danger mr-2"><i class="fas fa-dumpster-fire"></i></a>
                                    <a title="Veritabanından Sil" onclick="return confirm('Veritabanından Silmek İstediğinize Emin Misiniz?')" href="@Url.Action("DatabaseRemove","Lift",new { id=item.Asansor_Grup_No})" class="text-warning mr-2"><i class="fas fa-trash"></i></a>
                                    <a data-toggle="modal" data-target="#panelList" title="Panele Gönder" onclick="ekle(@item.Asansor_Grup_No,2640)" class="text-success"><i class="fas fa-share"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row mt-3">
                    <div class="col-md-12 text-right">
                        <a href="@Url.Action("FloorNames","Lift")" class="btn btn-sm btn-outline-info"><i class="fas fa-stream"></i> Kat İsimleri</a>
                        <a href="@Url.Action("Create","Lift")" class="btn btn-sm btn-outline-success"><i class="fas fa-plus-square"></i> Yeni Asansör Grup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Panel List Modal -->
<div class="modal fade" id="panelList" tabindex="-1" role="dialog" aria-labelledby="panelListTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("TaskSend", "Lift", FormMethod.Post))
            {
                <div class="modal-body">
                    <div hidden id="message">
                        <h4 class="text-center text-info animated slideInDown">Panel İşlemi Sıraya Alındı!</h4>
                        <hr />
                    </div>
                    <input id="asansorGrupNo" type="text" hidden name="AsansorGrupNo" value="" />
                    <input id="oprKod" type="number" hidden name="OprKod" value="" />
                    <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm">
                        <thead class="table-info">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                        <label class="custom-control-label" for="AllPanel"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelList" id="@item.Panel_ID" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnTask" type="submit" class="btn btn-outline-success"><i class="fas fa-send"></i> Seçilen Panellere Gönder</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });

        $("#btnTask").click(function () {
            $("#message").prop("hidden", false);
            setTimeout(function () {
                $("#message").prop("hidden", true);
            }, 1000);
        });
    });
    function ekle(asansorNo, oprKod) {
        $("#asansorGrupNo").prop("value", asansorNo);
        $("#oprKod").prop("value", oprKod);
    }
</script>