@model ForaTeknoloji.PresentationLayer.Models.RefectoryListViewModel
@{
    ViewBag.Title = "Yemekhane Raporu-TOPLAM";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.ToplamGecis, rowsPerPage: 20, canPage: true, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    webGrid.Pager(WebGridPagerModes.NextPrevious);
}

<div class="card border-left-info h-100 mt-1 shadow-lg">
    <div class="card-header py-1">
        <h3 class="card-title"><i class="fas fa-bookmark"></i> Yemekhane Raporu (Toplam)</h3>
        @if (Model.User.SysAdmin == true)
        {
            <div class="text-right">
                <a data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-cogs fa-2x text-secondary"></i></a>
            </div>
        }
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Total", "Refectory", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Kapı Grup Listesi</label>
                        @Html.DropDownListFor(model => model.Group_ID, Model.Group_ID, "Grup Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        @Html.ValidationMessageFor(model => model.Group_ID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="SirketSirketNo">Şirket Seçimi</label>
                        @Html.DropDownListFor(model => model.Sirket_No, Model.Sirket_No, "Şirket Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label for="DepartmanNo">Departman Seçimi</label>
                        @Html.DropDownListFor(model => model.Departman_No, Model.Departman_No, "Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Alt_Departman_No">Alt Departman Seçimi</label>
                        @Html.DropDownListFor(model => model.Alt_Departman_No, Model.Alt_Departman_No, "Alt Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    <div class="form-group">
                        <label for="Bolum_No">Bölüm Seçimi</label>
                        @Html.DropDownListFor(model => model.Bolum_No, Model.Bolum_No, "Bölüm Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                    </div>
                    @*<div class="form-group">
                            <label for="Birim_No">Birim Seçimi</label>
                            @Html.DropDownListFor(model => model.Birim_No, Model.Birim_No, "Birim Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                        </div>*@
                </div>
                <div class="col-md-4">
                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" value="true" name="ikiTarih" class="custom-control-input" id="ikiTarih" />
                        <label class="custom-control-label mb-2" for="ikiTarih">İki Tarih Arası</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-sm" name="Baslangic_Tarihi" type="date" value="2019-08-13" id="Tarih1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Bitiş</label>
                        <input class="form-control form-control-sm" name="Bitis_Tarihi" disabled type="date" value="" id="Tarih2">
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" value="true" name="ikiSaat" class="custom-control-input" id="ikiSaat" />
                        <label class="custom-control-label mb-2" for="ikiSaat">İki Saat Arası</label>
                    </div>
                    <div class="form-group">
                        <input type="time" class="form-control form-control-sm" disabled name="Baslangic_Saati" id="Saat1" value="@DateTime.Now.ToShortTimeString()" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2">Bitiş Saati</label>
                        <input type="time" class="form-control form-control-sm" name="Bitis_Saati" disabled id="Saat2" value="@DateTime.Now.ToShortTimeString()" />
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <br />
                    <br />
                    <h4 class="text-info text-right">@Model.ToplamGecis.Count Adet Kayıt Listelendi</h4>
                    <br />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("YemekhaneRaporlariToplam", "Refectory")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                </div>
            </div>
        }
        <div class="row">
            @*<div class="col-md-12">
                                <hr />
                                <div id="print_div">
                                    @if (Model.ToplamGecis.Count > 0)
                                    {
                                        @webGrid.GetHtml(
                htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
                selectedRowStyle: "selectRow",
                footerStyle: "table-pager",
                columns: webGrid.Columns(
                webGrid.Column("PanelID", "Cihaz No"),
                webGrid.Column("PanelAdi", "Cihaz Adı"),
                webGrid.Column("Ilk_Kayit", "İlk İşlem Zamanı"),
                webGrid.Column("Son_Kayit", "Son İşlem Zamanı"),
                webGrid.Column("GecisSayi", "Onaylı Geçiş Sayısı")))
                                    }
                                    else
                                    {
                                        <div class="alert alert-info alert-message">
                                            <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                                        </div>

                                    }
                                </div>
                            </div>*@


            <div class="col-md-12">
                <hr />
                <div id="print_div">
                    <table id="mainTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                        <thead>
                            <tr>
                                <td>Cihaz No</td>
                                <td>Cihaz Adı</td>
                                <td>İlk İşlem Zamanı</td>
                                <td>Son İşlem Zamanı</td>
                                <td>Onaylı Geçiş Sayısı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ToplamGecis)
                            {
                                <tr>
                                    <td>@item.PanelID</td>
                                    <td>@item.PanelAdi</td>
                                    <td>@item.Ilk_Kayit</td>
                                    <td>@item.Son_Kayit</td>
                                    <td>@item.GecisSayi</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 text-right">
                <input type="text" hidden id="GecisSayisiHidden" name="name" value="@Model.ToplamGecis.Select(x => x.GecisSayi).Sum()" />
                @*<p class="text-info"><i class="fas fa-info-circle"></i> Toplam Geçiş Sayısı: @Model.ToplamGecis.Select(x => x.GecisSayi).Sum()</p>*@
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("MailSettings", "Refectory"))
            {
                @Html.Hidden("Kayit_No", Model.EmailSettings.Kayit_No)
                @Html.Hidden("E_Mail_Adres", Model.EmailSettings.E_Mail_Adres)
                @Html.Hidden("Kullanici_Adi", Model.EmailSettings.Kullanici_Adi)
                @Html.Hidden("Sifre", Model.EmailSettings.Sifre)
                @Html.Hidden("SMPT_Server", Model.EmailSettings.SMPT_Server)
                @Html.Hidden("SMPT_Server_Port", Model.EmailSettings.SMPT_Server_Port)
                @Html.Hidden("SSL_Kullan", Model.EmailSettings.SSL_Kullan)
                @Html.Hidden("Authentication", Model.EmailSettings.Authentication)
                @Html.Hidden("Gonderme_Saati", Model.EmailSettings.Gonderme_Saati)
                @Html.Hidden("Gelmeyenler_Raporu", Model.EmailSettings.Gelmeyenler_Raporu)
                @Html.Hidden("Yemekhane_Raporu", Model.EmailSettings.Yemekhane_Raporu)
                @Html.Hidden("Alici_1_E_Mail_Adres", Model.EmailSettings.Alici_1_E_Mail_Adres)
                @Html.Hidden("Alici_1_E_Mail_Gonder", Model.EmailSettings.Alici_1_E_Mail_Gonder)
                @Html.Hidden("Alici_2_E_Mail_Adres", Model.EmailSettings.Alici_2_E_Mail_Adres)
                @Html.Hidden("Alici_2_E_Mail_Gonder", Model.EmailSettings.Alici_2_E_Mail_Gonder)
                @Html.Hidden("Alici_3_E_Mail_Adres", Model.EmailSettings.Alici_3_E_Mail_Adres)
                @Html.Hidden("Alici_3_E_Mail_Gonder", Model.EmailSettings.Alici_3_E_Mail_Gonder)
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Mail Ayarları</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kapı Grup Listesi</label>
                                @Html.DropDownList("Kapi_Grup_No", null, "Grup Seçiniz..", new { @class = "form-control form-control-sm" })
                                @Html.ValidationMessageFor(model => model.Group_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Başlangıç Saati</label>
                                <div class="form-group">
                                    <input type="time" class="form-control form-control-sm" name="Kapi_Grup_Baslangic_Saati" value="@Model.EmailSettings.Kapi_Grup_Baslangic_Saati.Value.ToShortTimeString()" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mail Gönderme Saati</label>
                                <div class="form-group">
                                    <input type="time" name="Kapi_Grup_Gonderme_Saati" class="form-control form-control-sm" value="@Model.EmailSettings.Kapi_Grup_Gonderme_Saati.Value.ToShortTimeString()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Bitiş Saati</label>
                                <div class="form-group">
                                    <input type="time" class="form-control form-control-sm" name="Kapi_Grup_Bitis_Saati" value="@Model.EmailSettings.Kapi_Grup_Bitis_Saati.Value.ToShortTimeString()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success btn-sm"><i class="fas fa-save"></i> Değişikliği Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#mainTable").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                },
                "bPaginate": true,
                "bInfo": false,
                "bFilter": true,
                "lengthMenu": [
                    [10, 25, 50, 100, -1],
                    ['10', '25', '50', '100', 'Hepsi']
                ],
            });

        });
    </script>
}
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#Departman_No").chosen().change(function () {
            var departmanNo = $(this).val();
            if (departmanNo == 0 || departmanNo == null) {
                $("#Alt_Departman_No").empty();
                $("#Bolum_No").empty();
                $("#Birim_No").empty();
                $("#Alt_Departman_No").append('<option > Alt Departman Seçiniz... </option>');
                $("#Bolum_No").append('<option > Bölüm Seçiniz... </option>');
                $("#Birim_No").append('<option > Birim Seçiniz... </option>');
            } else {
                $.ajax({
                    url: '/PersonelListReport/AltDepartmanListesi?Departman=' + departmanNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Alt_Departman_No").empty();
                    $("#Alt_Departman_No").append('<option > Alt Departman Seçiniz... </option>');
                    $.each(data, function (index, row) {
                        $("#Alt_Departman_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });
                    var altdepartmanNo = $("#Alt_Departman_No").val();
                    $.ajax({
                        url: '/PersonelListReport/BolumListesi?AltDepartman=' + altdepartmanNo,
                        type: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $("#Bolum_No").empty();
                        $.each(data, function (index, row) {
                            $("#Bolum_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                        });
                        var bolumNo = $("#Bolum_No").val();
                        $.ajax({
                            url: '/PersonelListReport/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                            type: 'GET',
                            dataType: 'json'
                        }).done(function (data) {
                            $("#Birim_No").empty();
                            $.each(data, function (index, row) {
                                $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                            });
                        });
                    });

                });
            }
        });
        $("#Alt_Departman_No").chosen().change(function () {
            var altdepartmanNo = $(this).val();
            $.ajax({
                url: '/PersonelListReport/BolumListesi?AltDepartman=' + altdepartmanNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Bolum_No").empty();
                $.each(data, function (index, row) {
                    $("#Bolum_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
                var bolumNo = $("#Bolum_No").val();
                $.ajax({
                    url: '/PersonelListReport/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Birim_No").empty();
                    $.each(data, function (index, row) {
                        $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });
                });
            });
        })

        $("#Bolum_No").chosen().change(function () {
            var bolumNo = $(this).val();
            var altdepartmanNo = $("#Alt_Departman_No").val();
            $.ajax({
                url: '/PersonelListReport/BirimListesi?AltDepartman=' + altdepartmanNo + '&Bolum=' + bolumNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Birim_No").empty();
                $.each(data, function (index, row) {
                    $("#Birim_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
            });
        })
    });
</script>



<script>
    $(document).ready(function () {
        var gecisSayisi = $('#GecisSayisiHidden').val();
        var html = '<tfoot><tr><td></td><td></td><td></td><td><b>TOPLAM</b></td><td>' + gecisSayisi + '</td></tr></tfoot>';
        $('#mainTable').append(html);
        $('#table').append(html);

    });
</script>

<script>
    var today = new Date();
    $('#Tarih1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
    $('#Tarih2').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
    $("#ikiTarih").change(function () {
        if ($(this).prop("checked") == true) {
            $("#Tarih2").attr("disabled", false);
        } else {
            $("#Tarih2").attr("disabled", true);
        }

    });
    $("#ikiSaat").change(function () {
        if ($(this).prop("checked") == true) {
            $("#Saat1").attr("disabled", false);
            $("#Saat2").attr("disabled", false);
        } else {
            $("#Saat1").attr("disabled", true);
            $("#Saat2").attr("disabled", true);
        }
    });


    $("#btnPrint").click(function () {
        var contents = $("#print_div").html();
        var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute" });
        $("body").append(frame1);
        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        frameDoc.document.open();
        frameDoc.document.write('<html>');
        frameDoc.document.write('<head>');
        frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
        frameDoc.document.write('<style>');
        frameDoc.document.write('table, th, td {border-collapse: collapse;} body{padding:10px;}');
        frameDoc.document.write('table, th, td {  border: 1px solid black; text-align:center; border-collapse: collapse;}');
        frameDoc.document.write('thead tr th a { color: black; text-decoration: none; }thead tr th a:hover { color: black; }thead tr th a:visited { color: black; }thead tr th a:active { color: black; }');
        frameDoc.document.write('</style>');
        frameDoc.document.write('</head>');
        frameDoc.document.write('<body>');
        frameDoc.document.write('<h5>Tarih ' + new Date().toLocaleDateString() + '</h5>');
        frameDoc.document.write('<h5>(PDKS-YEMEKHANE) Terminal Kişi Bazlı Hareket Sayıları (' + '@TempData["DateAndTimeView"]' + ')</h5><hr/>');
        frameDoc.document.write(contents);
        frameDoc.document.getElementById('mainTable_filter').style.display = "none";
        frameDoc.document.getElementById('mainTable_length').style.display = "none";
        frameDoc.document.getElementById('mainTable_paginate').style.display = "none";
        frameDoc.document.write('</body>');
        frameDoc.document.write('</html>');
        frameDoc.document.close();
        setTimeout(function () {

            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);

    });

</script>

