@model ForaTeknoloji.PresentationLayer.Models.UsersAddViewModel
@{
    /**/

    ViewBag.Title = "Yeni Kullanıcı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated slideInLeft faster">
    <div class="col-md-8 offset-md-2">
        <div class="card border-left-info h-100 shadow-lg  mt-xl-5 mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 class="m-0 font-weight-bold text-secondary text-center">Kullanıcı Ayarları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <hr />
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label class="control-label col-md-4">Kullanıcı ID</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" id="ID" name="ID" hidden value="@Model.ID" />
                                        @Html.TextBox("IDD", Model.ID, null, new { @class = "form-control form-control-sm", disabled = true })
                                    </div>
                                </div>
                            </div>

                            @if (Model.Kart_ID == null)
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-4">Kart ID</label>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="Kart_ID" class="form-control form-control-sm" value="" />
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-4">Kart ID</label>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="Kart_ID" class="form-control form-control-sm" value="@Model.Kart_ID" />
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <label class="control-label col-md-4">Şifre</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="Sifre" class="form-control form-control-sm" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Plaka</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="Plaka" class="form-control form-control-sm" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-6">Otopark Modu</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Gecis_Modu", Model.Gecis_Modu, "Geçiş Modu Seçiniz", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Gecis_Modu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-6">Kullanıcı Tipi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Kullanici_Tipi", Model.Kullanici_Tipi, "Kullanıcı Tipi Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Kullanici_Tipi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">

                            <div class="form-group">
                                <label class="control-label col-md-12">Geçiş Grubu(Ana)</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Grup_No", Model.Grup_No_2, "Ana Grup Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Grup_No_2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" value="true" name="C3_Grup" class="custom-control-input" id="3Gecis" />
                                                    <label class="custom-control-label" for="3Gecis">3 Geçiş Grubu</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Geçiş Grubu 2</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Grup_No_2", Model.Grup_No_2, "Geçiş Grubu 2 Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Grup_No_2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Geçiş Grubu 3</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Grup_No_3", Model.Grup_No_3, "Geçiş Grubu 3 Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Grup_No_3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Ziyaretçi Grubu</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Visitor_Grup_No", Model.Visitor_Grup_No, "Ziyaretçi Grubu Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Visitor_Grup_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" value="true" name="Sureli_Kullanici" class="custom-control-input" id="Sureli" />
                                                    <label class="custom-control-label" for="Sureli">Süreli Kullanıcı</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-12">Süreli Kullanım Sonu</label>
                                        <input class="form-control form-control-sm" name="Bitis_Tarihi" type="date" value="" id="Tarih">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-sm" name="Bitis_Saati" type="time" value="@DateTime.Now.ToString("HH:mm:ss")" id="Saat">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" value="true" name="Grup_Takvimi_Aktif" class="custom-control-input" id="GrupTakvim" />
                                                    <label class="custom-control-label" for="GrupTakvim">Grup Takvimi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-12">Grup Takvimi Adı</label>
                                        @Html.DropDownList("Grup_Takvimi_No", Model.Grup_Takvimi_No, "Grup Takvimi Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Grup_Takvimi_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="~/Images/BaseUser.jpg" class="img-profile img-fluid img-thumbnail" alt="Alternate Text" />
                            <input type="file" name="ProfileImage" id="ProfileImage" class="form-control btn btn-sm btn-secondary" value="" /><br />
                            <span class="fas fa-info-circle">&nbsp;</span>
                            <span><i>Lütfen jpg,jpeg ya da png formatı kullanın</i></span><br />
                        </div>
                    </div>






                    <h5 class="text-center text-danger">Kimlik Bilgileri</h5>
                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Adı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="Adi" class="form-control form-control-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Ünvan</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Unvan_No", Model.Unvan_No, "Ünvan Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Unvan_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-4">Şirket</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Sirket_No", Model.Sirket_No, "Şirket Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Sirket_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Departmanlar</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Departman_No", Model.Departman_No, "Departman Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Departman_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Alt Departmanlar</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.Alt_Departman_No, new SelectList(""), "Alt Departman Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Alt_Departman_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>



                        </div>





                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Soyadı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" name="Soyadi" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">TC Kimlik</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" name="TCKimlik" maxlength="11" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Telefon</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" name="Telefon" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Bloklar</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Blok_No", Model.Blok_No, "Blok Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Blok_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Daire</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="number" class="form-control form-control-sm" name="Daire" value="" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Bölümler</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.Bolum_No, new SelectList(""), "Bölüm Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Bolum_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>&nbsp;Kan Grubu:&nbsp;</label>
                                <label class="radio-inline">
                                    <input type="radio" name="Kan_Grubu" value="A+" checked>A +&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Kan_Grubu" value="A-">A -&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Kan_Grubu" value="B+">B +&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Kan_Grubu" value="B-">B -&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Kan_Grubu" value="AB+">AB +&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Kan_Grubu" value="AB-">AB -&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Kan_Grubu" value="0+">0 +&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Kan_Grubu" value="0-">0 -
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Açık Adres</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea rows="3" cols="3" name="Adres" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Görevler</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Gorev_No", Model.Gorev_No, "Görev Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Gorev_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label class="control-label col-md-4">Açıklama</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea rows="3" cols="3" name="Aciklama" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-right">
                        <a href="@Url.Action("Index","Users")" class="btn btn-sm btn-outline-info"><i class="fa fa-hand-point-left"></i> Listeye Geri Dön</a>
                        <button type="submit" class="btn btn-sm btn-outline-success"><i class="fa fa-id-card"></i> Kullanıcı Ekle</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#Departman_No").chosen().change(function () {
            var departmanNo = $(this).val();
            if (departmanNo == 0 || departmanNo == null) {
                $("#Alt_Departman_No").empty();
                $("#Bolum_No").empty();
                $("#Alt_Departman_No").append('<option > Alt Departman Seçiniz... </option>');
                $("#Bolum_No").append('<option > Bölüm Seçiniz... </option>');
            } else {
                $.ajax({
                    url: '/Users/AltDepartmanListesi?Departman=' + departmanNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Alt_Departman_No").empty();
                    $("#Alt_Departman_No").append('<option > Alt Departman Seçiniz... </option>');
                    $.each(data, function (index, row) {
                        $("#Alt_Departman_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });

                    var altdepartmanNo = $("#Alt_Departman_No").val();
                    $.ajax({
                        url: '/Users/BolumListesi?AltDepartman=' + altdepartmanNo,
                        type: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $("#Bolum_No").empty();
                        $.each(data, function (index, row) {
                            $("#Bolum_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                        });
                    });

                });
            }
        });
        $("#Alt_Departman_No").chosen().change(function () {
            var altdepartmanNo = $(this).val();
            $.ajax({
                url: '/Users/BolumListesi?AltDepartman=' + altdepartmanNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Bolum_No").empty();
                $.each(data, function (index, row) {
                    $("#Bolum_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
            });

        })


    });
</script>