@model ForaTeknoloji.Entities.Entities.Users
@{
    ViewBag.Title = "Kullanıcı Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row animated slideInLeft faster">
    <div class="col-md-8 offset-md-2">
        <div class="card border-left-info h-100 shadow-lg  mt-xl-5 mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 class="m-0 font-weight-bold text-secondary text-center">Kullanıcı Ayarları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Resim)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Kullanıcı ID</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = true } })
                                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Kart ID</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Kart_ID, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(model => model.Kart_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Şifre</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Plaka, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Plaka, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(model => model.Plaka, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">Otopark Modu</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Gecis_Modu", null, "", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Gecis_Modu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">Kullanıcı Tipi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Kullanici_Tipi", null, "", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Kullanici_Tipi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-12">Geçiş Grubu(Ana)</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Grup_No", null, "", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Grup_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" hidden value="@Model.C3_Grup" name="CC3_GrupHiden" class="custom-control-input" id="3GecisHidden" />
                                                    <input type="checkbox" value="" name="C3_Grup" class="custom-control-input" id="3Gecis" />
                                                    <label class="custom-control-label" for="3Gecis">3 Geçiş Grubu</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a href="@Url.Action("Grup","Users",new { DeleteID=Model.ID })" class="btn btn-sm btn-secondary">Grup 2 ve 3'ü Sil</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Geçiş Grubu 2</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Grup_No_2", null, "", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Grup_No_2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Geçiş Grubu 3</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Grup_No_3", null, "", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Grup_No_3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Ziyaretçi Grubu</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Visitor_Grup_No", null, "", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Visitor_Grup_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" hidden value="@Model.Sureli_Kullanici" name="Sureli_Kullanici_Hidden" class="custom-control-input" id="SureliHidden" />
                                                    <input type="checkbox" value="" name="Sureli_Kullanici" class="custom-control-input" id="Sureli" />
                                                    <label class="custom-control-label" for="Sureli">Süreli Kullanıcı</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-12">Süreli Kullanım Sonu</label>
                                        @if (Model.Bitis_Tarihi == null)
                                        {
                                            <input type="date" class="form-control form-control-sm" name="Bitis_Tarihi" id="Tarih" />
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.Bitis_Tarihi, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm", @type = "date" })
                                        }

                                    </div>
                                    <div class="form-group">
                                        @if (Model.Bitis_Saati == null)
                                        {
                                            <input class="form-control form-control-sm" name="Bitis_Saati" type="time" value="" id="Saat">
                                        }
                                        else
                                        {
                                            <input class="form-control form-control-sm" name="Bitis_Saati" type="time" value="@Model.Bitis_Saati.Value.ToShortTimeString()" id="Saat">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" hidden value="@Model.Grup_Takvimi_Aktif" name="Grup_Takvimi" class="custom-control-input" id="GrupTakvimHidden" />
                                                    <input type="checkbox" value="" name="Grup_Takvimi_Aktif" class="custom-control-input" id="GrupTakvim" />
                                                    <label class="custom-control-label" for="GrupTakvim">Grup Takvimi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-12">Grup Takvimi Adı</label>
                                        @Html.DropDownList("Grup_Takvimi_No", null, "", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Grup_Takvimi_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="~/Images/@Model.Resim" class="img-profile img-fluid img-thumbnail" alt="Alternate Text" />
                            <input type="file" name="ProfileImage" id="ProfileImage" class="form-control btn btn-sm btn-secondary" value="" /><br />
                            <span class="fas fa-info-circle">&nbsp;</span>
                            <span><i>Lütfen jpg,jpeg ya da png formatı kullanın</i></span><br />
                            <a data-toggle="modal" data-target="#cameraModal" class="btn btn-sm btn-outline-secondary mt-2"><i class="fas fa-camera"></i> Resim Çek&nbsp;&nbsp;&nbsp;</a>
                        </div>
                    </div>
                    <h5 class="text-center text-danger">Kimlik Bilgileri</h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Adı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Adi, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(model => model.Adi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Ünvan</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Unvan_No", null, "Ünvan Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Unvan_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Şirket</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Sirket_No", null, "Şirket Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Sirket_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Departmanlar</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Departman_No", null, "Departman Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Departman_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Alt Departmanlar</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Alt_Departman_No", null, "Alt Departman Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Alt_Departman_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Soyadı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Soyadi, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(model => model.Soyadi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">TC Kimlik</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.TCKimlik, new { htmlAttributes = new { @class = "form-control form-control-sm", maxlength = 11 } })
                                        @Html.ValidationMessageFor(model => model.TCKimlik, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Telefon</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Bloklar</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Blok_No", null, "Blok Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Blok_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Daire</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Daire, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                        @Html.ValidationMessageFor(model => model.Daire, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Bölüm</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Bolum_No", null, "Bölüm Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Bolum_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @if (Model.Kan_Grubu == "A+")
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>&nbsp;Kan Grubu:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input checked type="radio" id="Ap" name="Kan_Grubu" class="custom-control-input" value="A+" />
                                                <label class="custom-control-label" for="Ap">A +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="An" name="Kan_Grubu" class="custom-control-input" value="A-" />
                                                <label class="custom-control-label" for="An">A -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bp" name="Kan_Grubu" class="custom-control-input" value="B+" />
                                                <label class="custom-control-label" for="Bp">B +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bn" name="Kan_Grubu" class="custom-control-input" value="B-" />
                                                <label class="custom-control-label" for="Bn">B -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABp" name="Kan_Grubu" class="custom-control-input" value="AB+" />
                                                <label class="custom-control-label" for="ABp">AB +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABn" name="Kan_Grubu" class="custom-control-input" value="AB-" />
                                                <label class="custom-control-label" for="ABn">AB -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0p" name="Kan_Grubu" class="custom-control-input" value="0+" />
                                                <label class="custom-control-label" for="0p">0 +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0n" name="Kan_Grubu" class="custom-control-input" value="0-" />
                                                <label class="custom-control-label" for="0n">0 -</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (Model.Kan_Grubu == "A-")
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>&nbsp;Kan Grubu:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Ap" name="Kan_Grubu" class="custom-control-input" value="A+" />
                                                <label class="custom-control-label" for="Ap">A +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input checked type="radio" id="An" name="Kan_Grubu" class="custom-control-input" value="A-" />
                                                <label class="custom-control-label" for="An">A -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bp" name="Kan_Grubu" class="custom-control-input" value="B+" />
                                                <label class="custom-control-label" for="Bp">B +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bn" name="Kan_Grubu" class="custom-control-input" value="B-" />
                                                <label class="custom-control-label" for="Bn">B -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABp" name="Kan_Grubu" class="custom-control-input" value="AB+" />
                                                <label class="custom-control-label" for="ABp">AB +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABn" name="Kan_Grubu" class="custom-control-input" value="AB-" />
                                                <label class="custom-control-label" for="ABn">AB -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0p" name="Kan_Grubu" class="custom-control-input" value="0+" />
                                                <label class="custom-control-label" for="0p">0 +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0n" name="Kan_Grubu" class="custom-control-input" value="0-" />
                                                <label class="custom-control-label" for="0n">0 -</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (Model.Kan_Grubu == "B+")
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>&nbsp;Kan Grubu:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Ap" name="Kan_Grubu" class="custom-control-input" value="A+" />
                                                <label class="custom-control-label" for="Ap">A +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="An" name="Kan_Grubu" class="custom-control-input" value="A-" />
                                                <label class="custom-control-label" for="An">A -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input checked type="radio" id="Bp" name="Kan_Grubu" class="custom-control-input" value="B+" />
                                                <label class="custom-control-label" for="Bp">B +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bn" name="Kan_Grubu" class="custom-control-input" value="B-" />
                                                <label class="custom-control-label" for="Bn">B -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABp" name="Kan_Grubu" class="custom-control-input" value="AB+" />
                                                <label class="custom-control-label" for="ABp">AB +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABn" name="Kan_Grubu" class="custom-control-input" value="AB-" />
                                                <label class="custom-control-label" for="ABn">AB -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0p" name="Kan_Grubu" class="custom-control-input" value="0+" />
                                                <label class="custom-control-label" for="0p">0 +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0n" name="Kan_Grubu" class="custom-control-input" value="0-" />
                                                <label class="custom-control-label" for="0n">0 -</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (Model.Kan_Grubu == "B-")
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>&nbsp;Kan Grubu:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Ap" name="Kan_Grubu" class="custom-control-input" value="A+" />
                                                <label class="custom-control-label" for="Ap">A +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="An" name="Kan_Grubu" class="custom-control-input" value="A-" />
                                                <label class="custom-control-label" for="An">A -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bp" name="Kan_Grubu" class="custom-control-input" value="B+" />
                                                <label class="custom-control-label" for="Bp">B +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input checked type="radio" id="Bn" name="Kan_Grubu" class="custom-control-input" value="B-" />
                                                <label class="custom-control-label" for="Bn">B -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABp" name="Kan_Grubu" class="custom-control-input" value="AB+" />
                                                <label class="custom-control-label" for="ABp">AB +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABn" name="Kan_Grubu" class="custom-control-input" value="AB-" />
                                                <label class="custom-control-label" for="ABn">AB -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0p" name="Kan_Grubu" class="custom-control-input" value="0+" />
                                                <label class="custom-control-label" for="0p">0 +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0n" name="Kan_Grubu" class="custom-control-input" value="0-" />
                                                <label class="custom-control-label" for="0n">0 -</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (Model.Kan_Grubu == "AB+")
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>&nbsp;Kan Grubu:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Ap" name="Kan_Grubu" class="custom-control-input" value="A+" />
                                                <label class="custom-control-label" for="Ap">A +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="An" name="Kan_Grubu" class="custom-control-input" value="A-" />
                                                <label class="custom-control-label" for="An">A -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bp" name="Kan_Grubu" class="custom-control-input" value="B+" />
                                                <label class="custom-control-label" for="Bp">B +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bn" name="Kan_Grubu" class="custom-control-input" value="B-" />
                                                <label class="custom-control-label" for="Bn">B -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input checked type="radio" id="ABp" name="Kan_Grubu" class="custom-control-input" value="AB+" />
                                                <label class="custom-control-label" for="ABp">AB +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABn" name="Kan_Grubu" class="custom-control-input" value="AB-" />
                                                <label class="custom-control-label" for="ABn">AB -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0p" name="Kan_Grubu" class="custom-control-input" value="0+" />
                                                <label class="custom-control-label" for="0p">0 +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0n" name="Kan_Grubu" class="custom-control-input" value="0-" />
                                                <label class="custom-control-label" for="0n">0 -</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (Model.Kan_Grubu == "AB-")
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>&nbsp;Kan Grubu:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Ap" name="Kan_Grubu" class="custom-control-input" value="A+" />
                                                <label class="custom-control-label" for="Ap">A +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="An" name="Kan_Grubu" class="custom-control-input" value="A-" />
                                                <label class="custom-control-label" for="An">A -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bp" name="Kan_Grubu" class="custom-control-input" value="B+" />
                                                <label class="custom-control-label" for="Bp">B +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bn" name="Kan_Grubu" class="custom-control-input" value="B-" />
                                                <label class="custom-control-label" for="Bn">B -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABp" name="Kan_Grubu" class="custom-control-input" value="AB+" />
                                                <label class="custom-control-label" for="ABp">AB +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input checked type="radio" id="ABn" name="Kan_Grubu" class="custom-control-input" value="AB-" />
                                                <label class="custom-control-label" for="ABn">AB -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0p" name="Kan_Grubu" class="custom-control-input" value="0+" />
                                                <label class="custom-control-label" for="0p">0 +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0n" name="Kan_Grubu" class="custom-control-input" value="0-" />
                                                <label class="custom-control-label" for="0n">0 -</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (Model.Kan_Grubu == "0+")
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>&nbsp;Kan Grubu:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Ap" name="Kan_Grubu" class="custom-control-input" value="A+" />
                                                <label class="custom-control-label" for="Ap">A +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="An" name="Kan_Grubu" class="custom-control-input" value="A-" />
                                                <label class="custom-control-label" for="An">A -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bp" name="Kan_Grubu" class="custom-control-input" value="B+" />
                                                <label class="custom-control-label" for="Bp">B +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bn" name="Kan_Grubu" class="custom-control-input" value="B-" />
                                                <label class="custom-control-label" for="Bn">B -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABp" name="Kan_Grubu" class="custom-control-input" value="AB+" />
                                                <label class="custom-control-label" for="ABp">AB +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABn" name="Kan_Grubu" class="custom-control-input" value="AB-" />
                                                <label class="custom-control-label" for="ABn">AB -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input checked type="radio" id="0p" name="Kan_Grubu" class="custom-control-input" value="0+" />
                                                <label class="custom-control-label" for="0p">0 +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0n" name="Kan_Grubu" class="custom-control-input" value="0-" />
                                                <label class="custom-control-label" for="0n">0 -</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (Model.Kan_Grubu == "0-")
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>&nbsp;Kan Grubu:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Ap" name="Kan_Grubu" class="custom-control-input" value="A+" />
                                                <label class="custom-control-label" for="Ap">A +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="An" name="Kan_Grubu" class="custom-control-input" value="A-" />
                                                <label class="custom-control-label" for="An">A -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bp" name="Kan_Grubu" class="custom-control-input" value="B+" />
                                                <label class="custom-control-label" for="Bp">B +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="Bn" name="Kan_Grubu" class="custom-control-input" value="B-" />
                                                <label class="custom-control-label" for="Bn">B -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABp" name="Kan_Grubu" class="custom-control-input" value="AB+" />
                                                <label class="custom-control-label" for="ABp">AB +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="ABn" name="Kan_Grubu" class="custom-control-input" value="AB-" />
                                                <label class="custom-control-label" for="ABn">AB -</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="0p" name="Kan_Grubu" class="custom-control-input" value="0+" />
                                                <label class="custom-control-label" for="0p">0 +</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input checked type="radio" id="0n" name="Kan_Grubu" class="custom-control-input" value="0-" />
                                                <label class="custom-control-label" for="0n">0 -</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <label class="control-label col-md-4">Açık Adres</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.Adres, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Görevler</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Gorev_No", null, "Görev Seçiniz...", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
                                        @Html.ValidationMessageFor(model => model.Gorev_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />
                            <div class="form-group  mt-2">
                                <label class="control-label col-md-4">Açıklama</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.Aciklama, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>
                    <div class="col-md-12 text-right">
                        <a href="@Url.Action("Index","Users")" class="btn btn-sm btn-outline-info"><i class="fa fa-hand-point-left"></i> Listeye Geri Dön</a>
                        <button type="submit" class="btn btn-sm btn-outline-success"><i class="fa fa-edit"></i> Güncelle</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--Camera Modal -->
<div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="cameraModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center"><i class="fas fa-photo-video"></i>Kullanıcı Fotoğraf Çekme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div hidden id="Alert" class="alert alert-success">
                    <p class="text-success">Fotoğraf Çekme İşlemi Başarılı!</p>
                </div>
                <div id="Camera"></div>
                @section camera
                {
                    <script src="@Url.Content("~/Scripts/jquery.webcam.js")">
                    </script>
                    <script>
        $("#Camera").webcam({
             width: 320,
             height: 240,
             mode: "save",
             swffile: "@Url.Content("~/Scripts/jscam.swf")",
             onTick: function () { },
             onSave: function () { },
             onCapture: function () {
                 webcam.save("@Url.Content("~/Camera/Capture?id="+Model.ID)");
             },
             debug: function () { },
             onLoad: function () { }
         });
                    </script>
                }
            </div>
            <div class="modal-footer">
                <button hidden type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                <button id="Shoot" type="button" onclick="webcam.capture();" class="col-md-12 btn btn-outline-info btn-sm mb-1"><i class="fas fa-camera-retro"></i> Fotoğraf Çek!</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#Shoot").click(function () {
            $("#Alert").prop("hidden", false);
            setTimeout(function () {
                $("#cameraModal .close").click();
                $("#Alert").prop("hidden", true);
            }, 1000);
        });
        var takvim = $("#GrupTakvimHidden").attr("value");
        if (takvim) {
            $("#GrupTakvim").prop("checked", true);
            $("#GrupTakvim").attr("value", true);
        } else {
            $("#GrupTakvim").prop("checked", false);
            $("#GrupTakvim").attr("value", false);
        }


        var sureli = $("#SureliHidden").attr("value");
        if (sureli) {
            $("#Sureli").prop("checked", true);
            $("#Sureli").attr("value", true);
        } else {
            $("#Sureli").prop("checked", false);
            $("#Sureli").attr("value", false);
        }


        var gecis = $("#3GecisHidden").attr("value");
        if (gecis) {
            $("#3Gecis").prop("checked", true);
            $("#3Gecis").attr("value", true);
        } else {
            $("#3Gecis").prop("checked", false);
            $("#3Gecis").attr("value", false);
        }


        $("#GrupTakvim").change(function () {
            if ($(this).prop("checked") == true) {
                $("#GrupTakvim").attr("value", true);
            } else {
                $("#GrupTakvim").attr("value", false);
            }
        });
        $("#Sureli").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Sureli").attr("value", true);
            } else {
                $("#Sureli").attr("value", false);
            }
        });
        $("#3Gecis").change(function () {
            if ($(this).prop("checked") == true) {
                $("#3Gecis").attr("value", true);
            } else {
                $("#3Gecis").attr("value", false);
            }
        });

        $("#Departman_No").chosen().change(function () {
            var departmanNo = $(this).val();
            if (departmanNo == 0 || departmanNo == null) {
                $("#Alt_Departman_No").empty();
                $("#Bolum_No").empty();
                $("#Alt_Departman_No").append('<option > Alt Departman Seçiniz... </option>');
                $("#Bolum_No").append('<option > Bölüm Seçiniz... </option>');
            } else {
                $.ajax({
                    url: '/Users/AltDepartmanListesi?Departman=' + departmanNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Alt_Departman_No").empty();
                    $.each(data, function (index, row) {
                        $("#Alt_Departman_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                    });

                    var altdepartmanNo = $("#Alt_Departman_No").val();
                    $.ajax({
                        url: '/Users/BolumListesi?AltDepartman=' + altdepartmanNo,
                        type: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $("#Bolum_No").empty();
                        $.each(data, function (index, row) {
                            $("#Bolum_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                        });
                    });

                });
            }
        });
        $("#Alt_Departman_No").chosen().change(function () {
            var altdepartmanNo = $(this).val();
            $.ajax({
                url: '/Users/BolumListesi?AltDepartman=' + altdepartmanNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Bolum_No").empty();
                $.each(data, function (index, row) {
                    $("#Bolum_No").append('<option value=' + row.Value + '>' + row.Text + '</option>').trigger("chosen:updated");
                });
            });

        })
    });
</script>