@model ForaTeknoloji.Entities.Entities.Users
@{
    ViewBag.Title = "Kullanıcı Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row animated slideInLeft faster">
    <div class="col-md-8 offset-md-2">
        <div class="card border-left-info h-100 shadow-lg  mt-xl-5 mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 class="m-0 font-weight-bold text-secondary text-center">Kullanıcı Ayarları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Resim)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">Kullanıcı ID</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Kart ID</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Kart_ID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Kart_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Şifre</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Plaka, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Plaka, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Plaka, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">Otopark Modu</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Gecis_Modu", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Gecis_Modu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">Kullanıcı Tipi</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Kullanici_Tipi", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Kullanici_Tipi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-12">Geçiş Grubu(Ana)</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Grup_No", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Grup_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" hidden value="@Model.C3_Grup" name="CC3_GrupHiden" class="custom-control-input" id="3GecisHidden" />
                                                    <input type="checkbox" value="" name="C3_Grup" class="custom-control-input" id="3Gecis" />
                                                    <label class="custom-control-label" for="3Gecis">3 Geçiş Grubu</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a href="@Url.Action("Grup","Users",new { DeleteID=Model.ID })" class="btn btn-sm btn-secondary">Grup 2 ve 3'ü Sil</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Geçiş Grubu 2</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Grup_No_2", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Grup_No_2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Geçiş Grubu 3</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Grup_No_3", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Grup_No_3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Ziyaretçi Grubu</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Visitor_Grup_No", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Visitor_Grup_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" hidden value="@Model.Sureli_Kullanici" name="Sureli_Kullanici_Hidden" class="custom-control-input" id="SureliHidden" />
                                                    <input type="checkbox" value="" name="Sureli_Kullanici" class="custom-control-input" id="Sureli" />
                                                    <label class="custom-control-label" for="Sureli">Süreli Kullanıcı</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-12">Süreli Kullanım Sonu</label>
                                        @if (Model.Bitis_Tarihi == null)
                                        {
                                            <input type="date" class="form-control" name="Bitis_Tarihi" id="Tarih" />
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.Bitis_Tarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                        }

                                    </div>
                                    <div class="form-group">
                                        @if (Model.Bitis_Saati == null)
                                        {
                                            <input class="form-control" name="Bitis_Saati" type="time" value="" id="Saat">
                                        }
                                        else
                                        {
                                            <input class="form-control" name="Bitis_Saati" type="time" value="@Model.Bitis_Saati.Value.ToShortTimeString()" id="Saat">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" hidden value="@Model.Grup_Takvimi_Aktif" name="Grup_Takvimi" class="custom-control-input" id="GrupTakvimHidden" />
                                                    <input type="checkbox" value="" name="Grup_Takvimi_Aktif" class="custom-control-input" id="GrupTakvim" />
                                                    <label class="custom-control-label" for="GrupTakvim">Grup Takvimi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-12">Grup Takvimi Adı</label>
                                        @Html.DropDownList("Grup_Takvimi_No", null, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Grup_Takvimi_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="~/Images/@Model.Resim" class="img-profile img-fluid img-thumbnail" alt="Alternate Text" />
                            <input type="file" name="ProfileImage" id="ProfileImage" class="form-control btn btn-sm btn-secondary" value="" /><br />
                            <span class="fas fa-info-circle">&nbsp;</span>
                            <span><i>Lütfen jpg,jpeg ya da png formatı kullanın</i></span><br />
                            <a href="/Camera/Index" class="btn btn-sm btn-outline-secondary mt-2"><i class="fas fa-camera"></i> Resim Çek&nbsp;&nbsp;&nbsp;</a>
                        </div>
                    </div>
                    <h5 class="text-center text-danger">Kimlik Bilgileri</h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Adı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Adi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Adi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">TC Kimlik</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.TCKimlik, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TCKimlik, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Şirket</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Sirket_No", null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Sirket_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Departmanlar</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Departman_No", null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Departman_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Bölümler</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Bolum_No", null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Bolum_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Soyadı</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Soyadi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Soyadi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Telefon</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Bloklar</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Blok_No", null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Blok_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Daire</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Daire, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Daire, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Görevler</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownList("Gorev_No", null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Gorev_No, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-4">Açık Adres</label>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.Adres, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <a href="@Url.Action("Index","Users")" class="btn btn-sm btn-outline-info"><i class="fa fa-hand-point-left"></i> Listeye Geri Dön</a>
                        <button type="submit" class="btn btn-sm btn-outline-success"><i class="fa fa-edit"></i> Güncelle</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        var takvim = $("#GrupTakvimHidden").attr("value");
        if (takvim) {
            $("#GrupTakvim").prop("checked", true);
            $("#GrupTakvim").attr("value", true);
        } else {
            $("#GrupTakvim").prop("checked", false);
            $("#GrupTakvim").attr("value", false);
        }


        var sureli = $("#SureliHidden").attr("value");
        if (sureli) {
            $("#Sureli").prop("checked", true);
            $("#Sureli").attr("value", true);
        } else {
            $("#Sureli").prop("checked", false);
            $("#Sureli").attr("value", false);
        }


        var gecis = $("#3GecisHidden").attr("value");
        if (gecis) {
            $("#3Gecis").prop("checked", true);
            $("#3Gecis").attr("value", true);
        } else {
            $("#3Gecis").prop("checked", false);
            $("#3Gecis").attr("value", false);
        }


        $("#GrupTakvim").change(function () {
            if ($(this).prop("checked") == true) {
                $("#GrupTakvim").attr("value", true);
            } else {
                $("#GrupTakvim").attr("value", false);
            }
        });
        $("#Sureli").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Sureli").attr("value", true);
            } else {
                $("#Sureli").attr("value", false);
            }
        });
        $("#3Gecis").change(function () {
            if ($(this).prop("checked") == true) {
                $("#3Gecis").attr("value", true);
            } else {
                $("#3Gecis").attr("value", false);
            }
        });

    });
</script>