@model ForaTeknoloji.PresentationLayer.Models.UsersListViewModel
@{
    ViewBag.Title = "Kullanıcı Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card border-left-info h-100 shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 id="Title" class="m-0 font-weight-bold text-secondary text-center">Kullanıcı Ayarları</h3>
            </div>
            <div class="card-body ">
                @if (Model.Users.Count == 0)
                {
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading text-center">Kayıt Bulunamadı!</h4>
                        <p class="text-center">Geçerli  'Kullanıcı'  kaydı bulunamadı.</p>
                        <hr>
                        <p class="mb-0 text-center">Dilerseniz açılır menüden 'Kullanıcılar' > 'Yeni Kullanıcı' butonuna basarak ekleyebilirsiniz.</p>

                    </div>
                }
                else
                {
                    <table id="UserList" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                        <thead class="table-sm">
                            <tr>
                                <td>ID</td>
                                <td>Kart ID</td>
                                <td>Adı</td>
                                <td>Soyadı</td>
                                <td>Şirket</td>
                                <td>Departman</td>
                                <td>Görev</td>
                                <td>Blok</td>
                                <td>Plaka</td>
                                <td>Geçiş Grubu</td>
                                <td>Ziyaretçi Grubu</td>
                                <td title="Panel Durum Tablosu" class="text-right">
                                    <a data-toggle="modal" data-target="#panelList" onclick="ekle(0,2622)" class="text-success mr-2" title="Tüm Kullanıcıları Gönder"><i class="fas fa-users"></i></a>
                                    <a href="@Url.Action("TaskTable","Task")" class="text-secondary mr"><i class="fas fa-tasks"></i> </a>

                                </td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td>ID</td>
                                <td>Kart ID</td>
                                <td>Adı</td>
                                <td>Soyadı</td>
                                <td>Şirket</td>
                                <td>Departman</td>
                                <td>Görev</td>
                                <td>Blok</td>
                                <td>Plaka</td>
                                <td>Geçiş Grubu</td>
                                <td>Ziyaretçi Grubu</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                }


            </div>
        </div>
    </div>
</div>

<!--Send User PanelSelect Modal -->
<div class="modal fade" id="panelList" tabindex="-1" role="dialog" aria-labelledby="panelListTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Send", "Users", FormMethod.Post))
            {
                <div class="modal-body">
                    <div hidden id="messageSnd">
                        <h4 class="text-center text-info animated slideInDown">Panel İşlemi Sıraya Alındı!</h4>
                        <hr />
                    </div>
                    <input id="userID" type="text" hidden name="UserID" value="" />
                    <input id="oprKod" type="number" hidden name="OprKod" value="" />
                    <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                        <thead class="table-sm">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                        <label class="custom-control-label" for="AllPanel"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelList" id="@item.Panel_ID" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnTaskSend" type="submit" class="btn btn-outline-success"><i class="fas fa-send"></i> Seçilen Panellere Gönder</button>
                </div>
            }
        </div>
    </div>
</div>


<!--Receive User PanelSelect Modal -->
<div class="modal fade" id="panelListReceive" tabindex="-1" role="dialog" aria-labelledby="panelListReceiveTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Receive", "Users", FormMethod.Post))
            {
                <div class="modal-body">
                    <div hidden id="messageRcv">
                        <h4 class="text-center text-info animated slideInDown">Panel İşlemi Sıraya Alındı!</h4>
                        <hr />
                    </div>
                    <input id="ReceiveUserID" type="text" hidden name="ReceiveUserID" value="" />
                    <table id="PanelTableReceice" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                        <thead class="table-sm">
                            <tr>
                                <td></td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" value="@item.Panel_ID" class="custom-control-input" id="@item.Panel_ID" name="PanelListReceive">
                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnTaskRcv" type="submit" class="btn btn-outline-success"><i class="fas fa-send"></i> Seçili Panelden Al</button>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {

            //$.fn.dataTable.ext.classes.sPageButton = 'btn btn-sm btn-info mr-1 ml-1';
            //$.fn.dataTable.ext.classes.sFilterInput = "form-control form-control-sm";
            $("#PanelTable").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ]
            });

            $("#PanelTableReceice").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ]
            });



            $("#UserList").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                },
                "ajax": "/Users/UserList",
                "columns": [
                    { "data": "ID" },
                    { "data": "Kart_ID" },
                    { "data": "Adi" },
                    { "data": "Soyadi" },
                    { "data": "Sirket" },
                    { "data": "Departman" },
                    { "data": "Gorev" },
                    { "data": "Blok" },
                    { "data": "Plaka" },
                    { "data": "Gecis_Grubu" },
                    { "data": "String_Ziyaretci_Grubu" },
                    {
                        "data": "ID", "render": function (data) {
                            var multipleUrl = '<a title="Edit" id="edit" href="/Users/Edit?id=' + data + '"><i class="fas fa-edit text-info mr-2"></i></a>' +
                                '<a title="Delete" href="/Users/Delete?id=' + data + '" onclick="return confirm(\'Seçilen Kullanıcıyı Veritabanından Silmek İstediğinize Emin Misiniz?\')"><i class="fas fa-trash-alt text-danger mr-2"></i></a>' +
                                '<a data-toggle="modal" data-target="#panelList" title="Send To Panel" onclick="ekle(' + data + ',2620)" id="send"><i class="fas fa-share text-success mr-2"></i></a>' +
                                '<a data-toggle="modal" data-target="#panelListReceive" title="Receive From Panel" onclick="receiveAdd(' + data + ')" id="send"><i class="fas fa-reply text-success mr-2"></i></a>';
                            return multipleUrl;
                        }
                    },
                ],
                "columnDefs": [
                    { "orderable": false, "targets": 11 }
                ]
            });

        });
    </script>
}


<script>
    $(document).ready(function () {
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        if ($("#Status").prop("hidden") == false) {
            setTimeout(function () {
                $("#Status").prop("hidden", true);
            }, 1000);
        }
        $('.table tbody tr').click(function (event) {
            if (event.target.type !== 'radio') {
                $(':radio', this).trigger('click');
            }
        });
        $("#btnTaskSend").click(function () {
            $("#messageSnd").prop("hidden", false);
            setTimeout(function () {
                $("#messageSnd").prop("hidden", true);
            }, 1000);
        });
        $("#btnTaskRcv").click(function () {
            $("#messageRcv").prop("hidden", false);
            setTimeout(function () {
                $("#messageRcv").prop("hidden", true);
            }, 1000);
        });
    });
    function ekle(userID, oprKod) {
        $("#userID").prop("value", userID);
        $("#oprKod").prop("value", oprKod);
    }
    function receiveAdd(userIDRcv, oprKodRcv) {
        $("#ReceiveUserID").prop("value", userIDRcv);
        $("#ReceiveOprKod").prop("value", oprKodRcv);
    }


</script>
