@model ForaTeknoloji.PresentationLayer.Models.UsersListViewModel
@{
    ViewBag.Title = "Kullanıcı Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-muted text-center animated shake">Kullanıcı Ayarları</h3>
                @if (Model.StatusControl != -1)
                {
                    if (Model.StatusControl == 2)
                    {
                        <h3 id="Status" class="text-success text-center">İşlem Başarılı</h3>
                    }
                    else if (Model.StatusControl == 1)
                    {
                        <h3 id="Status" class="text-warning text-center">İşlem Sıraya Alındı</h3>
                    }
                    else
                    {
                        <h3 id="Status" class="text-danger text-center">İşlem Başarısız</h3>
                    }
                }
            </div>
            <div class="card-body ">
                @using (Html.BeginForm("Index", "Users", FormMethod.Get))
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Kullanıcı Ara..." name="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> Ara</button>
                        </div>
                    </div>
                }
                <hr />
                <table class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>ID</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Şirket</td>
                            <td>Departman</td>
                            <td>Blok</td>
                            <td>Plaka</td>
                            <td>Geçiş Grubu</td>
                            <td>Ziyaretçi Grubu</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.Sirket</td>
                                <td>@item.Departman</td>
                                <td>@item.Blok</td>
                                <td>@item.Plaka</td>
                                <td>@item.Gecis_Grubu</td>
                                <td>@item.String_Ziyaretci_Grubu</td>
                                <td>
                                    <a title="Edit" id="edit" href="@Url.Action("Edit","Users",new { id=item.ID})"><i class="fas fa-edit text-info mr-2"></i></a>
                                    <a title="Delete" onclick="return confirm('Kullanıcıyı Veritabanından Silmek İstediğinize Emin Misiniz?')" href="@Url.Action("Delete","Users",new { id=item.ID})"><i class="fas fa-trash-alt text-danger mr-2"></i></a>
                                    <a title="Send To Panel" onclick="return confirm('Kullanıcıyı Panele Göndermek İstediğinize Emin Misiniz?')" id="send" href="@Url.Action("Send","Users",new { UserID=item.ID})"><i class="fas fa-share text-success mr-2"></i></a>
                                    <a title="Receive From Panel" onclick="return confirm('Kullanıcıyı Panelden Almak İstediğinize Emin Misiniz?')" id="send" href="@Url.Action("Receive","Users",new { UserID=item.ID})"><i class="fas fa-reply text-success mr-2"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($("#Status").prop("hidden") == false) {
            setTimeout(function () {
                $("#Status").prop("hidden", true);
            }, 1000);
        }
    });
</script>






