@model ForaTeknoloji.PresentationLayer.Models.UsersListViewModel
@{
    ViewBag.Title = "Kullanıcı-Panel İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card border-left-info h-100 shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header py-1 mt-1">
                <h3 title="Title" class="card-title"><i class="fas fa-bookmark"></i> Kullanıcı Ayarları</h3>
            </div>
            <div class="card-body">
                <table id="UserList" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                    <thead>
                        <tr>
                            <td>Kart ID</td>
                            <td>Kart ID 2</td>
                            <td>Kart ID 3</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>TC Kimlik</td>
                            <td>Departman</td>
                            <td>Alt Departman</td>
                            <td>Bölüm</td>
                            <td>Geçiş Grubu</td>
                            <td>Açıklama</td>
                            <td>
                                <a data-toggle="modal" data-target="#panelList" title="Tümünü Panelden Sil" onclick="ekle(0,2629)" id="PanelDelete"><i class="fas fa-trash-restore-alt text-danger mr-2"></i></a>
                                <a data-toggle="modal" data-target="#panelList" title="Tüm Geçiş Sayacını Sil" onclick="ekle(0,2702)" id="AccessDelete"><i class="fas fa-trash-restore-alt text-warning mr-2"></i></a>
                                <a data-toggle="modal" data-target="#panelList" title="Tüm Antipassback Sayacını Sil" onclick="ekle(0,2711)" id="AntiDelete"><i class="fas fa-trash-restore-alt text-dark mr-2"></i></a>
                                <a title="Tüm Kullanıcıları Sil" onclick="return confirm('Kullanıcıların Tümünü Veritabanından Silmek İstediğinize Emin Misiniz?')" id="AllDataUser" href="@Url.Action("DeleteDatabaseAll","Users")"><i class="fas fa-dumpster-fire text-dark mr-2"></i></a>
                                <a title="Panel Durum Tablosu" href="@Url.Action("TaskTable","Task")" class="text-secondary"><i class="fas fa-tasks"></i> </a>
                            </td>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>Kart ID</td>
                            <td>Kart ID 2</td>
                            <td>Kart ID 3</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>TC Kimlik</td>
                            <td>Departman</td>
                            <td>Alt Departman</td>
                            <td>Bölüm</td>
                            <td>Geçiş Grubu</td>
                            <td>Açıklama</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Panel List Modal -->
<div class="modal fade" id="panelList" tabindex="-1" role="dialog" aria-labelledby="panelListTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Send", "Users", FormMethod.Post))
            {
                <div class="modal-body">
                    <div hidden id="message">
                        <h4 class="text-center text-info animated slideInDown">Panel İşlemi Sıraya Alındı!</h4>
                        <hr />
                    </div>
                    <input id="userNo" type="text" hidden name="UserID" value="" />
                    <input id="oprKod" type="number" hidden name="OprKod" value="" />
                    <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
                        <thead class=" table-sm">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                        <label class="custom-control-label" for="AllPanel"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelList" id="@item.Panel_ID" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnTask" type="submit" class="btn btn-outline-success"><i class="fas fa-send"></i> Seçilen Panellere Gönder</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {

            $("#PanelTable").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ]
            });

            $("#UserList").DataTable({
                "language": {
                    "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
                },
                "ajax": "/Users/UserList",
                "columns": [
                    { "data": "Kart_ID" },
                    { "data": "Kart_ID_2" },
                    { "data": "Kart_ID_3" },
                    { "data": "Adi" },
                    { "data": "Soyadi" },
                    { "data": "TCKimlik" },
                    { "data": "DepartmanAdi" },
                    { "data": "AltDepartmanAdi" },
                    { "data": "BolumAdi" },
                    { "data": "Grup_Adi" },
                    {
                        "data": "Aciklama", "render": function (data) {
                            if (data != null) {
                                var value = data.substring(0, 10);
                                value += '...';
                                return value;
                            } else {
                                return "";
                            }



                        }
                    },
                    {
                        "data": "ID", "render": function (data) {
                            var multipleUrl = '<a data-toggle="modal" data-target="#panelList" title="Panelden Sil" onclick="ekle(' + data + ',2628)" id="PanelDelete"><i class="fas fa-trash-alt text-danger mr-2"></i></a>' +
                                '<a data-toggle="modal" data-target="#panelList" title="Geçiş Sayacı Sil" onclick="ekle(' + data + ',2701)" id="AccessDelete"><i class="fas fa-trash-alt text-warning mr-2"></i></a>' +
                                '<a data-toggle="modal" data-target="#panelList" title="Antipassback Sayacı Sil" onclick="ekle(' + data + ',2710)" id="AntiDelete"><i class="fas fa-trash-alt text-dark mr-2"></i></a>' +
                                '<a title="Kullanıcıyı Tüm Sistemden Kaldır" onclick="return confirm(\'Kullanıcıyı Tüm Sistemden Silmek İstediğinize Emin Misiniz?\')" id="AntiDelete" href="/Users/DeleteAllSystem?id=' + data + '"><i class="fas fa-dumpster-fire text-dark mr-2"></i></a>';
                            return multipleUrl;
                        }
                    },
                ],
                "columnDefs": [
                    { "orderable": false, "targets": 11 }
                ]
            });
        });
    </script>
}
<script>
    $(document).ready(function () {
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        $("#btnTask").click(function () {
            $("#message").prop("hidden", false);
            setTimeout(function () {
                $("#message").prop("hidden", true);
            }, 1000);
        });
    });
    function ekle(userNo, oprKod) {
        $("#userNo").prop("value", userNo);
        $("#oprKod").prop("value", oprKod);
    }
</script>




