@model ForaTeknoloji.PresentationLayer.Models.UsersListViewModel
@{
    ViewBag.Title = "Kullanıcı-Panel İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-muted text-center">Kullanıcı Ayarları</h3>
                @if (Model.StatusControl != -1)
                {
                    if (Model.StatusControl == 2)
                    {
                        <h3 id="Status" class="text-success text-center">İşlem Başarılı</h3>
                    }
                    else if (Model.StatusControl == 1)
                    {
                        <h3 id="Status" class="text-warning text-center">İşlem Sıraya Alındı</h3>
                    }
                    else
                    {
                        <h3 id="Status" class="text-danger text-center">İşlem Başarısız</h3>
                    }
                }
            </div>
            <div class="card-body">

                @using (Html.BeginForm("PanelOperation", "Users", FormMethod.Get))
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Kullanıcı Ara..." name="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> Ara</button>
                        </div>
                    </div>
                }
                <hr />
                <table class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>ID</td>
                            <td>Kart ID</td>
                            <td>Adı</td>
                            <td>Soyadı</td>
                            <td>Şirket</td>
                            <td>Departman</td>
                            <td>Blok</td>
                            <td>Plaka</td>
                            <td>Geçiş Grubu</td>
                            <td>Ziyaretçi Grubu</td>
                            <td>
                                <a data-toggle="modal" data-target="#panelList" title="Tümünü Panelden Sil" onclick="ekle(0,2629)" id="PanelDelete"><i class="fas fa-trash-restore-alt text-danger mr-2"></i></a>
                                <a data-toggle="modal" data-target="#panelList" title="Tüm Geçiş Sayacını Sil" onclick="ekle(0,2702)" id="AccessDelete"><i class="fas fa-trash-restore-alt text-warning mr-2"></i></a>
                                <a data-toggle="modal" data-target="#panelList" title="Tüm Antipassback Sayacını Sil" onclick="ekle(0,2711)" id="AntiDelete"><i class="fas fa-trash-restore-alt text-dark mr-2"></i></a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Kart_ID</td>
                                <td>@item.Adi</td>
                                <td>@item.Soyadi</td>
                                <td>@item.Sirket</td>
                                <td>@item.Departman</td>
                                <td>@item.Blok</td>
                                <td>@item.Plaka</td>
                                <td>@item.Gecis_Grubu</td>
                                <td>@item.String_Ziyaretci_Grubu</td>
                                <td>
                                    <a data-toggle="modal" data-target="#panelList" title="Panelden Sil" onclick="ekle(@item.ID,2628)" id="PanelDelete"><i class="fas fa-trash-alt text-danger mr-2"></i></a>
                                    <a data-toggle="modal" data-target="#panelList" title="Geçiş Sayacı Sil" onclick="ekle(@item.ID,2701)" id="AccessDelete"><i class="fas fa-trash-alt text-warning mr-2"></i></a>
                                    <a data-toggle="modal" data-target="#panelList" title="Antipassback Sayacı Sil" onclick="ekle(@item.ID,2710)" id="AntiDelete"><i class="fas fa-trash-alt text-dark mr-2"></i></a>
                                    <a title="Kullanıcıyı Tüm Sistemden Kaldır" onclick="return confirm('Kullanıcıyı Tüm Sistemden Silmek İstediğinize Emin Misiniz?')" id="AntiDelete" href="@Url.Action("DeleteAllSystem","Users",new { id=item.ID})"><i class="fas fa-dumpster-fire text-dark mr-2"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Panel List Modal -->
<div class="modal fade" id="panelList" tabindex="-1" role="dialog" aria-labelledby="panelListTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Panel Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Send", "Users", FormMethod.Post))
            {
                <div class="modal-body">
                    <input id="userNo" type="text" hidden name="UserID" value="" />
                    <input id="oprKod" type="number" hidden name="OprKod" value="" />
                    <table id="PanelTable" class="table-borderless table table-hover text-center table-striped table-sm">
                        <thead class="table-info">
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="AllPanel" />
                                        <label class="custom-control-label" for="AllPanel"></label>
                                    </div>
                                </td>
                                <td>Panel Seri No</td>
                                <td>Panel No</td>
                                <td>Panel Adı</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PanelListesi)
                            {
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="PanelList" id="@item.Panel_ID" value="@item.Panel_ID">
                                            <label class="custom-control-label" for="@item.Panel_ID"></label>
                                        </div>
                                    </td>
                                    <td>@item.Seri_No.Value.ToString("X4")</td>
                                    <td>@item.Panel_ID</td>
                                    <td>@item.Panel_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success"><i class="fas fa-send"></i> Seçilen Panellere Gönder</button>
                </div>
            }
        </div>
    </div>
</div>





<script>
    $(document).ready(function () {
        $("#AllPanel").click(function () {
            if ($(this).prop("checked") == true) {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", true);
            } else {
                $("#PanelTable tbody tr input[type='checkbox']").prop("checked", false);
            }
        });
        if ($("#Status").prop("hidden") == false) {
            setTimeout(function () {
                $("#Status").prop("hidden", true);
            }, 1000);
        }
    });
    function ekle(userNo, oprKod) {
        $("#userNo").prop("value", userNo);
        $("#oprKod").prop("value", oprKod);
    }
</script>




