@model ForaTeknoloji.Entities.Entities.SMSSetting
@{
    ViewBag.Title = "Sms Ayarları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card shadow-lg mx-lg-5 my-lg-5 animated slideInLeft">
            <div class="card-header-tabs mt-1">
                <h3 class="text-center text-muted">Sms Ayarları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Add", "SMS", FormMethod.Post))
                {
                    @Html.Hidden("Kayit_No", Model.Kayit_No)
                    <div class="form-group">
                        <label for="Kullanici_Adi">Kullanıcı Adı</label>
                        @Html.TextBox("Kullanici_Adi", Model.Kullanici_Adi, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="Sifre">Şifre</label>
                        @Html.TextBox("Sifre", Model.Sifre, new { @class = "form-control", type = "password" })
                    </div>
                    <div class="form-group">
                        <label for="Originator">Originator</label>
                        @Html.TextBox("Originator", Model.Originator, new { @class = "form-control" })
                    </div>
                    @*<div class="panel panel-default">
                        <div class="panel-heading">
                            Gelmeyenler Raporu Gönder
                            <hr />
                        </div>
                        <div class="panel-body">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Gelmeyenler_Gonder", Model.Gelmeyenler_Gonder ?? false, new { @class = "custom-control-input" })
                                <label for="Gelmeyenler_Gonder" class="custom-control-label">Gönder</label>
                            </div>
                            <div class="form-group">
                                <Label>Mesaj</Label>
                                @Html.TextBox("Gelmeyenler_Mesaj", Model.Gelmeyenler_Mesaj, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="Gelmeyenler_Saat">Saat</label>
                                <input type="time" id="Gelmeyenler_Saat" class="form-control" name="Gelmeyenler_Saat" value="@Model.Gelmeyenler_Saat.Value.ToShortTimeString()" />
                            </div>
                            <div class="form-group">
                                <label for="Gelmeyenler_Global_Bolge">Global Bölge</label>
                                @Html.TextBox("Gelmeyenler_Global_Bolge", Model.Gelmeyenler_Global_Bolge, new { @class = "form-control", type = "number", min = 0 })
                            </div>
                        </div>
                    </div>*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            İçerde/Dışarda Raporu Gönder
                            <hr />
                        </div>
                        <div class="panel-body">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("IcerdeDisarda_Gonder", Model.IcerdeDisarda_Gonder ?? false, new { @class = "custom-control-input" })
                                <label for="IcerdeDisarda_Gonder" class="custom-control-label">Gönder</label>
                            </div>
                            <div class="form-group">
                                <label for="Icerde_Mesaj">Mesaj(İçerde)</label>
                                @Html.TextBox("Icerde_Mesaj", Model.Icerde_Mesaj, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="Disarda_Mesaj">Mesaj(Dışarda)</label>
                                @Html.TextBox("Disarda_Mesaj", Model.Disarda_Mesaj, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="IcerdeDisarda_Saat">Saat</label>
                                <input type="datetime" id="IcerdeDisarda_Saat" class="form-control" name="IcerdeDisarda_Saat" value="@Model.IcerdeDisarda_Saat.Value.ToShortTimeString()" />
                            </div>
                            <div class="form-group">
                                <label for="IcerdeDisarda_Global_Bolge">Global Bölge</label>
                                @Html.TextBox("IcerdeDisarda_Global_Bolge", Model.IcerdeDisarda_Global_Bolge, new { @class = "form-control", type = "number", min = 0 })
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Her Giriş-Çıkışta Gönder
                            <hr />
                        </div>
                        <div class="panel-body">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("HerGirisCikista_Gonder", Model.HerGirisCikista_Gonder ?? false, new { @class = "custom-control-input" })
                                <label for="HerGirisCikista_Gonder" class="custom-control-label">Gönder</label>
                            </div>
                            <div class="form-group">
                                <label for="HerGirisCikista_Mesaj">Mesaj</label>
                                @Html.TextBox("HerGirisCikista_Mesaj", Model.HerGirisCikista_Mesaj, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-outline-success btn-sm"><i class="fas fa-edit"></i> Sms Ayarlarını Güncelle</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>