@model ForaTeknoloji.Entities.Entities.SMSSetting
@{
    ViewBag.Title = "Sms Ayarları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card shadow-lg mx-lg-5 my-lg-5 animated fadeIn border-left-info h-100 faster">
            <div class="card-header py-1 mt-1">
                <h3 class="card-title"><i class="fas fa-bookmark"></i> Sms Ayarları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Add", "SMS", FormMethod.Post))
                {
                    @Html.Hidden("Kayit_No", Model.Kayit_No)
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="Kullanici_Adi">Kullanıcı Adı</label>
                        <div class="col-sm-9">@Html.TextBoxFor(model => model.Kullanici_Adi, new { @class = "form-control form-control-sm" }) </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="Sifre">Şifre</label>
                        <div class="col-sm-9">@Html.TextBoxFor(model => model.Sifre, new { @class = "form-control form-control-sm", type = "password" })</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="Originator">Originator</label>
                        <div class="col-sm-9">@Html.TextBoxFor(model => model.Originator, new { @class = "form-control form-control-sm" })</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="UserCode">UserCode</label>
                        <div class="col-sm-9">@Html.TextBoxFor(model => model.UserCode, new { @class = "form-control form-control-sm" })</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="AccountID">AccountID</label>
                        <div class="col-sm-9">@Html.TextBoxFor(model => model.AccountID, new { @class = "form-control form-control-sm" })</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Gelmeyenler Raporu Gönder
                            <hr />
                        </div>
                        <div class="panel-body">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("Gelmeyenler_Gonder", Model.Gelmeyenler_Gonder ?? false, new { @class = "custom-control-input" })
                                <label for="Gelmeyenler_Gonder" class="custom-control-label">Gönder</label>
                            </div>
                            <div class="form-group">
                                <Label>Mesaj</Label>
                                @Html.TextBoxFor(model => model.Gelmeyenler_Mesaj, new { @class = "form-control form-control-sm" })
                            </div>
                            @if (Model.Gelmeyenler_Saat == null)
                            {
                                <div class="form-group">
                                    <label for="Gelmeyenler_Saat">Saat</label>
                                    <input type="time" id="Gelmeyenler_Saat" class="form-control form-control-sm" name="Gelmeyenler_Saat" value="@DateTime.Now.ToShortTimeString()" />
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label for="Gelmeyenler_Saat">Saat</label>
                                    <input type="time" id="Gelmeyenler_Saat" class="form-control form-control-sm" name="Gelmeyenler_Saat" value="@Model.Gelmeyenler_Saat.Value.ToShortTimeString()" />
                                </div>
                            }

                            <div class="form-group">
                                <label for="Gelmeyenler_Global_Bolge">Global Bölge</label>
                                @Html.TextBoxFor(model => model.Gelmeyenler_Global_Bolge, new { @class = "form-control form-control-sm", type = "number", min = 0 })
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            İçerde/Dışarda Raporu Gönder
                            <hr />
                        </div>
                        <div class="panel-body">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("IcerdeDisarda_Gonder", Model.IcerdeDisarda_Gonder ?? false, new { @class = "custom-control-input" })
                                <label for="IcerdeDisarda_Gonder" class="custom-control-label">Gönder</label>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="Icerde_Mesaj">Mesaj(İçerde)</label>
                                <div class="col-sm-9"> @Html.TextBoxFor(model => model.Icerde_Mesaj, new { @class = "form-control form-control-sm" })</div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="Disarda_Mesaj">Mesaj(Dışarda)</label>
                                <div class="col-sm-9">@Html.TextBoxFor(model => model.Disarda_Mesaj, new { @class = "form-control form-control-sm" })</div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="IcerdeDisarda_Saat">Saat</label>
                                <div class="col-sm-9"> <input type="datetime" id="IcerdeDisarda_Saat" class="form-control form-control-sm" name="IcerdeDisarda_Saat" value="@Model.IcerdeDisarda_Saat.Value.ToShortTimeString()" /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="IcerdeDisarda_Global_Bolge">Global Bölge</label>
                                <div class="col-sm-9">@Html.TextBoxFor(model => model.IcerdeDisarda_Global_Bolge, new { @class = "form-control form-control-sm", type = "number", min = 0 })</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Her Giriş-Çıkışta Gönder
                            <hr />
                        </div>
                        <div class="panel-body">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("HerGirisCikista_Gonder", Model.HerGirisCikista_Gonder ?? false, new { @class = "custom-control-input" })
                                <label for="HerGirisCikista_Gonder" class="custom-control-label">Gönder</label>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="HerGirisCikista_Mesaj">Mesaj</label>
                                <div class="col-sm-9">@Html.TextBoxFor(model => model.HerGirisCikista_Mesaj, new { @class = "form-control form-control-sm" })</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Panel Bağlantısı Koptuğu Anda Gönder
                            <hr />
                        </div>
                        <div class="panel-body">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBox("PanelBaglantiDurumu_Gonder", Model.PanelBaglantiDurumu_Gonder ?? false, new { @class = "custom-control-input" })
                                <label for="PanelBaglantiDurumu_Gonder" class="custom-control-label">Gönder</label>
                            </div>
                            <div class="form-group row mt-3">
                                <a href="@Url.Action("PanelConnectionStatus","SMS")" class="btn btn-sm btn-outline-default mr-3" title="Mesaj Gidecek Kişiler">Mesaj Gidecek Kişileri Seç   <i class="fas fa-user-plus"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-outline-success btn-sm"><i class="fas fa-edit"></i> Sms Ayarlarını Güncelle</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>