@model ForaTeknoloji.PresentationLayer.Models.TanimsizKullaniciListViewModel
@{
    ViewBag.Title = "Tanımsız Kullanıcı";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebGrid webGrid = new WebGrid(source: Model.Liste, rowsPerPage: 20, canPage: true, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    webGrid.Pager(WebGridPagerModes.NextPrevious);
    string img = "#";
    string canlimg = "#";
    if (webGrid.HasSelection)
    {
        var sonuc = (ForaTeknoloji.Entities.ComplexType.AccessDatasComplex)webGrid.Rows[webGrid.SelectedIndex].Value;
        canlimg = "/Canli_Images/" + sonuc.Canli_Resim;

    }
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 shadow-lg mt-3 animated fadeIn">
    <div class="card-header-tabs mt-1">
        <h3 class="text-center text-muted">Tanımsız Kullanıcı</h3>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                @using (Html.BeginForm("Index", "UndefinedUserReport", FormMethod.Get))
                {

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" value="3" class="custom-control-input" id="tümü" checked name="Kapi_Yon">
                                    <label class="custom-control-label" for="tümü">Tüm Yönler</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" value="0" class="custom-control-input" id="giris" name="Kapi_Yon">
                                    <label class="custom-control-label" for="giris">Giriş</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" value="1" class="custom-control-input" id="cikis" name="Kapi_Yon">
                                    <label class="custom-control-label" for="cikis">Çıkış</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <hr />
                                    @Html.DropDownListFor(model => model.Panel, Model.Panel, "Panel Seçiniz..", new { @class = "form-control chosen-select", tabindex = "2" })
                                    @Html.ValidationMessageFor(model => model.Panel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="true" name="Tümü" class="custom-control-input" id="Tümü" />
                                    <label class="custom-control-label" for="Tümü">Tüm Kapılar</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <div id="Kapilar"></div>
                                    <input type="checkbox" value="1" name="Kapi" class="custom-control-input" id="Kapi1" />
                                    <label class="custom-control-label" for="Kapi1">Kapı 1</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="2" name="Kapi" class="custom-control-input" id="Kapi2" />
                                    <label class="custom-control-label" for="Kapi2">Kapı 2</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="3" name="Kapi" class="custom-control-input" id="Kapi3" />
                                    <label class="custom-control-label" for="Kapi3">Kapı 3</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="4" name="Kapi" class="custom-control-input" id="Kapi4" />
                                    <label class="custom-control-label" for="Kapi4">Kapı 4</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="5" name="Kapi" class="custom-control-input" id="Kapi5" />
                                    <label class="custom-control-label" for="Kapi5">Kapı 5</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="6" name="Kapi" class="custom-control-input" id="Kapi6" />
                                    <label class="custom-control-label" for="Kapi6">Kapı 6</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="7" name="Kapi" class="custom-control-input" id="Kapi7" />
                                    <label class="custom-control-label" for="Kapi7">Kapı 7</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="8" name="Kapi" class="custom-control-input" id="Kapi8" />
                                    <label class="custom-control-label" for="Kapi8">Kapı 8</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="true" name="Tum_Tarih" class="custom-control-input" id="TümTarih" />
                                    <label class="custom-control-label" for="TümTarih">Tüm Tarihler</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="true" name="ikiTarih" class="custom-control-input" id="ikiTarih" />
                                    <label class="custom-control-label" for="ikiTarih">İki Tarih Arası</label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Başlangıç</label>
                                    <input class="form-control" name="Baslangic_Tarihi" type="date" value="2019-08-13" id="Tarih1">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Bitiş</label>
                                    <input class="form-control" name="Bitis_Tarihi" disabled type="date" value="2019-08-13" id="Tarih2">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="true" name="ikiSaat" class="custom-control-input" id="ikiSaat" />
                                    <label class="custom-control-label" for="ikiSaat">İki Saat Arası</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="Baslangic_Saati" type="time" disabled value="@DateTime.Now.ToLongTimeString()" id="Saat1">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="Bitis_Saati" type="time" disabled value="@DateTime.Now.ToLongTimeString()" id="Saat2">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h4 class="text-info text-right">@Model.Liste.Count Adet Kayıt Listelendi</h4>
                            <hr />
                            <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                            <a href="@Url.Action("TanimsizKullaniciListesi","UndefinedUserReport")" class="btn btn-sm btn-success"><i class="fa fa-file-export"></i> Excel'e Aktar</a>
                            <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>

                        </div>
                    </div>
                }
            </div>

            <div class="col-md-6">
                <img class="img-fluid" id="change-image" alt="Kritere Uygun Resim Yok" src="@canlimg" />
            </div>
        </div>
    </div>
</div>
<div class="card border-left-info h-100 mt-1 shadow-lg animated fadeIn">
    <div id="print_div" class="card-body">
        @if (Model.Liste.Count > 0)
        {
            @webGrid.GetHtml(
               htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
                selectedRowStyle: "selectRow",
                footerStyle: "table-pager",
               columns: webGrid.Columns(
                   webGrid.Column("Kart_ID", "Canlı/Kayıtlı", format: (item) => item.GetSelectLink("Resim")),
                           webGrid.Column("Kart_ID", "Kart ID"),
                           webGrid.Column("Panel_ID", "Panel"),
                           webGrid.Column("Kapi_Adi", "Kapı"),
                           webGrid.Column("Gecis_Tipi", "Geçiş", format: item => item.Gecis_Tipi == 0 ? "Giriş" : "Çıkış"),
                           webGrid.Column("Tarih", "Tarih")))
        }
        else
        {
            <div class="alert alert-info alert-message">
                <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
            </div>
        }

    </div>
</div>
<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#TümPanel").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Panel").attr("disabled", true);
            } else {
                $("#Panel").attr("disabled", false);
            }
        });
        $("#TümTarih").change(function () {
            if ($(this).prop("checked") == true) {
                $("#ikiTarih").attr("disabled", true);
                $("#ikiSaat").attr("disabled", true);
                $("#Tarih1").attr("disabled", true);
                $("#Tarih2").attr("disabled", true);
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            } else {
                $("#ikiTarih").attr("disabled", false);
                $("#ikiSaat").attr("disabled", false);
                $("#Tarih1").attr("disabled", false);
            }

        });
        $("#ikiSaat").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Saat1").attr("disabled", false);
                $("#Saat2").attr("disabled", false);
            } else {
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            }

        });
        $("#ikiTarih").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Tarih2").attr("disabled", false);
            } else {
                $("#Tarih2").attr("disabled", true);
            }

        });
        $("#Tümü").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Kapi1").attr("disabled", true);
                $("#Kapi1").prop("checked", false);
                $("#Kapi2").attr("disabled", true);
                $("#Kapi2").prop("checked", false);
                $("#Kapi1").prop("checked", false);
                $("#Kapi3").attr("disabled", true);
                $("#Kapi3").prop("checked", false);
                $("#Kapi4").attr("disabled", true);
                $("#Kapi4").prop("checked", false);
                $("#Kapi5").attr("disabled", true);
                $("#Kapi5").prop("checked", false);
                $("#Kapi6").attr("disabled", true);
                $("#Kapi6").prop("checked", false);
                $("#Kapi7").attr("disabled", true);
                $("#Kapi7").prop("checked", false);
                $("#Kapi8").attr("disabled", true);
                $("#Kapi8").prop("checked", false);
            } else {
                $("#Kapi1").attr("disabled", false);
                $("#Kapi2").attr("disabled", false);
                $("#Kapi3").attr("disabled", false);
                $("#Kapi4").attr("disabled", false);
                $("#Kapi5").attr("disabled", false);
                $("#Kapi6").attr("disabled", false);
                $("#Kapi7").attr("disabled", false);
                $("#Kapi8").attr("disabled", false);
            }
        });
        //Yazıcı Çıktısı Alan Kod Table'ı kaplayan div'in => id'sine print_div yaz birde id si btnPrint olan bir buton yaz
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>Tanımsız Kullanıcı Raporları</title>');
            frameDoc.document.write('</head><body><hr />');
            frameDoc.document.write('<h3>Tanımsız Kullanıcı Raporları</h3><hr />');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
        //Tablodaki satıra tıklanıldığında resim gösterme
        $("#myTable tbody tr").click(function () {
            var kartID = $(this).children("td").data("kart");
            $("#change-image").attr('src', '/Images/' + kartID + '.jpg');
        });
        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');


        var today = new Date();
        $('#Tarih1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
        $('#Tarih2').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
    });
</script>
