@model ForaTeknoloji.PresentationLayer.Models.TanimsizKullaniciListViewModel
@{
    ViewBag.Title = "Tanımsız Kullanıcı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_LayoutNewTemplate.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.Liste, rowsPerPage: 20, canPage: true, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    webGrid.Pager(WebGridPagerModes.NextPrevious);
    string img = "#";
    string canlimg = "#";
    if (webGrid.HasSelection)
    {
        var sonuc = (ForaTeknoloji.Entities.ComplexType.AccessDatasComplex)webGrid.Rows[webGrid.SelectedIndex].Value;
        canlimg = "/Canli_Images/" + sonuc.Canli_Resim;

    }
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 shadow-lg mt-3 animated fadeIn">
    <div class="card-header p-1">
        <h3 class="card-title"><i class="fas fa-bookmark"></i> Tanımsız Kullanıcı</h3>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                @using (Html.BeginForm("Index", "UndefinedUserReport", FormMethod.Get))
                {

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" value="3" class="custom-control-input" id="tümü" checked name="Kapi_Yon">
                                    <label class="custom-control-label" for="tümü">Tüm Yönler</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" value="0" class="custom-control-input" id="giris" name="Kapi_Yon">
                                    <label class="custom-control-label" for="giris">Giriş</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" value="1" class="custom-control-input" id="cikis" name="Kapi_Yon">
                                    <label class="custom-control-label" for="cikis">Çıkış</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <hr />
                                    @Html.DropDownListFor(model => model.Panel, Model.Panel, "Panel Seçiniz..", new { @class = "form-control chosen-select", tabindex = "2" })
                                    @Html.ValidationMessageFor(model => model.Panel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="true" name="Tümü" class="custom-control-input" id="Tümü" />
                                    <label class="custom-control-label" for="Tümü">Tüm Kapılar</label>
                                </div>
                                <div id="KapiListesi"></div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="true" name="Tum_Tarih" class="custom-control-input" id="TümTarih" />
                                    <label class="custom-control-label" for="TümTarih">Tüm Tarihler</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="true" name="ikiTarih" class="custom-control-input" id="ikiTarih" />
                                    <label class="custom-control-label" for="ikiTarih">İki Tarih Arası</label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Başlangıç</label>
                                    <input class="form-control" name="Baslangic_Tarihi" type="date" value="2019-08-13" id="Tarih1">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Bitiş</label>
                                    <input class="form-control" name="Bitis_Tarihi" disabled type="date" value="2019-08-13" id="Tarih2">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="true" name="ikiSaat" class="custom-control-input" id="ikiSaat" />
                                    <label class="custom-control-label" for="ikiSaat">İki Saat Arası</label>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="Baslangic_Saati" type="time" disabled value="@DateTime.Now.ToLongTimeString()" id="Saat1">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="Bitis_Saati" type="time" disabled value="@DateTime.Now.ToLongTimeString()" id="Saat2">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h4 class="text-info text-right">@Model.Liste.Count Adet Kayıt Listelendi</h4>
                            <hr />
                            <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                            <a href="@Url.Action("TanimsizKullaniciListesi","UndefinedUserReport")" class="btn btn-sm btn-success"><i class="fa fa-file-export"></i> Excel'e Aktar</a>
                            <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>

                        </div>
                    </div>
                }
            </div>

            <div class="col-md-6">
                <img class="img-fluid" id="change-image" alt="Kritere Uygun Resim Yok" style="width:300px; height:300px;" src="" />
            </div>
        </div>
    </div>
</div>
<div class="card border-left-info h-100 mt-1 shadow-lg animated fadeIn">
    <div id="print_div" class="card-body">
        @if (Model.Liste.Count > 0)
        {
            @webGrid.GetHtml(
               htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
                selectedRowStyle: "selectRow",
                footerStyle: "table-pager",
               columns: webGrid.Columns(
                   webGrid.Column("Kart_ID", "Canlı/Kayıtlı", format: (item) => item.GetSelectLink("Resim")),
                           webGrid.Column("Kart_ID", "Kart ID"),
                           webGrid.Column("Panel_ID", "Panel"),
                           webGrid.Column("Kapi_Adi", "Kapı"),
                           webGrid.Column("Gecis_Tipi", "Geçiş", format: item => item.Gecis_Tipi == 0 ? "Giriş" : "Çıkış"),
                           webGrid.Column("Tarih", "Tarih")))
        }
        else
        {
            <div class="alert alert-info alert-message">
                <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
            </div>
        }
    </div>


    @*<div id="print_div" class="card-body">
        <table id="mainTable" class="table-borderless table table-hover text-center table-striped table-sm" style="width:100%;">
            <thead>
                <tr>
                    <td>Canlı/Kayıtlı</td>
                    <td>Kart ID</td>
                    <td>Panel</td>
                    <td>Kapı</td>
                    <td>Geçiş</td>
                    <td>Tarih</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Liste)
                {
                <tr>
                    <td><a class="text-primary" onclick="SetImageUrl('@item.Canli_Resim')">Resim</a></td>
                    <td>@item.Kart_ID</td>
                    <td>@item.Panel_ID</td>
                    <td>@item.Kapi_Adi</td>
                    <td>@item.Gecis_Tipi</td>
                    <td>@item.Tarih</td>
                </tr>
                }
            </tbody>
        </table>




    </div>*@




</div>
<script>
    $(document).ready(function () {
        var panelNo = $("#Panel").val();
        $.ajax({
            url: '/UndefinedUserReport/PanelKapiListesi?PanelNo=' + panelNo,
            type: 'GET',
            dataType: 'json'
        }).done(function (data) {
            $("#KapiListesi").html('');
            $.each(data, function (index, row) {
                $("#KapiListesi").append('<div class="custom-control custom-checkbox"><input type = "checkbox" value = "' + row.Value + '" name = "Kapi" class= "custom-control-input" id = "' + ('Kapi' + row.Value) + '" /><label class="custom-control-label" for="' + ('Kapi' + row.Value) + '">' + row.Text + '</label></div >');
            });
        });

        $("#Panel").chosen().change(function () {
            var panelNo = $(this).val();
            $.ajax({
                url: '/UndefinedUserReport/PanelKapiListesi?PanelNo=' + panelNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#KapiListesi").html('');
                $.each(data, function (index, row) {
                    $("#KapiListesi").append('<div class="custom-control custom-checkbox"><input type = "checkbox" value = "' + row.Value + '" name = "Kapi" class= "custom-control-input" id = "' + ('Kapi' + row.Value) + '" /><label class="custom-control-label" for="' + ('Kapi' + row.Value) + '">' + row.Text + '</label></div >');
                });
            });

        })
    });
</script>

@section Scripts{
    <link href="~/Content/DataTablesNew/jquery.dataTables.min.css" rel="stylesheet" />@*Yeni Eklenen Datatables CSS*@
    <script src="~/Content/DataTablesNew/jquery.dataTables.min.js"></script>@*Yeni Eklenen DataTables JS*@
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: black !important;
            border-radius: 4px;
            border: 1px solid #828282;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background: none;
            color: black !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            //$("#mainTable").DataTable({
            //    "language": {
            //        "url": "/Content/DataTablesNew/dataTablesLanguageTr.js"
            //    },
            //    "bPaginate": true,
            //    "bInfo": false,
            //    "bFilter": true,
            //    "lengthMenu": [
            //        [10, 25, 50, 100, -1],
            //        ['10', '25', '50', '100', 'Hepsi']
            //    ],
            //});

        });
    </script>
}

<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#TümPanel").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Panel").attr("disabled", true);
            } else {
                $("#Panel").attr("disabled", false);
            }
        });
        $("#TümTarih").change(function () {
            if ($(this).prop("checked") == true) {
                $("#ikiTarih").attr("disabled", true);
                $("#ikiSaat").attr("disabled", true);
                $("#Tarih1").attr("disabled", true);
                $("#Tarih2").attr("disabled", true);
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            } else {
                $("#ikiTarih").attr("disabled", false);
                $("#ikiSaat").attr("disabled", false);
                $("#Tarih1").attr("disabled", false);
            }

        });
        $("#ikiSaat").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Saat1").attr("disabled", false);
                $("#Saat2").attr("disabled", false);
            } else {
                $("#Saat1").attr("disabled", true);
                $("#Saat2").attr("disabled", true);
            }

        });
        $("#ikiTarih").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Tarih2").attr("disabled", false);
            } else {
                $("#Tarih2").attr("disabled", true);
            }

        });
        $("#Tümü").change(function () {
            if ($(this).prop("checked") == true) {
                $("#Kapi1").attr("disabled", true);
                $("#Kapi1").prop("checked", false);
                $("#Kapi2").attr("disabled", true);
                $("#Kapi2").prop("checked", false);
                $("#Kapi1").prop("checked", false);
                $("#Kapi3").attr("disabled", true);
                $("#Kapi3").prop("checked", false);
                $("#Kapi4").attr("disabled", true);
                $("#Kapi4").prop("checked", false);
                $("#Kapi5").attr("disabled", true);
                $("#Kapi5").prop("checked", false);
                $("#Kapi6").attr("disabled", true);
                $("#Kapi6").prop("checked", false);
                $("#Kapi7").attr("disabled", true);
                $("#Kapi7").prop("checked", false);
                $("#Kapi8").attr("disabled", true);
                $("#Kapi8").prop("checked", false);
            } else {
                $("#Kapi1").attr("disabled", false);
                $("#Kapi2").attr("disabled", false);
                $("#Kapi3").attr("disabled", false);
                $("#Kapi4").attr("disabled", false);
                $("#Kapi5").attr("disabled", false);
                $("#Kapi6").attr("disabled", false);
                $("#Kapi7").attr("disabled", false);
                $("#Kapi8").attr("disabled", false);
            }
        });
        //Yazıcı Çıktısı Alan Kod Table'ı kaplayan div'in => id'sine print_div yaz birde id si btnPrint olan bir buton yaz
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            frameDoc.document.write('<html>');
            frameDoc.document.write('<head>');
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            frameDoc.document.write('<style>');
            frameDoc.document.write('table{ border-collapse: collapse; width: 100%;}')
            frameDoc.document.write('table th, td { text-align: center; padding: 8px;} body{padding:10px;}');
            frameDoc.document.write('tr:nth-child(even) {background-color: #f2f2f2;}');
            frameDoc.document.write('table tr > *:nth-child(1){ display: none; }');
            //frameDoc.document.write('table tr > *:nth-child(6){ display: none; }');
            //frameDoc.document.write('table tr > *:nth-child(12){ display: none; }');
            //frameDoc.document.write('table tr > *:nth-child(14){ display: none; }');
            frameDoc.document.write('table tfoot > *:nth-child(2){ display: none; }');
            frameDoc.document.write('table, th, td {  border: 1px solid black; text-align:center; border-collapse: collapse;}');
            frameDoc.document.write('thead tr th a { color: black; text-decoration: none; }thead tr th a:hover { color: black; }thead tr th a:visited { color: black; }thead tr th a:active { color: black; }');
            frameDoc.document.write('</style>');
            frameDoc.document.write('</head>');
            frameDoc.document.write('<body>');
            frameDoc.document.write('<h5>Tarih ' + new Date().toLocaleDateString() + '</h5>');
            frameDoc.document.write('<h5>Tanımsız Kullanıcı Raporları (' + '@TempData["DateAndTimeView"]' + ')</h5>');
            frameDoc.document.write(contents);
            //frameDoc.document.getElementById('mainTable_filter').style.display = "none";
            //frameDoc.document.getElementById('mainTable_length').style.display = "none";
            //frameDoc.document.getElementById('mainTable_paginate').style.display = "none";
            frameDoc.document.write('</body>');
            frameDoc.document.write('</html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
        //Tablodaki satıra tıklanıldığında resim gösterme
        $("#myTable tbody tr").click(function () {
            var kartID = $(this).children("td").data("kart");
            $("#change-image").attr('src', '/Images/' + kartID + '.jpg');
        });
        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');


        var today = new Date();
        $('#Tarih1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
        $('#Tarih2').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
    });

    function SetImageUrl(canliResim) {
        if (canliResim != "" && canliResim != null) {
            var tempCanliResim = "/Canli_Images/" + canliResim;
            $("#change-image").attr('src', tempCanliResim)
        }

    }


</script>
