@using ForaTeknoloji.PresentationLayer.Models;
@using ForaTeknoloji.Entities.Entities;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MaviSoft 301 - @ViewBag.Title</title>
    <!-- Custom fonts for this template-->
    @RenderSection("Styles", false)
    <link runat="server" rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/Content/Images/favicon.ico" type="image/ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Templete/TempleteDosyalari/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@
    <link href="~/Content/SiteContent/fontfamily.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Templete/TempleteDosyalari/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Animate.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>

    <!---Alerttfy js--->
    <!-- JavaScript -->
    @*<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/alertify.min.js"></script>*@
    <script src="~/Content/SiteContent/alertify.min.js"></script>
    <!-- CSS -->
    @*<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.min.css" />*@
    <link href="~/Content/SiteContent/alertify.min.css" rel="stylesheet" />
    <!-- Default theme -->
    @*<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/default.min.css" />*@
    <link href="~/Content/SiteContent/default.min.css" rel="stylesheet" />
    <!-- Semantic UI theme -->
    @*<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/semantic.min.css" />*@
    <link href="~/Content/SiteContent/semantic.min.css" rel="stylesheet" />
    <!-- Bootstrap theme -->
    @*<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/bootstrap.min.css" />*@
    <link href="~/Content/SiteContent/alertify-bootstrap.min.css" rel="stylesheet" />
    <!--
        RTL version
    -->
    @*<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.rtl.min.css" />*@
    <link href="~/Content/SiteContent/alertify.rtl.min.css" rel="stylesheet" />
    <!-- Default theme -->
    @*<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/default.rtl.min.css" />*@
    <link href="~/Content/SiteContent/default.rtl.min.css" rel="stylesheet" />
    <!-- Semantic UI theme -->
    @*<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/semantic.rtl.min.css" />*@
    <link href="~/Content/SiteContent/semantic.rtl.min.css" rel="stylesheet" />
    <!-- Bootstrap theme -->
    @*<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/bootstrap.rtl.min.css" />*@
    <link href="~/Content/SiteContent/bootstrap.rtl.min.css" rel="stylesheet" />
    <!---Alertfy JS-->
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    <!--Chose Select Search---->
    <link href="~/Content/SiteContent/searchSelect.css" rel="stylesheet" />
    <!--Chose Select Search---->


</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a id="Logo" class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <img class="img-thumbnail" src="~/Images/MavisoftYatayOrtaLogo.png" />
            </a>
            <p id="Versiyon" class="text-center text-white">Geçiş Kontrol Sistemleri<sup> V3.0</sup></p>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active ml-2">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Anasayfa</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <li class="nav-item ml-2 active">
                <a class="nav-link " href="@Url.Action("Index","WatchScreen")">
                    <i class="fas fa-desktop"></i>
                    <span>Canlı İzleme</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Geçiş Kontrol Yönetim
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li id="Genel" class="nav-item ">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGenel" aria-expanded="true" aria-controls="collapseGenel">
                    <i class="fas fa-bookmark"></i>
                    <span>Genel</span>
                </a>
                <div id="collapseGenel" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index","Alarm")">Kullanıcı Alarm Tanımları</a>
                        <a class="collapse-item" href="@Url.Action("Index","CameraSettings")">Kameralar</a>
                        <a class="collapse-item" href="#">Haritalar</a>
                        <a class="collapse-item" href="@Url.Action("LiftGroups","Lift")">Asansör Geçiş Grupları</a>
                        <a class="collapse-item" href="@Url.Action("Index","GlobalZone")">Global Bölgeler</a>
                        <a class="collapse-item text-muted" href="#">Global Bölge Interlock</a>
                        <a class="collapse-item" href="#">Plaka Tanıma Kameraları</a>
                        <a class="collapse-item" href="@Url.Action("Index","Door")">Kapı İşlemleri</a>
                        @{
                            DBUsers Paswordusers = CurrentSession.User;
                            if (Paswordusers.SysAdmin == true)
                            {
                                <a class="collapse-item" href="@Url.Action("Index","SecuritySettings")">Güvenlik Ayarları</a>
                            }
                            else
                            {
                                <a class="collapse-item" href="@Url.Action("ChangePassword","SecuritySettings")">Güvenlik Ayarları</a>
                            }
                        }
                        <a class="collapse-item" href="#">Harici Okuyucu</a>
                        <a class="collapse-item" href="@Url.Action("Add","EMail")">E-Mail Gönderme Ayarları</a>
                        <a class="collapse-item" href="@Url.Action("Add","SMS")">SMS Gönderme Ayarları</a>
                        @{
                            DBUsers AccessReceive = CurrentSession.User;
                            if (AccessReceive.SysAdmin == true)
                            {
                                <a class="collapse-item" href="@Url.Action("Index","AccessReceive")">Geçiş-Olay Verileri</a>
                            }
                        }


                    </div>

                </div>
            </li>


            <li id="Tanimlar" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTanim" aria-expanded="true" aria-controls="collapseTanim">
                    <i class="fas fa-flag"></i>
                    <span>Tanımlamalar</span>
                </a>
                <div id="collapseTanim" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Genel Tanımlamalar</h6>
                        @{
                            DBUsers PaswordusersKayit = CurrentSession.User;
                            if (PaswordusersKayit.SysAdmin == true)
                            {
                                <a class="collapse-item" href="@Url.Action("Index","Company")">Şirket Tanımları</a>
                                <a class="collapse-item" href="@Url.Action("Index","Department")">Departman Tanımları</a>
                                <a class="collapse-item" href="@Url.Action("Index","AltDepartman")">Alt Departman Tanımları</a>
                                <a class="collapse-item" href="@Url.Action("Index","Bolum")">Bölüm Tanımları</a>
                                <a class="collapse-item" href="@Url.Action("Index","Block")">Blok Tanımları</a>
                                <a class="collapse-item" href="@Url.Action("Index","Unvan")">Ünvan Tanımları</a>
                                <a class="collapse-item" href="@Url.Action("Index","Employment")">Görev Tanımları</a>
                            }
                        }
                    </div>
                </div>
            </li>







            <li id="Sistem" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePanel" aria-expanded="true" aria-controls="collapsePanel">
                    <i class="fas fa-cogs"></i>
                    <span>Sistem Ayarları</span>
                </a>
                <div id="collapsePanel" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Panel Ayarları</h6>
                        @{
                            DBUsers users = CurrentSession.User;
                            if (users.SysAdmin == true)
                            {
                                <a class="collapse-item" href="@Url.Action("Create","PanelSettings")">Panel Ekle</a>
                            }
                        }
                        <a class="collapse-item" href="@Url.Action("Settings","PanelSettings")">Panel Ayarları</a>
                        <a class="collapse-item" href="@Url.Action("ReaderList","Panel")">Kapı Ayarları</a>
                        <h6 class="collapse-header">Zaman Bölgeleri</h6>
                        <a class="collapse-item" href="@Url.Action("Add","TimeGroups")">Yeni Zaman Bölgesi</a>
                        <a class="collapse-item" href="@Url.Action("Index","TimeGroups")">Zaman Bölgesi Ayarları</a>
                        <h6 class="collapse-header">Geçiş Grupları</h6>
                        <a class="collapse-item" href="@Url.Action("Create","AccessGroup")">Yeni Geçiş Grubu</a>
                        <a class="collapse-item" href="@Url.Action("Groups","AccessGroup")">Geçiş Grupları</a>
                        <a class="collapse-item" href="@Url.Action("Index","FastGroup")">Hızlı Grup Atama</a>
                        <a class="collapse-item" href="@Url.Action("GroupImport","ExternalData")">Dış Veri Al</a>
                    </div>
                </div>
            </li>


            <li id="Door" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDoor" aria-expanded="true" aria-controls="collapseDoor">
                    <i class="fas fa-door-open"></i>
                    <span>Kapı İşlemleri</span>
                </a>
                <div id="collapseDoor" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Genel Ayarları</h6>
                        <a class="collapse-item" href="@Url.Action("Index","Door")">Kapı Operasyon</a>
                        <a class="collapse-item" href="@Url.Action("Index","DoorStatus")">Kapı Durumları</a>
                        @{
                            DBUsers yemekhaneGrup = CurrentSession.User;
                            if (yemekhaneGrup.SysAdmin == true)
                            {
                                <a class="collapse-item" href="@Url.Action("Index","DoorGroup")">Kapı Grupları</a>
                            }
                        }
                        <a class="collapse-item" href="@Url.Action("ProgRelay","Door")">Programlı Kapı<br /> Açma/Kapama</a>
                    </div>

                </div>
            </li>


            <li id="User" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
                    <i class="fas fa-users"></i>
                    <span>Kullanıcılar</span>
                </a>
                <div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Kullanıcılar</h6>
                        <a class="collapse-item" href="@Url.Action("Create","Users")">Yeni Kullanıcı</a>
                        <a class="collapse-item" href="@Url.Action("Index","Users")">Kullanıcı Ayarları</a>
                        <a class="collapse-item" href="@Url.Action("PanelOperation","Users")">Kullanıcı Panel İşlemleri</a>
                        <a class="collapse-item" href="@Url.Action("UserImport","ExternalData")">Dış Veri Al</a>
                    </div>

                </div>
            </li>

            <li id="Visitor" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVisitor" aria-expanded="true" aria-controls="collapseVisitor">
                    <i class="fas fa-user-clock"></i>
                    <span>Ziyaretçiler</span>
                </a>
                <div id="collapseVisitor" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Ziyaretçiler</h6>
                        <a class="collapse-item" href="@Url.Action("Create","Visitor")">Yeni Ziyaretçi</a>
                        <a class="collapse-item" href="@Url.Action("Index","Visitor")">Ziyaretçi Ayarları</a>
                    </div>

                </div>
            </li>


            <li id="Map" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaps" aria-expanded="true" aria-controls="collapseMaps">
                    <i class="fas fa-map-marked-alt"></i>
                    <span>Haritalar</span>
                </a>
                <div id="collapseMaps" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Panel Ayarları</h6>
                        <a class="collapse-item" href="#">Harita Ayarları</a>
                    </div>

                </div>
            </li>

            <li id="Report" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="true" aria-controls="collapseReport">
                    <i class="fas fa-file-signature"></i>
                    <span>Raporlar</span>
                </a>
                <div id="collapseReport" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Personel ve Kullanıcı</h6>
                        <a class="collapse-item" href="@Url.Action("Index","PersonelListReport")">Personel Listesi</a>
                        <a class="collapse-item" href="@Url.Action("Index","ReportPersonel")">Aktif Kullanıcı Raporları</a>
                        <a class="collapse-item" href="@Url.Action("OldStaff","ReportPersonel")">Eski Kullanıcı Raporları</a>
                        <a class="collapse-item" href="@Url.Action("DeletedUsers","ReportPersonel")">Aktif Olmayanlar</a>
                        <hr />
                        <h6 class="collapse-header">Genel Raporlar</h6>
                        <a class="collapse-item" href="@Url.Action("IlkGirisSonCikis","GelenGelmeyenReport")">İlk Giriş Son Çıkış</a>
                        <a class="collapse-item" href="@Url.Action("ToplamIcerdeKalma","GelenGelmeyenReport")">Toplam İçerde Kalma</a>
                        <a class="collapse-item" href="@Url.Action("Gelenler","GelenGelmeyenReport")">Gelen Kişi Raporları</a>
                        <a class="collapse-item" href="@Url.Action("Gelmeyenler","GelenGelmeyenReport")">Gelmeyen Kişi Raporları</a>
                        <a class="collapse-item" href="@Url.Action("PasifKullanici","GelenGelmeyenReport")">Pasif Kullanıcı Raporları</a>
                        <a class="collapse-item" href="@Url.Action("TopluGirisSayisi","GelenGelmeyenReport")">Toplu Giriş Sayısı Raporları</a>

                        <h6 class="collapse-header">İçerde Dışarda Raporları</h6>
                        <a class="collapse-item" href="@Url.Action("InOutPersonel","InsideOutReport")">Personel</a>
                        <a class="collapse-item" href="@Url.Action("InOutVisitor","InsideOutReport")">Ziyaretçi</a>
                        <a class="collapse-item" href="@Url.Action("InOutAll","InsideOutReport")">Tümü</a>
                        <hr />
                        @{
                            DBUsers yemekhaneUser = CurrentSession.User;
                            if (users.SysAdmin == true)
                            {
                                <a class="collapse-item" href="@Url.Action("Index","Refectory")">Yemekhane Raporları-Kişi</a>
                                <a class="collapse-item" href="@Url.Action("Total","Refectory")">Yemekhane Raporları-Toplu</a>
                            }
                        }
                        <a class="collapse-item" href="@Url.Action("Index","OutherReport")">Diğer Raporlar</a>
                        <a class="collapse-item" href="@Url.Action("KullaniciAlarm","OutherReport")">Kullanıcı Alarm Raporu</a>
                        <a class="collapse-item" href="@Url.Action("Index","VisitorReport")">Ziyaretçi Raporları</a>
                        <a class="collapse-item" href="@Url.Action("Index","UndefinedUserReport")">Tanımsız Kullanıcı Raporları</a>
                        <hr />
                        <a class="collapse-item" href="@Url.Action("Index","OperatorLogReport")">Operator Log Raporları</a>
                        <a class="collapse-item" href="@Url.Action("TaskTable","Task")">Panel Durum Tablosu</a>
                    </div>

                </div>
            </li>
            @*Nav Item - Utilities Collapse Menu
                    <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-file-invoice"></i>
                        <span>Hızlı Raporlar</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Hızlı Rapor Sayfaları</h6>
                            <a class="collapse-item" href="utilities-color.html">Hangi Kapıdan<br />Kim Geçmiş?</a>
                            <a class="collapse-item" href="utilities-border.html">Borders</a>
                            <a class="collapse-item" href="utilities-animation.html">Animations</a>
                            <a class="collapse-item" href="utilities-other.html">Other</a>
                        </div>
                    </div>
                </li>*@
            <!-- LogOut -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Logout","Home")">
                    <i class="fas  fa-fw fa-sign-out-alt"></i>
                    <span>Çıkış</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div class="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        @Html.Partial("_PartialAlarm")


                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a title="Panel Durumları" class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-info-circle fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">4+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Son Hareketler
                                </h6>
                                @Html.Action("TopManuTask", "Task")
                                <a class="dropdown-item text-center small text-gray-500" href="@Url.Action("TaskTable","Task")">Tüm Durumları Göster</a>
                            </div>
                        </li>
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a title="Canlı İzleme" class="nav-link dropdown-toggle" href="@Url.Action("Index","WatchScreen")">
                                <i class="fas fa-desktop"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a title="Kapı Operasyon" class="nav-link dropdown-toggle" href="@Url.Action("Index","Door")">
                                <i class="fas fa-door-open"></i>
                            </a>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @{
                                    DBUsers usersName = CurrentSession.User;
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@usersName.Adi @usersName.Soyadi</span>
                                }
                                <img class="img-profile rounded-circle" src="~/Images/BaseUser.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                @{
                                    DBUsers dBUsers = CurrentSession.User;
                                    if (dBUsers.SysAdmin == false)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("ChangePassword","SecuritySettings")">
                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Profile
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Edit","SecuritySettings",new {Kullanici_Adi=dBUsers.Kullanici_Adi })">
                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Profile
                                        </a>
                                    }

                                }
                                <a class="dropdown-item" href="@Url.Action("Settings","PanelSettings")">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                @{
                                    DBUsers monitorUser = CurrentSession.User;
                                    if (monitorUser.SysAdmin == true)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Index","SpotMonitor")">
                                            <i class="fas fa-desktop fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Spot Monitör
                                        </a>

                                        <a class="dropdown-item" href="@Url.Action("WatchOuther","WatchScreen")">
                                            <i class="fas fa-desktop fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Anlık Geçişler
                                        </a>

                                    }
                                }
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout","Home")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="container-fluid">
                    @RenderBody()
                    @RenderSection("camera", false)

                </div>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            @*<footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Fora Teknoloji @DateTime.Now.Year</span>
                        </div>
                    </div>
                </footer>*@
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a> <!-- Bootstrap core JavaScript-->
    <script src="~/Templete/TempleteDosyalari/vendor/jquery/jquery.min.js"></script>
    <script src="~/Templete/TempleteDosyalari/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Templete/TempleteDosyalari/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Templete/TempleteDosyalari/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    @*<script src="~/Templete/TempleteDosyalari/vendor/chart.js/Chart.min.js"></script>*@
    <!-- Page level custom scripts -->
    @*<script src="~/Templete/TempleteDosyalari/js/demo/chart-area-demo.js"></script>*@
    @*<script src="~/Templete/TempleteDosyalari/js/demo/chart-pie-demo.js"></script>*@
    @*<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>*@
    <script src="~/Content/SiteContent/bootstrap4-toggle.js"></script>
    <!--Choese Select Search-->
    <script src="~/Content/SiteContent/searchSelect.js"></script>
    <!--Choese Select Search-->
    @RenderSection("Scripts", false)
</body>
</html>
<script>
    $(document).ready(function () {
        setInterval(function () {
            $("#Logo").toggleClass("animated bounce slow");
        }, 15000);
    });
</script>