@model ForaTeknoloji.PresentationLayer.Models.GelenGelmeyen_IlkGirisSonCikisListViewModel

<div class="col-md-4">
    <div class="form-group">
        <div class="form-group">
            <label for="exampleFormControlInput1">İlk Tarih</label>
            <input class="form-control form-control-sm" name="Baslangic_Tarihi" type="date" value="2019-08-13" id="Tarih1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Son Tarih</label>
            <input class="form-control form-control-sm" name="Bitis_Tarihi" type="date" value="2019-08-13" id="Tarih2">
        </div>
    </div>
    <div class="form-group">
        <label>Ünvan</label>
        @Html.DropDownListFor(model => model.Unvan, Model.Unvan, "Ünvan Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
        @Html.ValidationMessageFor(model => model.Unvan, "", new { @class = "text-danger" })
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label>Global Kapı Bölgeleri</label>
        <div class="form-group">
            @Html.DropDownListFor(model => model.Global_Kapi_Bolgesi, Model.Global_Kapi_Bolgesi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })

        </div>
    </div>
    <div class="form-group">
        <label>Departmanlar</label>
        @Html.DropDownListFor(model => model.Departman, Model.Departman, "Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
        @Html.ValidationMessageFor(model => model.Departman, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Alt Departmanlar</label>
        @Html.DropDownListFor(model => model.AltDepartman, new SelectList(""), "Alt Departman Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label>Geçiş Grupları</label>
        <div class="form-group">
            @Html.DropDownListFor(model => model.Gecis_Grubu, Model.Gecis_Grubu, "Geçiş Grubu Seçimi", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
        </div>
    </div>
    <div class="form-group">
        <label>Şirketler</label>
        @Html.DropDownListFor(model => model.Sirket, Model.Sirket, "Şirket Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
        @Html.ValidationMessageFor(model => model.Sirket, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Bölümler</label>
        @Html.DropDownListFor(model => model.Bolum, new SelectList(""), "Bölüm Seçiniz..", new { @class = "form-control form-control-sm chosen-select", tabindex = "2" })
    </div>
</div>
<div class="col-md-12">

    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" value="true" name="TümZiyaret" class="custom-control-input" id="TümZiyaret" />
            <label class="custom-control-label" for="TümZiyaret">Tüm Kullanıcılar</label>
        </div>
        <div class="form-group">
            <input type="text" id="Kullanici" class="form-control form-control-sm" name="Kullanici" />
            <input type="text" id="USERID" hidden value="" name="User" />
        </div>
    </div>
</div>
<div class="col-md-12 text-right float-right">
    <h4 class="text-info text-right">@Model.IlkGirisSonCikis.Count Adet Kayıt Listelendi</h4>
    <hr />
    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
    <a id="Excell" href="@Url.Action("IlkGirisSonCikisExcell","GelenGelmeyenReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
</div>
