@model IEnumerable<ForaTeknoloji.Entities.Entities.Sirketler>
@{
    ViewBag.Title = "Şirket Tanımları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row animated slideInDown faster">
    <div class="col-md-6 offset-md-3 mt-xl-5 mb-xl-5">
        <div class=" card border-left-info h-100 shadow-lg mt-2">
            <div class="card-header py-1">
                <h3 id="Title" class="m-0 font-weight-bold text-secondary text-center">Şirket Tanımları</h3>
            </div>

            <div class="card-body">
                @using (Html.BeginForm("Create", "Company"))
                {
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="sirketAdi" name="Adi" placeholder="Şirket Tanımlama" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <input type="text" name="Sirket No" hidden value="" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit" id="newCompany"><i class="fas fa-plus mr-2"></i>Yeni Şirket</button>
                            </div>
                        </div>
                    </div>

                }
                <hr />
                @if (Model.Count() == 0)
                {
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading text-center">Kayıt Bulunamadı!</h4>
                        <p class="text-center">Geçerli şirket kaydı bulunamadı.</p>
                        <hr>
                        <p class="mb-0 text-center">Dilerseniz yukarıdaki "Şirket Tanımlama" kısmına şirket adı girip "Yeni Şirket" butonuna basarak şirket ekleyebilirsiniz.</p>

                    </div>
                }
                <input type="text" hidden id="CompanyCount" name="name" value="@Model.Count()" />
                <table id="CompanyList" class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Şirket No</td>
                            <td>Şirket Adı</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Sirket_No</td>
                                <td>@item.Adi</td>
                                <td>
                                    <a title="Edit" id="edit" href="@Url.Action("Edit","Company",new { id=item.Sirket_No})"><i class="fas fa-edit text-info mr-5"></i></a>
                                    <a title="Delete" href="@Url.Action("Delete",new {id=item.Sirket_No })" onclick="return confirm('Seçilen Şirketi Silmek İstediğinize Emin Misiniz?')" class="text-danger"><i class="fas fa-trash-alt text-danger"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var count = $("#CompanyCount").val();
        if (count == 0) {
            $("#CompanyList").prop("hidden", true);
            $("#Title").prop("hidden", true);
        } else {
            $("#CompanyList").prop("hidden", false);
            $("#Title").prop("hidden", false);
        }
    });

</script>


